<div class="space-y-4">
    {% for status, messages in commonMessages %}

        <div class="border border-gray-300 rounded-xl shadow-sm overflow-hidden">
            <button
                    type="button"
                    class="w-full flex justify-between items-center px-6 py-4 bg-gray-50 hover:bg-gray-100 transition"
                    onclick="document.getElementById('common-{{ loop.index }}').classList.toggle('hidden')"
            >
                <div class="flex items-center space-x-4">
                    <span class="text-sm font-medium text-indigo-700">HTTP {{ status }}</span>
                </div>
                <svg class="w-5 h-5 text-gray-500 transform transition-transform duration-200"
                     fill="none" stroke="currentColor" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M19 9l-7 7-7-7"/>
                </svg>
            </button>

            <div class="my-2">

                <div
                    id="common-{{ loop.index }}"
                    class="hidden relative px-6 py-4 bg-gray-800 border-t my-2 max-w-full space-y-6"
                    data-controller="clipboard"
            >
                {% for msg in messages %}
                    <div class="relative" data-controller="clipboard">
                        {# Unique ID for each code block #}
                        {% set codeId = 'code-' ~ status ~ '-' ~ loop.index0 %}

                        {{ include('api/shared/partials/_copy.html.twig') }}
                        <pre
                                id="{{ codeId }}"
                                class="whitespace-pre-wrap rounded bg-gray-800 text-white p-4 pt-10 font-mono overflow-x-auto max-w-full border border-gray-600"
                        >
{{ (
status starts with '2'
? { success: true, data: msg }
: { success: false, error: msg }
)|json_encode(constant('JSON_PRETTY_PRINT'))|raw }}
            </pre>
                    </div>
                {% endfor %}
            </div>
            </div>
        </div>

    {% endfor %}
</div>
