{% extends '/landing/base.html.twig' %}

{% block title %}
    {{ data.PAGE_TITLE.value }}
{% endblock %}

{% block second_col %}
    {# Form Column #}
    {# Toasts #}
    {{ block('toast_messages') }}

    {% if data.CUSTOMER_LOGO_ENABLED.value == constant('App\\Enum\\OperationMode::ON').value %}
        <img class="w-[120px] h-[58px] object-scale-down mt-[75px]"
             src="{{ data.CUSTOMER_LOGO.value }}"
             alt="{{ 'logoAlt'|trans({}, 'register_landing') }}"/>
    {% endif %}

    <div class="{{ data.CUSTOMER_LOGO_ENABLED.value == constant('App\\Enum\\OperationMode::ON').value ? 'pt-[28px]' : 'pt-[161px]' }} leading-7">
        <p class="font-bold text-xl">{{ 'heading'|trans({}, 'register_landing') }}</p>
        <p class="text-lg">{{ 'description.1'|trans({}, 'register_landing') }}</p>
        <p class="text-lg">{{ 'description.2'|trans({}, 'register_landing') }}</p>
    </div>

    {{ form_start(registrationForm) }}

    {# Email #}
    <div class="relative mt-[32px]">
        {{ form_label(registrationForm.email, null, {label_attr: {class: 'form-label'}}) }}
        {{ form_widget(registrationForm.email, {
            attr: {
                class: 'form-widget',
                placeholder: 'form.email_placeholder'|trans({}, 'register_landing'),
            },
        }) }}
    </div>

    {# Turnstile Checker #}
    {% if data.TURNSTILE_CHECKER.value == constant('App\\Enum\\OperationMode::ON').value %}
        <div class="ml-3 mt-5">
            {{ form_widget(registrationForm.security) }}
        </div>
    {% endif %}

    {# Button Submit #}
    {{ form_row(registrationForm._token) }}

    <div class="my-[32px] 2xl:pr-[18%] grid lg:grid-cols-1 grid-cols-2 xl:grid-cols-2 gap-4">
        <button type="submit" class="btn-primary">
            {{ 'form.submit'|trans({}, 'register_landing') }}
        </button>
        {% if data.PLATFORM_MODE.value != constant('App\\Enum\\PlatformMode::DEMO').value %}
            <a href="{{ path('app_landing') }}" class="btn-secondary">
                {{ 'form.choose_another'|trans({}, 'register_landing') }}
            </a>
        {% endif %}
    </div>

    {% if data.AUTH_METHOD_LOGIN_TRADITIONAL_ENABLED.value == 'true' %}
        {# Divider #}
        <div class="my-[25px] divider"></div>

        <p class="text-sm">
            {{ 'form.already_have_account'|trans({}, 'register_landing') }}
            <a href="{{ path('app_login') }}" class="font-semibold text-primary underline">
                {{ 'form.login'|trans({}, 'register_landing') }}
            </a> {{ 'form.here'|trans({}, 'register_landing') }}
        </p>
    {% endif %}

    {{ form_end(registrationForm) }}

{% endblock %}
