{% extends 'admin/base.html.twig' %}

{% block title %}Admin Page WBA{% endblock %}

{% block container %}
    <div class="p-6">
        <h1 class="text-3xl font-bold text-gray-800 mb-8 border-b-2 border-gray-300 pb-2">
            {{ samlProvider.name }}
        </h1>

        {{ form_start(form) }}
        {{ form_errors(form) }}
        <div class="p-6 mx-auto bg-white rounded-lg">
            <div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
                {# Provider Btn Label #}
                <div class="relative">
                    {{ form_label(form.btnLabel, 'Button Label', {label_attr: {class: 'form-label'}}) }}
                    {{ form_widget(form.btnLabel, {attr: {class: 'form-widget'}}) }}
                    <div class="text-red-500 m-2">
                        {{ form_errors(form.btnLabel) }}
                    </div>
                </div>

                {# Provider Btn Description #}
                <div class="relative">
                    {{ form_label(form.btnDescription, 'Button Description', {label_attr: {class: 'form-label'}}) }}
                    {{ form_widget(form.btnDescription, {attr: {class: 'form-widget'}}) }}
                    <div class="text-red-500 m-2">
                        {{ form_errors(form.btnDescription) }}
                    </div>
                </div>

                {# Provider Profile Limit Date #}
                <div class="relative"
                     data-controller="certificate-limit"
                     data-certificate-limit-profile-limit-date-value="{{ profileLimitDate }}">
                    <div class="flex items-center space-x-2">
                        {{ form_label(form.profileLimitDate, 'Profile Limit Valid Days', {label_attr: {class: 'form-label'}}) }}
                        {{ form_widget(form.profileLimitDate, {
                            attr: {
                                class: 'form-widget',
                                'data-certificate-limit-target': 'input',
                                'data-radio-card-target': 'input',
                            },
                        }) }}
                        <button type="button" class="btn-cert-date"
                                data-certificate-limit-target="button"
                                data-radio-card-target="button"
                                data-action="certificate-limit#updateDate">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                                <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                   stroke-width="2">
                                    <path d="m14 18l4-4l4 4M16 2v4m2 16v-8"/>
                                    <path d="M21 11.343V6a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h9M3 10h18M8 2v4"/>
                                </g>
                            </svg>
                        </button>
                    </div>
                    <div class="text-red-500 m-2">
                        {{ form_errors(form.profileLimitDate) }}
                    </div>
                </div>
            </div>
        </div>

        {# Submit Buttons #}
        <div class="flex flex-row justify-end md:w-full mt-6">
            <button type="submit" class="btn-primary">
                Apply Changes
            </button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
