{% extends 'admin/base.html.twig' %}

{% block title %}Admin Page WBA{% endblock %}

{% block container %}
    <div class="max-w-4xl mx-auto mt-8">
        <div class="bg-white shadow-md rounded-lg p-6">
            {{ form_start(form, {attr: {class: 'space-y-4'}}) }}

            {% for field in form %}
                <div class="space-y-2">
                    {{ form_label(field, null, {
                        label_attr: {class: 'block text-sm font-medium text-gray-700'},
                    }) }}
                    {{ form_widget(field, {
                        attr: {class: 'w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring focus:ring-indigo-200'},
                    }) }}
                    {{ form_errors(field, {
                        attr: {class: 'text-sm text-red-500'},
                    }) }}
                </div>
            {% endfor %}

            <div class="mt-6 text-right">
                <button class="bg-indigo-500 text-white font-semibold py-2 px-4 rounded-lg hover:bg-indigo-600 focus:outline-none focus:ring focus:ring-indigo-300">
                    Submit
                </button>
            </div>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
