{% extends '/site/base.html.twig' %}

{% block title %}
    {{ data.title.value }}
{% endblock %}

{% block second_col %}
    {# Form Column #}

    {# Toasts #}
    <div class="grid grid-cols-1 gap-[5px]">
        {# Flash error message #}
        {% for message in app.session.flashbag.get('error') %}
            {{ include('site/shared/_toast.html.twig', {toast_type: 'toast-warning'}) }}
        {% endfor %}
    </div>

    {% if data.CUSTOMER_LOGO_ENABLED.value == constant('App\\Enum\\OperationMode::ON').value %}
        <img class="w-[120px] h-[58px] object-scale-down mt-[75px]" src="{{ data.customerLogoName.value }}" alt="Logo"/>
    {% endif %}

    <div class="{{ data.CUSTOMER_LOGO_ENABLED.value == constant('App\\Enum\\OperationMode::ON').value ? 'pt-[28px]' : 'pt-[161px]' }} leading-7">
        <p class="font-bold text-xl">Phone Number</p>
        <p class="text-lg"> Please enter your phone number to receive the verification code </p>
    </div>

    {{ form_start(form) }}
    <div class="flex flex-row items-end space-x-4 mt-8">
        {# Phone Number Input #}
        <div class="flex flex-col w-1/3">
            {{ form_widget(form.phoneNumber.children.country, {
                attr: {
                    class: 'block w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-primary focus:border-primary',
                    placeholder: 'Enter your phone number',
                    autocomplete: 'tel',
                },
            }) }}
        </div>
        <div class="flex flex-col w-2/3">
            {{ form_widget(form.phoneNumber.children.number, {
                attr: {
                    class: 'block w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-primary focus:border-primary',
                    placeholder: 'Enter your phone number',
                    autocomplete: 'tel',
                },
            }) }}
        </div>
    </div>

    {# Divider #}
    <div class="my-[25px] divider"></div>

    {{ form_row(form.submit, {
        attr: {
            class: 'w-[160px] btn btn-primary',
        }}) }}
    {{ form_end(form) }}
    <div class="{{ data.CUSTOMER_LOGO_ENABLED.value == constant('App\\Enum\\OperationMode::ON').value ? 'pt-[28px]' : 'pt-[161px]' }} leading-7">
        <p class="text-lg"> Click  <a href="{{ path('app_enable2FA_app') }}" style="color: green; text-decoration: underline;" >here</a> to switch to the authentication app</p> </p>
    </div>
{% endblock %}
