{% extends '/site/base.html.twig' %}

{% block title %}
    {{ data.title.value }}
{% endblock %}

{% block second_col %}
    {# Form Column #}

    {# Toasts #}
    <div class="grid grid-cols-1 gap-[5px]">
        {% for message in app.session.flashbag.get('success') %}
            {{ include('site/shared/_toast.html.twig', {toast_type: 'toast-success'}) }}
        {% endfor %}

        {# Flash warning message #}
        {% for message in app.session.flashbag.get('warning') %}
            {{ include('site/shared/_toast.html.twig', {toast_type: 'toast-warning'}) }}
        {% endfor %}
    </div>

    {% if data.CUSTOMER_LOGO_ENABLED.value == constant('App\\Enum\\EmailConfirmationStrategy::EMAIL') %}
        <img class="w-[120px] h-[58px] object-scale-down mt-[75px]" src="{{ data.customerLogoName.value }}" alt="Logo"/>
    {% endif %}

    <div class="{{ data.CUSTOMER_LOGO_ENABLED.value == constant('App\\Enum\\EmailConfirmationStrategy::EMAIL') ? 'pt-[28px]' : 'pt-[161px]' }} leading-7">
        <p class="font-bold text-xl">Password Reset Assistance - Email</p>
        <p class="text-lg">If you have forgotten your email password, please enter your email address below, and we will send you instructions to reset it.</p>
    </div>

    {{ form_start(forgotPasswordEmailForm) }}

    {# Email #}
    <div class="relative mt-[32px]">
        {{ form_label(forgotPasswordEmailForm.email, null, {label_attr: {class: 'form-label'}}) }}
        {{ form_widget(forgotPasswordEmailForm.email, {
            attr: {
                class: 'form-widget',
                placeholder: 'Enter your email',
            },
        }) }}
    </div>

    {# Turnstile Checker #}
    {% if data.TURNSTILE_CHECKER.value == constant('App\\Enum\\EmailConfirmationStrategy::EMAIL') %}
        <div class="ml-3 mt-5">
            {{ form_widget(forgotPasswordEmailForm.security) }}
        </div>
    {% endif %}

    {# Button Submit #}
    {{ form_row(forgotPasswordEmailForm._token) }}

    <div class="my-[32px] 2xl:pr-[18%] grid lg:grid-cols-1 grid-cols-2 xl:grid-cols-2 gap-4">
        <button type="submit" class="btn-primary">
            Send new Password
        </button>
        {% if data.PLATFORM_MODE != constant('App\\Enum\\PlatformMode::DEMO').value %}
            <a href="{{ path('app_landing') }}" class="btn-secondary">
                Choose Another
            </a>
        {% endif %}
    </div>

    {% if data.LOGIN_TRADITIONAL_ENABLED.value == true %}
        {# Divider #}
        <div class="my-[25px] divider"></div>

        <p class="text-xs">
            Did you receive your password?
            <a href="{{ path('app_login') }}" class="font-semibold text-primary underline">Log in </a>
            here!
        </p>
    {% endif %}

    {% if data.EMAIL_REGISTER_ENABLED.value or data.AUTH_METHOD_SMS_REGISTER_ENABLED.value %}

        <p class="mt-2 text-xs">You don't have an account? Register with

            {% if data.EMAIL_REGISTER_ENABLED.value %}<a href="{{ path('app_register') }}"
                                                         class="font-semibold text-primary underline">
                    email</a>{% endif %}

            {% if data.EMAIL_REGISTER_ENABLED.value and data.AUTH_METHOD_SMS_REGISTER_ENABLED.value %}or{% endif %}

            {% if data.AUTH_METHOD_SMS_REGISTER_ENABLED.value %}<a href="{{ path('app_register_sms') }}"
                                                                   class="font-semibold text-primary underline">phone
                number</a>{% endif %}

        </p>
    {% endif %}

    {{ form_end(forgotPasswordEmailForm) }}

{% endblock %}
