{% extends '/site/base.html.twig' %}

{% block title %}
    {{ data.title.value }}
{% endblock %}

{% block second_col %}
    {# Form Column #}

    {# Toasts #}
    <div class="grid grid-cols-1 gap-[5px]">
        {% for message in app.session.flashbag.get('success') %}
            {{ include('site/shared/_toast.html.twig', {toast_type: 'toast-success'}) }}
        {% endfor %}

        {# Flash warning message #}
        {% for message in app.session.flashbag.get('error') %}
            {{ include('site/shared/_toast.html.twig', {toast_type: 'toast-warning'}) }}
        {% endfor %}
    </div>

    {% if data.CUSTOMER_LOGO_ENABLED.value == constant('App\\Enum\\OperationMode::ON').value %}
        <img class="w-[120px] h-[58px] object-scale-down mt-[75px]" src="{{ data.customerLogoName.value }}" alt="Logo"/>
    {% endif %}

    <div class="{{ data.CUSTOMER_LOGO_ENABLED.value == constant('App\\Enum\\OperationMode::ON').value ? 'pt-[28px]' : 'pt-[161px]' }} leading-7">
        <p class="font-bold text-xl">Password Reset Request</p>
        <p class="text-lg">If you got here, please make sure to type the <strong>confirmation code sms</strong> send to you.</p>
    </div>

    {{ form_start(forgotPasswordCode) }}

    {# TODO improve this page design add a request new code btn here #}
    <div class="mt-6 flex flex-col gap-x-6 gap-y-8">
        <div class="flex flex-col lg:flex-row gap-x-6 gap-y-8">
            {# Verification Code #}
            <div class="relative mt-10">

                {{ form_widget(forgotPasswordCode.verificationCode, {
                    attr: {
                        class: 'form-widget',
                        placeholder: 'Enter your Code',
                    }}) }}

            </div>
        </div>
    </div>

    {# Button Submit #}
    {{ form_row(forgotPasswordCode._token) }}

    <div class="my-[32px] 2xl:pr-[18%] grid lg:grid-cols-1 grid-cols-2 xl:grid-cols-2 gap-4">
        <button type="submit" class="btn-primary">
            Confirm Reset Request
        </button>
    </div>

    {{ form_end(forgotPasswordCode) }}

{% endblock %}
