{% extends 'base.html.twig' %}


{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="h-screen w-screen flex flex-col lg:flex-row lg:flex-wrap">
        {# First Column #}
        <div class="w-[100%] lg:w-1/2 bg-landing bg-no-repeat bg-cover bg-scroll p-8 lg:px-[7%] lg:py-[5%] xl:px-[8%] xl:py-[3%]">
            <div class="h-[100%] w-[100%] flex flex-col justify-between">
                <img class="mt-16 lg:mt-36 w-96"
                     src="{{ asset('resources/logos/openroaming.svg') }}"
                     alt="OpenRoaming Logo"/>

                <h1 class="text-2xl lg:text-6xl font-roboto text-primary mt-16 font-bold">Welcome to OpenRoaming
                    Provisioning
                    Service</h1>

                <p class="text-white font-medium text-sm lg:text-lg mt-5 lg:mt-12 lg:pr-12 xl:pr-24">This provisioning
                    portal is for the WBA
                    <span class="underline font-semibold">OpenRoaming®</span> Live Program. These credentials are to be
                    used for Test
                    Purposes only and are not valid
                    for commercial use.
                </p>


                <p class="text-white font-light text-xs lg:text-base mt-16 mb-6 lg:mt-auto">If you encounter any
                    questions, please contact
                    <a href="mailto:PMD@wballiance.com"
                       class="font-semibold underline">PMD@wballiance.com</a>
                </p>
            </div>
        </div>

        {# Form Column #}
        <div class="w-[100%] lg:w-1/2 p-8 lg:px-[7%] lg:py-[5%] xl:px-[8%] xl:py-[3%]"
                {{ stimulus_controller('visibility') }}>
            <div>
                <img class="mt-8 lg:mt-0"
                     src="{{ asset(customerLogoName) }}"
                     alt="Logo"/>

                <div class="space-y-4 mt-16 pr-0 lg:mt-8 lg:pr-6 xl:pr-24 xl:mt-20">
                    <p class="text-[#757575] font-medium text-sm lg:text-lg">Use the button below to download and
                        install the OpenRoaming profile on
                        compatible devices.</p>

                    <p class="text-[#B4B4B4] font-light text-xs lg:text-base">OpenRoaming profiles from this service
                        are
                        proven to work on the majority
                        of devices(including iOS, Android, macOS and Windows).</p>
                </div>
                <form method="post">
                    {% if not app.user %}
                        {# Email #}
                        <div class="relative mt-20 lg:mt-12 xl:mt-24">
                            <label for="email"
                                   class="absolute left-4 -top-2.5 lg:-top-3 z-10 bg-neutral-100 text-[#656565] px-1 font-medium text-sm lg:text-lg">Email</label>
                            <input id="email"
                                   name="email"
                                   type="email"
                                   class="w-[100%] xl:w-11/12 border px-5 py-2.5 text-[#656565] font-medium text-sm lg:text-lg bg-neutral-100 placeholder-[#757575] placeholder-opacity-40 bg-transparent rounded-lg border-[#757575] appearance-none focus:outline-none focus:ring-0 focus:border-[#7db928]"
                                   placeholder="add your email here"/>
                        </div>

                        {# Checkbox: Terms #}
                        <div class="flex flex-row justify-start items-center mt-3 space-x-2">
                            <input id="terms"
                                   name="terms"
                                   type="checkbox"
                                   class="border p-2 text-[#656565] rounded border-[#757575] checked:bg-[#7db928] appearance-none focus:outline-none focus:ring-0 focus:border-[#7db928]"/>

                            <span class="text-[#656565] font-light text-xs lg:text-base">I accept the <a
                                        href="#"
                                        class="underline font-base">OpenRoaming terms & conditions of use</a> and <a
                                        href="#"
                                        class="underline font-base">privacy policy</a>.</span>
                        </div>
                    {% endif %}

                    {# OS #}
                    <div class="{{ os.selected == constant('App\\Enum\\OSTypes::NONE') ? '' : 'hidden' }} mt-14" {{ stimulus_target('visibility', 'first') }}>
                        <p class="text-[#414141] font-base lg:pr-20 text-sm lg:text-lg">Choose your operating
                            system, so you can
                            download and install the profile:</p>

                        <div class="grid gap-8 auto-rows-max grid-cols-3 mt-8 lg:mt-16">
                            {% for key, item in os.items %}
                                <div>
                                    <input type="radio"
                                           id="radio-os-{{ key }}"
                                           name="radio-os"
                                           value="{{ key }}"
                                           class="hidden peer"/>

                                    <label for="radio-os-{{ key }}"
                                           class="inline-flex items-center justify-center w-full px-10 py-5 rounded-lg bg-[#B4B4B4] bg-opacity-40 cursor-pointer peer-checked:bg-[#7DB928]">
                                        <img class="w-9 peer-checked:opacity-50"
                                             src="{{ asset('resources/logos/'~key~'.svg') }}"
                                             alt="{{ item.alt }}"/>
                                    </label>

                                    <p class="text-center mt-1.5 text-[#656565] text-xs lg:text-base font-light">{{ key }}</p>
                                </div>

                            {% endfor %}
                        </div>
                    </div>
                    <input type="hidden"
                           id="detected-os"
                           name="detected-os"
                           value="{{ os.selected }}"/>


                    {# Submit button #}
                    <div class="flex flex-row justify-center lg:justify-start">
                        <button type="submit"
                                class="rounded-lg bg-[#7DB928] mt-10 px-8 py-3 text-white font-medium text-sm lg:text-lg">
                            Download
                            and
                            Install Profile
                        </button>
                    </div>

                    {% if os.selected != constant('App\\Enum\\OSTypes::NONE') %}

                        <div class="mt-24" {{ stimulus_target('visibility', 'second') }}>
                            {# Profile selector  #}
                            <button type="button"
                                    class="w-[100%] xl:w-11/12 rounded-lg bg-[#e1e4e6] px-12 py-8 flex flex-row items-center text-[#3F474D] space-x-6">
                                <img class="w-20"
                                     src="{{ asset('resources/logos/'~os.selected~'.svg') }}"
                                     alt="Windows Logo"/>
                                <span class="text-left font-medium text-base lg:text-xl pr-8">You appear to be on a device running <b>{{ os.selected }}</b>.</span>
                            </button>


                            <button type="button"
                                    class="text-xs lg:text-base text-[#656565] mt-4 px-2" {{ stimulus_action('visibility', 'toggle') }}>
                                Is this Wrong? Click here to select your OS.
                            </button>
                        </div>
                    {% endif %}

                </form>
                {% if app.user %}
                    <div class="space-y-4 mt-6 pr-2">
                        <p class="text-[#B4B4B4] font-light text-xs lg:text-base">You are currently authenticated as {{ app.user.email }} with an identity of {{ app.user.uuid }}</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
