{% extends '/site/base.html.twig' %}

{% block title %}
    {{ data.title.value }}
{% endblock %}

{% block second_col %}
    {# Form Column #}

    {# Toasts  #}
    <div class="grid grid-cols-1 gap-[5px]">
        {% for message in app.session.flashbag.get('success') %}
            {{ include('site/shared/_toast.html.twig', {toast_type: 'toast-success'}) }}
        {% endfor %}

        {# Flash error message  #}
        {% for message in app.session.flashbag.get('error') %}
            {{ include('site/shared/_toast.html.twig', {toast_type: 'toast-warning'}) }}
        {% endfor %}
    </div>


    {% if data.CUSTOMER_LOGO_ENABLED.value == constant('App\\Enum\\EmailConfirmationStrategy::EMAIL') %}
        <img class="w-[120px] h-[58px] object-scale-down mt-[75px]" src="{{ data.customerLogoName.value }}" alt="Logo"/>
    {% endif %}

    <div class="{{ data.CUSTOMER_LOGO_ENABLED.value == constant('App\\Enum\\EmailConfirmationStrategy::EMAIL') ? 'pt-[28px]' : 'pt-[161px]' }} leading-7">
        <p class="font-bold text-lg">Download and install an OpenRoaming profile tailored to your device, as part of the
            WBA OpenRoaming demo program.</p>
        <p class="mt-3">WBA’s profiles are proven to work across a broad range of devices, including iOS, Android,
            macOS, and Windows, ensuring optimal compatibility.</p>
    </div>

    {% if data.PLATFORM_MODE.value == constant('App\\Enum\\PlatformMode::DEMO') %}
        {% if not app.user %}
            {{ form_start(registrationFormDemo) }}

            {# Email #}
            <div class="relative mt-10">
                {{ form_label(registrationFormDemo.email, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(registrationFormDemo.email, {
                    'attr': {
                        'class': 'form-widget',
                        'placeholder': 'Enter your email'
                    }
                }) }}
            </div>

            {# Turnstile Checker #}
            {% if data.TURNSTILE_CHECKER.value == constant('App\\Enum\\EmailConfirmationStrategy::EMAIL') %}
                <div class="ml-3 mt-5">
                    {{ form_widget(registrationFormDemo.security) }}
                </div>
            {% endif %}

            {# Terms Checkbox #}
            <div class="mt-[28px] flex items-center justify-start gap-2">

                {{ form_widget(formTOS.agreeTerms, {'attr': {'class': 'w-5 h-5 peer relative appearance-none
                          rounded-[5px] border border-[#CECECE] cursor-pointer checked:bg-primary'}}) }}

                <label for="{{ formTOS.agreeTerms.vars.id }}" class="text-xs">
                    I agree to the
                    <a href="{{ data.TOS_LINK.value }}" target="_blank" class="underline text-primary font-semibold">
                        terms & conditions of use
                    </a>
                    and
                    <a href="{{ data.PRIVACY_POLICY_LINK.value }}" target="_blank"
                       class="underline text-primary font-semibold">
                        privacy policy
                    </a>.
                </label>
            </div>

            {# OS #}
            {{ include('site/shared/_os_selection.html.twig') }}

            {# Button Submit #}
            {{ form_row(registrationFormDemo._token) }}

            {{ form_end(registrationFormDemo) }}

            {# Divider #}
            <div class="my-[25px] divider"></div>

        {% else %}
            {% if data.USER_VERIFICATION.value == constant('App\\Enum\\EmailConfirmationStrategy::EMAIL') %}
                {% if not app.user.isVerified %}
                    {{ include('site/shared/_account_activation.html.twig') }}
                {% endif %}
            {% endif %}

            {% if app.request.attributes.get('_route') != 'app_email_code' %}
                <form method="post" novalidate>
                    {# OS #}
                    {{ include('site/shared/_os_selection.html.twig') }}
                </form>
            {% endif %}

            <a href="{{ path('saml_logout') }}" class="w-[160px] btn-logout">Logout</a>

            {# Divider #}
            <div class="my-[25px] divider"></div>

            <p class="text-sm">{{ data.ADDITIONAL_LABEL.value }}</p>

            <p class="text-[#212529] text-opacity-40 text-sm">
                You are currently authenticated as
                {{ app.user.uuid }}
            </p>

        {% endif %}

        {# Profile selector  #}
        <div class="mt-10 w-[100%] rounded-[1px] shadow-lg bg-[#F9F9F9] px-[25px] py-[30px] text-[#212529] text-opacity-60">

            <h1 class="font-xl font-bold">DEMO MODE
                – {{ data.USER_VERIFICATION.value == constant('App\\Enum\\EmailConfirmationStrategy::NO_EMAIL') ? 'UNCONFIRMED' : 'CONFIRMED' }}
                EMAIL SYSTEM</h1>

            <p class="font-lg">This portal if for testing purposes only and should not be used in production
                environments. Users created on this portal might be revoked at anytime without notice.</p>
        </div>

    {% else %}
        {% if app.user %}
            {% if app.user.isVerified %}
                <form method="post" novalidate>
                    {{ include('site/shared/_os_selection.html.twig') }}
                </form>
            {% else %}
                {% if data.USER_VERIFICATION.value == constant('App\\Enum\\EmailConfirmationStrategy::EMAIL') %}
                    {{ include('site/shared/_account_activation.html.twig') }}
                {% else %}
                    <form method="post" novalidate>
                        {{ include('site/shared/_os_selection.html.twig') }}
                    </form>
                {% endif %}
            {% endif %}

            <div {{ stimulus_controller('widget') }}>
                <a href="{{ path('saml_logout') }}" class="w-[160px] btn-logout">Logout</a>

                <div class="flex flex-row justify-between items-center space-x-6 mt-[120px]">

                    <p class="text-[#212529] text-opacity-40 text-sm">
                        You are currently authenticated as
                        {% if userExternalAuths[user.id] is defined %}
                            {% for auth in userExternalAuths[user.id] %}
                                {% if auth.provider == constant('App\\Enum\\UserProvider::SAML') %}
                                    {{ auth.providerId }}
                                {% endif %}
                                {% if auth.provider == constant('App\\Enum\\UserProvider::GOOGLE_ACCOUNT') %}
                                    {{ app.user.uuid }}
                                {% endif %}
                                {% if auth.provider == constant('App\\Enum\\UserProvider::PORTAL_ACCOUNT') %}
                                    {{ app.user.uuid }}
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            {{ app.user.uuid }}
                        {% endif %}
                    </p>

                    {% if app.user.isVerified %}
                        <div class="flex flex-row justify-end items-center gap-1">
                            <p class="text-[#707070]">Account Settings</p>
                            <button id="widgetUserButton" type="button" {{ stimulus_action('widget', 'open') }}
                                    class="ml-auto duration-300 cursor-pointer rounded-full text-[#707070] focus:animate-spin-slow focus:bg-[#7DB928] focus:text-white hover:shadow-lg p-2.5 relative z-0">

                                <twig:ux:icon name="wba:cog" class="w-6" fill="none"/>
                            </button>
                        </div>

                    {% endif %}
                </div>

                {% if app.user.isVerified %}

                    {# Widget User Settings #}
                    <div {{ stimulus_target('widget', 'modal') }}
                            class="hidden fixed top-0 left-0 w-full h-full bg-[#090B2F] bg-opacity-70 z-10 ">
                        <div class="flex flex-row justify-center items-center h-full w-full">
                            {{ include('site/shared/_account_widget.html.twig') }}
                        </div>
                    </div>
                {% endif %}
            </div>
        {% else %}

            {# Divider #}
            <div class="my-[25px] divider"></div>

            <div class="leading-7">
                <p class="font-bold text-lg">Obtain Your Profile:</p>
                <p>To get started, select one of the following authentication methods:</p>
            </div>
            <div {{ stimulus_controller('terms-widget') }}>

                <div class="my-[32px] 2xl:pr-[18%] grid lg:grid-cols-1 grid-cols-2 xl:grid-cols-2 gap-4">
                    {% if data.SAML_ENABLED.value %}
                        <div>
                            <a href="/saml/login">
                                <button {{ stimulus_target('terms-widget', 'button') }} type="submit"
                                                                                        class="w-full btn-primary"
                                                                                        name="btn-primary"
                                                                                        disabled="disabled">
                                    {{ data.SAML_LABEL.value }}
                                </button>
                            </a>
                            <p class="text-xs mt-[8px]">{{ data.SAML_DESCRIPTION.value }}</p>
                        </div>
                    {% endif %}

                    {% if data.GOOGLE_LOGIN_ENABLED.value %}
                        <div>
                            <a href="{{ path('connect_google') }}">
                                <button {{ stimulus_target('terms-widget', 'button') }} type="submit"
                                                                                        class="w-full btn-primary btn-disabled"
                                                                                        name="btn-primary"
                                                                                        disabled="disabled">
                                    {{ data.GOOGLE_LOGIN_LABEL.value }}
                                </button>
                            </a>
                            <p class="text-xs mt-[8px]">{{ data.GOOGLE_LOGIN_DESCRIPTION.value }}</p>
                        </div>
                    {% endif %}

                    {% if data.EMAIL_REGISTER_ENABLED.value %}
                        <div>
                            <a href="{{ path('app_register') }}">
                                <button {{ stimulus_target('terms-widget', 'button') }} type="submit"
                                                                                        class="w-full btn-primary btn-disabled"
                                                                                        name="btn-primary"
                                                                                        disabled="disabled">
                                    {{ data.REGISTER_LABEL.value }}
                                </button>
                            </a>
                            <p class="text-xs mt-[8px]">{{ data.REGISTER_DESCRIPTION.value }}</p>
                        </div>
                    {% endif %}

                    {% if data.AUTH_METHOD_SMS_REGISTER_ENABLED.value %}
                        <div>
                            <a href="{{ path('app_register_sms') }}">
                                <button {{ stimulus_target('terms-widget', 'button') }} type="submit"
                                                                                        class="w-full btn-primary btn-disabled"
                                                                                        name="btn-primary"
                                                                                        disabled="disabled">
                                    {{ data.AUTH_METHOD_SMS_REGISTER_LABEL.value }}
                                </button>
                            </a>
                            <p class="text-xs mt-[8px]">{{ data.AUTH_METHOD_SMS_REGISTER_DESCRIPTION.value }}</p>
                        </div>
                    {% endif %}

                    {% if data.LOGIN_TRADITIONAL_ENABLED.value %}
                        <div class="w-full">
                            <a href="{{ path('app_login') }}">
                                <button {{ stimulus_target('terms-widget', 'button') }} type="submit"
                                                                                        class="w-full h-[50px] btn-secondary btn-secondary-disabled"
                                                                                        name="btn-secondary"
                                                                                        disabled="disabled">
                                    {{ data.LOGIN_TRADITIONAL_LABEL.value }}
                                </button>
                            </a>
                            <p class="text-xs mt-[8px]">{{ data.LOGIN_TRADITIONAL_DESCRIPTION.value }}</p>
                        </div>
                    {% endif %}
                </div>

                {#  Terms and Conditions Check Box #}
                {{ form_start(formTOS) }}
                <div class="mt-[28px] flex items-center justify-start gap-2">
                    {{ form_widget(formTOS.agreeTerms, {
                        'attr': {
                            'class': 'w-5 h-5 peer relative appearance-none rounded-[5px] border border-[#CECECE] cursor-pointer checked:bg-primary',
                            'id': 'agreeTermsCheckbox',
                            'data-action': 'terms-widget#handleCheckboxChange',
                            'data-terms-widget-target': 'agreeTerms'
                        }
                    }) }}
                    <label for="{{ formTOS.agreeTerms.vars.id }}" class="text-xs">
                        I agree to the
                        <a href="{{ data.TOS_LINK.value }}" target="_blank"
                           class="underline text-primary font-semibold">terms & conditions of use</a>
                        and
                        <a href="{{ data.PRIVACY_POLICY_LINK.value }}" target="_blank"
                           class="underline text-primary font-semibold">privacy policy</a>.
                    </label>
                </div>
                {{ form_end(formTOS) }}

                {# Confirmation Terms Modal  #}
                <div class="modal hidden fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center"
                     data-terms-widget-target="confirmationModal" id="confirmationTermsModal">
                    <div class="modal-content bg-white p-5 rounded shadow-lg text-center">
                        <h2 class="text-lg font-bold">You Accepted the Terms</h2>
                        <p class="text-sm">Thank you for accepting the terms and conditions. You are ready to create
                            your account!</p>
                        <div class="mt-4 flex justify-center">
                            <button data-action="terms-widget#closeConfirmationModal"
                                    class="btn-secondary">
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="my-[25px] divider"></div>

            <p class="text-sm">{{ data.ADDITIONAL_LABEL.value }}</p>

        {% endif %}
    {% endif %}

{% endblock %}
