{% extends '/site/base.html.twig' %}

{% block title %}
    {{ data.title.value }}
{% endblock %}

{% block second_col %}
    {# Form Column #}
    {# Toasts #}
    <div class="grid grid-cols-1 gap-[5px]">
        {# Flash error messages #}
        {% for message in app.session.flashbag.get('error') %}
            {{ include('site/shared/_toast.html.twig', {toast_type: 'toast-warning'}) }}
        {% endfor %}
    </div>

    {% if data.CUSTOMER_LOGO_ENABLED.value == constant('App\\Enum\\OperationMode::ON').value %}
        <img class="w-[120px] h-[58px] object-scale-down mt-[75px]" src="{{ data.customerLogoName.value }}" alt="Logo"/>
    {% endif %}

    <div class="{{ data.CUSTOMER_LOGO_ENABLED.value == constant('App\\Enum\\OperationMode::ON').value ? 'pt-[28px]' : 'pt-[161px]' }} leading-7">
        <p class="font-bold text-xl">Welcome back</p>
        <p class="text-lg">You have selected to login via email and password. Once you are logged in, please install the
            profile onto
            your device.</p>
        <p class="text-lg">
            Please select your login method and enter the required credentials.
        </p>
    </div>

    <twig:LoginForm :loginChoiceDTO="loginChoiceDTO" :form="form">
        {{ form_start(form) }}

        {# Login Method #}
        <div class="mt-[32px]">
            {{ form_widget(form.loginMethod, {
                attr: { class: 'form-radio', 'wire:model': 'loginChoiceDTO.loginMethod' }
            }) }}
        </div>

        {# Email Field #}
        {% if loginChoiceDTO.loginMethod == constant('App\\Enum\\UserProvider::EMAIL').value and form['email'] is defined %}
            <div class="relative mt-[32px]">
                {{ form_label(form['email'], constant('App\\Enum\\UserProvider::EMAIL').value, { label_attr: { class: 'form-label' } }) }}
                {{ form_widget(form['email'], { attr: { class: 'form-widget', placeholder: 'Enter your email' } }) }}
            </div>
        {% endif %}

        {# Phone Number Field #}
        {% if loginChoiceDTO.loginMethod == constant('App\\Enum\\UserProvider::PHONE_NUMBER').value and form['phoneNumber'] is defined %}
            <div class="flex flex-row items-end space-x-4 mt-[32px]">
                {# Country Code Dropdown #}
                <div class="flex flex-col w-1/3">
                    {{ form_label(form.phoneNumber.children.country, 'Country', { label_attr: { class: 'text-gray-700 font-medium mb-2' } }) }}
                    {{ form_widget(form.phoneNumber.children.country, {
                        attr: {
                            class: 'block w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-primary focus:border-primary',
                            autocomplete: 'tel-country'
                        }
                    }) }}
                </div>

                {# Phone Number Input #}
                <div class="flex flex-col w-2/3">
                    {{ form_widget(form.phoneNumber.children.number, {
                        attr: {
                            class: 'block w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-primary focus:border-primary',
                            placeholder: 'Enter your phone number',
                            autocomplete: 'tel'
                        }
                    }) }}
                </div>
            </div>
        {% endif %}

        {# Password Field #}
        {% if form['password'] is defined %}
            <div class="relative mt-[32px]">
                {{ form_label(form['password'], 'Password', { label_attr: { class: 'form-label' } }) }}
                {{ form_widget(form['password'], { attr: { class: 'form-widget', placeholder: 'Enter your password' } }) }}
            </div>
        {% endif %}

    </twig:LoginForm>

    {# Turnstile Checker #}
    {% if data.TURNSTILE_CHECKER.value == constant('App\\Enum\\OperationMode::ON').value %}
        <div class="ml-3 mt-5">
            {{ form_row(form.security) }}
        </div>
    {% endif %}

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    <div class="my-[32px] flex justify-start gap-4">
        <button type="submit" class="w-[220px] btn-primary">Log in</button>
        {% if data.PLATFORM_MODE.value != constant('App\\Enum\\PlatformMode::DEMO').value %}
            <a href="{{ path('app_landing') }}" class="w-[220px] btn-secondary">Choose Another</a>
        {% endif %}
    </div>

    {# Divider & Links #}
    <div class="my-[25px] divider"></div>
    {% if data.PLATFORM_MODE.value != constant('App\\Enum\\PlatformMode::DEMO').value %}

        {% if data.EMAIL_REGISTER_ENABLED.value or data.AUTH_METHOD_SMS_REGISTER_ENABLED.value %}
            <p class="mt-2 text-sm">Did you forget your password? Get a new one for your

            {% if data.EMAIL_REGISTER_ENABLED.value %}
                <a href="{{ path('app_site_forgot_password_email') }}" class="font-semibold text-primary underline">email</a>
            {% endif %}

            {% if data.EMAIL_REGISTER_ENABLED.value and data.AUTH_METHOD_SMS_REGISTER_ENABLED.value %}or{% endif %}

            {% if data.AUTH_METHOD_SMS_REGISTER_ENABLED.value %}
                <a href="{{ path('app_site_forgot_password_sms') }}"
                   class="font-semibold text-primary underline">phone number</a>.
            {% endif %}

            {% if data.EMAIL_REGISTER_ENABLED.value or data.AUTH_METHOD_SMS_REGISTER_ENABLED.value %}

                <p class="mt-2 text-sm">You don't have an account? Register with

                    {% if data.EMAIL_REGISTER_ENABLED.value %}
                        <a href="{{ path('app_register') }}"
                           class="font-semibold text-primary underline">email</a>
                    {% endif %}

                    {% if data.EMAIL_REGISTER_ENABLED.value and data.AUTH_METHOD_SMS_REGISTER_ENABLED.value %}or{% endif %}

                    {% if data.AUTH_METHOD_SMS_REGISTER_ENABLED.value %}
                        <a href="{{ path('app_register_sms') }}"
                           class="font-semibold text-primary underline">phone number</a>.
                    {% endif %}
                </p>
            {% endif %}
        {% endif %}
    {% endif %}

    {{ form_end(form, {'render_rest': false}) }}
{% endblock %}
