{% extends '/site/base.html.twig' %}

{% block title %}
    {{ data.title.value }}
{% endblock %}

{% block second_col %}
    {# Form Column #}

    {# Toasts #}
    <div class="grid grid-cols-1 gap-[5px]">
        {% for message in app.session.flashbag.get('success') %}
            {{ include('site/shared/_toast.html.twig', {toast_type: 'toast-success'}) }}
        {% endfor %}

        {# Flash error message #}
        {% for message in app.session.flashbag.get('error') %}
            {{ include('site/shared/_toast.html.twig', {toast_type: 'toast-warning'}) }}
        {% endfor %}
    </div>

    {% if data.CUSTOMER_LOGO_ENABLED.value == constant('App\\Enum\\OperationMode::ON').value %}
        <img class="w-[120px] h-[58px] object-scale-down mt-[75px]" src="{{ data.customerLogoName.value }}" alt="Logo"/>
    {% endif %}

    <div class="{{ data.CUSTOMER_LOGO_ENABLED.value == constant('App\\Enum\\OperationMode::ON').value ? 'pt-[28px]' : 'pt-[161px]' }} leading-7">
        <p class="font-bold text-xl">Two Factor Authentication Codes</p>
        <p class="text-lg"> Please save these codes for use in case you lose your device. </p>
        <div data-controller="clipboard print">
            <div class="mt-5 rounded-md">
                <div id="codesBox"
                     data-clipboard-target="code"
                     data-print-target="codesBox"
                     class="p-4 bg-gray-100 text-base font-mono rounded-md overflow-x-auto text-left mt-4">
                    <div class="grid grid-cols-4 gap-4">
                        {% for code in codes %}
                            <div>{{ code }}</div>
                        {% endfor %}
                    </div>
                </div>
                <div class="grid grid-cols-3 space-x-4">
                    <button
                            data-action="clipboard#copyToClipboard"
                            class="btn-secondary">
                        Copy
                    </button>
                    <a href="{{ path('app_download_codes', {codes: codes|json_encode}) }}"
                       class="btn-secondary ">
                        Download
                    </a>
                    <button data-action="print#print" class="btn-secondary">
                        Print
                    </button>
                </div>
            </div>
        </div>
    </div>

    {# Divider #}
    <div>
        <a href="{{ path('app_otpCodes_save', {codes: codes|json_encode}) }}" class="mt-6 w-[180px] btn-primary">Done</a>
    </div>

    <p class="text-[#212529] text-opacity-40 text-sm mt-5">
        You are currently authenticated as
        {{ app.user.uuid }}
    </p>

{% endblock %}
