{% extends '/site/base_landing.html.twig' %}

{% block title %}
    {{ data.title.value }}
{% endblock %}

{% block second_col %}
    {# Form Column #}

    {# Toasts  #}
    <div class="grid grid-cols-1 gap-[5px]">
        {% for message in app.session.flashbag.get('success') %}
            {{ include('site/shared/_toast.html.twig', {toast_type: 'toast-success'}) }}
        {% endfor %}

        {# Flash warning message  #}
        {% for message in app.session.flashbag.get('warning') %}
            {{ include('site/shared/_toast.html.twig', {toast_type: 'toast-warning'}) }}
        {% endfor %}
    </div>

    <img class="w-[120px] h-[58px] object-scale-down mt-[75px]" src="{{ data.customerLogoName.value }}" alt="Logo"/>

    <div class="pt-[28px] leading-7">
        <p class="font-bold text-xl">Create your account</p>
        <p class="text-lg">This will enable you to access and download a profile onto your device.</p>
        <p class="text-lg">Once you download your profile you can connect automatically to OpenRoaming Wi-Fi networks across the world.</p>
    </div>

    {{ form_start(registrationForm) }}

    {# Email #}
    <div class="relative mt-[32px]">
        {{ form_label(registrationForm.email, null, { 'label_attr': {'class': 'form-label'} }) }}
        {{ form_widget(registrationForm.email, {
            'attr': {
                'class': 'form-widget',
                'placeholder': 'Enter your email'
            }
        }) }}
    </div>

    {# Turnstile Checker #}
    {% if data.TURNSTILE_CHECKER.value == constant('App\\Enum\\EmailConfirmationStrategy::EMAIL') %}
        <div class="ml-3 mt-5">
            {{ form_widget(registrationForm.security) }}
        </div>
    {% endif %}

    {# Terms Checkbox #}
    <div class="mt-[28px] flex items-center justify-start gap-2">

        {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'w-5 h-5 peer relative appearance-none
                          rounded-[5px] border border-[#CECECE] cursor-pointer checked:bg-primary'}}) }}

        <label for="{{ registrationForm.agreeTerms.vars.id }}" class="text-xs">
            I agree to the
            <a href="{{ data.TOS_LINK.value }}" target="_blank" class="underline text-primary font-semibold">terms &
                conditions of
                use
            </a>
            and
            <a href="{{ data.PRIVACY_POLICY_LINK.value }}" target="_blank" class="underline text-primary font-semibold">privacy
                policy
            </a>.
        </label>
    </div>

    {# Button Submit #}
    {{ form_row(registrationForm._token) }}

    <div class="my-[32px] 2xl:pr-[18%] grid lg:grid-cols-1 grid-cols-2 xl:grid-cols-2 gap-4">
        <button type="submit" class="btn-primary">
            Create Account
        </button>
        {% if data.PLATFORM_MODE != constant('App\\Enum\\PlatformMode::Demo') %}
            <a href="{{ path('app_landing') }}" class="btn-secondary">
                Choose Another
            </a>
        {% endif %}
    </div>

    {% if data.LOGIN_TRADITIONAL_ENABLED.value == true %}
        {# Divider #}
        <div class="my-[25px] divider"></div>

        <p class="text-xs">You already have one account?
            <a href="{{ path('app_register') }}" class="font-semibold text-primary underline">Login</a>
            here!
        </p>
    {% endif %}

    {{ form_end(registrationForm) }}

{% endblock %}
