{% extends 'base.html.twig' %}

{% block title %}{{ data.title.value }}{% endblock %}

{% block body %}
    <div class="h-screen w-screen flex flex-col lg:flex-row lg:flex-wrap">
        {# First Column #}
        <div class="w-[100%] lg:w-1/2 bg-landing bg-no-repeat bg-cover bg-scroll p-8 lg:px-[7%] lg:py-[5%] xl:px-[8%] xl:py-[3%]"
             style="background-image: url('{{ data.wallpaperImageName.value }}');">
            <div class="h-[100%] w-[100%] flex flex-col justify-between">
                <img class="mt-16 lg:mt-36 w-96"
                     src="{{ data.openroamingLogoName.value }}"
                     alt="OpenRoaming Logo"/>

                <h1 class="text-2xl lg:text-6xl font-roboto text-primary mt-16 font-bold">{{ data.welcomeText.value }}</h1>

                <p class="text-white font-medium text-sm lg:text-lg mt-5 lg:mt-12 lg:pr-12 xl:pr-24">{{ data.welcomeDescription.value }}</p>

                <p class="text-white font-light text-xs lg:text-base mt-6 mb-6">If you encounter any
                    questions, please contact
                    <a href="mailto:{{ data.contactEmail.value }}"
                       class="font-semibold underline">{{ data.contactEmail.value }}</a>
                </p>
            </div>
        </div>

        {# Form Column #}
        <div class="w-[100%] lg:w-1/2 p-8 lg:px-[7%] lg:py-[5%] xl:px-[8%] xl:py-[3%]"
                {{ stimulus_controller('visibility') }}>
            <div>
                <img class="mt-8 lg:mt-0"
                     src="{{ data.customerLogoName.value }}"
                     alt="Logo"/>

                <div class="space-y-4 mt-16 pr-0 lg:mt-8 lg:pr-6 xl:pr-24 xl:mt-20">
                    <p class="text-[#757575] font-medium text-2xl lg:text-4xl">Create your Profile</p>
                    <p class="text-[#B4B4B4] font-light text-xs lg:text-base">Create your account to set up your
                        profile.</p>
                    <p class="text-[#B4B4B4] font-light text-xs lg:text-base">By creating an account, you can connect
                        anywhere, enjoy a seamless experience with OpenRoaming.</p>
                </div>


                {# Flash success message #}
                {% for message in app.session.flashbag.get('success') %}
                    <div class="text-white text-base bg-[#7DB928] border-red-600 mt-5 rounded-md p-2 text-center">{{ message }}</div>
                {% endfor %}

                {# Flash warning message #}
                {% for message in app.session.flashbag.get('warning') %}
                    <div class="text-white text-base bg-red-600 border-red-600 mt-5 rounded-md p-2 text-center">{{ message }}</div>
                {% endfor %}

                {{ form_start(registrationSMSForm) }}

                {# Phone Number #}
                <div class="relative mt-10 lg:mt-6 xl:mt-12">
                    {{ form_label(registrationSMSForm.phoneNumber, null, {
                        'label_attr': {
                            'class': 'absolute left-4 -top-2.5 lg:-top-3 z-10 bg-neutral-100 text-[#656565] px-1 font-medium text-sm lg:text-lg'
                        }
                    }) }}
                    {{ form_widget(registrationSMSForm.phoneNumber, {
                        'attr': {
                            'class': 'w-[100%] xl:w-11/12 border px-5 py-2.5 text-[#656565] font-medium text-sm lg:text-lg bg-neutral-100 placeholder-[#757575] placeholder-opacity-40 bg-transparent rounded-lg border-[#757575] appearance-none focus:outline-none focus:ring-0 focus:border-[#7db928]',
                            'placeholder': 'Enter your Phone number'
                        }
                    }) }}
                </div>

                {# Terms Checkbox #}
                <div class="mt-5 flex items-center justify-center">
                    <div class="mr-2">
                        {{ form_widget(registrationSMSForm.agreeTerms) }}
                    </div>
                    <label for="{{ registrationSMSForm.agreeTerms.vars.id }}" class="text-[#7db928] text-xs">
                        I agree to the
                        <a href="{{ data.TOS_LINK.value }}" target="_blank" class="underline font-base">terms &
                            conditions of
                            use</a>
                        and
                        <a href="{{ data.PRIVACY_POLICY_LINK.value }}" target="_blank" class="underline font-base">privacy
                            policy</a>.
                    </label>
                </div>

                {# Button Submit #}
                {{ form_row(registrationSMSForm._token) }}
                <div class="mt-5 flex justify-center">
                    <button type="submit"
                            class="rounded-lg bg-[#7DB928] hover:bg-[#7DB928]/90 focus:ring-4 focus:outline-none focus:ring-[#7DB928]/50 text-white font-medium text-sm px-5 py-2.5 lg:px-8 lg:py-3 inline-flex items-center justify-center dark:focus:ring-[#7DB928]/55 mr-2 mb-2">
                        Create Account
                    </button>
                    {% if data.PLATFORM_MODE != constant('App\\Enum\\PlatformMode::Demo') %}
                        <a href="{{ path('app_landing') }}"
                           class="rounded-lg bg-[#E1E4E6] hover:bg-[#E1E4E6]/90 focus:ring-[#E1E4E6]/50  focus:ring-4 focus:outline-none text-[#3F474D] font-medium text-sm px-5 py-2.5 lg:px-8 lg:py-3 inline-flex items-center justify-center mr-2 mb-2">
                            Choose Another
                        </a>
                    {% endif %}
                </div>
                {% if data.AUTH_METHOD_SMS_LOGIN_ENABLED.value == true %}
                    <p class="text-sm font-thin text-gray-800 mt-2 text-center">You already have one account? <a
                                href="#"
                                class="text-lg font-thin text-[#3F474D] hover:underline mt-2 inline-block hover:text-[#7DB928] text-center">Login</a>
                        with phone number here!</p>
                {% endif %}
                {{ form_end(registrationSMSForm) }}
            </div>
        </div>

    </div>
{% endblock %}
