{% extends '/site/landing.html.twig' %}

{% block title %}
    {{ data.title.value }}
{% endblock %}

{% block second_col %}
    {# Form Column #}

    {# Toasts #}
    <div class="grid grid-cols-1 gap-[5px]">
        {% for message in app.session.flashbag.get('success') %}
            {{ include('site/shared/_toast.html.twig', {toast_type: 'toast-success'}) }}
        {% endfor %}

        {# Flash warning message #}
        {% for message in app.session.flashbag.get('warning') %}
            {{ include('site/shared/_toast.html.twig', {toast_type: 'toast-warning'}) }}
        {% endfor %}

        {# Form errors #}
        {% if form_errors(registrationSMSForm.phoneNumber) %}
            <div class="toast-warning">
                {{ form_errors(registrationSMSForm.phoneNumber) }}
            </div>
        {% endif %}
    </div>

    {% if data.CUSTOMER_LOGO_ENABLED.value == constant('App\\Enum\\OperationMode::ON').value %}
        <img class="w-[120px] h-[58px] object-scale-down mt-[75px]" src="{{ data.customerLogoName.value }}" alt="Logo"/>
    {% endif %}

    <div class="{{ data.CUSTOMER_LOGO_ENABLED.value == constant('App\\Enum\\OperationMode::ON').value ? 'pt-[28px]' : 'pt-[161px]' }} leading-7">
        <p class="font-bold text-xl">Create your account</p>
        <p class="text-lg">This will enable you to access and download a profile onto your device.</p>
        <p class="text-lg">Once you download your profile you can connect automatically to OpenRoaming Wi-Fi networks
            across the world.</p>
    </div>

    {{ form_start(registrationSMSForm) }}

    <div class="flex flex-row items-end space-x-4 mt-8">
        {# Phone Number Input #}
        <div class="flex flex-col w-1/3">
            {{ form_label(registrationSMSForm.phoneNumber, 'Phone Number', {label_attr: {class: 'text-gray-700 font-medium mb-2'}}) }}
            {{ form_widget(registrationSMSForm.phoneNumber.children.country, {
                attr: {
                    class: 'block w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-primary focus:border-primary',
                    placeholder: 'Enter your phone number',
                    autocomplete: 'tel',
                },
            }) }}
        </div>
        <div class="flex flex-col w-2/3">
            {{ form_widget(registrationSMSForm.phoneNumber.children.number, {
                attr: {
                    class: 'block w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-primary focus:border-primary',
                    placeholder: 'Enter your phone number',
                    autocomplete: 'tel',
                },
            }) }}
        </div>
    </div>

    {# Turnstile Checker #}
    {% if data.TURNSTILE_CHECKER.value == constant('App\\Enum\\OperationMode::ON').value %}
        <div class="ml-3 mt-5">
            {{ form_widget(registrationSMSForm.security) }}
        </div>
    {% endif %}

    {# Button Submit #}
    {{ form_row(registrationSMSForm._token) }}

    <div class="my-[32px] 2xl:pr-[18%] grid lg:grid-cols-1 grid-cols-2 xl:grid-cols-2 gap-4">
        <button type="submit" class="btn-primary">Create Account</button>
        {% if data.PLATFORM_MODE != constant('App\\Enum\\PlatformMode::DEMO').value %}
            <a href="{{ path('app_landing') }}" class="btn-secondary">Choose Another</a>
        {% endif %}
    </div>

    {% if data.LOGIN_TRADITIONAL_ENABLED.value == true %}
        {# Divider #}
        <div class="my-[25px] divider"></div>
        <p class="text-sm">
            You already have an account?
            <a href="{{ path('app_login') }}" class="font-semibold text-primary underline">Login</a> here!
        </p>
    {% endif %}

    {{ form_end(registrationSMSForm) }}

{% endblock %}
