{% extends '/site/base.html.twig' %}

{% block title %}
    {{ data.title.value }}
{% endblock %}

{% block second_col %}
    {# Form Column #}

    {# Toasts #}
    <div class="grid grid-cols-1 gap-[5px]">
        {% for message in app.session.flashbag.get('success') %}
            {{ include('site/shared/_toast.html.twig', {toast_type: 'toast-success'}) }}
        {% endfor %}

        {# Flash error message #}
        {% for message in app.session.flashbag.get('error') %}
            {{ include('site/shared/_toast.html.twig', {toast_type: 'toast-warning'}) }}
        {% endfor %}
    </div>

    {% if data.CUSTOMER_LOGO_ENABLED.value == constant('App\\Enum\\OperationMode::ON').value %}
        <img class="w-[120px] h-[58px] object-scale-down mt-[75px]" src="{{ data.customerLogoName.value }}" alt="Logo"/>
    {% endif %}

    <div class="{{ data.CUSTOMER_LOGO_ENABLED.value == constant('App\\Enum\\OperationMode::ON').value ? 'pt-[28px]' : 'pt-[161px]' }} leading-7">
        <p class="font-bold text-xl">Two Factor Authentication Code</p>
        {% if user.twoFAtype == constant('App\\Enum\\UserTwoFactorAuthenticationStatus::EMAIL').value %}
            <p class="text-lg"> Please enter the code sent to your email</p>
        {% else %}
            <p class="text-lg"> Please enter the code sent to your phone number</p>
        {% endif %}

    </div>
    {{ form_start(form) }}
    <div class="relative mt-10">

        {{ form_widget(form.code, {
            attr: {
                class: 'form-widget',
                placeholder: 'Enter your Code',
            }}) }}

    </div>

    <p class="text-lg mt-5"> Click  <a href="{{ path('app_verify2FA_local') }}" class="text-green-500 underline" >here</a> to resend code</p>

    {# Divider #}
    <div class="my-[25px] divider"></div>

    {{ form_row(form.submit, {
        attr: {
            class: 'w-[160px] btn btn-primary',
        }}) }}
    {{ form_end(form) }}
{% endblock %}
