{% extends 'site/base.html.twig' %}

{% block title %}
    {{ data.title.value }}
{% endblock %}

{% block second_col %}
    {# Form Column #}

    {# Toasts #}
    <div class="grid grid-cols-1 gap-[5px]">
        {% for message in app.session.flashbag.get('success') %}
            {{ include('site/shared/_toast.html.twig', {toast_type: 'toast-success'}) }}
        {% endfor %}

        {# Flash error message #}
        {% for message in app.session.flashbag.get('error') %}
            {{ include('site/shared/_toast.html.twig', {toast_type: 'toast-warning'}) }}
        {% endfor %}
    </div>

    {% if data.CUSTOMER_LOGO_ENABLED.value == constant('App\\Enum\\OperationMode::ON').value %}
        <img class="w-[120px] h-[58px] object-scale-down mt-[75px]" src="{{ data.customerLogoName.value }}" alt="Logo"/>
    {% endif %}

    <div class="{{ data.CUSTOMER_LOGO_ENABLED.value == constant('App\\Enum\\OperationMode::ON').value ? 'pt-[28px]' : 'pt-[161px]' }} leading-7">
        <p class="font-bold text-xl">Two-Factor Authentication</p>
        <p class="text-lg mb-6">Please select an option to configure your experience.</p>
    </div>

    <div class="grid grid-cols-1 sm:gap-4 lg:gap-6 sm:grid-cols-2 md:my-2 my-3 space-y-4 sm:space-y-0">
        {# When the app status is NOT_ENFORCED #}
        {% if (data.TWO_FACTOR_AUTH_STATUS.value == constant('App\\Enum\\TwoFAType::NOT_ENFORCED').value) %}
            {% if (user.twoFAtype == constant('App\\Enum\\UserTwoFactorAuthenticationStatus::DISABLED').value) %}
                <a href="{{ path('app_2FA_firstSetup_local') }}" class="btn-primary">Portal</a>
                <a href="{{ path('app_enable2FA_app') }}" class="btn-primary">External Application</a>
            {% endif %}
            {% if (user.twoFAtype == constant('App\\Enum\\UserTwoFactorAuthenticationStatus::APP').value) %}
                <a href="{{ path('app_2FA_firstSetup_local') }}" class="btn-primary">Portal</a>
                <a href="{{ path('app_disable2FA') }}" class="btn-logout">Disable</a>
            {% endif %}
            {% if (user.twoFAtype == constant('App\\Enum\\UserTwoFactorAuthenticationStatus::SMS').value) %}
                <a href="{{ path('app_enable2FA_app') }}" class="btn-primary">External Application</a>
                <a href="{{ path('app_disable2FA') }}" class="btn-logout">Disable</a>
            {% endif %}
            {% if (user.twoFAtype == constant('App\\Enum\\UserTwoFactorAuthenticationStatus::EMAIL').value) %}
                <a href="{{ path('app_enable2FA_app') }}" class="btn-primary">External Application</a>
                <a href="{{ path('app_disable2FA') }}" class="btn-logout">Disable</a>
            {% endif %}
        {% endif %}
        {# When the app status is ENFORCED_FOR_LOCAL #}
        {% if (data.TWO_FACTOR_AUTH_STATUS.value == constant('App\\Enum\\TwoFAType::ENFORCED_FOR_LOCAL').value) %}
            {# Local users #}
            {% if (user.userExternalAuths[0].provider == constant('App\\Enum\\UserProvider::PORTAL_ACCOUNT').value) %}
                {% if (user.twoFAtype == constant('App\\Enum\\UserTwoFactorAuthenticationStatus::DISABLED').value) %}
                    <a href="{{ path('app_2FA_firstSetup_local') }}" class="btn-primary">Portal</a>
                    <a href="{{ path('app_enable2FA_app') }}" class="btn-primary">External Application</a>
                {% endif %}
                {% if (user.twoFAtype == constant('App\\Enum\\UserTwoFactorAuthenticationStatus::APP').value) %}
                    <a href="{{ path('app_2FA_firstSetup_local') }}" class="btn-primary">Portal</a>
                {% endif %}
                {% if (user.twoFAtype == constant('App\\Enum\\UserTwoFactorAuthenticationStatus::SMS').value) %}
                    <a href="{{ path('app_enable2FA_app') }}" class="btn-primary">External Application</a>
                {% endif %}
                {% if (user.twoFAtype == constant('App\\Enum\\UserTwoFactorAuthenticationStatus::EMAIL').value) %}
                    <a href="{{ path('app_enable2FA_app') }}" class="btn-primary">External Application</a>
                {% endif %}
            {% else %}
                {# External Users #}
                {% if (user.twoFAtype == constant('App\\Enum\\UserTwoFactorAuthenticationStatus::DISABLED').value) %}
                    <a href="{{ path('app_2FA_firstSetup_local') }}" class="btn-primary">Portal</a>
                    <a href="{{ path('app_enable2FA_app') }}" class="btn-primary">External Application</a>
                {% endif %}
                {% if (user.twoFAtype == constant('App\\Enum\\UserTwoFactorAuthenticationStatus::APP').value) %}
                    <a href="{{ path('app_2FA_firstSetup_local') }}" class="btn-primary">Portal</a>
                    <a href="{{ path('app_disable2FA') }}" class="btn-logout">Disable</a>
                {% endif %}
                {% if (user.twoFAtype == constant('App\\Enum\\UserTwoFactorAuthenticationStatus::SMS').value) %}
                    <a href="{{ path('app_enable2FA_app') }}" class="btn-primary">External Application</a>
                    <a href="{{ path('app_disable2FA') }}" class="btn-logout">Disable</a>
                {% endif %}
                {% if (user.twoFAtype == constant('App\\Enum\\UserTwoFactorAuthenticationStatus::EMAIL').value) %}
                    <a href="{{ path('app_enable2FA_app') }}" class="btn-primary">External Application</a>
                    <a href="{{ path('app_disable2FA') }}" class="btn-logout">Disable</a>
                {% endif %}
            {% endif %}
        {% endif %}
        {# When the app status is ENFORCED_FOR_ALL #}
        {% if (data.TWO_FACTOR_AUTH_STATUS.value == constant('App\\Enum\\TwoFAType::ENFORCED_FOR_ALL').value) %}
            {% if (user.twoFAtype == constant('App\\Enum\\UserTwoFactorAuthenticationStatus::DISABLED').value) %}
                <a href="{{ path('app_2FA_firstSetup_local') }}" class="btn-primary">Portal</a>
                <a href="{{ path('app_enable2FA_app') }}" class="btn-primary">External Application</a>
            {% endif %}
            {% if (user.twoFAtype == constant('App\\Enum\\UserTwoFactorAuthenticationStatus::APP').value) %}
                <a href="{{ path('app_2FA_firstSetup_local') }}" class="btn-primary">Portal</a>
            {% endif %}
            {% if (user.twoFAtype == constant('App\\Enum\\UserTwoFactorAuthenticationStatus::SMS').value) %}
                <a href="{{ path('app_enable2FA_app') }}" class="btn-primary">External Application</a>
            {% endif %}
            {% if (user.twoFAtype == constant('App\\Enum\\UserTwoFactorAuthenticationStatus::EMAIL').value) %}
                <a href="{{ path('app_enable2FA_app') }}" class="btn-primary">External Application</a>
            {% endif %}
        {% endif %}
    </div>

    {% if (data.TWO_FACTOR_AUTH_STATUS.value == constant('App\\Enum\\TwoFAType::NOT_ENFORCED').value) %}
        {% if (user.twoFAtype == constant('App\\Enum\\UserTwoFactorAuthenticationStatus::APP').value) %}
            <p class="text-[#212529] text-opacity-40 text-sm mt-5">
                You already have two-factor authentication configured with the App.
            </p>
        {% endif %}
        {% if (user.twoFAtype == constant('App\\Enum\\UserTwoFactorAuthenticationStatus::SMS').value) %}
            <p class="text-[#212529] text-opacity-40 text-sm mt-5">
                You already have two-factor authentication configured with the portal.
            </p>
        {% endif %}
        {% if (user.twoFAtype == constant('App\\Enum\\UserTwoFactorAuthenticationStatus::EMAIL').value) %}
            <p class="text-[#212529] text-opacity-40 text-sm mt-5">
                You already have two-factor authentication configured with portal.
            </p>
        {% endif %}
    {% endif %}
    {# When the app status is ENFORCED_FOR_LOCAL #}
    {% if (data.TWO_FACTOR_AUTH_STATUS.value == constant('App\\Enum\\TwoFAType::ENFORCED_FOR_LOCAL').value) %}
        {# Local users #}
        {% if (user.userExternalAuths[0].provider == constant('App\\Enum\\UserProvider::PORTAL_ACCOUNT').value) %}
            {% if (user.twoFAtype == constant('App\\Enum\\UserTwoFactorAuthenticationStatus::DISABLED').value) %}
                <p class="text-[#212529] text-opacity-40 text-sm mt-5">
                    Two-factor authentication is mandatory for your account. You can't proceed without him
                </p>
            {% endif %}
            {% if (user.twoFAtype == constant('App\\Enum\\UserTwoFactorAuthenticationStatus::APP').value) %}
                <p class="text-[#212529] text-opacity-40 text-sm mt-5">
                    You already have two-factor authentication configured with the App.
                </p>
                <p class="text-[#212529] text-opacity-40 text-sm mt-5">
                    Two-factor authentication is mandatory for your account. You can't proceed without him
                </p>
            {% endif %}
            {% if (user.twoFAtype == constant('App\\Enum\\UserTwoFactorAuthenticationStatus::SMS').value) %}
                <p class="text-[#212529] text-opacity-40 text-sm mt-5">
                    You already have two-factor authentication configured with Two-Factor Authentication Portal
                </p>
                <p class="text-[#212529] text-opacity-40 text-sm mt-5">
                    Two-factor authentication is mandatory for your account. You can't proceed without it
                </p>
            {% endif %}
            {% if (user.twoFAtype == constant('App\\Enum\\UserTwoFactorAuthenticationStatus::EMAIL').value) %}
                <p class="text-[#212529] text-opacity-40 text-sm mt-5">
                    You already have two-factor authentication configured with the portal.
                </p>
                <p class="text-[#212529] text-opacity-40 text-sm mt-5">
                    Two-factor authentication is mandatory for your account. You can't proceed without him
                </p>
            {% endif %}
            {# External users #}
        {% else %}
            {% if (user.twoFAtype == constant('App\\Enum\\UserTwoFactorAuthenticationStatus::APP').value) %}
                <p class="text-[#212529] text-opacity-40 text-sm mt-5">
                    You already have two-factor authentication configured with the App.
                </p>
            {% endif %}
            {% if (user.twoFAtype == constant('App\\Enum\\UserTwoFactorAuthenticationStatus::SMS').value) %}
                <p class="text-[#212529] text-opacity-40 text-sm mt-5">
                    You already have two-factor authentication configured with the portal.
                </p>
            {% endif %}
            {% if (user.twoFAtype == constant('App\\Enum\\UserTwoFactorAuthenticationStatus::EMAIL').value) %}
                <p class="text-[#212529] text-opacity-40 text-sm mt-5">
                    You already have two-factor authentication configured with the portal.
                </p>
            {% endif %}
        {% endif %}
    {% endif %}
    {# When the app status is ENFORCED_FOR_ALL #}
    {% if (data.TWO_FACTOR_AUTH_STATUS.value == constant('App\\Enum\\TwoFAType::ENFORCED_FOR_ALL').value) %}
        {% if (user.twoFAtype == constant('App\\Enum\\UserTwoFactorAuthenticationStatus::DISABLED').value) %}
            <p class="text-[#212529] text-opacity-40 text-sm mt-5">
                Two-factor authentication is mandatory for your account. You can't proceed without him
            </p>
        {% endif %}
        {% if (user.twoFAtype == constant('App\\Enum\\UserTwoFactorAuthenticationStatus::APP').value) %}
            <p class="text-[#212529] text-opacity-40 text-sm mt-5">
                You already have two-factor authentication configured with the App
            </p>
            <p class="text-[#212529] text-opacity-40 text-sm mt-5">
                Two-factor authentication is mandatory for your account. You can't proceed without him
            </p>
        {% endif %}
        {% if (user.twoFAtype == constant('App\\Enum\\UserTwoFactorAuthenticationStatus::SMS').value) %}
            <p class="text-[#212529] text-opacity-40 text-sm mt-5">
                You already have two-factor authentication configured with the portal.
            </p>
            <p class="text-[#212529] text-opacity-40 text-sm mt-5">
                Two-factor authentication is mandatory for your account. You can't proceed without him
            </p>
        {% endif %}
        {% if (user.twoFAtype == constant('App\\Enum\\UserTwoFactorAuthenticationStatus::EMAIL').value) %}
            <p class="text-[#212529] text-opacity-40 text-sm mt-5">
                You already have two-factor authentication configured with the portal.
            </p>
            <p class="text-[#212529] text-opacity-40 text-sm mt-5">
                Two-factor authentication is mandatory for your account. You can't proceed without him
            </p>
        {% endif %}
    {% endif %}
    {# Divider #}
    {{ include('/site/shared/_2FA_config_return_action.html.twig') }}
{% endblock %}
