{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative"
             role="alert">
            <strong class="font-bold">Error!</strong>
            <span class="block sm:inline">{{ flash_error }}</span>
        </div>
    {% endfor %}

    <div class="flex flex-col justify-center items-center min-h-screen bg-gray-100">
        <div class="bg-white p-8 rounded-lg shadow-lg">
            <h1 class="text-2xl font-bold mb-4">Sign Up</h1>

            {{ form_start(registrationForm, { 'attr': {'class': 'mt-4'} }) }}
            <div class="mb-4">
                <label class="block text-gray-700 font-bold mb-2"
                       for="{{ registrationForm.uuid.vars.id }}">
                    Username
                </label>
                {{ form_widget(registrationForm.uuid, { 'attr': {'class': 'w-full px-3 py-2 placeholder-gray-400 border border-gray-400 rounded-md focus:outline-none focus:ring-2 focus:ring-gray-500 focus:border-transparent'} }) }}
            </div>

            <div class="mb-4">
                <label class="block text-gray-700 font-bold mb-2"
                       for="{{ registrationForm.email.vars.id }}">
                    Email
                </label>
                {{ form_widget(registrationForm.email, { 'attr': {'class': 'w-full px-3 py-2 placeholder-gray-400 border border-gray-400 rounded-md focus:outline-none focus:ring-2 focus:ring-gray-500 focus:border-transparent'} }) }}
            </div>

            <div class="mb-4">
                <label class="block text-gray-700 font-bold mb-2"
                       for="{{ registrationForm.plainPassword.vars.id }}">
                    Password
                </label>
                {{ form_widget(registrationForm.plainPassword, { 'attr': {'class': 'w-full px-3 py-2 placeholder-gray-400 border border-gray-400 rounded-md focus:outline-none focus:ring-2 focus:ring-gray-500 focus:border-transparent'} }) }}
            </div>

            <div class="mb-4">
                {{ form_widget(registrationForm.agreeTerms) }}
                <label class="inline-block text-gray-700 font-bold mb-2 ml-2"
                       for="{{ registrationForm.agreeTerms.vars.id }}">
                    Agree to terms, and give us your soul
                </label>
            </div>

            <div class="flex items-center justify-between">
                <button type="submit"
                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    Register
                </button>
            </div>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
