{% extends '/dashboard/base.html.twig' %}

{% block title %}
    {{ 'adminPageWBA'|trans({}, '_header_admin') }}
{% endblock %}

{% block container %}
    <div class="flex justify-center items-center min-h-[70vh]">
        <div class="w-full max-w-xl bg-white rounded-lg p-6">

            {% if type in ['settingMain', 'settingCustom', 'settingTerms', 'settingRadius', 'settingStatus', 'settingLDAP', 'settingCAPPORT', 'settingAUTH', 'settingTwoFA', 'settingSMS', 'settingSchedule', 'settingReturnApps'] %}

                <div class="text-center">
                    <h1 class="text-3xl font-semibold">
                        {{ 'enterVerificationCode'|trans({}, 'confirm') }}
                    </h1>
                </div>

                <form action="{{ path('admin_confirm_checker', {type: type}) }}"
                      method="post"
                      class="mt-10 space-y-6 text-center"
                      autocomplete="off">

                    <p class="block text-center text-lg mb-6">
                        {{ 'enterVerificationCode'|trans({}, 'confirm') }}
                    </p>

                    <div class="relative">
                        <label for="code" class="form-label">{{ 'code'|trans({}, 'confirm') }}</label>

                        <input type="number" id="code" name="code" class="form-widget"
                               oninput="if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                               maxlength="6">
                    </div>

                    <div class="text-sm text-gray-600">
                        {{ 'generateNewEmail'|trans({
                            '%url%': path('app_dashboard_regenerate_code_admin', {type: type})
                        }, 'confirm')|raw }}
                    </div>

                    <div class="pt-4">
                        <button type="submit"
                                class="btn-primary min-w-[220px] mx-auto">
                            {{ 'verify'|trans({}, 'confirm') }}
                        </button>
                    </div>

                </form>

            {% else %}
                <div class="text-center text-red-500">
                    {{ 'invalidSetting'|trans({}, 'confirm') }}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
