<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Open the door to OpenRoaming!</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-indigo-100">
<div class="container mx-auto p-8">
    <div class="bg-white rounded-lg p-6 shadow-md">

        {% if isNewUser %}
            <h1 class="mb-4 text-3xl font-bold text-[#7DB928]">Welcome to the OpenRoaming Portal!</h1>
            <p class="mt-2 text-lg text-gray-500">
                We are excited to have you here! To confirm your account please click
                <a class="mt-2 inline-block text-lg font-semibold text-[#7DB928] hover:text-green-500 hover:underline"
                   href="{{ absolute_url('/login/link') ~ '?' ~ 'uuid=' ~ uuid ~ '&verificationCode=' ~ verificationCode }}">here!</a>
            </p>
            <p class="text-lg text-gray-500">In the future, to log in, please use the following password: <span
                        class="font-semibold">{{ password }}</span></p>
            <p class="text-lg text-gray-500">Use this verification code to confirm your account: <span
                        class="font-semibold">{{ verificationCode }}</span>, or click <a
                        class="mt-2 inline-block text-lg font-semibold text-[#7DB928] hover:text-green-500 hover:underline"
                        href="{{ absolute_url('/login')~ '?' ~ 'uuid=' ~ uuid }}">here!</a> to login and insert it manually.</p>
            <p class="text-lg text-gray-500 mt-1">Keep this password and verification code safe. Please do not share it
                with anyone else.</p>
        {% else %}
            <h1 class="text-3xl font-bold text-[#7DB928] mb-4">Your password has been reset.</h1>
            <p class="text-lg text-gray-500">Your new authentication password is: <span
                        class="font-semibold">{{ password }}</span></p>
            <p class="text-lg text-gray-500">Keep this password safe and do not share it with anyone else.</p>
        {% endif %}
    </div>
</div>
</body>
</html>
