{% set title = 'phone'|trans({}, '_account_activation') %}
{% set label = 'phone'|trans({}, '_account_activation') %}
{% set code_path = path('app_regenerate_sms_code') %}

{% if app.user and app.user.email is defined and app.user.email is not empty %}
    {% set title = 'email'|trans({}, '_account_activation') %}
    {% set label = 'email'|trans({}, '_account_activation') %}
    {% set code_path = path('app_regenerate_email_code') %}
{% endif %}

{# Divider #}
<div class="my-[25px] divider"></div>

<div class="leading-7">
    <p class="font-bold text-lg">
        {{ 'activationTitle'|trans({'{title}': title}, '_account_activation') }}
    </p>
    <p>
        {{ 'codeSent'|trans({'{label}': label}, '_account_activation') }}
    </p>
</div>

<form action="{{ path('app_check_email_code') }}" method="post">
    <div class="mt-10 relative">
        <label for="code" class="form-label">{{ 'codeLabel'|trans({}, '_account_activation') }}</label>
        <input type="number" id="code" name="code" class="form-widget"
               oninput="if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
               maxlength="6">

        <div class="my-[32px] 2xl:pr-[18%] grid lg:grid-cols-1 grid-cols-2 xl:grid-cols-2 gap-4">
            <button type="submit" class="btn-primary">
                {{ 'validateButton'|trans({}, '_account_activation') }}
            </button>

            <a href="{{ code_path }}" class="btn-secondary">
                {{ 'resendButton'|trans({}, '_account_activation') }}
            </a>
        </div>
    </div>
</form>
