<div class="p-2">
    <h1 class="text-xl md:text-2xl font-semibold">{{ 'loginMethod'|trans({}, 'auths_providers') }}</h1>
</div>
<div class="grid gap-4 lg:grid-cols-2 xl:grid-cols-3 p-2 z-0" {{ stimulus_controller('radio-card') }}>

    {# authMethodLoginTraditionalEnabled #}
    <div class="transition hover:-translate-y-1 hover:shadow bg-white rounded-md p-6 w-full" {{ stimulus_controller('radio card') }}>
        <div class="flex flex-row justify-between">
            <div class="text-base font-medium text-center break-normal md:break-all">
                <h1 class="text-base md:text-lg whitespace-nowrap">{{ 'mode'|trans({}, 'auths_providers') }}</h1>
            </div>
            <label class="flex items-center bg-opacity-40">
                <img class="w-6 cursor-pointer" {{ stimulus_target('card', 'button') }}
                        {{ stimulus_action('card', 'show_info', 'mouseover')|stimulus_action('card', 'hide_info', 'mouseout') }}
                     src="{{ asset('resources/logos/info_icon.svg') }}" alt="info_icon"/>
            </label>
        </div>

        {{ include('/dashboard/shared/settings_actions/_description.html.twig', {description: data.AUTH_METHOD_LOGIN_TRADITIONAL_ENABLED.description}) }}

        <div class="flex flex-col items-center space-y-2 mt-5">
            {# ON Radio #}
            <label class="flex flex-row justify-between border hover:border-gray-900 duration-200 rounded-lg w-full p-2 pl-4">
                On
                <input type="radio"
                       name="{{ form.authMethodLoginTraditionalEnabled.vars.full_name }}"
                       value="true"
                       class="radio-input hidden"
                        {{ form.authMethodLoginTraditionalEnabled.vars.value == 'true' ? 'checked' : '' }}
                        {{ stimulus_action('radio', 'toggle')|stimulus_action('radio-card', 'unblock') }}
                        {{ stimulus_target('radio-card', 'on') }}>
                <div class="custom-radio pr-3 pt-1.5 {{ form.authMethodLoginTraditionalEnabled.vars.value == 'true' ? '' : 'hidden' }}" {{ stimulus_target('radio', 'on') }}>
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="10" viewBox="0 0 14 10" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M13.0303 0.96967C13.3232 1.26256 13.3232 1.73744 13.0303 2.03033L6.03033 9.03033C5.73744 9.32322 5.26256 9.32322 4.96967 9.03033L0.96967 5.03033C0.676777 4.73744 0.676777 4.26256 0.96967 3.96967C1.26256 3.67678 1.73744 3.67678 2.03033 3.96967L5.5 7.43934L11.9697 0.96967C12.2626 0.676777 12.7374 0.676777 13.0303 0.96967Z"
                              fill="#210124"/>
                    </svg>
                </div>
            </label>

            {# OFF Radio #}
            <label class="flex flex-row justify-between border hover:border-gray-900 duration-200 rounded-lg w-full p-2 pl-4">
                Off
                <input type="radio"
                       name="{{ form.authMethodLoginTraditionalEnabled.vars.full_name }}"
                       value="false"
                       class="radio-input hidden"
                        {{ form.authMethodLoginTraditionalEnabled.vars.value == 'false' ? 'checked' : '' }}
                        {{ stimulus_action('radio', 'toggle')|stimulus_action('radio-card', 'block') }}
                        {{ stimulus_target('radio-card', 'off') }}>
                <div class="custom-radio pr-3 pt-1.5 {{ form.authMethodLoginTraditionalEnabled.vars.value == 'false' ? '' : 'hidden' }}" {{ stimulus_target('radio', 'off') }}>
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="10" viewBox="0 0 14 10" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M13.0303 0.96967C13.3232 1.26256 13.3232 1.73744 13.0303 2.03033L6.03033 9.03033C5.73744 9.32322 5.26256 9.32322 4.96967 9.03033L0.96967 5.03033C0.676777 4.73744 0.676777 4.26256 0.96967 3.96967C1.26256 3.67678 1.73744 3.67678 2.03033 3.96967L5.5 7.43934L11.9697 0.96967C12.2626 0.676777 12.7374 0.676777 13.0303 0.96967Z"
                              fill="#210124"/>
                    </svg>
                </div>
            </label>
        </div>

        <div class="mt-2 -mb-2 text-center text-red-500 text-base">
            {{ form_errors(form.authMethodLoginTraditionalEnabled) }}
        </div>

        {# Mark the field as rendered so Symfony won't duplicate it #}
        {% do form.authMethodLoginTraditionalEnabled.setRendered() %}
    </div>

    {# authMethodLoginTraditionalLabel #}
    <div class="transition hover:-translate-y-1 hover:shadow bg-white rounded-md p-6 w-full" {{ stimulus_target('radio-card', 'card') }} {{ stimulus_controller('card') }}>
        <div class="flex flex-row justify-between">
            <div class="text-base font-medium text-center break-normal md:break-all">
                <h1 class="text-base md:text-lg whitespace-nowrap">{{ 'label'|trans({}, 'auths_providers') }}</h1>
            </div>
            <label class="flex items-center bg-opacity-40">
                <img class="w-6 cursor-pointer" {{ stimulus_target('card', 'button') }}
                        {{ stimulus_action('card', 'show_info', 'mouseover')|stimulus_action('card', 'hide_info', 'mouseout') }}
                     src="{{ asset('resources/logos/info_icon.svg') }}" alt="info_icon"/>
            </label>
        </div>

        {{ include('/dashboard/shared/settings_actions/_description.html.twig', {description: data.AUTH_METHOD_LOGIN_TRADITIONAL_LABEL.description}) }}

        <div class="flex items-center space-x-2 mt-5">
            {{ form_widget(form.authMethodLoginTraditionalLabel, {attr: {'wire:model': 'dto.authMethodLoginTraditionalLabel', class: 'form-widget', 'data-radio-card-target': 'input'}}) }}
        </div>

        <div class="mt-2 -mb-2 text-center text-red-500 text-base">
            {{ form_errors(form.authMethodLoginTraditionalLabel) }}
        </div>
    </div>

    {# authMethodLoginTraditionalDescription #}
    <div class="transition hover:-translate-y-1 hover:shadow bg-white rounded-md p-6 w-full" {{ stimulus_target('radio-card', 'card') }} {{ stimulus_controller('card') }}>
        <div class="flex flex-row justify-between">
            <div class="text-base font-medium text-center break-normal md:break-all">
                <h1 class="text-base md:text-lg whitespace-nowrap">{{ 'description'|trans({}, 'auths_providers') }}</h1>
            </div>
            <label class="flex items-center bg-opacity-40">
                <img class="w-6 cursor-pointer" {{ stimulus_target('card', 'button') }}
                        {{ stimulus_action('card', 'show_info', 'mouseover')|stimulus_action('card', 'hide_info', 'mouseout') }}
                     src="{{ asset('resources/logos/info_icon.svg') }}" alt="info_icon"/>
            </label>
        </div>

        {{ include('/dashboard/shared/settings_actions/_description.html.twig', {description: data.AUTH_METHOD_LOGIN_TRADITIONAL_DESCRIPTION.description}) }}

        <div class="flex items-center space-x-2 mt-5">
            {{ form_widget(form.authMethodLoginTraditionalDescription, {attr: {'wire:model': 'dto.authMethodLoginTraditionalDescription', class: 'form-widget', 'data-radio-card-target': 'input'}}) }}
        </div>

        <div class="mt-2 -mb-2 text-center text-red-500 text-base">
            {{ form_errors(form.authMethodLoginTraditionalDescription) }}
        </div>
    </div>

    {# loginWithUUIDOnly #}
    <div class="transition hover:-translate-y-1 hover:shadow bg-white rounded-md p-6 w-full" {{ stimulus_target('radio-card', 'card') }} {{ stimulus_controller('card') }}>
        <div class="flex flex-row justify-between">
            <div class="text-base font-medium text-center break-normal md:break-all">
                <h1 class="text-base md:text-lg whitespace-nowrap">{{ 'loginWithUUIDOnly'|trans({}, 'auths_providers') }}</h1>
            </div>
            <label class="flex items-center bg-opacity-40">
                <img class="w-6 cursor-pointer" {{ stimulus_target('card', 'button') }}
                        {{ stimulus_action('card', 'show_info', 'mouseover')|stimulus_action('card', 'hide_info', 'mouseout') }}
                     src="{{ asset('resources/logos/info_icon.svg') }}" alt="info_icon"/>
            </label>
        </div>

        {{ include('/dashboard/shared/settings_actions/_description.html.twig', {description: data.AUTH_METHOD_LOGIN_TRADITIONAL_DESCRIPTION.description}) }}

        <div class="flex flex-col items-center space-y-2 mt-5">
            {# ON Radio #}
            <label class="flex flex-row justify-between border hover:border-gray-900 duration-200 rounded-lg w-full p-2 pl-4" {{ stimulus_target('radio-card', 'input') }}>
                On
                <input type="radio"
                       name="{{ form.loginWithUUIDOnly.vars.full_name }}"
                       value="ON"
                       class="radio-input hidden"
                        {{ form.loginWithUUIDOnly.vars.value == 'ON' ? 'checked' : '' }}
                        {{ stimulus_action('radio', 'toggle') }}
                        {{ stimulus_target('radio-card', 'input') }}>
                <div class="custom-radio pr-3 pt-1.5 {{ form.loginWithUUIDOnly.vars.value == 'ON' ? '' : 'hidden' }}" {{ stimulus_target('radio', 'on') }}>
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="10" viewBox="0 0 14 10" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M13.0303 0.96967C13.3232 1.26256 13.3232 1.73744 13.0303 2.03033L6.03033 9.03033C5.73744 9.32322 5.26256 9.32322 4.96967 9.03033L0.96967 5.03033C0.676777 4.73744 0.676777 4.26256 0.96967 3.96967C1.26256 3.67678 1.73744 3.67678 2.03033 3.96967L5.5 7.43934L11.9697 0.96967C12.2626 0.676777 12.7374 0.676777 13.0303 0.96967Z"
                              fill="#210124"/>
                    </svg>
                </div>
            </label>

            {# OFF Radio #}
            <label class="flex flex-row justify-between border hover:border-gray-900 duration-200 rounded-lg w-full p-2 pl-4" {{ stimulus_target('radio-card', 'input') }}>
                Off
                <input type="radio"
                       name="{{ form.loginWithUUIDOnly.vars.full_name }}"
                       value="OFF"
                       class="radio-input hidden"
                        {{ form.loginWithUUIDOnly.vars.value == 'OFF' ? 'checked' : '' }}
                        {{ stimulus_action('radio', 'toggle') }}
                        {{ stimulus_target('radio-card', 'input') }}>
                <div class="custom-radio pr-3 pt-1.5 {{ form.loginWithUUIDOnly.vars.value == 'OFF' ? '' : 'hidden' }}" {{ stimulus_target('radio', 'off') }}>
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="10" viewBox="0 0 14 10" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M13.0303 0.96967C13.3232 1.26256 13.3232 1.73744 13.0303 2.03033L6.03033 9.03033C5.73744 9.32322 5.26256 9.32322 4.96967 9.03033L0.96967 5.03033C0.676777 4.73744 0.676777 4.26256 0.96967 3.96967C1.26256 3.67678 1.73744 3.67678 2.03033 3.96967L5.5 7.43934L11.9697 0.96967C12.2626 0.676777 12.7374 0.676777 13.0303 0.96967Z"
                              fill="#210124"/>
                    </svg>
                </div>
            </label>
        </div>

        <div class="mt-2 -mb-2 text-center text-red-500 text-base">
            {{ form_errors(form.loginWithUUIDOnly) }}
        </div>

        {# Mark the field as rendered so Symfony won't duplicate it #}
        {% do form.loginWithUUIDOnly.setRendered() %}
    </div>

</div>