<form action="{{ path('admin_dashboard_settings_radius') }}" method="post" enctype="multipart/form-data">
    {{ form_row(form._token) }}
    <div class="grid gap-4 lg:grid-cols-2 xl:grid-cols-3 p-2 z-0">
        {% for setting in form %}
            {# Display only the Radius settings #}
            {% if setting.vars.name in ['RADIUS_REALM_NAME', 'DISPLAY_NAME', 'OPERATOR_NAME','DOMAIN_NAME','RADIUS_TLS_NAME','NAI_REALM', 'RADIUS_TRUSTED_ROOT_CA_SHA1_HASH', 'PAYLOAD_IDENTIFIER', 'PROFILES_ENCRYPTION_TYPE_IOS_ONLY', 'USER_NOTIFY_TIME'] %}
                <div class="transition hover:-translate-y-1 hover:shadow bg-white rounded-md p-6 w-full" {{ stimulus_controller('card') }}>
                    {# Title and Icon #}
                    <div class="flex flex-row justify-between">
                        <div class="text-base font-medium text-center break-normal md:break-all">
                            {% set displayName = {
                                'RADIUS_REALM_NAME': 'Radius Realm Name',
                                'DISPLAY_NAME': 'Display Name',
                                'PAYLOAD_IDENTIFIER': 'Payload Identifier',
                                'OPERATOR_NAME': 'Operator Name',
                                'DOMAIN_NAME': 'Domain Name',
                                'RADIUS_TLS_NAME': 'Radius TLS NAME',
                                'NAI_REALM': 'NAI Realm',
                                'RADIUS_TRUSTED_ROOT_CA_SHA1_HASH': 'Trusted Root CA SHA1 Hash',
                                'PROFILES_ENCRYPTION_TYPE_IOS_ONLY': 'Profile Encrytion Type (IOS Only)',
                                'USER_NOTIFY_TIME': 'Time to notify users(days)',
                            }[setting.vars.name] ?? setting.vars.name %}
                            <h1 class="text-base md:text-lg whitespace-nowrap">{{ displayName }}</h1>
                        </div>
                        <label class="flex items-center bg-opacity-40">
                            <img class="w-6 cursor-pointer" {{ stimulus_target('card', 'button') }} {{ stimulus_action('card', 'show_info','mouseover')|stimulus_action('card', 'hide_info','mouseout') }}
                                 src="{{ asset('resources/logos/info_icon.svg') }}" alt="info_icon"/>
                        </label>
                    </div>

                    <div class="flex items-center space-x-2 mt-5">
                        {{ form_widget(setting, {'attr': {'class': 'form-widget', 'autocomplete': 'off'}}) }}
                    </div>

                    {{ include('/admin/shared/settings_actions/_description.html.twig', { description: setting.vars.attr.description }) }}

                    <div class="mt-2 -mb-2 text-center text-red-500 text-base">
                        {{ form_errors(setting) }}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="mt-8 divider-solid"></div>

    <div class="mt-6 flex flex-row w-full justify-end items-center gap-2">
        <a href="{{ path('app_dashboard_regenerate_code_admin', {'type': 'settingRadius'}) }}"
           onclick="return confirm('Are you sure you want to reset to the default settings?')"
           class="text-sm hover:text-red-600 font-bold p-2 rounded-lg transition ease-in duration-300">
            Reset
        </a>

        <button type="submit" class="btn-primary"
                onclick="return confirm('Are you sure you want to apply this new changes?')">Save Changes
        </button>
    </div>
</form>
