<table class="table-auto border-collapse border border-gray-300 w-full">
    <thead class="bg-gray-100">
    <tr>
        <th class="border border-gray-300 px-4 py-2 text-left">#</th>
        <th class="border border-gray-300 px-4 py-2 text-left">Name</th>
        <th class="border border-gray-300 px-4 py-2 text-left">Entity ID</th>
        <th class="border border-gray-300 px-4 py-2 text-left">ACS URL</th>
        <th class="border border-gray-300 px-4 py-2 text-left">Enabled</th>
        <th class="border border-gray-300 px-4 py-2 text-left">Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for samlProvider in samlProviders %}
        <tr class="{% if loop.index is odd %}bg-gray-50{% endif %}">
            <td class="border border-gray-300 px-4 py-2">{{ loop.index }}</td>
            <td class="border border-gray-300 px-4 py-2">{{ samlProvider.name }}</td>
            <td class="border border-gray-300 px-4 py-2">{{ samlProvider.idpEntityId }}</td>
            <td class="border border-gray-300 px-4 py-2">{{ samlProvider.idpSsoUrl }}</td>
            <td class="border border-gray-300 px-4 py-2">
                {% if samlProvider.active %}
                    <span class="text-green-600">Yes</span>
                {% else %}
                    <span class="text-red-600">No</span>
                {% endif %}
            </td>
            {#
            <td class="border border-gray-300 px-4 py-2">
                <a href="{{ path('saml_provider_edit', { id: samlProvider.id }) }}"
                   class="text-blue-600 hover:underline">Edit</a> |
                <a href="{{ path('saml_provider_delete', { id: samlProvider.id }) }}"
                   class="text-red-600 hover:underline"
                   onclick="return confirm('Are you sure you want to delete this item?')">Delete</a>
            </td>
            #}
        </tr>
    {% else %}
        <tr>
            <td class="border border-gray-300 px-4 py-2 text-center" colspan="6">No providers found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
