{% set groups = {
    DELETE_UNCONFIRMED_USERS_CRON: [
        '_advanced', '_day_of_week', '_day_of_week_frequency', '_day_of_month', '_day_of_month_frequency', '_months_of_the_year', '_months_of_the_year_frequency', '_time',
    ],
    USERS_WHEN_PROFILE_EXPIRES_CRON: [
        '_advanced', '_day_of_week', '_day_of_week_frequency', '_day_of_month', '_day_of_month_frequency', '_months_of_the_year', '_months_of_the_year_frequency', '_time',
    ],
    LDAP_SYNC_CRON: [
        '_advanced', '_day_of_week', '_day_of_week_frequency', '_day_of_month', '_day_of_month_frequency', '_months_of_the_year', '_months_of_the_year_frequency', '_time',
    ],
} %}

{% set fieldTitles = {
    _advanced: 'Advanced Mode',
    _day_of_week: 'Day of the Week',
    _day_of_week_frequency: 'Frequency on the Day of the Week',
    _day_of_month: 'Day of the Month',
    _day_of_month_frequency: 'Frequency on the Day of the Month',
    _months_of_the_year: 'Months of the Year',
    _months_of_the_year_frequency: 'Frequency in the Months',
    _time: 'Execution Time',
} %}

{% set fieldsDescriptions = {
    _advanced: 'Write a complete CRON expression.',
    _day_of_week: 'Select which weekdays it should run.',
    _day_of_week_frequency: 'Define how often it runs on selected weekdays.',
    _day_of_month: 'Select which days of the month it should run.',
    _day_of_month_frequency: 'Define how often it runs on selected month days.',
    _months_of_the_year: 'Select the months it should run.',
    _months_of_the_year_frequency: 'Define how often it runs during selected months.',
    _time: 'Set the time of day it should run.',
} %}

{# CRON WARNING #}
<div class="my-2 mr-2 p-2 z-0 text-base font-semibold w-full">
    <div class="flex bg-infoBgColor/50 rounded-lg p-4 text-xs md:text-sm text-infoTextColor" role="alert">
        <twig:ux:icon name="wba:info" class="w-10 md:w-5 h-10 md:h-5 inline mr-3" fill="currentColor"/>
        <span class="font-medium">
                Ctrl-click (or command-click on the Mac) to select multiple entries
            </span>
    </div>
</div>

<div {{ stimulus_controller('cron-toggle') }}>
    <form action="{{ path('admin_dashboard_settings_schedule') }}" method="post" enctype="multipart/form-data">
        {{ form_row(form._token) }}

        <div class="flex flex-col mx-4 space-x-3 space-y-2">
            <div>
                <label class="inline-flex items-center cursor-pointer gap-x-3">
                    {{ form_label(form.use_advanced_mode, null, {label_attr: {class: 'me-3'}}) }}
                    {{ form_widget(form.use_advanced_mode, {attr: {
                        class: 'sr-only peer',
                        'data-cron-toggle-target': 'toggle',
                        'data-action': 'cron-toggle#toggleChanged',
                    }}) }}
                    <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-bg-lightGreen rounded-full
                        peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white
                        after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border
                        after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-[#68D391]"></div>
                    {{ form_errors(form.use_advanced_mode) }}
                </label>
            </div>
        </div>

        <div class="grid gap-4 lg:grid-cols-2 xl:grid-cols-3 p-2 z-0 mt-4">
            {% for groupName, suffixes in groups %}
                <div class="transition hover:-translate-y-1 hover:shadow bg-white rounded-md p-6 w-full"
                     id="{{ groupName }}" {{ stimulus_controller('card') }}>

                    {# Header with title and info icon #}
                    <div class="flex justify-between items-center">
                        {% set displayName = {
                            DELETE_UNCONFIRMED_USERS_CRON: 'Delete Unconfirmed Account Automation',
                            USERS_WHEN_PROFILE_EXPIRES_CRON: 'Profile Expiration Notification Automation',
                            LDAP_SYNC_CRON: 'LDAP Synchronization Automation',
                        }[groupName] %}
                        <h1 class="text-base md:text-lg font-medium break-words">
                            {{ displayName }}
                        </h1>
                        <img class="w-5 h-5 cursor-pointer"
                                {{ stimulus_target('card', 'button') }}
                                {{ stimulus_action('card', 'show_info', 'mouseover')|stimulus_action('card', 'hide_info', 'mouseout') }}
                             src="{{ asset('resources/logos/info_icon.svg') }}"
                             alt="info_icon"/>
                    </div>

                    <div class="space-y-2 mt-5">
                        {# Description #}
                        {% set advancedFieldName = groupName ~ '_advanced' %}
                        {{ include('/admin/shared/settings_actions/_description.html.twig', {
                            description: attribute(form, advancedFieldName).vars.attr.description,
                        }) }}

                        {% set renderedTitles = [] %}
                        {% for suffix in suffixes %}
                            {% set fieldName = groupName ~ suffix %}
                            {% set toggleTarget = suffix|slice(1) %}
                            {% set labelTitle = fieldTitles[suffix] ?? null %}

                            {% if labelTitle and suffix not in renderedTitles %}
                                <div class="flex justify-between items-center relative" data-controller="card">
                                    <div data-cron-toggle-title="{{ toggleTarget }}"
                                         data-cron-toggle-group="{{ groupName }}"
                                         class="text-sm font-semibold text-gray-700">
                                        {{ labelTitle }}
                                    </div>
                                    <img class="w-5 h-5 cursor-pointer"
                                            {{ stimulus_target('card', 'button') }}
                                            {{ stimulus_action('card', 'show_info', 'mouseover')|stimulus_action('card', 'hide_info', 'mouseout') }}
                                         src="{{ asset('resources/logos/info_icon.svg') }}"
                                         alt="info_icon"/>

                                    {# Cron Field Description #}
                                    <div
                                            id="{{ groupName }}_{{ toggleTarget }}_desc"
                                            class="bg-indigo-400 rounded-lg p-2 z-10 w-3/4 text-center text-white transition ease-in-out duration-300 absolute hidden"
                                            style="left: 50%; top: 100%; transform: translateX(-50%) translateY(8px); z-index: 10;"
                                            data-card-target="info"
                                            data-description-id="{{ groupName }}_{{ toggleTarget }}"
                                    >
                                        {{ fieldsDescriptions[suffix] }}
                                    </div>
                                </div>
                                {% set renderedTitles = renderedTitles|merge([suffix]) %}
                            {% endif %}

                            <div class="form-group" data-cron-toggle-group="{{ groupName }}">
                                {{ form_widget(attribute(form, fieldName), {
                                    attr: {
                                        class: 'form-widget',
                                        'data-cron-toggle-target': toggleTarget,
                                        'data-cron-toggle-group': groupName,
                                    },
                                }) }}
                                {# TODO FIX THIS PROBLEM WITH THIS FORM DISPLAY, its on the profile but doesn't render on the twig UI #}
                                <div class="text-red-500 text-sm mt-1">
                                {{ form_errors(attribute(form, fieldName)) }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>

        <div data-cron-toggle-target="alerts">
            {% if deleteUnconfirmedWarning %}
                <div class="alert-block my-4 p-2">
                    <div class="flex items-center gap-2 p-4 border-l-4 border-yellow-500 bg-yellow-50 text-yellow-800 text-sm rounded-md"
                         role="alert">
                        <twig:ux:icon name="wba:info" class="w-10 md:w-5 h-10 md:h-5 inline mr-3" fill="currentColor"/>
                        <span class="font-medium">
                             Saving in <strong>simple mode</strong> will remove the {{ deleteUnconfirmedWarning }} frequency settings for the <strong>Delete Unconfirmed Account Automation</strong> cron.
                        </span>
                    </div>
                </div>
            {% endif %}
            {% if profileExpiredWarning %}
                <div class="alert-block my-4 p-2">
                    <div class="flex items-center gap-2 p-4 border-l-4 border-yellow-500 bg-yellow-50 text-yellow-800 text-sm rounded-md"
                         role="alert">
                        <twig:ux:icon name="wba:info" class="w-10 md:w-5 h-10 md:h-5 inline mr-3" fill="currentColor"/>
                        <span class="font-medium">
                            Saving in <strong>simple mode</strong> will reset the {{ profileExpiredWarning }} frequency settings for the <strong>Profile Expiration Notification Automation</strong> cron.
                        </span>
                    </div>
                </div>
            {% endif %}
            {% if ldapCronWarning %}
                <div class="alert-block my-4 p-2">
                    <div class="flex items-center gap-2 p-4 border-l-4 border-yellow-500 bg-yellow-50 text-yellow-800 text-sm rounded-md"
                         role="alert">
                        <twig:ux:icon name="wba:info" class="w-10 md:w-5 h-10 md:h-5 inline mr-3" fill="currentColor"/>
                        <span class="font-medium">
                             Saving in <strong>simple mode</strong> will remove the {{ deleteUnconfirmedWarning }} frequency settings for the <strong>LDAP Synchronization Automation</strong> cron.
                        </span>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="mt-6 divider-solid"></div>

        <div class="mt-6 flex flex-row w-full justify-end items-center gap-2">
            <a href="{{ path('app_dashboard_regenerate_code_admin', {type: 'settingSchedule'}) }}"
               onclick="return confirm('Are you sure you want to reset to the default settings?')"
               class="text-sm hover:text-red-600 font-bold p-2 rounded-lg transition ease-in duration-300">
                Reset
            </a>

            <button type="submit" class="btn-primary"
                    onclick="return confirm('Are you sure you want to apply this new changes?')">
                Save Changes
            </button>
        </div>
    </form>
</div>
