<div {{ stimulus_controller('radio-msg') }}>
    {{ form_start(formTwoFA, {attr: {enctype: 'multipart/form-data'}}) }}
    {{ form_errors(formTwoFA) }}

    <div class="grid gap-4 lg:grid-cols-3 p-2 z-0" {{ stimulus_controller('radio-card') }}>
        {% for setting in formTwoFA %}
            {# Display only the 2FA settings #}
            {% if setting.vars.name in ['TWO_FACTOR_AUTH_STATUS', 'TWO_FACTOR_AUTH_APP_LABEL', 'TWO_FACTOR_AUTH_APP_ISSUER', 'TWO_FACTOR_AUTH_CODE_EXPIRATION_TIME', 'TWO_FACTOR_AUTH_ATTEMPTS_NUMBER_RESEND_CODE', 'TWO_FACTOR_AUTH_TIME_RESET_ATTEMPTS', 'TWO_FACTOR_AUTH_RESEND_INTERVAL'] %}
                <div class="transition hover:-translate-y-1 hover:shadow bg-white rounded-md p-6 w-full"
                     name="statusCards"
                     id="{{ setting.vars.name }}" {{ stimulus_controller('radio card three-options_radio') }}>
                    {# Title and Icon #}
                    <div class="flex flex-row justify-between">
                        <div class="text-base font-medium text-center break-normal md:break-all">
                            {% set displayName = {
                                TWO_FACTOR_AUTH_STATUS: 'Status',
                                TWO_FACTOR_AUTH_APP_LABEL: 'TOTP app Label',
                                TWO_FACTOR_AUTH_APP_ISSUER: 'TOTP app Issuer',
                                TWO_FACTOR_AUTH_CODE_EXPIRATION_TIME: 'Expiration Time (secs)',
                                TWO_FACTOR_AUTH_ATTEMPTS_NUMBER_RESEND_CODE: 'Resend attempts count',
                                TWO_FACTOR_AUTH_TIME_RESET_ATTEMPTS: 'Time to reset attempts (min)',
                                TWO_FACTOR_AUTH_RESEND_INTERVAL: 'Time interval to resend (secs)',
                            }
                                [setting.vars.name] ?? setting.vars.name %}
                            <h1 class="text-lg md:text-xl whitespace-nowrap">{{ displayName }}</h1>
                        </div>
                        <label class="flex items-center bg-opacity-40">
                            <img class="w-6 cursor-pointer" {{ stimulus_target('card', 'button') }} {{ stimulus_action('card', 'show_info', 'mouseover')|stimulus_action('card', 'hide_info', 'mouseout') }}
                                 src="{{ asset('resources/logos/info_icon.svg') }}"
                                 alt="info_icon"/>
                        </label>
                    </div>
                    {% if setting.vars.name in ['TWO_FACTOR_AUTH_STATUS'] %}
                        <div class="flex items-center space-x-2 mt-5">
                            {{ form_widget(setting, {attr: {class: 'hidden p-2 bg-transparent border text-center outline-none text-left text-base block w-full rounded-md  focus:shadow-sm'}}) }}
                        </div>
                    {% endif %}

                    {% if setting.vars.name in ['TWO_FACTOR_AUTH_STATUS'] %}
                        <div class="flex flex-col items-center space-y-2 mt-5">
                            {# Render "NOT_ENFORCED" Radio Input #}
                            <label class="flex flex-row justify-between border hover:border-gray-900 duration-200 rounded-lg w-full p-2 pl-4"
                                   name="onLabelEmail">
                                Not Enforced
                                <input type="radio" name="{{ formTwoFA.TWO_FACTOR_AUTH_STATUS.vars.full_name }}"
                                       id="onRadioEmail"
                                       value="NOT_ENFORCED"
                                       class="radio-input hidden"
                                       {% if formTwoFA.TWO_FACTOR_AUTH_STATUS.vars.data == constant('App\\Enum\\TwoFAType::NOT_ENFORCED').value %}checked{% endif %}
                                       data-action="input->three-options-radio#toggle">
                                <div class="custom-radio pr-3 pt-1.5 {% if formTwoFA.TWO_FACTOR_AUTH_STATUS.vars.data != constant('App\\Enum\\TwoFAType::NOT_ENFORCED').value %}hidden{% endif %}"
                                     data-option-target="NOT_ENFORCED">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="10"
                                         viewBox="0 0 14 10"
                                         fill="none">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                              d="M13.0303 0.96967C13.3232 1.26256 13.3232 1.73744 13.0303 2.03033L6.03033 9.03033C5.73744 9.32322 5.26256 9.32322 4.96967 9.03033L0.96967 5.03033C0.676777 4.73744 0.676777 4.26256 0.96967 3.96967C1.26256 3.67678 1.73744 3.67678 2.03033 3.96967L5.5 7.43934L11.9697 0.96967C12.2626 0.676777 12.7374 0.676777 13.0303 0.96967Z"
                                              fill="#210124"></path>
                                    </svg>
                                </div>
                            </label>

                            {# Render "ENFORCED_FOR_LOCAL" Radio Input #}
                            <label class="flex flex-row justify-between border hover:border-gray-900 duration-200 rounded-lg w-full p-2 pl-4"
                                   name="offLabelEmail">
                                Enforced for Local accounts only
                                <input type="radio" name="{{ formTwoFA.TWO_FACTOR_AUTH_STATUS.vars.full_name }}"
                                       id="offRadioEmail"
                                       value="ENFORCED_FOR_LOCAL"
                                       class="radio-input hidden"
                                        {{ formTwoFA.TWO_FACTOR_AUTH_STATUS.vars.data == constant('App\\Enum\\TwoFAType::ENFORCED_FOR_LOCAL').value ? 'checked' : '' }}
                                       data-action="input->three-options-radio#toggle">
                                <div class="custom-radio pr-3 pt-1.5 {{ formTwoFA.TWO_FACTOR_AUTH_STATUS.vars.data == constant('App\\Enum\\TwoFAType::ENFORCED_FOR_LOCAL').value ? '' : 'hidden' }}"
                                     data-option-target="ENFORCED_FOR_LOCAL">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="10"
                                         viewBox="0 0 14 10"
                                         fill="none">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                              d="M13.0303 0.96967C13.3232 1.26256 13.3232 1.73744 13.0303 2.03033L6.03033 9.03033C5.73744 9.32322 5.26256 9.32322 4.96967 9.03033L0.96967 5.03033C0.676777 4.73744 0.676777 4.26256 0.96967 3.96967C1.26256 3.67678 1.73744 3.67678 2.03033 3.96967L5.5 7.43934L11.9697 0.96967C12.2626 0.676777 12.7374 0.676777 13.0303 0.96967Z"
                                              fill="#210124"></path>
                                    </svg>
                                </div>
                            </label>

                            {# Render "ENFORCED_FOR_ALL" Radio Input #}
                            <label class="flex flex-row justify-between border hover:border-gray-900 duration-200 rounded-lg w-full p-2 pl-4"
                                   name="offLabelEmail">
                                Enforced for all accounts
                                <input type="radio" name="{{ formTwoFA.TWO_FACTOR_AUTH_STATUS.vars.full_name }}"
                                       id="offRadioEmail"
                                       value="ENFORCED_FOR_ALL"
                                       class="radio-input hidden"
                                        {{ formTwoFA.TWO_FACTOR_AUTH_STATUS.vars.data == constant('App\\Enum\\TwoFAType::ENFORCED_FOR_ALL').value ? 'checked' : '' }}
                                       data-action="input->three-options-radio#toggle">
                                <div class="custom-radio pr-3 pt-1.5 {{ formTwoFA.TWO_FACTOR_AUTH_STATUS.vars.data == constant('App\\Enum\\TwoFAType::ENFORCED_FOR_ALL').value ? '' : 'hidden' }}"
                                     data-option-target="ENFORCED_FOR_ALL">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="10"
                                         viewBox="0 0 14 10"
                                         fill="none">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                              d="M13.0303 0.96967C13.3232 1.26256 13.3232 1.73744 13.0303 2.03033L6.03033 9.03033C5.73744 9.32322 5.26256 9.32322 4.96967 9.03033L0.96967 5.03033C0.676777 4.73744 0.676777 4.26256 0.96967 3.96967C1.26256 3.67678 1.73744 3.67678 2.03033 3.96967L5.5 7.43934L11.9697 0.96967C12.2626 0.676777 12.7374 0.676777 13.0303 0.96967Z"
                                              fill="#210124"></path>
                                    </svg>
                                </div>
                            </label>
                        </div>
                    {% endif %}
                    {% if setting.vars.name in ['TWO_FACTOR_AUTH_APP_LABEL', 'TWO_FACTOR_AUTH_APP_ISSUER', 'TWO_FACTOR_AUTH_CODE_EXPIRATION_TIME', 'TWO_FACTOR_AUTH_ATTEMPTS_NUMBER_RESEND_CODE', 'TWO_FACTOR_AUTH_TIME_RESET_ATTEMPTS', 'TWO_FACTOR_AUTH_RESEND_INTERVAL'] %}
                        <div class="mt-5">
                            {{ form_widget(setting, {attr: {class: 'form-widget'}}) }}
                        </div>
                    {% endif %}

                    {{ include('/admin/shared/settings_actions/_description.html.twig', {description: setting.vars.attr.description}) }}

                    <div class="mt-2 -mb-2 text-center text-red-500 text-base">
                        {{ form_errors(setting) }}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="mt-6 divider-solid"></div>

    <div class="mt-6 flex flex-row w-full justify-end items-center gap-2">
        <a href="{{ path('app_dashboard_regenerate_code_admin', {type: 'settingTwoFA'}) }}"
           onclick="return confirm('Are you sure you want to reset to the default settings?')"
           class="text-sm hover:text-red-600 font-bold p-2 rounded-lg transition ease-in duration-300">
            Reset
        </a>

        <button type="submit" class="btn-primary"
                onclick="return confirm('Are you sure you want to apply this new changes?')">Save Changes
        </button>
    </div>
    {{ form_end(formTwoFA) }}
</div>
