<div class="transition hover:-translate-y-1 hover:shadow bg-white rounded-md p-6 w-full" {{ stimulus_controller('card') }}>
    {# Header with title and info icon #}
    <div class="flex justify-between items-center">
        <h1 class="text-base md:text-lg font-medium break-words">
            {{ label }}
        </h1>
        <img class="w-5 h-5 cursor-pointer"
                {{ stimulus_target('card', 'button') }}
                {{ stimulus_action('card', 'show_info', 'mouseover')|stimulus_action('card', 'hide_info', 'mouseout') }}
             src="{{ asset('resources/logos/info_icon.svg') }}"
             alt="info_icon"/>
    </div>

    <div class="{{ 'hidden' in field.advanced.vars.attr.class ? 'hidden' : '' }}">
        {{ include('admin/shared/settings_actions/schedule/subcard.html.twig', {
            field: field.advanced,
            field_label: 'Advanced Mode',
            description: 'Select which days of the month it should run.',
        }) }}
    </div>

    <div class="{{ 'hidden' in field.day_of_week.vars.attr.class ? 'hidden' : '' }}">
        {{ include('admin/shared/settings_actions/schedule/subcard.html.twig', {
            field: field.day_of_week,
            frequency_field: field.day_of_week_frequency,
            field_label: 'Day of the Week',
            frequency_label: 'Frequency on the Day of the Week',
            description: 'Select which weekdays it should run.',
            frequency_description: 'Define how often it runs on selected weekdays.'
        }) }}
    </div>

    <div class="{{ 'hidden' in field.day_of_month.vars.attr.class ? 'hidden' : '' }}">
        {{ include('admin/shared/settings_actions/schedule/subcard.html.twig', {
            field: field.day_of_month,
            frequency_field: field.day_of_month_frequency,
            field_label: 'Day of the Month',
            frequency_label: 'Frequency on the Day of the Month',
            description: 'Select which days of the month it should run.',
            frequency_description: 'Define how often it runs on selected month days.'
        }) }}
    </div>

    <div class="{{ 'hidden' in field.months_of_the_year.vars.attr.class ? 'hidden' : '' }}">
        {{ include('admin/shared/settings_actions/schedule/subcard.html.twig', {
            field: field.months_of_the_year,
            frequency_field: field.months_of_the_year_frequency,
            field_label: 'Months of the Year',
            frequency_label: 'Frequency in the Months',
            description: 'Select the months it should run.',
            frequency_description: 'Define how often it runs during selected months.'
        }) }}
    </div>

    <div class="{{ 'hidden' in field.time.vars.attr.class ? 'hidden' : '' }}">
        {{ include('admin/shared/settings_actions/schedule/subcard.html.twig', {
            field: field.time,
            field_label: 'Execution Time',
            description: 'Set the time of day it should run.'
        }) }}
    </div>
</div>
