<div class="bg-white rounded-lg transition-all duration-300 px-10 py-[35px] h-[calc(90%)] lg:h-[calc(69%)] w-[810px] overflow-auto">

    <div class="flex flex-row justify-start items-center">
        <h1 class="text-primary text-xl font-semibold">Account Info</h1>
        <button type="button"
                class="ml-auto flex flex-row justify-end gap-x-[12px] items-center text-[#707070]" {{ stimulus_action('widget', 'close') }}>
            <span>Close</span>

            <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22">
                <g transform="translate(-1339 -73)">
                    <g transform="translate(-13)">
                        <path d="M11,2a9,9,0,1,0,9,9,9.01,9.01,0,0,0-9-9m0-2A11,11,0,1,1,0,11,11,11,0,0,1,11,0Z"
                              transform="translate(1352 73)"/>
                        <g transform="translate(371.077 -88.924)">
                            <path d="M0,7.847a1,1,0,0,1-.707-.293,1,1,0,0,1,0-1.414L6.14-.707a1,1,0,0,1,1.414,0,1,1,0,0,1,0,1.414L.707,7.554A1,1,0,0,1,0,7.847Z"
                                  transform="translate(988.5 169.5)"/>
                            <path d="M6.847,7.847a1,1,0,0,1-.707-.293L-.707.707a1,1,0,0,1,0-1.414,1,1,0,0,1,1.414,0L7.554,6.14a1,1,0,0,1-.707,1.707Z"
                                  transform="translate(988.5 169.5)"/>
                        </g>
                    </g>
                </g>
            </svg>
        </button>
    </div>

    <form method="POST" action="{{ path('app_site_account_user') }}">
        <h1 class="text-lg mb-8 mt-10">Personal Data</h1>

        {{ form_start(form) }}
        {{ form_errors(form) }}

        <div class="flex flex-col lg:flex-row gap-x-6 gap-y-8">
            <div class="relative w-full">
                {{ form_label(form.firstName, 'First Name', {'label_attr': { 'class': "form-label"}}) }}
                {{ form_widget(form.firstName, {'attr': {'class': 'form-widget'}}) }}
                {{ form_errors(form.firstName) }}
            </div>

            <div class="relative w-full">
                {{ form_widget(form.lastName, {'attr': {'class': 'form-widget'}}) }}
                {{ form_label(form.lastName, 'Last Name', {'label_attr': { 'class': "form-label"}}) }}
                {{ form_errors(form.lastName) }}
            </div>
        </div>

        <button id="widgetConfirmAccount" class="mt-6 w-[180px] btn-primary" type="submit" disabled>Apply Changes
        </button>

        {{ form_rest(form) }}
        {{ form_end(form) }}
    </form>

    {# divider #}
    <div class="divider my-8"></div>

    <form method="POST" action="{{ path('app_site_account_user') }}">
        <h1 class="text-lg mb-8">New Password</h1>

        {{ form_start(formPassword) }}
        {{ form_errors(formPassword) }}

        <div class="flex flex-col gap-x-6 gap-y-8">
            <div class="flex flex-col lg:flex-row gap-x-6 gap-y-8">
                <div class="relative w-full">
                    {{ form_label(formPassword.password, 'Current Password', {'label_attr': { 'class': "form-label"}}) }}
                    {{ form_widget(formPassword.password, {'attr': {'class': 'form-widget'}}) }}
                    {{ form_errors(formPassword.password) }}
                </div>

                <div class="hidden lg:flex w-full"></div>
            </div>

            <div class="flex flex-col lg:flex-row gap-x-6 gap-y-8">
                <div class="relative w-full">
                    {{ form_label(formPassword.newPassword, 'New Password', {'label_attr': { 'class': "form-label"}}) }}
                    {{ form_widget(formPassword.newPassword, {'attr': { 'class': 'form-widget', 'minlength': 7 }}) }}
                    {{ form_errors(formPassword.newPassword) }}
                </div>

                <div class="relative w-full">
                    {{ form_label(formPassword.confirmPassword, 'Confirm Password', {'label_attr': { 'class': "form-label"}}) }}
                    {{ form_widget(formPassword.confirmPassword, {'attr': { 'class': 'form-widget', 'minlength': 7 }}) }}
                    {{ form_errors(formPassword.confirmPassword) }}
                </div>
            </div>
        </div>

        {# Turnstile Checker #}
        {% if data.TURNSTILE_CHECKER.value == constant('App\\Enum\\EmailConfirmationStrategy::EMAIL') %}
            <div class="ml-3 mt-5">
                {{ form_widget(formPassword.security) }}
            </div>
        {% endif %}

        <button id="submitPassword" class="mt-6 w-[180px] btn-primary" type="submit" disabled>Reset Password
        </button>

        {{ form_rest(formPassword) }}
        {{ form_end(formPassword) }}
    </form>
</div>
