<div class="w-full lg:w-1/2 bg-white rounded-md p-4">
    <form {% if type == 'password' %} action="{{ path('admin_confirm_checker', {'type': 'password'}) }}"{% endif %}
            {% if type == 'settingMain' %} action="{{ path('admin_confirm_checker', {'type': 'settingMain'}) }}"{% endif %}
            {% if type == 'settingCustom' %} action="{{ path('admin_confirm_checker', {'type': 'settingCustom'}) }}"{% endif %}
            {% if type == 'settingTerms' %} action="{{ path('admin_confirm_checker', {'type': 'settingTerms'}) }}"{% endif %}
            {% if type == 'settingRadius' %} action="{{ path('admin_confirm_checker', {'type': 'settingRadius'}) }}"{% endif %}
            {% if type == 'settingStatus' %} action="{{ path('admin_confirm_checker', {'type': 'settingStatus'}) }}"{% endif %}
            method="post">
        <label for="code" class="block text-center text-lg mb-6">Enter the verification code from your
            email</label>
        <input type="number" id="code" name="code"
               class="flex justify-center w-1/2 mx-auto mt-2 p-2 pl-4 bg-transparent border outline-none rounded-lg focus:outline-none text-center"
               oninput="if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
               maxlength="6">
        <div class="flex flex-col md:flex-row justify-center md:justify-between space-x-2 space-y-2 mt-4">
            <div class="flex justify-start items-end pb-2">
                <p>Click
                    <a {% if type == 'password' %}href="{{ path('app_dashboard_regenerate_code_admin', {'type': 'password'}) }}"{% endif %}
                            {% if type == 'settingMain' %}href="{{ path('app_dashboard_regenerate_code_admin', {'type': 'settingMain'}) }}"{% endif %}
                            {% if type == 'settingCustom' %}href="{{ path('app_dashboard_regenerate_code_admin', {'type': 'settingCustom'}) }}"{% endif %}
                            {% if type == 'settingTerms' %}href="{{ path('app_dashboard_regenerate_code_admin', {'type': 'settingTerms'}) }}"{% endif %}
                            {% if type == 'settingRadius' %}href="{{ path('app_dashboard_regenerate_code_admin', {'type': 'settingRadius'}) }}"{% endif %}
                            {% if type == 'settingStatus' %} href="{{ path('app_dashboard_regenerate_code_admin', {'type': 'settingStatus'}) }}"{% endif %}
                       class="font-bold mt-5">here</a> to
                    generate a
                    new
                    email with a new code</p>
            </div>
            <button class="text-sm hover:bg-veryDarkButton hover:text-white font-bold p-3 rounded-lg transition ease-in duration-300"
                    type="submit">
                Verify
            </button>
        </div>
    </form>
</div>
