<div class="grid gap-8 sm:gap-12 lg:gap-16 lg:grid-cols-3" data-controller="descriptionCard freeradiusStatistics">
    {# Authentications Attempts #}
    <div class="col-span-3 md:col-span-1 w-full bg-white rounded-lg px-5 py-3 flex flex-col gap-6 shadow">
        <h1 class="text-lg font-medium text-left sm:pt-2">Authentication Attempts</h1>
        <div class="flex flex-col sm:flex-row justify-center items-center space-y-6 sm:space-y-0 sm:space-x-4">
            <a class="cursor-default flex flex-row group hover:text-[#7DB928] hover:border-b-2 hover:border-y-[#7DB928]/50 transition-all duration-100">
                <h1 class="px-2 text-base sm:text-lg">
                    Accepted
                </h1>
                <div class="mb-1 bg-veryLightGreen group-hover:bg-[#7DB928] rounded-md group-hover:text-white text-center transition-all duration-100">
                    <span class="w-auto h-6 mb-1 px-2">{{ authCounts['Accepted'] }}</span>
                </div>
            </a>
            <a class="cursor-default flex flex-row group hover:text-[#FE4068] hover:border-b-2 hover:border-y-[#FE4068]/50 transition-all duration-100">
                <h1 class="px-2 text-base sm:text-lg">
                    Rejected
                </h1>
                <div class="mb-1 bg-veryLightGreen group-hover:bg-[#FE4068] rounded-md group-hover:text-white text-center transition-all duration-100">
                    <span class="w-auto h-6 mb-1 px-2">{{ authCounts['Rejected'] }}</span>
                </div>
            </a>
        </div>
        <div class="flex flex-col gap-6 animate-fadeIn">
            <canvas class="max-w-full" id="authAttemptsChart" data-devices
                    data-chart-data="{{ authAttemptsJson }}"></canvas>
        </div>
    </div>

    {# Session Time #}
    <div class="col-span-3 md:col-span-1 w-full bg-white rounded-lg p-4 gap-4 shadow-md">
        <div class="flex flex-row justify-between sm:pt-2 font-medium">
            <h1 class="text-lg text-left">Session Time</h1>
            <span class="text-base text-gray-500 text-left">(in Hours)</span>
        </div>
        <div class="mx-8 mt-10 flex md:flex-row flex-col justify-center md:justify-between items-center md:space-x-6 space-x-0">
            <div class="flex flex-col">
                <h1 class="text-center font-semibold">
                    Average
                </h1>
                {% if sessionTimeAverageSeconds > 0 %}
                    {% set sizeClass = 'w-32 h-32' %}
                    {% if sessionTimeAverageSeconds >= 1000 %}
                        {% set sizeClass = 'w-36 h-36' %}
                    {% endif %}
                    {% if sessionTimeAverageSeconds >= 10000 %}
                        {% set sizeClass = 'w-40 h-40' %}
                    {% endif %}
                    <div class="mt-4 flex items-center justify-center bg-[#7DB928] rounded-full text-white text-3xl font-bold {{ sizeClass }}">
                        {{ sessionTimeAverage }}
                    </div>
                {% else %}
                    <div class="bg-red-500/50 rounded-full m-2 p-2 mt-4 text-red-500 font-semibold text-center md:text-base text-sm">
                        No Data Available
                    </div>
                {% endif %}
            </div>
            <div class="mt-8 md:mt-0 flex flex-col">
                <h1 class="text-center font-semibold">
                    Total
                </h1>
                {% if sessionTimeTotalSeconds > 0 %}
                    {% set sizeClass = 'w-32 h-32' %}
                    {% if sessionTimeTotalSeconds >= 1000 %}
                        {% set sizeClass = 'w-36 h-36' %}
                    {% endif %}
                    {% if sessionTimeTotalSeconds >= 10000 %}
                        {% set sizeClass = 'w-40 h-40' %}
                    {% endif %}
                    <div class="mt-4 flex items-center justify-center bg-[#7DB928] rounded-full text-white text-3xl font-bold {{ sizeClass }}">
                        {{ sessionTimeTotal }}
                    </div>
                {% else %}
                    <div class="bg-red-500/50 rounded-full m-2 p-2 mt-4 text-red-500 font-semibold text-center md:text-base text-sm">
                        No Data Available
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    {# Display All Traffic #}
    <div class="col-span-3 md:col-span-1 w-full bg-white rounded-lg p-4 gap-4 shadow-md">
        <div class="flex flex-row justify-between sm:pt-2 font-medium">
            <h1 class="text-lg text-left">Total of Traffic</h1>
            <span class="text-base text-gray-500 text-left">(in GigaBytes)</span>
        </div>
        <div class="mx-8 md:mt-14 flex md:flex-row flex-col justify-center md:justify-between items-center md:space-x-6 space-x-0">
            <div class="flex flex-col">
                <h1 class="text-center font-semibold">
                    Uploads
                </h1>
                {% if totalTrafficFreeradius['total_input'] >= 0.1 %}
                    {% set sizeClass = 'w-24 h-24' %}
                    {% if totalTrafficFreeradius['total_input'] >= 1000 %}
                        {% set sizeClass = 'w-32 h-32' %}
                    {% endif %}
                    {% if totalTrafficFreeradius['total_input'] >= 10000 %}
                        {% set sizeClass = 'w-36 h-36' %}
                    {% endif %}
                    {% if totalTrafficFreeradius['total_input'] >= 100000 %}
                        {% set sizeClass = 'w-40 h-40' %}
                    {% endif %}
                    <div class="mt-4 flex items-center justify-center bg-[#7DB928] rounded-full text-white text-4xl font-bold {{ sizeClass }}">
                        {{ totalTrafficFreeradius['total_input'] }}
                    </div>
                {% else %}
                    <div class="bg-red-500/50 rounded-full m-2 p-2 mt-4 text-red-500 font-semibold text-center md:text-base text-sm">
                        No Data Available
                    </div>
                {% endif %}
            </div>
            <div class="mt-8 md:mt-0 flex flex-col">
                <h1 class="text-center font-semibold">
                    Downloads
                </h1>
                {% if totalTrafficFreeradius['total_output'] >= 0.1 %}
                    {% set sizeClass = 'w-24 h-24' %}
                    {% if totalTrafficFreeradius['total_output'] >= 1000 %}
                        {% set sizeClass = 'w-32 h-32' %}
                    {% endif %}
                    {% if totalTrafficFreeradius['total_output'] >= 10000 %}
                        {% set sizeClass = 'w-36 h-36' %}
                    {% endif %}
                    {% if totalTrafficFreeradius['total_output'] >= 100000 %}
                        {% set sizeClass = 'w-40 h-40' %}
                    {% endif %}
                    <div class="mt-4 flex items-center justify-center bg-[#7DB928] rounded-full text-white text-4xl font-bold {{ sizeClass }}">
                        {{ totalTrafficFreeradius['total_output'] }}
                    </div>
                {% else %}
                    <div class="bg-red-500/50 rounded-full m-2 p-2 mt-4 text-red-500 font-semibold text-center md:text-base text-sm">
                        No Data Available
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="mt-10 grid gap-8 sm:gap-12 lg:gap-16 grid-cols-3" data-controller="descriptionCard freeradiusStatistics">
    {# Realm Usage #}
    <div class="col-span-3 md:col-span-2 xl:col-span-2 w-full bg-white rounded-lg px-5 py-3 flex flex-col gap-6 shadow">
        <h1 class="text-lg font-medium text-left sm:pt-2">Realm Usage</h1>
        <div class="flex flex-col gap-6 animate-fadeIn">
            <div class="max-w-full relative">
                <table class="w-full h-1/2 divide-y divide-gray-200 table-fixed">
                    <thead class="bg-veryLightGreen text-gray-700 font-bold rounded-t-md">
                    <tr>
                        <th scope="col"
                            class="md:w-2/12 w-3/12 p-6 text-left text-xs text-gray-500 uppercase tracking-wider">
                            Usage
                        </th>
                        <th scope="col" class="p-6 text-left text-xs text-gray-500 uppercase tracking-wider">
                            Realm Name
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if realmsUsage is empty %}
                        <tr>
                            <td colspan="2">
                                <div class="bg-red-500/50 rounded-full m-4 p-1 mt-4 text-red-500 font-semibold text-center md:text-base text-sm">
                                    No Data Available
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        {% for index, label in realmsUsage %}
                            <tr name="{{ label }}"
                                onmouseover="this.childNodes[1].childNodes[1].style.backgroundColor='{{ datasetsRealmList[0]['backgroundColor'][index] }}'; this.childNodes[1].childNodes[1].style.color='#f1f8f4';"
                                onmouseout="this.childNodes[1].childNodes[1].style.backgroundColor='#f1f8f4'; this.childNodes[1].childNodes[1].style.color='#594B60';"
                            >
                                <td class="w-full px-8 py-2">
                                    <div class="px-2 py-1 md:p-0 w-full bg-veryLightGreen rounded-full flex justify-center items-center transition-all duration-200">
                        <span>
                            {{ datasetsRealmList[0]['data'][index] }}
                        </span>
                                    </div>
                                </td>
                                <td class="w-full px-6 py-2 whitespace-nowrap transition-all duration-200">
                                    <div class="text-left text-base sm:text-lg">
                                        {{ label }}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {# No need data filter card - Total of current authentications #}
    <div class="z-0 text-base font-semibold w-full">
        <div class="col-span-3 sm:col-span-1 w-full bg-white rounded-lg p-6 flex flex-col justify-center items-center gap-4 shadow-md">
            <h1 class="text-lg font-medium text-center">Total of Current Authentications</h1>
            {% if totalCurrentAuths >= 1 %}
                {% set sizeClass = 'w-24 h-24' %}
                {% if totalCurrentAuths >= 10000 %}
                    {% set sizeClass = 'w-32 h-32' %}
                {% endif %}
                {% if totalCurrentAuths >= 100000 %}
                    {% set sizeClass = 'w-36 h-36' %}
                {% endif %}
                {% if totalCurrentAuths >= 1000000 %}
                    {% set sizeClass = 'w-40 h-40' %}
                {% endif %}
                <div class="mt-4 flex items-center justify-center bg-[#7DB928] rounded-full text-white text-4xl font-bold {{ sizeClass }}">
                    {{ totalCurrentAuths }}
                </div>
            {% else %}
                <div class="bg-red-500/50 rounded-full m-2 p-2 mt-4 text-red-500 font-semibold text-center md:text-base text-sm">
                    No Data Available
                </div>
            {% endif %}
            <div class="flex bg-infoBgColor/50 rounded-lg p-4 mt-8 text-sm text-infoTextColor" role="alert">
                <svg class="w-10 md:w-5 h-10 md:h-5 inline mr-3" fill="currentColor" viewBox="0 0 20 20"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012-0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
                          clip-rule="evenodd"></path>
                </svg>
                <div>
                    <span class="font-medium">This card is independent of the date filtering.</span>
                </div>
            </div>
        </div>
    </div>
</div>
