<div class="grid gap-8 sm:gap-12 lg:gap-16 lg:grid-cols-3" data-controller="descriptionCard freeradiusStatistics">
    {# Authentications Attempts #}
    <div class="w-full bg-white rounded-lg px-5 py-3 flex flex-col gap-6 shadow">
        <h1 class="text-lg font-medium text-left sm:pt-2">Authentication Attempts</h1>
        <div class="flex flex-col sm:flex-row justify-center items-center space-y-6 sm:space-y-0 sm:space-x-4">
            <a class="cursor-default flex flex-row group hover:text-[#7DB928] hover:border-b-2 hover:border-y-[#7DB928]/50 transition-all duration-100">
                <h1 class="px-2 text-base sm:text-lg">
                    Accepted
                </h1>
                <div class="mb-1 bg-veryLightGreen group-hover:bg-[#7DB928] rounded-md group-hover:text-white text-center transition-all duration-100">
                    <span class="w-auto h-6 mb-1 px-2">{{ authCounts['Accepted'] }}</span>
                </div>
            </a>
            <a class="cursor-default flex flex-row group hover:text-[#FE4068] hover:border-b-2 hover:border-y-[#FE4068]/50 transition-all duration-100">
                <h1 class="px-2 text-base sm:text-lg">
                    Rejected
                </h1>
                <div class="mb-1 bg-veryLightGreen group-hover:bg-[#FE4068] rounded-md group-hover:text-white text-center transition-all duration-100">
                    <span class="w-auto h-6 mb-1 px-2">{{ authCounts['Rejected'] }}</span>
                </div>
            </a>
        </div>
        <div class="flex flex-col gap-6 animate-fadeIn">
            <canvas class="max-w-full" id="authAttemptsChart" data-devices
                    data-chart-data="{{ authAttemptsJson }}"></canvas>
        </div>
    </div>

    {# Realms Counting #}
    <div class="w-full bg-white rounded-lg px-5 py-3 flex flex-col gap-6 shadow">
        <h1 class="text-lg font-medium text-left sm:pt-2">Most Used Realms</h1>
        <div class="flex flex-col sm:flex-row justify-center items-center space-y-6 sm:space-y-0 sm:space-x-4">
            <a class="text-base text-center sm:text-lg pt-2 sm:pt-0 flex flex-col cursor-default group hover:text-[#7DB928] hover:border-b-2 hover:border-y-[#7DB928]/50 transition-all duration-100">
                <h1 class="px-2">Most Used Realm</h1>
                <div class="my-1 bg-veryLightGreen group-hover:bg-[#7DB928] rounded-md group-hover:text-white text-center transition-all duration-100">
                    <span class="w-auto h-6 mb-1 px-3 sm:w-auto sm:h-auto sm:px-2 sm:py-0">{{ mostUsedRealm }}</span>
                </div>
            </a>
        </div>
        <div class="flex flex-col gap-6 animate-fadeIn">
            <canvas class="max-w-full" id="realmsCountingChart" data-devices
                    data-chart-data="{{ realmsCountingJson }}"></canvas>
        </div>
    </div>

    {# Realms List #}
    <div class="w-full bg-white rounded-lg px-5 py-3 flex flex-col gap-6 shadow">
        <h1 class="text-lg font-medium text-left sm:pt-2">Realms List</h1>
        <div class="flex flex-col gap-6 animate-fadeIn">
            <div class="overflow-x-auto max-w-full relative">
                <table class="w-full h-auto overflow-y-auto divide-y divide-gray-200 table-fixed">
                <thead class="bg-veryLightGreen text-gray-700 font-bold rounded-t-md">
                    <tr>
                        <th scope="col"
                            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            Usage
                        </th>
                        <th scope="col"
                            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            Realm Name
                        </th>
                    </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-200">
                    {% for index, label in labelsRealmList %}
                        <tr class="cursor-default group hover:text-[{{ datasetsRealmList[0]['backgroundColor'][index] }}]">
                            <td class="px-8 py-6">
                                <div class="mb-1 bg-veryLightGreen group-hover:bg-[{{ datasetsRealmList[0]['backgroundColor'][index] }}] rounded-md group-hover:text-white text-center transition-all duration-200">
                                            <span class="w-auto h-6 mb-1 px-2">
                                                {{ datasetsRealmList[0]['data'][index] }}
                                            </span>
                                </div>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap group-hover:text-[{{ datasetsRealmList[0]['backgroundColor'][index] }}] transition-all duration-200">
                                <div class="px-2 text-base sm:text-lg">
                                    {{ label }}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
