<div class="p-2">
    <h1 class="text-2xl font-semibold mb-6">Reset Password</h1>
    <div class="w-full lg:w-1/2 bg-white rounded-md p-6">
        {{ form_start(formReset) }}
        <div>
            {{ form_errors(formReset) }}
        </div>

        <div class="mx-2">
            {{ form_widget(formReset.password, {'attr': {'class': 'w-full p-2 pl-4 bg-transparent border outline-none rounded-lg focus:outline-none', 'minlength': 7}}) }}
            <div class="mt-2 -mb-2 text-center text-red-500 text-base">
                {{ form_errors(formReset.password) }}
            </div>
            <div class="flex flex-row justify-center md:justify-end space-x-2 space-y-2 mt-10 mb-2">
                <button class="text-sm bg-veryDarkButton hover:bg-veryDarkButton/80 text-white font-bold p-3 hover:shadow-lg rounded-lg duration-200"
                        type="submit"
                        onclick="return confirm('Are you sure you want to reset the password of: {{ user.email }}?')">
                    Reset Password
                </button>
            </div>
        </div>
        {{ form_end(formReset) }}
    </div>
</div>
