<div class="w-full lg:w-1/2 bg-white rounded-md p-4">
    <div class="flex flex-row text-center text-sm mb-4 mt-4 space-x-2">
        <div class="w-1/2">
            <p class="text-gray-700 font-semibold">User UUID: <span class="font-normal">{{ user.uuid }}</span></p>
        </div>
        <div class="w-1/2">
            <p class="text-gray-700 font-semibold">User Email: <span class="font-normal">{{ user.email }}</span></p>
        </div>
    </div>

    {{ form_start(form) }}
    <div>
        {{ form_errors(form) }}
    </div>

    <div class="m-3 mt-2">
        {{ form_widget(form.password, {'attr': {'class': 'w-full mt-2 p-2 pl-4 bg-transparent border outline-none rounded-lg focus:outline-none', 'minlength': 7}}) }}
        <div class="mt-2 -mb-2 text-center text-red-500 text-base">
            {{ form_errors(form.password) }}
        </div>
        <div class="flex flex-row justify-center md:justify-end space-x-2 space-y-2 mt-6 -mb-2">
            <button class="text-sm bg-veryDarkButton hover:bg-veryDarkButton/80 text-white font-bold p-3 hover:shadow-lg rounded-lg duration-200"
                    type="submit"
                    onclick="return confirm('Are you sure you want to reset the password of: {{ user.email }}?')">
                Reset Password
            </button>
        </div>
    </div>
    {{ form_end(form) }}
</div>
