{#
<div class="w-full md:w-1/2 mx-auto">
    <div class="bg-white rounded-md border border-white p-10">

        <div class="flex flex-row mb-4">
            <div class="w-1/2">
                <p class="text-gray-700 font-semibold">User UUID: <span class="font-normal">{{ user.uuid }}</span></p>
            </div>
            <div class="w-1/2">
                <p class="text-gray-700 font-semibold">User Email: <span class="font-normal">{{ user.email }}</span></p>
            </div>
        </div>


        {{ form_start(form) }}
        <div>
            {{ form_errors(form) }}
        </div>

        <div class="mb-4 mt-1">
            {{ form_widget(form.password, {'attr': {'class': 'p-2 bg-transparent border-none outline-none text-gray-700 text-base mb-4 mt-3 block  rounded-md focus:outline-none focus:ring-2', 'minlength': 7}}) }}
            <div class="mt-2 -mb-2 text-center text-red-500 text-base">
                {{ form_errors(form.password) }}
            </div>
        </div>

        <div class="flex flex-col md:flex-row justify-center md:justify-end mt-6 md:space-x-4 space-y-2">
            <div class="mt-6 text-center text-sm">
                <a href="{{ path('admin_page') }}" class="text-gray-500 hover:text-red-700 duration-300">Cancel</a>
            </div>

            <button class="bg-primary hover:bg-primary/50 text-white font-bold py-1 px-2 rounded transition ease-in duration-200"
                    type="submit"
                    onclick="return confirm('Are you sure you want to reset the password of: {{ user.email }}?')">
                Reset Password
            </button>
        </div>
        {{ form_end(form) }}
    </div>
</div>
#}
<div class="w-full lg:w-1/2 bg-white rounded-md p-4">
    <div class="flex flex-row text-center text-sm mb-4 mt-4 space-x-2">
        <div class="w-1/2">
            <p class="text-gray-700 font-semibold">User UUID: <span class="font-normal">{{ user.uuid }}</span></p>
        </div>
        <div class="w-1/2">
            <p class="text-gray-700 font-semibold">User Email: <span class="font-normal">{{ user.email }}</span></p>
        </div>
    </div>

    {{ form_start(form) }}
    <div>
        {{ form_errors(form) }}
    </div>

    <div class="m-3 mt-2">
        {{ form_widget(form.password, {'attr': {'class': 'w-full mt-2 p-2 pl-4 bg-transparent border outline-none rounded-lg focus:outline-none', 'minlength': 7}}) }}
        <div class="mt-2 -mb-2 text-center text-red-500 text-base">
            {{ form_errors(form.password) }}
        </div>
        <div class="flex flex-row justify-center md:justify-end space-x-2 space-y-2 mt-4">
            <button class="text-sm hover:bg-veryDarkButton hover:text-white font-bold p-3 rounded-lg transition ease-in duration-300"
                    type="submit"
                    onclick="return confirm('Are you sure you want to reset the password of: {{ user.email }}?')">
                Reset Password
            </button>
        </div>
    </div>
    {{ form_end(form) }}
</div>
