{# Feitor nao ligues para isto, podes tirar o comment se quiseres ver o que é, mas nao uses pls, isto é backend q dps eu reaproveitar no novo design do figma
<div class="my-6 p-6 md:w-full" data-chart-data="{{ chartDataJson }}">
    {{ render_chart(chart) }}
</div>
#}
<div class="grid gap-4 lg:grid-cols-2 p-2 mt-10 z-0" data-controller="descriptionCard">
    <div class="bg-white rounded-md p-6 w-full"
         name="statisticsCards">
        {# Title and Icon #}
        <div class="flex flex-row justify-between">
            <div class="text-base font-medium text-center break-normal md:break-all">
                <h1 class="text-base md:text-lg whitespace-nowrap">Devices</h1>
            </div>
            <label class="flex items-center bg-opacity-40"
            >
                <img class="w-6 cursor-pointer"
                     name="descriptionIcon"
                     src="{{ asset('resources/logos/info_icon.svg') }}"
                     alt="info_icon"/>
            </label>
        </div>
        <div class="my-6 w-full" data-chart-data="{{ devicesDataJson }}">
            {{ render_chart(devices) }}
        </div>

        {# Description Statistics #}
        <div class="flex justify-center items-center">
            <div class="bg-indigo-400 rounded-lg p-2 m-2 md:w-3/12 text-center text-white duration-300 absolute hidden"
                 name="description">
                Downloaded Profiles
            </div>
        </div>
    </div>
    <div class="bg-white rounded-md p-6 w-full"
         name="statisticsCards">
        {# Title and Icon #}
        <div class="flex flex-row justify-between">
            <div class="text-base font-medium text-center break-normal md:break-all">
                <h1 class="text-base md:text-lg whitespace-nowrap">Authentication</h1>
            </div>
            <label class="flex items-center bg-opacity-40"
            >
                <img class="w-6 cursor-pointer"
                     name="descriptionIcon"
                     src="{{ asset('resources/logos/info_icon.svg') }}"
                     alt="info_icon"/>
            </label>
        </div>
        <div class="my-6 w-full">
            Second graphic goes here
        </div>

        {# Description Statistics #}
        <div class="flex justify-center items-center">
            <div class="bg-indigo-400 rounded-lg p-2 m-2 md:w-3/12 text-center text-white duration-300 absolute hidden"
                 name="description">
                Authentication method of each user
            </div>
        </div>
    </div>
</div>


