{% macro jsonHighlight(value) %}
    {% import _self as self %}
    {% if value is iterable and value is not string %}
        {% if value is empty %}
            <span class="text-gray-300">[]</span>
        {% elseif value is iterable and value|keys|first is numeric %}
            <span class="text-gray-300">[</span>
            <div class="pl-6">
                {% for item in value %}
                    <div>
                        {{ self.jsonHighlight(item) }}
                        {% if not loop.last %}<span class="text-gray-300">,</span>{% endif %}
                    </div>
                {% endfor %}
            </div>
            <span class="text-gray-300">]</span>
        {% else %}
            <span class="text-gray-300">{</span>
            <div class="pl-6">
                {% for key, val in value %}
                    <div>
                        <span class="text-green-400">"</span>
                        <span class="text-yellow-400 font-semibold">{{ key }}</span>
                        <span class="text-green-400">"</span>
                        <span class="text-gray-300">: </span>
                        {{ self.jsonHighlight(val) }}
                        {% if not loop.last %}<span class="text-gray-300">,</span>{% endif %}
                    </div>
                {% endfor %}
            </div>
            <span class="text-gray-300">}</span>
        {% endif %}
    {% elseif value is same as(null) %}
        <span class="text-pink-500">null</span>
    {% elseif value is same as(true) %}
        <span class="text-blue-400">true</span>
    {% elseif value is same as(false) %}
        <span class="text-blue-400">false</span>
    {% elseif value is numeric %}
        <span class="text-purple-400">{{ value }}</span>
    {% else %}
        <span class="text-red-400">"</span><span>{{ value|e }}</span><span class="text-red-400">"</span>
    {% endif %}
{% endmacro %}
