<a href="{{ path('admin_dashboard_settings_certs_radsecproxy_upload') }}"
   data-confirm="{{ 'confirmReinstall'|trans({}, '_certificates') }}"
   class="group flex flex-col items-center text-center bg-white shadow-md rounded-2xl p-8 border border-gray-200
          transition-all hover:shadow-lg hover:-translate-y-1">

<h2 class="text-xl md:text-2xl font-bold mb-6 transition-colors group-hover:text-primary">
        {{ 'tittleCert'|trans({}, '_certificates') }}
    </h2>

    <twig:ux:icon name="wba:shield-check"
                  class="w-10 h-10 text-gray-600 transition-colors group-hover:text-primary mb-6" />

    <div class="mt-auto pt-3 font-semibold text-gray-700 transition-colors group-hover:text-primary group-hover:underline">
        {{ 'renewCertificates'|trans({}, '_certificates') }}
    </div>

    {% if lastCompletedCertificates %}
        <p class="mt-3 text-[11px] text-gray-400">
            {{ 'lastCompletedCertificates'|trans({}, '_certificates') }}
            {{ lastCompletedCertificates|date('d/m/Y H:i') }}
        </p>
    {% endif %}
</a>
