<div class="flex justify-end">
    <button
            type="button"
            data-action="click->certificates-content#toggleAll"
            data-certificates-content-target="toggleAllButton"
            class="w-full sm:w-auto flex items-center gap-2
                           px-3 py-1.5 sm:px-4 sm:py-2
                           text-xs sm:text-sm
                           rounded-lg shadow font-medium
                           text-gray-700 bg-white border border-gray-200
                           hover:bg-gray-50 hover:border-gray-300 transition"
    >
        <twig:ux:icon name="wba:arrow-down" class="w-4 h-4 transition-transform"/>
        <span>{{ 'expandAll'|trans({}, 'config_freeradius') }}</span>
    </button>
</div>

{% for cert in certificateSet %}
    <div data-certificates-content-target="card"
         class="border border-gray-200 rounded-xl shadow-sm bg-white overflow-hidden"
    >
        <button
                type="button"
                data-action="click->certificates-content#toggleCard"
                class="w-full px-5 py-4 flex justify-between items-center bg-gray-50 hover:bg-gray-100 transition"
        >
            <div>

                <p class="font-semibold text-gray-800">
                    {{ certDisplayNames[cert.name]|default(cert.name) }}
                </p>
            </div>

            <twig:ux:icon name="wba:arrow-down" class="w-5 h-5 text-gray-500 transition-transform"/>
        </button>

        <div data-certificates-content-target="content" class="px-5 py-4 space-y-3 hidden">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4 text-sm">

                <div>
                    <p class="text-gray-500 text-xs">{{ 'originalFilename'|trans({}, 'config_freeradius') }}</p>
                    <p class="font-medium text-gray-800">{{ cert.metadata.originalName }}</p>
                </div>

                <div>
                    <p class="text-gray-500 text-xs">{{ 'sha1Fingerprint'|trans({}, 'config_freeradius') }}</p>
                    <p class="font-mono break-all text-gray-800">{{ cert.fingerprintSHA1 }}</p>
                </div>

                <div>
                    <p class="text-gray-500 text-xs">{{ 'validFrom'|trans({}, 'config_freeradius') }}</p>
                    <p class="font-medium text-gray-800">{{ cert.validFrom ? cert.validFrom|date('Y-m-d H:i:s') : 'N/A' }}</p>
                </div>

                <div>
                    <p class="text-gray-500 text-xs">{{ 'validTo'|trans({}, 'config_freeradius') }}</p>
                    <p class="font-medium text-gray-800">{{ cert.validTo ? cert.validTo|date('Y-m-d H:i:s') : 'N/A' }}</p>
                </div>

                <div>
                    <p class="text-gray-500 text-xs">{{ 'subject_cn'|trans({}, 'config_freeradius') }}</p>
                    <p class="font-medium text-gray-800">{{ cert.parsedSubject.CN ?? 'N/A' }}</p>
                </div>

                <div>
                    <p class="text-gray-500 text-xs">{{ 'issuer_cn'|trans({}, 'config_freeradius') }}</p>
                    <p class="font-medium text-gray-800">{{ cert.parsedIssuer.CN ?? 'N/A' }}</p>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
