<div>
    <div class="p-2 mt-10">
        <h1 class="text-xl md:text-2xl font-semibold">{{ 'tittleInstallation'|trans({}, '_installationPartial') }}</h1>
    </div>
    <div class="grid gap-4 lg:grid-cols-2 xl:grid-cols-3 p-2 z-0">
        <a href="{{ path('admin_dashboard_settings_certs_installation') }}"
           class="btn-primary">
            {{ 'reinstallPlatform'|trans({}, '_installationPartial') }}
        </a>
    </div>
    {% if lastCompletedInstallation %}
        <div class="p-2 z-0">
            <p class="mt-3 text-xs sm:text-sm md:text-base text-red-400">
                {{ 'lastCompletedInstallation'|trans({}, '_installationPartial') }} {{ lastCompletedInstallation|date('d/m/Y H:i') }}
            </p>
        </div>
    {% endif %}
</div>
