<a href="{{ path('admin_dashboard_settings_certs_installation') }}"
   data-confirm="{{ 'confirmInstallation'|trans({}, '_installation_partial')|e('html_attr') }}"
   class="group flex flex-col items-center text-center bg-white shadow-md rounded-2xl p-8 border border-gray-200
          transition-all hover:shadow-lg hover:-translate-y-1">

<h2 class="text-xl md:text-2xl font-bold mb-6 transition-colors group-hover:text-primary">
        {{ 'tittleInstallation'|trans({}, '_installation_partial') }}
    </h2>

    <twig:ux:icon name="wba:screwdriver"
                  class="w-10 h-10 text-gray-600 transition-colors group-hover:text-primary mb-6" />

    <div class="mt-auto pt-3 font-semibold text-gray-700 transition-colors group-hover:text-primary group-hover:underline">
        {{ 'reinstallPlatform'|trans({}, '_installation_partial') }}
    </div>

    {% if lastCompletedInstallation %}
        <p class="mt-3 text-[11px] text-gray-400">
            {{ 'lastCompletedInstallation'|trans({}, '_installation_partial') }}
            {{ lastCompletedInstallation|date('d/m/Y H:i') }}
        </p>
    {% endif %}
</a>
