<div class="instructions">
    {# Introduction #}
    <p class="introduction">
        {{ 'introduction'|trans({}, 'windows') }}
    </p>

    {# Determine correct image folder based on locale, fallback to en #}
    {% set locale = app.request.locale in ['pt', 'en'] ? app.request.locale : 'en' %}
    {% set imgPath = 'resources/instructions/windows/' ~ locale %}

    <div class="card-container">
        <div class="card-grid-windows">

            {# Loop items 1 to 4 dynamically #}
            {% for i in 1..4 %}
                <a href="{{ asset(imgPath ~ '/item' ~ i ~ '.jpeg') }}" target="_blank" class="card">
                    <div class="card-number">{{ i }}</div>
                    <div class="flex justify-center">
                        <img src="{{ asset(imgPath ~ '/item' ~ i ~ '.jpeg') }}"
                             alt="Item {{ i }}"
                             class="card-image-windows">
                    </div>
                    <p class="card-description">
                        {{ ('item' ~ i ~ '.description')|trans({}, 'windows') }}
                    </p>
                </a>
            {% endfor %}

        </div>
    </div>
</div>
