{% extends 'base.html.twig' %}

{% block title %}Admin Page WBA{% endblock %}

{% block body %}
    <div class="container mx-auto px-4">
        {% include 'admin/partials/_header_admin.html.twig' %}

        <form action="{{ path('admin_dashboard_customize') }}" method="post" enctype="multipart/form-data">
            {{ form_row(form._token) }}
            <div class="grid gap-4 md:grid-cols-2 lg:grid-cols-3 p-2">
                {% for setting in form %}
                    {# Display only the customization settings #}
                    {% if setting.vars.name in ['CUSTOMER_LOGO', 'OPENROAMING_LOGO', 'WALLPAPER_IMAGE', 'PAGE_TITLE', 'WELCOME_TEXT', 'WELCOME_DESCRIPTION'] %}
                        <div class="transition hover:-translate-y-1 hover:shadow-md hover:shadow-black/50 bg-gray-200 hover:bg-gray-200/50 rounded p-4 w-full border border-gray-300 relative">
                            <div class="flex flex-row justify-between">
                                <div class="text-base font-medium m-2 p-2 text-center break-normal md:break-all">
                                    {{ setting.vars.name }}
                                </div>
                                <label class="flex items-center p-2 rounded-lg bg-opacity-40 cursor-pointer relative"
                                       id="description_icon"
                                >
                                    <img class="group-hover:opacity-80 w-6"
                                         src="{{ asset('resources/logos/info_icon.svg') }}" alt="info_icon"/>
                                </label>
                            </div>
                            <div class="flex justify-center items-center">
                                <div class="bg-indigo-400 rounded-lg p-4 m-2 w-3/4 text-center text-white">
                                    {{ setting.vars.attr.description }}
                                </div>
                            </div>
                            <div class="flex items-center space-x-2 mt-1 relative">
                                {{ form_widget(setting, {'attr': {'class': 'text-center text-gray-500 text-base block w-full rounded-md p-2 shadow-sm focus:outline-none focus:ring-2'}}) }}
                            </div>
                            <div class="mt-2 -mb-2 text-center text-red-500 text-base">
                                {{ form_errors(setting) }}
                            </div>
                        </div>

                    {% endif %}
                {% endfor %}
            </div>
            <div class="flex flex-col md:flex-row justify-evenly items-center">
                <div class="mt-6">
                    <a href="{{ path('admin_page') }}"
                       class="bg-blue-500 text-white font-bold py-2 px-4 rounded transition duration-150 ease-in-out hover:shadow-md motion-reduce:transition-none hover:transform hover:scale-105">
                        Return Dashboard
                    </a>
                </div>

                <div class="mt-6">
                    <button class="bg-green-500 text-white font-bold py-2 px-4 rounded transition duration-150 ease-in-out hover:shadow-md motion-reduce:transition-none hover:transform hover:scale-105"
                            onclick="return confirm('Are you sure you want to apply these new settings?')"
                            type="submit">Save Changes
                    </button>
                </div>

                <div class="mt-6 mb-4">
                    <a href="#"
                       onclick="return confirm('Are you sure you want to reset to the default settings?')"
                       class="bg-yellow-500 text-white font-bold py-2 px-4 rounded transition duration-150 ease-in-out hover:shadow-md motion-reduce:transition-none hover:transform hover:scale-105">
                        Reset Customization
                    </a>
                </div>
            </div>

        </form>
    </div>
{% endblock %}
