{% extends '/admin/base.html.twig' %}

{% block title %}Admin Page WBA{% endblock %}

{% block container %}
    {# Content - Edit Users #}
    <h1 class="text-3xl font-bold text-gray-800 mb-8 border-b-2 border-gray-300 pb-2">{{ user.uuid }}</h1>
    <div>
        {{ form_start(form) }}
        {{ form_errors(form) }}

        <div class="p-6 mx-auto bg-white rounded-lg grid grid-cols-1 lg:grid-cols-2 gap-6">
            <div class="relative">
                {{ form_label(form.uuid, 'UUID', {label_attr: {class: 'form-label'}}) }}
                {{ form_widget(form.uuid, {attr: {class: 'form-widget'}}) }}
                <div class="text-red-500 m-2">
                    {{ form_errors(form.uuid) }}
                </div>
            </div>

            <div class="relative">
                {{ form_label(form.firstName, 'First Name', {label_attr: {class: 'form-label'}}) }}
                {{ form_widget(form.firstName, {attr: {class: 'form-widget'}}) }}
                <div class="text-red-500 m-2">
                    {{ form_errors(form.firstName) }}
                </div>
            </div>

            <div class="relative">
                {{ form_label(form.email, 'Email', {label_attr: {class: 'form-label'}}) }}
                {{ form_widget(form.email, {attr: {class: 'form-widget'}}) }}
                <div class="text-red-500 m-2">
                    {{ form_errors(form.email) }}
                </div>
            </div>

            <div class="relative">
                {{ form_label(form.lastName, 'Last Name', {label_attr: {class: 'form-label'}}) }}
                {{ form_widget(form.lastName, {attr: {class: 'form-widget'}}) }}
                <div class="text-red-500 m-2">
                    {{ form_errors(form.lastName) }}
                </div>
            </div>

            <div class="relative">
                <div class="flex flex-row items-end space-x-4">
                    {# Phone Number Input #}
                    <div class="flex flex-col w-1/3">
                        {{ form_label(form.phoneNumber, 'Phone Number', {label_attr: {class: 'form-label'}}) }}
                        {{ form_widget(form.phoneNumber.children.country, {
                            attr: {
                                class: 'form-widget',
                                placeholder: 'Enter your phone number',
                                autocomplete: 'tel',
                            },
                        }) }}
                    </div>
                    <div class="flex flex-col w-2/3">
                        {{ form_widget(form.phoneNumber.children.number, {
                            attr: {
                                class: 'form-widget',
                                placeholder: 'Enter your phone number',
                                autocomplete: 'tel',
                            },
                        }) }}
                    </div>
                </div>

                <div class="text-red-500 m-2">
                    {{ form_errors(form.phoneNumber) }}
                </div>
            </div>

            <div class="w-full lg:w-1/2 ">
                <div class="flex md:flex-row flex-col items-center sm:justify-start">
                    <div class="flex flex-col mx-4 space-x-3 space-y-2">
                        <p class="font-bold">Verification</p>
                        <label class="inline-flex items-center cursor-pointer">
                            {{ form_widget(form.isVerified, {attr: {class: 'sr-only peer'}}) }}
                            <div class="ms-2 relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-bg-lightGreen rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-[#68D391]"></div>
                            {{ form_errors(form.isVerified) }}
                        </label>
                    </div>
                    <div class="flex flex-col mt-2 md:mt-0 mx-4 space-y-2">
                        <p class="font-bold">Banned</p>
                        <label class="inline-flex items-center cursor-pointer">
                            {{ form_widget(form.bannedAt, {attr: {class: 'sr-only peer'}}) }}
                            <div class="ms-2 relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-bg-lightGreen rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-[#f87171]"></div>
                            {{ form_errors(form.bannedAt) }}
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex flex-row justify-end md:w-full mt-6">
            <button type="submit" class="btn-primary">Apply Changes</button>
        </div>

        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>

    {# Content - Reset Password Users/Admin #}
    <h1 class="text-2xl font-semibold mt-6 mb-6">Reset Password</h1>
    <div>
        {{ form_start(formReset) }}
        {{ form_errors(formReset) }}
        <div class="p-6 mx-auto bg-white rounded-lg grid grid-cols-1 lg:grid-cols-2 gap-6">
            <div class="relative">
                {{ form_label(formReset.password, 'Password', {label_attr: {class: 'form-label'}}) }}
                {{ form_widget(formReset.password, {attr: {class: 'form-widget', minlength: 7}}) }}
                <div class="mt-2 -mb-2 text-center text-red-500 text-base">
                    {{ form_errors(formReset.password) }}
                </div>
            </div>
            <div class="relative">
                {{ form_label(formReset.confirmPassword, 'Confirm New Password', {label_attr: {class: 'form-label'}}) }}
                {{ form_widget(formReset.confirmPassword, {attr: {class: 'form-widget', minlength: 7}}) }}
                <div class="mt-2 -mb-2 text-center text-red-500 text-base">
                    {{ form_errors(formReset.confirmPassword) }}
                </div>
            </div>
        </div>
        <div class="flex justify-end">
            <button type="submit" class="btn-primary mt-6"
                    onclick="return confirm('Are you sure you want to reset the password of: {{ user.uuid }}?')">
                Reset Password
            </button>
        </div>
        {{ form_rest(formReset) }}
        {{ form_end(formReset) }}
    </div>

    {# Content - Two-Factor Options - Only for Admins #}
    {% if app.user and user.id == app.user.id %}
        <h1 class="text-2xl font-semibold mt-6 mb-6">Two-Factor Authentication Options</h1>
        <div class="p-6 rounded-lg grid grid-cols-1 lg:grid-cols-2 bg-white justify-start w-full lg:w-1/2 gap-6">
            <a href="{{ path('app_configure2FA') }}" class="btn-secondary">Configure Two-Factor Authentication</a>
            {#  <a href="{{ path('app_disable2FA') }}" class="btn-logout">Disable</a> #}
        </div>
    {% endif %}
{% endblock %}
