{% extends '/admin/base.html.twig' %}

{% block title %}Admin Page WBA{% endblock %}

{% block container %}
    {# Content - Edit Users #}
    <h1 class="text-2xl font-semibold mb-6">User Info</h1>
    <div>
        {{ form_start(form) }}
        {{ form_errors(form) }}

        <div class="p-6 mx-auto bg-white rounded-lg grid grid-cols-1 lg:grid-cols-2 gap-6">
            <div class="relative">
                {{ form_label(form.uuid, 'UUID', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.uuid, {'attr': {'class': 'form-widget'}}) }}
                {{ form_errors(form.uuid) }}
            </div>

            <div class="relative">
                {{ form_label(form.email, 'Email', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.email, {'attr': {'class': 'form-widget'}}) }}
                {{ form_errors(form.email) }}
            </div>

            <div class="relative">
                {{ form_label(form.firstName, 'First Name', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.firstName, {'attr': {'class': 'form-widget'}}) }}
                {{ form_errors(form.firstName) }}
            </div>

            <div class="relative">
                {{ form_label(form.lastName, 'Last Name', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.lastName, {'attr': {'class': 'form-widget'}}) }}
                {{ form_errors(form.lastName) }}
            </div>

            <div class="relative">
                {{ form_label(form.samlIdentifier, 'SAML Identifier', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.samlIdentifier, {'attr': {'class': 'form-widget'}}) }}
                {{ form_errors(form.samlIdentifier) }}
            </div>

            <div class="mt-2.5 w-full lg:w-1/2 flex flex-row justify-start md:justify-between space-x-4">
                <div class="mb-4 mt-1 flex-grow">
                    <div class="flex flex-col md:flex-row space-x-0 md:space-x-2 space-y-2 md:space-y-0 justify-center items-center">
                        {{ form_label(form.isVerified) }}
                        <div class="relative inline-block w-10 mr-2 align-middle select-none transition duration-200 ease-in">
                            {{ form_widget(form.isVerified, {'attr': {'class': 'toggle-checkbox-green absolute block w-6 h-6 rounded-full bg-white border-4 border-gray-300 appearance-none cursor-pointer', 'id': 'toggle'}}) }}
                            <label for="toggle"
                                   class="toggle-label block overflow-hidden h-6 p-2 rounded-full bg-gray-300 cursor-pointer"></label>
                        </div>
                        {{ form_errors(form.isVerified) }}
                    </div>
                </div>

                <div class="mb-4 mt-1 flex-grow">
                    <div class="flex flex-col md:flex-row space-x-0 md:space-x-2 space-y-2 md:space-y-0 justify-center items-center">
                        {{ form_label(form.bannedAt) }}
                        <div class="relative inline-block w-10 mr-2 align-middle select-none transition duration-200 ease-in">
                            {{ form_widget(form.bannedAt, {'attr': {'class': 'toggle-checkbox-red absolute block w-6 h-6 rounded-full bg-white border-4 border-gray-300 appearance-none cursor-pointer', 'id': 'toggle'}}) }}
                            <label for="toggle"
                                   class="toggle-label block overflow-hidden h-6 rounded-full bg-gray-300 cursor-pointer"></label>
                        </div>
                        {{ form_errors(form.bannedAt) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="flex flex-row justify-end md:w-full mt-6">
            <button type="submit" class="btn-primary">Apply Changes</button>
        </div>

        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>

    {# Content - Reset Password Users/Admin #}
    <h1 class="text-2xl font-semibold mb-6">Reset Password</h1>
    <div>
        {{ form_start(formReset) }}
        {{ form_errors(formReset) }}
        <div class="p-6 mx-auto bg-white rounded-lg grid grid-cols-1 lg:grid-cols-2 gap-6">

            <div class="relative">
                {{ form_label(formReset.password, 'Password', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(formReset.password, {'attr': {'class': 'form-widget', 'minlength': 7}}) }}
                <div class="mt-2 -mb-2 text-center text-red-500 text-base">
                    {{ form_errors(formReset.password) }}
                </div>
            </div>
            <div class="relative">

                {{ form_label(formReset.confirmPassword, 'Confirm New Password', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(formReset.confirmPassword, {'attr': {'class': 'form-widget', 'minlength': 7}}) }}
                <div class="mt-2 -mb-2 text-center text-red-500 text-base">
                    {{ form_errors(formReset.confirmPassword) }}
                </div>
            </div>
        </div>
        <div class="flex justify-end mt-10">
            <button type="submit" class="btn-primary"
                    onclick="return confirm('Are you sure you want to reset the password of: {{ user.uuid }}?')">
                Reset Password
            </button>
        </div>
        {{ form_rest(formReset) }}
        {{ form_end(formReset) }}
    </div>
{% endblock %}
