{% extends '/admin/base.html.twig' %}

{% block title %}Admin Page WBA{% endblock %}

{% block container %}
    {# Freeradius Statistics #}
    <div class="flex flex-col lg:flex-row space-y-4 lg:space-y-0 justify-end items-center mb-10">
        {% if exportFreeradiusStatistics == constant('App\\Enum\\EmailConfirmationStrategy::EMAIL') %}
            <div class="mr-auto flex items-center space-x-6">
                <a href="{{ path('admin_page_export_freeradius', { startDate: selectedStartDate, endDate: selectedEndDate }) }}"
                   onclick="return confirm('Are you sure you want to export data' +
                   {% if selectedStartDate and selectedEndDate %}
                       ' from {{ selectedStartDate }} to {{ selectedEndDate }}?'
                   {% else %}
                       '?'
                   {% endif %}
                           )"
                   class="btn-primary">
                    Export Statistics
                </a>
            </div>
        {% endif %}

        <form data-controller="date-filter" action="{{ path('admin_dashboard_statistics_freeradius') }}"
              method="post"
              class="flex flex-col sm:flex-row items-center gap-2">
            <input data-date-filter-target="start" type="datetime-local" name="startDate" id="startDate"
                   class="rounded text-sm bg-transparent py-1 px-2 border border-gray-300 focus:ring-0 w-auto"
                   value="{{ selectedStartDate }}"
                   onchange="this.form.submit()">
            <span class="px-1"> to </span>
            <input data-date-filter-target="end" type="datetime-local" name="endDate" id="endDate"
                   class="rounded text-sm bg-transparent py-1 px-2 border border-gray-300 focus:ring-0 w-full sm:w-auto"
                   value="{{ selectedEndDate }}"
                   onchange="this.form.submit()">
        </form>
    </div>

    {# TODO: Update JS to use stimulus instead of native JS (file: statistics_controller.js) #}
    <div class="mt-10 grid xl:gap-8 gap-y-8 xl:grid-cols-3 md:grid-cols-1" data-controller="freeradiusStatistics">
        {# Authentications Attempts #}
        <div class="col-span-3 md:col-span-1 w-full bg-white rounded-lg px-5 py-3 flex flex-col gap-6 shadow">
            <h1 class="text-lg font-medium text-left sm:pt-2">Authentication Attempts</h1>
            <div class="flex flex-col sm:flex-row justify-center items-center space-y-6 sm:space-y-0 sm:space-x-4">
                <a class="cursor-default flex flex-row group hover:text-[#7DB928] hover:border-b-2 hover:border-y-[#7DB928]/50 transition-all duration-100">
                    <h1 class="px-2 text-lg sm:text-base">
                        Accepted
                    </h1>
                    <div class="mb-1 bg-veryLightGreen group-hover:bg-[#7DB928] rounded-md group-hover:text-white text-center transition-all duration-100">
                        <span class="w-auto h-6 mb-1 px-2">{{ authCounts['Accepted'] }}</span>
                    </div>
                </a>
                <a class="cursor-default flex flex-row group hover:text-[#FE4068] hover:border-b-2 hover:border-y-[#FE4068]/50 transition-all duration-100">
                    <h1 class="px-2 text-lg sm:text-base">
                        Rejected
                    </h1>
                    <div class="mb-1 bg-veryLightGreen group-hover:bg-[#FE4068] rounded-md group-hover:text-white text-center transition-all duration-100">
                        <span class="w-auto h-6 mb-1 px-2">{{ authCounts['Rejected'] }}</span>
                    </div>
                </a>
            </div>
            <div class="flex flex-col gap-6 animate-fadeIn">
                <canvas class="max-w-full" id="authAttemptsChart" data-authAttempts
                        data-chart-data="{{ authAttemptsJson }}"></canvas>
            </div>
        </div>

        {# Average Session Time #}
        <div class="col-span-3 md:col-span-1 w-full bg-white rounded-lg px-5 py-3 shadow">
            <div class="flex flex-row justify-between sm:pt-2 pb-6 font-medium text-lg text-left">
                <h1 class="text-lg font-medium">Average Session Time</h1>
                <span class="text-base text-gray-500">(in Hours)</span>
            </div>
            <div class="flex flex-col sm:flex-row justify-center items-center space-y-6 sm:space-y-0 sm:space-x-4">
                <a class="cursor-default flex flex-row group hover:text-[#7DB928] hover:border-b-2 hover:border-y-[#7DB928]/50 transition-all duration-100">
                    <h1 class="px-2 text-lg sm:text-base">
                        Total Average of
                    </h1>
                    <div class="mb-1 bg-veryLightGreen group-hover:bg-[#7DB928] rounded-md group-hover:text-white text-center transition-all duration-100">
                        <span class="w-auto h-6 mb-1 px-2">{{ sessionTimeAverage }}</span>
                    </div>
                </a>
            </div>
            <div class="pt-4 flex flex-col gap-6 animate-fadeIn">
                <canvas class="max-w-full" id="sessionTimeChart" data-sessionTime
                        data-chart-data="{{ sessionTimeJson }}"></canvas>
            </div>
        </div>

        {# Total Session Time #}
        <div class="col-span-3 md:col-span-1 w-full bg-white rounded-lg px-5 py-3 shadow">
            <div class="flex flex-row justify-between sm:pt-2 pb-6 font-medium text-lg text-left">
                <h1 class="text-lg font-medium">Session Time</h1>
                <span class="text-base text-gray-500">(in Hours)</span>
            </div>
            <div class="flex flex-col sm:flex-row justify-center items-center space-y-6 sm:space-y-0 sm:space-x-4">
                <a class="cursor-default flex flex-row group hover:text-[#7DB928] hover:border-b-2 hover:border-y-[#7DB928]/50 transition-all duration-100">
                    <h1 class="px-2 text-lg sm:text-base">
                        Total of
                    </h1>
                    <div class="mb-1 bg-veryLightGreen group-hover:bg-[#7DB928] rounded-md group-hover:text-white text-center transition-all duration-100">
                        <span class="w-auto h-6 mb-1 px-2">{{ totalTime }}</span>
                    </div>
                </a>
            </div>
            <div class="pt-4 flex flex-col gap-6 animate-fadeIn">
                <canvas class="max-w-full" id="totalTimeChart" data-totalTime
                        data-chart-data="{{ totalTimeJson }}"></canvas>
            </div>
        </div>
    </div>

    <div class="mt-10 grid xl:gap-8 gap-y-8 xl:grid-cols-3 md:grid-cols-1" data-controller="freeradiusStatistics">
        {# Total of Traffic #}
        <div class="col-span-3 md:col-span-1 w-full bg-white rounded-lg px-4 p-4 gap-4 shadow">
            <div class="flex justify-between items-center pb-4">
                <h1 class="text-lg font-medium text-left">Traffic total</h1>
                <h2 class="text-sm font-medium text-gray-400 text-right">in (Gigabyte)</h2>
            </div>
            <div class="md:mt-6 flex md:flex-row flex-col justify-center md:justify-around items-center xl:space-x-6 space-x-0">
                <div class="flex flex-col">
                    <h1 class="text-center font-semibold">
                        Uploads
                    </h1>
                    {% if totalTrafficFreeradius['total_input'] >= 0.1 %}
                        {% set sizeClass = 'w-24 h-24' %}
                        {% if totalTrafficFreeradius['total_input'] >= 1000 %}
                            {% set sizeClass = 'w-32 h-32' %}
                        {% endif %}
                        {% if totalTrafficFreeradius['total_input'] >= 10000 %}
                            {% set sizeClass = 'w-36 h-36' %}
                        {% endif %}
                        {% if totalTrafficFreeradius['total_input'] >= 100000 %}
                            {% set sizeClass = 'w-40 h-40' %}
                        {% endif %}
                        <div class="mt-4 flex items-center justify-center bg-[#7DB928] rounded-full text-white text-4xl font-bold {{ sizeClass }}">
                            {{ totalTrafficFreeradius['total_input'] }}
                        </div>
                    {% else %}
                        <div class="bg-red-500/50 rounded-full m-2 p-2 mt-4 text-red-500 font-semibold text-center md:text-base text-sm">
                            No Data Available
                        </div>
                    {% endif %}
                </div>
                <div class="mt-8 md:mt-0 flex flex-col">
                    <h1 class="text-center font-semibold">
                        Downloads
                    </h1>
                    {% if totalTrafficFreeradius['total_output'] >= 0.1 %}
                        {% set sizeClass = 'w-24 h-24' %}
                        {% if totalTrafficFreeradius['total_output'] >= 1000 %}
                            {% set sizeClass = 'w-32 h-32' %}
                        {% endif %}
                        {% if totalTrafficFreeradius['total_output'] >= 10000 %}
                            {% set sizeClass = 'w-36 h-36' %}
                        {% endif %}
                        {% if totalTrafficFreeradius['total_output'] >= 100000 %}
                            {% set sizeClass = 'w-40 h-40' %}
                        {% endif %}
                        <div class="mt-4 flex items-center justify-center bg-[#7DB928] rounded-full text-white text-4xl font-bold {{ sizeClass }}">
                            {{ totalTrafficFreeradius['total_output'] }}
                        </div>
                    {% else %}
                        <div class="bg-red-500/50 rounded-full m-2 p-2 mt-4 text-red-500 font-semibold text-center md:text-base text-sm">
                            No Data Available
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        {# Realm Usage #}
        <div class="col-span-3 md:col-span-2 w-full bg-white rounded-lg p-4 gap-4 shadow">
            <h1 class="text-lg font-medium text-left pb-4">Realm Usage</h1>
            <div class="overflow-x-auto max-w-full flex flex-col gap-6 animate-fadeIn">
                <div class="w-full items-start md:mx-auto space-y-4 sm:space-y-0">
                    <table class="w-full items-start">
                        <thead class="bg-veryLightGreen text-gray-700 font-bold rounded-t-md">
                        <tr>
                            <th scope="col"
                                class="p-6 text-left text-xs text-gray-500 uppercase tracking-wider">
                                Usage
                            </th>
                            <th scope="col" class="p-6 text-left text-xs text-gray-500 uppercase tracking-wider">
                                Realm Name
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if realmsUsage is empty %}
                            <tr>
                                <td colspan="2">
                                    <div class="bg-red-500/50 rounded-full m-4 p-1 mt-4 text-red-500 font-semibold text-center md:text-base text-sm">
                                        No Data Available
                                    </div>
                                </td>
                            </tr>
                        {% else %}
                            {% for index, label in realmsUsage %}
                                <tr name="{{ label }}">
                                    <td class="w-1/3 px-8 py-2">
                                        <div class="px-2 py-1 md:p-0 w-full bg-veryLightGreen rounded-full flex justify-center items-center transition-all duration-200">
                                        <span>
                                            {{ label }}
                                        </span>
                                        </div>
                                    </td>
                                    <td class="w-2/3 px-6 py-2 whitespace-nowrap transition-all duration-200">
                                        <div class="text-left text-base sm:text-lg">
                                        <span>
                                            {{ index }}
                                        </span>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-10 grid gap-8 grid-cols-1 xl:grid-cols-3" data-controller="freeradiusStatistics">
        {# Wifi Tags Usage #}
        <div class="col-span-3 md:col-span-1 w-full bg-white rounded-lg px-4 p-2 shadow">
            <div class="flex flex-row justify-start sm:pt-2 pb-6 font-medium text-lg text-left">
                <h1 class="text-lg font-medium">Wi-Fi Standards - Usage</h1>
            </div>
            <div class="xl:pt-10 flex flex-col gap-6 animate-fadeIn">
                <canvas class="max-w-full" id="wifiTagsChart" data-wifiTags
                        data-chart-data="{{ wifiTagsJson }}"></canvas>
            </div>
        </div>

        {# Access Points Usage #}
        <div class="col-span-3 md:col-span-2 w-full bg-white rounded-lg p-4 gap-4 shadow">
            <h1 class="text-lg font-medium text-left sm:pb-4">Access Points Usage</h1>
            <div class="overflow-x-auto max-w-full flex flex-col gap-6 animate-fadeIn">
                <div class="w-full items-start md:mx-auto space-y-4 sm:space-y-0">
                    <table class="w-full items-start">
                        <thead class="bg-veryLightGreen text-gray-700 font-bold rounded-t-md">
                        <tr>
                            <th scope="col"
                                class="w-3/12 p-6 text-left text-xs text-gray-500 uppercase tracking-wider">
                                Usage
                            </th>
                            <th scope="col" class="p-6 text-left text-xs text-gray-500 uppercase tracking-wider">
                                Mac Address:SSID
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if ApUsage is empty %}
                            <tr>
                                <td colspan="2">
                                    <div class="bg-red-500/50 rounded-full m-4 p-1 mt-4 text-red-500 font-semibold text-center md:text-base text-sm">
                                        No Data Available
                                    </div>
                                </td>
                            </tr>
                        {% else %}
                            {% for usage in ApUsage %}
                                <tr name="{{ usage.ap }}">
                                    <td class="w-1/3 px-8 py-2">
                                        <div class="px-2 py-1 md:p-0 w-full bg-veryLightGreen rounded-full flex justify-center items-center transition-all duration-200">
                                        <span>
                                            {{ usage.count }}
                                        </span>
                                        </div>
                                    </td>
                                    <td class="w-2/3 px-6 py-2 whitespace-nowrap transition-all duration-200">
                                        <div class="text-left text-base sm:text-lg">
                                        <span>
                                            {{ usage.ap }}
                                        </span>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
            {# AccessPoints Pagination #}
            <div class="m-8">
                <hr class="w-full h-0.5 bg-gray-300/50 border-0 border-gray-300/50 rounded">
                {{ include('admin/shared/_pagination_ApUsage.html.twig', {label: 'Access Points per page', route: 'admin_dashboard_statistics_freeradius', occurrencies: totalApCount}) }}
            </div>
        </div>
    </div>

    <div class="mt-10 col-span-3 md:col-span-1 w-full bg-white rounded-lg p-6 flex flex-col gap-4 shadow">
        <h1 class="text-lg font-medium text-left">Current Authentications</h1>
        <div class="flex flex-col items-center">
            {% if totalCurrentAuths >= 1 %}
                {% set sizeClass = 'w-24 h-24' %}
                {% if totalCurrentAuths >= 10000 %}
                    {% set sizeClass = 'w-32 h-32' %}
                {% endif %}
                {% if totalCurrentAuths >= 100000 %}
                    {% set sizeClass = 'w-36 h-36' %}
                {% endif %}
                {% if totalCurrentAuths >= 1000000 %}
                    {% set sizeClass = 'w-40 h-40' %}
                {% endif %}
                <div class="mt-4 bg-[#7DB928] rounded-full text-white text-4xl font-bold flex justify-center items-center {{ sizeClass }}">
                    <span>{{ totalCurrentAuths }}</span>
                </div>
            {% else %}
                <div class="bg-red-500/50 rounded-full m-2 p-2 mt-4 text-red-500 font-semibold text-center md:text-base text-sm">
                    No Data Available
                </div>
            {% endif %}
            <div class="bg-infoBgColor/50 rounded-lg p-4 text-xs md:text-sm text-infoTextColor mt-8" role="alert">
                <twig:ux:icon name="wba:info" class="w-10 md:w-5 h-10 md:h-5 inline mr-3" fill="currentColor"/>
                <span class="font-medium">This card is independent of the date filtering.</span>
            </div>
        </div>
    </div>


    <hr class="mb-8 mt-16 divider">

{% endblock %}
