{% extends '/admin/base.html.twig' %}

{% block title %}Admin Page WBA{% endblock %}

{% block container %}
    {# Freeradius Statistics #}
    <div class="flex flex-col lg:flex-row space-y-4 lg:space-y-0 justify-between items-center mb-10">

        {% if exportFreeradiusStatistics == constant('App\\Enum\\EmailConfirmationStrategy::EMAIL') %}
            <div class="flex items-center space-x-6">
                <a href="{{ path('admin_page_export_freeradius') }}"
                   onclick="return confirm('Are you sure you want to export data' +
                   {% if selectedStartDate and selectedEndDate %}
                       ' from {{ selectedStartDate }} to {{ selectedEndDate }}?'
                   {% else %}
                       '?'
                   {% endif %}
                           )"
                   class="btn-primary">
                    Export Statistics
                </a>
            </div>
        {% endif %}
        <form data-controller="date-filter" action="{{ path('admin_dashboard_statistics_freeradius') }}"
              method="post"
              class="flex flex-col sm:flex-row items-center gap-2">
            <input data-date-filter-target="start" type="datetime-local" name="startDate" id="startDate"
                   class="rounded text-sm bg-transparent py-1 px-2 border border-gray-300 focus:ring-0 w-auto"
                   value="{{ selectedStartDate }}"
                   onchange="this.form.submit()">
            <span class="px-1"> to </span>
            <input data-date-filter-target="end" type="datetime-local" name="endDate" id="endDate"
                   class="rounded text-sm bg-transparent py-1 px-2 border border-gray-300 focus:ring-0 w-full sm:w-auto"
                   value="{{ selectedEndDate }}"
                   onchange="this.form.submit()">
        </form>
    </div>

    {% include 'admin/partials/_freeradius_statistics.html.twig' %}

    <hr class="mb-8 mt-16 divider">

{% endblock %}
