{% extends 'base.html.twig' %}

{% block title %}Admin Page WBA{% endblock %}

{% block body %}
    <section class="flex text-veryDarkPurple">
        <div class="bg-white hidden md:block min-h-screen p-4 pt-4 w-10/12 md:w-4/12 duration-300 relative border-r border-gray-300/50"
             data-controller="sidebar" id="sidebar">
            {# SideBar Container #}
            <div id="sideHeader" class="flex flex-col justify-center items-center">
                {# SideBar Header #}
                <h1 class="pt-4 font-semibold text-2xl font-break">
                    OpenRoaming Admin Page
                </h1>
                <img src="{{ data.customerLogoName.value }}" class="w-2/5 pt-3 mx-auto mt-auto mb-6"
                     alt="customer_logo">
                <hr class="w-full m-5 mx-4 h-0.5 bg-gray-300/50 border-0 border-gray-300/50 rounded">
            </div>
            {# SideBar Button (User/PortalSettings #}
            <div id="selectAction" class="py-4 flex flex-col space-y-2 font-medium">
                {# SideBar Button - User - Button #}
                <a href="{{ path('admin_page') }}">
                    <div id="UserButton"
                         class="duration-300 rounded p-2 flex flex-row justify-between items-center cursor-pointer hover:shadow-md hover:bg-veryDarkButton hover:text-white selected">
                        <div class="flex items-center space-x-2">
                            <svg class="w-5 hover:stroke-white selected-icon" fill="none" stroke="currentColor"
                                 stroke-width="1.5"
                                 viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z"></path>
                            </svg>
                            <h1 class="selected-text">Users</h1>
                        </div>
                        <svg class="w-4 hover:stroke-white selected-icon" fill="none" stroke="currentColor"
                             stroke-width="1.5"
                             viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5"></path>
                        </svg>
                    </div>
                </a>
                {# SideBar - Portal Settings - Dropdown #}
                <div class="relative" id="selectDropdownButton">
                    {# SideBar - Portal Settings - Dropdown Main #}
                    <div class="duration-300 rounded p-2 flex flex-row justify-between items-center cursor-pointer
                        hover:shadow-md hover:bg-veryDarkButton hover:text-white">
                        <div class="flex items-center space-x-2">
                            <svg class="w-5 hover:stroke-white" fill="none" stroke="currentColor" stroke-width="1.5"
                                 viewBox="0 0 24 24"
                                 xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M10.343 3.94c.09-.542.56-.94 1.11-.94h1.093c.55 0 1.02.398 1.11.94l.149.894c.07.424.384.764.78.93.398.164.855.142 1.205-.108l.737-.527a1.125 1.125 0 011.45.12l.773.774c.39.389.44 1.002.12 1.45l-.527.737c-.25.35-.272.806-.107 1.204.165.397.505.71.93.78l.893.15c.543.09.94.56.94 1.109v1.094c0 .55-.397 1.02-.94 1.11l-.893.149c-.425.07-.765.383-.93.78-.165.398-.143.854.107 1.204l.527.738c.32.447.269 1.06-.12 1.45l-.774.773a1.125 1.125 0 01-1.449.12l-.738-.527c-.35-.25-.806-.272-1.203-.107-.397.165-.71.505-.781.929l-.149.894c-.09.542-.56.94-1.11.94h-1.094c-.55 0-1.019-.398-1.11-.94l-.148-.894c-.071-.424-.384-.764-.781-.93-.398-.164-.854-.142-1.204.108l-.738.527c-.447.32-1.06.269-1.45-.12l-.773-.774a1.125 1.125 0 01-.12-1.45l.527-.737c.25-.35.273-.806.108-1.204-.165-.397-.505-.71-.93-.78l-.894-.15c-.542-.09-.94-.56-.94-1.109v-1.094c0-.55.398-1.02.94-1.11l.894-.149c.424-.07.765-.383.93-.78.165-.398.143-.854-.107-1.204l-.527-.738a1.125 1.125 0 01.12-1.45l.773-.773a1.125 1.125 0 011.45-.12l.737.527c.35.25.807.272 1.204.107.397-.165.71-.505.78-.929l.15-.894z"></path>
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
                            </svg>
                            <h1>Portal Settings</h1>
                        </div>
                        <svg id="selectArrow" class="w-4 hover:stroke-white duration-300" fill="none"
                             stroke="currentColor" stroke-width="1.5"
                             viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
                        </svg>
                    </div>
                    {# SideBar - Portal Settings - Dropdown Items #}
                    <div class="hidden px-2 py-2 mt-1 bg-white rounded-md duration-300 shadow-xl" id="selectDropDown">
                        <ul class="mx-2">
                            <li>
                                <a class="flex flex-row px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg hover:bg-veryDarkButton hover:text-white duration-300"
                                   href="{{ path('admin_dashboard_settings') }}">
                                    <svg class="w-5 mr-2 hover:stroke-white" fill="none" stroke="currentColor"
                                         stroke-width="1.5"
                                         viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                              d="M19.5 14.25v-2.625a3.375 3.375 0 00-3.375-3.375h-1.5A1.125 1.125 0 0113.5 7.125v-1.5a3.375 3.375 0 00-3.375-3.375H8.25m0 12.75h7.5m-7.5 3H12M10.5 2.25H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 00-9-9z"></path>
                                    </svg>
                                    Main Settings</a>
                            </li>
                            <li>
                                <a class="flex flex-row px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg hover:bg-veryDarkButton hover:text-white duration-300"
                                   href="{{ path('admin_dashboard_customize') }}">
                                    <svg class="w-5 mr-2 hover:stroke-white" fill="none" stroke="currentColor"
                                         stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                         aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                              d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10"></path>
                                    </svg>
                                    Page Style</a>
                            </li>
                            <li>
                                <a class="flex flex-row px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg hover:bg-veryDarkButton hover:text-white duration-300"
                                   href="{{ path('admin_update', {id : current_user.id}) }}">
                                    <svg class="w-5 mr-2 hover:stroke-white" fill="none" stroke="currentColor"
                                         stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                         aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                              d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z"></path>
                                    </svg>
                                    Account Settings</a>
                            </li>
                        </ul>
                    </div>
                </div>
                {# SideBar - Options - Dropdown (only shows on lower resolutions) #}
                <div class="hidden" id="optionsDropdownButton">
                    {# SideBar - Options - Dropdown Main #}
                    <div class="duration-300 rounded p-2 flex flex-row justify-between items-center cursor-pointer
                        hover:shadow-md hover:bg-veryDarkButton hover:text-white">
                        <div class="flex items-center space-x-2">
                            <svg class="w-5 hover:stroke-white" fill="none" stroke="currentColor" stroke-width="1.5"
                                 viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z"></path>
                            </svg>
                            <h1>Options</h1>
                        </div>
                        <svg id="selectArrow" class="w-4 hover:stroke-white duration-300" fill="none"
                             stroke="currentColor" stroke-width="1.5"
                             viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
                        </svg>
                    </div>
                    {# SideBar - Options - Dropdown Items #}
                    <div class="hidden px-2 py-2 mt-1 bg-white rounded-md duration-300 shadow-xl" id="optionsDropdown">
                        <ul class="mx-2">
                            <li>
                                <a class="flex flex-row px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg hover:bg-veryDarkButton hover:text-white duration-300"
                                   href="{{ path('admin_reset_password', {'id': app.user.id}) }}">
                                    <svg class="w-5 mr-2 hover:stroke-white" fill="none" stroke="currentColor"
                                         stroke-width="1.5"
                                         viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                              d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z"></path>
                                    </svg>
                                    Reset Password</a>
                            </li>
                            <li>
                                <a class="flex flex-row px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg hover:bg-veryDarkButton hover:text-white duration-300"
                                   href="{{ path('app_landing') }}">
                                    <svg class="w-5 mr-2 hover:stroke-white" fill="none" stroke="currentColor"
                                         stroke-width="1.5"
                                         viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                              d="M19.5 14.25v-2.625a3.375 3.375 0 00-3.375-3.375h-1.5A1.125 1.125 0 0113.5 7.125v-1.5a3.375 3.375 0 00-3.375-3.375H8.25m.75 12l3 3m0 0l3-3m-3 3v-6m-1.5-9H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 00-9-9z"></path>
                                    </svg>
                                    Download Profile</a>
                            </li>
                            <li>
                                <a class="flex flex-row px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg hover:bg-veryDarkButton hover:text-white duration-300"
                                   href="{{ path('saml_logout') }}"
                                   onclick="return confirm('Are you sure you to leave?')">
                                    <svg class="w-5 mr-2 hover:stroke-white" fill="none" stroke="currentColor"
                                         stroke-width="1.5"
                                         viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                              d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15M12 9l-3 3m0 0l3 3m-3-3h12.75"></path>
                                    </svg>
                                    Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-7 w-full bg-white">
            {# Header section #}
            <div class="flex items-center justify-between pb-10" id="header_page">
                {# Header - Title and Buttons #}
                {% include 'admin/partials/_header_admin.html.twig' %}
            </div>
            {# Flash error message #}
            {% for message in app.session.flashbag.get('error_admin') %}
                <div class="duration-300 transition text-white text-base bg-red-600 border-red-600 mt-5 mb-5 rounded-md p-2 mx-auto max-w-md text-center">
                    {{ message }}
                </div>
            {% endfor %}
            {# MainContent of the page #}
            <div id="content" class="p-3 text-center space-y-3 rounded-lg">
                <div class="flex flex-col md:flex-row justify-end items-center mb-4">

                    {% for message in app.session.flashbag.get('success_admin') %}
                        <div class="text-white text-base bg-primary border-primary mt-5 rounded-md p-2 text-center">{{ message }}</div>
                    {% endfor %}

                    <form action="{{ path('admin_search') }}" method="GET" class="flex items-center mt-5 md:mt-0">
                        <input type="text" name="u" placeholder="Search users..."
                               class="border border-gray-300 rounded-l px-4 py-2 md:py-2.5 focus:outline-none focus:ring-2 focus:ring-blue-500">
                        <button type="submit"
                                class="md:mt-0 bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 md:py-2.5 rounded-r focus:outline-none focus:ring-2 focus:ring-blue-500 hover:transform hover:scale-105">
                            Search
                        </button>
                    </form>
                </div>


                <div class="overflow-x-auto">
                    <table class="table-auto w-full divide-y divide-gray-200 border border-gray-300 mb-10">
                        <thead class="bg-gray-100">
                        <tr>
                            <th class="px-4 py-3 text-xs font-medium text-gray-500 uppercase">UUID</th>
                            <th class="px-4 py-3 text-xs font-medium text-gray-500 uppercase">Email</th>
                            <th class="px-4 py-3 text-xs font-medium text-gray-500 uppercase">Verification</th>
                            <th class="px-4 py-3 text-xs font-medium text-gray-500 uppercase">Google Account</th>
                            <th class="px-4 py-3 text-xs font-medium text-gray-500 uppercase">Created At</th>
                            <th class="px-4 py-3 text-xs font-medium text-gray-500 uppercase">Banned At</th>
                            <th class="px-4 py-3 text-xs font-medium text-gray-500 uppercase">Actions</th>
                        </tr>
                        </thead>
                        <tbody class="bg-white divide-y divide-gray-200">

                        {# Show the users with the partial _users #}
                        {% if users|length > 0 %}
                            {% for user in users %}
                                {{ include('admin/partials/_users.html.twig', { 'user': user }) }}
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="7">
                                    <div class="text-center">
                                        No users found for "{{ searchTerm }}"
                                    </div>
                                </td>
                            </tr>
                        {% endif %}

                        </tbody>
                    </table>
                    {% if searchTerm != null %}
                        {% if totalPages > 1 %}
                            <div class="flex justify-center mt-4 mb-5 ">
                                <div class="flex space-x-2">
                                    {% for page in 1..totalPages %}
                                        <a href="{{ path('admin_search', {'u': searchTerm, 'page': page}) }}"
                                           class="px-2 py-1 rounded hover:bg-blue-500 hover:text-white {{ currentPage == page ? 'bg-blue-500 text-white' : 'bg-gray-200 text-gray-500' }}">{{ page }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
