{% extends 'base.html.twig' %}

{% block title %}Reset Password - Admin{% endblock %}

{% block body %}
    <div class="container mx-auto mt-10">
        <div class="bg-white rounded-lg shadow-md border border-white p-6">
            <h1 class="text-2xl font-semibold mb-6">Reset Password</h1>

            <div class="flex mb-4">
                <div class="w-1/2">
                    <p class="text-gray-700">User UUID: {{ user.uuid }}</p>
                </div>
                <div class="w-1/2">
                    <p class="text-gray-700">User Email: {{ user.email }}</p>
                </div>
            </div>

            {% for message in app.session.flashbag.get('success_admin') %}
                <div class="text-white text-base bg-green-500 border-green-500 mt-5 rounded-md p-2 text-center">{{ message }}</div>
            {% endfor %}

            {{ form_start(form) }}
            <div>
                {{ form_errors(form) }}
            </div>

            <div class="mb-4 mt-1">
                {{ form_label(form.password, 'New Password', {'label_attr': {'class': 'block text-sm font-medium text-gray-700 '}}) }}
                {{ form_widget(form.password, {'attr': {'class': 'text-gray-700 text-base mb-4 mt-3 block w-full rounded-md p-2 shadow-sm focus:outline-none focus:ring-2', 'minlength': 7}}) }}
                <div class="mt-2 -mb-2 text-center text-red-500 text-base">
                    {{ form_errors(form.password) }}
                </div>
            </div>

            <div class="flex justify-center mt-6">
                <button class="bg-primary hover:bg-primary/50 text-white font-bold py-2 px-4 rounded transition ease-in duration-200"
                        type="submit"
                        onclick="return confirm('Are you sure you want to reset the password of: {{ user.email }}?')">
                    Reset Password
                </button>
            </div>
            {{ form_end(form) }}

            <div class="mt-6 text-center">
                <a href="{{ path('admin_page') }}" class="text-gray-500 hover:text-red-700">Cancel Operation</a>
            </div>
        </div>
    </div>

{% endblock %}
