{% extends '/admin/base.html.twig' %}

{% block title %}Saml Providers{% endblock %}

{% import 'admin/shared/_sort_arrow.html.twig' as sharedSort %}

{% block container %}
    <div class="pt-5 pb-1 text-left space-y-3 rounded-xl bg-white">
        <div class="w-full">
            <div class="sm:w-auto px-5 py-4">
                <div class="flex flex-col sm:flex-row justify-between items-center space-y-6 sm:space-y-0 sm:space-x-4">
                    {# Filter Section - Example Filters for Active/Inactive Providers #}
                    <div class="flex items-center space-x-6">
                        <a href="{{ path('admin_dashboard_saml_provider', {filter: 'all', s: app.request.query.get('s')}) }}"
                           class="flex flex-row group hover:border-b-2 hover:border-y-veryDarkButton transition-all duration-100 {% if app.request.query.get('filter') == null or app.request.query.get('filter') == 'all' %}border-b-2 border-y-veryDarkButton transition-all{% endif %}">
                            <h1 class="px-2">
                                All
                            </h1>
                            <div class="w-auto h-6 mb-1 px-2 bg-veryLightGreen group-hover:bg-veryDarkButton rounded-md group-hover:text-white text-center transition-all duration-100">
                                {{ allProvidersCount }}
                            </div>
                        </a>
                        <a href="{{ path('admin_dashboard_saml_provider', {filter: 'active', s: app.request.query.get('s')}) }}"
                           class="flex flex-row group hover:text-lightGreen hover:border-b-2 hover:border-y-lightGreen/50 transition-all duration-100 {% if app.request.query.get('filter') == 'active' %}text-lightGreen border-b-2 border-y-lightGreen transition-all{% endif %}">
                            <h1 class="px-2">
                                Active
                            </h1>
                            <div class="w-auto h-6 mb-1 px-2 bg-veryLightGreen group-hover:bg-lightGreen rounded-md group-hover:text-white text-center transition-all duration-100">
                                {{ activeProviderCount }}
                            </div>
                        </a>
                        <a href="{{ path('admin_dashboard_saml_provider', {filter: 'inactive', s: app.request.query.get('s')}) }}"
                           class="flex flex-row group hover:text-red-400 hover:border-b-2 hover:border-y-red-400 transition-all duration-100 {% if app.request.query.get('filter') == 'inactive' %}text-red-400 border-b-2 border-y-red-400 transition-all{% endif %}">
                            <h1 class="px-2">
                                Inactive
                            </h1>
                            <div class="w-auto h-6 mb-1 px-2 bg-veryLightGreen group-hover:bg-red-400 rounded-md group-hover:text-white text-center transition-all duration-100">
                                {{ inactiveProvidersCount }}
                            </div>
                        </a>
                    </div>

                    {# Search Bar Section #}
                    <div class="w-full md:w-3/6">
                        <form action="{{ path('admin_dashboard_saml_provider') }}" method="GET">
                            <div class="flex flex-row items-center border rounded-md">
                                <button type="submit">
                                    <svg class="w-5 mx-3 text-gray-400" fill="none" stroke="currentColor"
                                         stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                         aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                              d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"></path>
                                    </svg>
                                </button>
                                <label class="w-full">
                                    <input type="text"
                                           class="form-widget w-full p-2 bg-transparent border-none outline-none"
                                           placeholder="Search Providers ..." name="s"
                                           value="{{ app.request.query.get('s', '') }}">
                                </label>
                                <input type="hidden" name="filter" value="{{ app.request.query.get('filter', 'all') }}">
                            </div>
                        </form>
                    </div>
                    <div class="flex items-center space-x-6">
                        <a href="{{ path('admin_dashboard_saml_provider_new') }}"
                           class="btn-primary flex items-center space-x-2">
                            <twig:ux:icon name="wba:layout-grid-add" class="w-5 h-5 md:w-6 md:h-6" fill="none"/>
                            <span>Add new provider</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="overflow-x-auto max-w-full mt-3">
                <div class="w-full items-start md:mx-auto space-y-4 sm:space-y-0">
                    {# Table Content #}
                    <table class="w-full items-start" {{ stimulus_controller('copy_url') }}>
                        <thead class="text-sm text-gray-700 bg-veryLightGreen">
                        <tr>
                            {# IDP Entity ID Column #}
                            <th scope="col" class="px-10 py-3">
                                <h1>Status</h1>
                            </th>

                            {# Name Column #}
                            <th scope="col" class="px-4 py-2">
                                <div class="flex items-center space-x-2">
                                    <h1>Name</h1>
                                    <a href="{{ path('admin_dashboard_saml_provider', {...app.request.query.all, sort: 'name', order: activeSort == 'name' and activeOrder == 'asc' ? 'desc' : 'asc'}) }}"
                                       class="p-1 hover:shadow-md rounded-lg cursor-pointer">
                                        {{ sharedSort.sortArrow('name', activeSort, activeOrder) }}
                                    </a>
                                </div>
                            </th>

                            {# IDP Entity ID Column #}
                            <th scope="col" class="p-2">
                                <h1>IDP Entity ID</h1>
                            </th>

                            {# IDP SSO URL Column #}
                            <th scope="col" class="p-2">
                                <h1>IDP SSO URL</h1>
                            </th>

                            {# SP Entity ID Column #}
                            <th scope="col" class="p-2">
                                <h1>SP Entity ID</h1>
                            </th>

                            {# SP ACS URL Column #}
                            <th scope="col" class="p-2">
                                <h1>SP ACS URL</h1>
                            </th>

                            {# Created At Column #}
                            <th scope="col" class="px1 py-2">
                                <div class="flex items-center space-x-2">
                                    <h1>CreatedAt</h1>
                                    <a href="{{ path('admin_dashboard_saml_provider', {...app.request.query.all, sort: 'createdAt', order: activeSort == 'createdAt' and activeOrder == 'asc' ? 'desc' : 'asc'}) }}"
                                       class="p-1 hover:shadow-md rounded-lg cursor-pointer">
                                        {{ sharedSort.sortArrow('createdAt', activeSort, activeOrder) }}
                                    </a>
                                </div>
                            </th>

                            {# Updated At Column #}
                            <th scope="col" class="px-1 py-2">
                                <div class="flex items-center space-x-2">
                                    <h1>UpdatedAt</h1>
                                    <a href="{{ path('admin_dashboard_saml_provider', {...app.request.query.all, sort: 'updatedAt', order: activeSort == 'updatedAt' and activeOrder == 'asc' ? 'desc' : 'asc'}) }}"
                                       class="p-1 hover:shadow-md rounded-lg cursor-pointer">
                                        {{ sharedSort.sortArrow('updatedAt', activeSort, activeOrder) }}
                                    </a>
                                </div>
                            </th>

                            {# Actions Column #}
                            <th scope="col" class="px-8 py-3 text-right">
                                <span class="sr-only">Actions</span>
                            </th>
                        </tr>
                        </thead>
                        <tbody class="px-5">
                        {% for samlProvider in samlProviders %}
                            {{ include('admin/shared/saml_providers/_saml_provider_content.html.twig', {samlProvider: samlProvider}) }}
                        {% else %}
                            <tr>
                                <td colspan="7">
                                    <div class="flex flex-row justify-center items-start mt-2">
                                        <div class="pill-error">
                                            {% if searchTerm %}
                                                No SAML Providers found with "{{ searchTerm }}"
                                            {% elseif app.request.query.get('filter') == 'active' %}
                                                There are no active SAML Providers in the system
                                            {% elseif app.request.query.get('filter') == 'inactive' %}
                                                There are no inactive SAML Providers in the system
                                            {% else %}
                                                There are no SAML Providers in the system
                                            {% endif %}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            {# Pagination #}
            <div class="m-8">
                <hr class="w-full h-0.5 bg-gray-300/50 border-0 border-gray-300/50 rounded">
                {{ include('admin/shared/pagination/_pagination_samlProviders.html.twig', {label: 'Providers per page', route: 'admin_dashboard_saml_provider', occurrencies: allProvidersCount}) }}
            </div>
        </div>
    </div>
{% endblock %}
