{% extends '/admin/base.html.twig' %}

{% block title %}Saml Providers{% endblock %}

{% block container %}
    <div class="pt-5 pb-1 text-left space-y-3 rounded-xl bg-white">
        <div class="w-full">
            <div class="sm:w-auto px-5 py-4">
                <div class="flex flex-col sm:flex-row justify-between items-center space-y-6 sm:space-y-0 sm:space-x-4">
                    {# Filter Section - Example Filters for Active/Inactive Providers #}
                    <div class="flex items-center space-x-6">
                        <a href="{{ path('admin_dashboard_saml_provider', {filter: 'all'}) }}"
                           class="flex flex-row group hover:border-b-2 hover:border-y-veryDarkButton transition-all duration-100 {% if app.request.query.get('filter') == null or app.request.query.get('filter') == 'all' %}border-b-2 border-y-veryDarkButton transition-all{% endif %}">
                            <h1 class="px-2">
                                All
                            </h1>
                            <div class="w-auto h-6 mb-1 px-2 bg-veryLightGreen group-hover:bg-veryDarkButton rounded-md group-hover:text-white text-center transition-all duration-100">
                                {{ allProvidersCount }}
                            </div>
                        </a>
                        <a href="{{ path('admin_dashboard_saml_provider', {filter: 'active'}) }}"
                           class="flex flex-row group hover:text-lightGreen hover:border-b-2 hover:border-y-lightGreen/50 transition-all duration-100 {% if app.request.query.get('filter') == 'active' %}text-lightGreen border-b-2 border-y-lightGreen transition-all{% endif %}">
                            <h1 class="px-2">
                                Active
                            </h1>
                            <div class="w-auto h-6 mb-1 px-2 bg-veryLightGreen group-hover:bg-lightGreen rounded-md group-hover:text-white text-center transition-all duration-100">
                                1
                            </div>
                        </a>
                        <a href="{{ path('admin_dashboard_saml_provider', {filter: 'inactive'}) }}"
                           class="flex flex-row group hover:text-red-400 hover:border-b-2 hover:border-y-red-400 transition-all duration-100 {% if app.request.query.get('filter') == 'inactive' %}text-red-400 border-b-2 border-y-red-400 transition-all{% endif %}">
                            <h1 class="px-2">
                                Inactive
                            </h1>
                            <div class="w-auto h-6 mb-1 px-2 bg-veryLightGreen group-hover:bg-red-400 rounded-md group-hover:text-white text-center transition-all duration-100">
                                {{ inactiveProvidersCount }}
                            </div>
                        </a>
                    </div>

                    {# Search Bar Section #}
                    <div class="w-full md:w-3/6">
                        <form action="{{ path('admin_dashboard_saml_provider') }}" method="GET">
                            <div class="flex flex-row items-center border rounded-md">
                                <button type="submit">
                                    <svg class="w-5 mx-3 text-gray-400" fill="none" stroke="currentColor"
                                         stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                         aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                              d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"></path>
                                    </svg>
                                </button>
                                <label class="w-full">
                                    <input type="text"
                                           class="form-widget w-full p-2 bg-transparent border-none outline-none"
                                           placeholder="Search Providers ..." name="s"
                                           value="{{ app.request.query.get('s', '') }}">
                                </label>
                                <input type="hidden" name="filter" value="{{ app.request.query.get('filter', 'all') }}">
                            </div>
                        </form>
                    </div>
                    <div class="flex items-center space-x-6">
                        <a href="{{ path('admin_dashboard_saml_provider_new') }}" class="btn-primary">
                            New Saml Provider
                        </a>
                    </div>
                </div>
            </div>
            <div class="overflow-x-auto max-w-full mt-3">
                <div class="w-full items-start md:mx-auto space-y-4 sm:space-y-0">
                    {# Table Content #}
                    <table class="w-full items-start">
                        <thead class="text-sm text-gray-700 bg-veryLightGreen">
                        <tr>
                            <th scope="col" class="px-8 py-3 text-left">
                                Name
                            </th>
                            <th scope="col" class="px-8 py-3 text-left">
                                IDP Entity ID
                            </th>
                            <th scope="col" class="px-8 py-3 text-left">
                                IDP SSO URL
                            </th>
                            <th scope="col" class="px-8 py-3 text-left">
                                Active
                            </th>
                            <th scope="col" class="px-8 py-3 text-left">
                                Created At
                            </th>
                            <th scope="col" class="px-8 py-3 text-left">
                                Updated At
                            </th>
                            <th scope="col" class="px-8 py-3 text-right">
                            </th>
                        </tr>
                        </thead>
                        <tbody class="px-5">
                            {{ include('admin/shared/_saml_provider_content.html.twig') }}
                        </tbody>
                    </table>
                </div>
            </div>

            {# Pagination #}
            <div class="w-full mt-6">
                {# {{ include('admin/shared/_pagination_users.html.twig', {label: 'Providers per page', route: 'saml_providers_list', occurrencies: allProvidersCount}) }} #}
            </div>
        </div>
    </div>
{% endblock %}
