{% extends 'base.html.twig' %}

{% block title %}Admin Page WBA{% endblock %}

{% block body %}
    <section class="flex text-veryDarkPurple">
        <div class="bg-lightGray hidden md:block h-screen p-4 pt-4 w-10/12 md:w-3/12 duration-300 relative border-r border-gray-300/50"
             data-controller="sidebar" id="sidebar">
            {# SideBar Container #}
            <div id="sideHeader" class="flex flex-col justify-center items-center">
                {# SideBar Header #}
                <h1 class="pt-4 font-semibold text-2xl font-break">
                    OpenRoaming Admin
                </h1>
                <img src="{{ data.customerLogoName.value }}" class="w-2/5 pt-3 mx-auto mt-auto mb-6"
                     alt="customer_logo">
                <hr class="w-full m-5 mx-4 h-0.5 bg-gray-300/50 border-0 border-gray-300/50 rounded">
            </div>
            {# SideBar Button (User/PortalSettings #}
            <div id="selectAction" class="py-4 flex flex-col space-y-2 font-medium">
                {# SideBar Button - User - Button #}
                <a href="{{ path('admin_page') }}">
                    <div id="UserButton"
                         class="duration-300 rounded p-2 flex flex-row justify-between items-center cursor-pointer hover:shadow hover:text-lightGreen">
                        <div class="flex items-center space-x-2">
                            <svg class="w-5 mr-2" fill="none" stroke="currentColor"
                                 stroke-width="1.5"
                                 viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z"></path>
                            </svg>
                            <h1>Users</h1>
                        </div>
                        <svg class="w-4" fill="none" stroke="currentColor"
                             stroke-width="1.5"
                             viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5"></path>
                        </svg>
                    </div>
                </a>

                {# SideBar - Portal Settings - Dropdown #}
                <div class="relative" id="PortalDropdownButton">
                    {# SideBar - Portal Settings - Dropdown Main #}
                    <div class="selected duration-300 rounded p-2 flex flex-row justify-between items-center cursor-pointer
                        hover:shadow-md hover:text-lightGreen">
                        <div class="flex items-center space-x-2">
                            <svg class="w-5 mr-2  selected-icon" fill="none" stroke="currentColor"
                                 stroke-width="1.5"
                                 viewBox="0 0 24 24"
                                 xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M10.343 3.94c.09-.542.56-.94 1.11-.94h1.093c.55 0 1.02.398 1.11.94l.149.894c.07.424.384.764.78.93.398.164.855.142 1.205-.108l.737-.527a1.125 1.125 0 011.45.12l.773.774c.39.389.44 1.002.12 1.45l-.527.737c-.25.35-.272.806-.107 1.204.165.397.505.71.93.78l.893.15c.543.09.94.56.94 1.109v1.094c0 .55-.397 1.02-.94 1.11l-.893.149c-.425.07-.765.383-.93.78-.165.398-.143.854.107 1.204l.527.738c.32.447.269 1.06-.12 1.45l-.774.773a1.125 1.125 0 01-1.449.12l-.738-.527c-.35-.25-.806-.272-1.203-.107-.397.165-.71.505-.781.929l-.149.894c-.09.542-.56.94-1.11.94h-1.094c-.55 0-1.019-.398-1.11-.94l-.148-.894c-.071-.424-.384-.764-.781-.93-.398-.164-.854-.142-1.204.108l-.738.527c-.447.32-1.06.269-1.45-.12l-.773-.774a1.125 1.125 0 01-.12-1.45l.527-.737c.25-.35.273-.806.108-1.204-.165-.397-.505-.71-.93-.78l-.894-.15c-.542-.09-.94-.56-.94-1.109v-1.094c0-.55.398-1.02.94-1.11l.894-.149c.424-.07.765-.383.93-.78.165-.398.143-.854-.107-1.204l-.527-.738a1.125 1.125 0 01.12-1.45l.773-.773a1.125 1.125 0 011.45-.12l.737.527c.35.25.807.272 1.204.107.397-.165.71-.505.78-.929l.15-.894z"></path>
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
                            </svg>
                            <h1 class="selected-text">Portal Settings</h1>
                        </div>
                        <svg id="selectArrow" class="w-4  duration-300 selected-icon" fill="none"
                             stroke="currentColor" stroke-width="1.5"
                             viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
                        </svg>
                    </div>
                    {# SideBar - Portal Settings - Dropdown Items #}
                    <div class="hidden px-2 py-2 mt-1 bg-white rounded-md duration-300 shadow-xl" id="PortalDropDown">
                        <ul class="mx-2">
                            <li>
                                <a class="selected flex flex-row px-4 py-2 mt-2 text-sm font-semibold rounded-lg hover:text-lightGreen duration-300"
                                   href="{{ path('admin_dashboard_settings') }}">
                                    <svg class="w-5 mr-2  selected-icon " fill="none"
                                         stroke="currentColor"
                                         stroke-width="1.5"
                                         viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                              d="M19.5 14.25v-2.625a3.375 3.375 0 00-3.375-3.375h-1.5A1.125 1.125 0 0113.5 7.125v-1.5a3.375 3.375 0 00-3.375-3.375H8.25m0 12.75h7.5m-7.5 3H12M10.5 2.25H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 00-9-9z"></path>
                                    </svg>
                                    <h1 class="selected-text">Main Settings</h1></a>
                            </li>
                            <li>
                                <a class="flex flex-row px-4 py-2 mt-2 text-sm font-semibold rounded-lg hover:bg-veryDarkButton hover:text-white duration-300"
                                   href="{{ path('admin_dashboard_customize') }}">
                                    <svg class="w-5 mr-2 " fill="none" stroke="currentColor"
                                         stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                         aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                              d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10"></path>
                                    </svg>
                                    Page Style</a>
                            </li>
                            <li>
                                <a class="flex flex-row px-4 py-2 mt-2 text-sm font-semibold rounded-lg hover:bg-veryDarkButton hover:text-white duration-300"
                                   href="{{ path('admin_update', {id : current_user.id}) }}">
                                    <svg class="w-5 mr-2 " fill="none" stroke="currentColor"
                                         stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                         aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                              d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z"></path>
                                    </svg>
                                    Account Settings</a>
                            </li>
                        </ul>
                    </div>
                </div>
                {# SideBar - Options - Dropdown (only shows on lower resolutions) #}
                <div class="hidden" id="optionsDropdownButton">
                    <div class="duration-300 rounded p-2 flex flex-row justify-between items-center cursor-pointer
                        hover:shadow hover:text-lightGreen">
                        <div class="flex items-center space-x-2">
                            <svg class="w-5 mr-2" fill="none" stroke="currentColor" stroke-width="1.5"
                                 viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z"></path>
                            </svg>
                            <h1>Options</h1>
                        </div>
                        <svg id="selectArrow" class="w-4  duration-300" fill="none"
                             stroke="currentColor" stroke-width="1.5"
                             viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
                        </svg>
                    </div>
                    <div class="hidden px-2 py-2 mt-1 bg-lightGray rounded-md duration-300 shadow"
                         id="optionsDropdown">
                        <ul class="mx-2">
                            <li>
                                <a class="flex flex-row px-4 py-2 mt-2 text-sm font-semibold rounded-lg hover:text-lightGreen duration-300"
                                   href="{{ path('admin_reset_password', {'id': app.user.id}) }}">
                                    <svg class="w-5 mr-2 " fill="none" stroke="currentColor"
                                         stroke-width="1.5"
                                         viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                              d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z"></path>
                                    </svg>
                                    Reset Password</a>
                            </li>
                            <li>
                                <a class="flex flex-row px-4 py-2 mt-2 text-sm font-semibold rounded-lg hover:text-lightGreen duration-300"
                                   href="{{ path('app_landing') }}">
                                    <svg class="w-5 mr-2 " fill="none" stroke="currentColor"
                                         stroke-width="1.5"
                                         viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                              d="M19.5 14.25v-2.625a3.375 3.375 0 00-3.375-3.375h-1.5A1.125 1.125 0 0113.5 7.125v-1.5a3.375 3.375 0 00-3.375-3.375H8.25m.75 12l3 3m0 0l3-3m-3 3v-6m-1.5-9H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 00-9-9z"></path>
                                    </svg>
                                    Download Profile</a>
                            </li>
                            <li>
                                <a class="flex flex-row px-4 py-2 mt-2 text-sm font-semibold rounded-lg hover:text-lightGreen duration-300"
                                   href="{{ path('saml_logout') }}"
                                   onclick="return confirm('Are you sure you to leave?')">
                                    <svg class="w-5 mr-2 " fill="none" stroke="currentColor"
                                         stroke-width="1.5"
                                         viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                              d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15M12 9l-3 3m0 0l3 3m-3-3h12.75"></path>
                                    </svg>
                                    Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-7 w-full bg-lightGray">
            {# Header section #}
            <div class="flex items-center justify-between pb-10" id="header_page">
                {# Header - Title and Buttons #}
                {% include 'admin/partials/_header_admin.html.twig' %}
            </div>

            <div>
                {# Flash error message #}
                {% for message in app.session.flashbag.get('error_admin') %}
                    <div class="duration-300 transition text-white text-base bg-red-600 border-red-600 mt-5 mb-5 rounded-md p-2 mx-auto max-w-md text-center">
                        {{ message }}
                    </div>
                {% endfor %}
                {# MainContent of the page #}
                <div id="content" class="p-3 text-center space-y-3 rounded-lg">
                    <form action="{{ path('admin_dashboard_settings') }}" method="post" novalidate>
                        {{ form_row(form._token) }}
                        <h2 class="text-center text-xl font-semibold mb-5">Main Settings</h2>
                        <div class="grid gap-4 md:grid-cols-2 lg:grid-cols-3">
                            {# Choice Cards - Main Cards #}
                            {% set inputSettings = settings|filter(item => form[item.name] is defined and form[item.name].vars.block_prefixes[1] == 'choice') %}
                            {% for setting in inputSettings %}
                                {# Exclude the settings you don't want to show #}
                                {% if setting.name not in ['CUSTOMER_LOGO', 'OPENROAMING_LOGO', 'WALLPAPER_IMAGE', 'PAGE_TITLE', 'WELCOME_TEXT', 'WELCOME_DESCRIPTION'] %}
                                    <div class="transition hover:-translate-y-1 hover:shadow-md hover:shadow-black/50 bg-gray-200 hover:bg-gray-200/50 rounded p-3 w-full border border-gray-300">
                                        <div class="flex flex-row justify-between">
                                            <div class="text-base font-medium m-2 p-2 text-center break-normal md:break-all">
                                                {{ setting.name }}
                                            </div>
                                            <label class="flex items-center rounded-lg bg-opacity-40 cursor-pointer relative"
                                                   data-controller="descriptionCard"
                                                   name="descriptionIcon"
                                            >
                                                <img class="w-6"
                                                     src="{{ asset('resources/logos/info_icon.svg') }}"
                                                     alt="info_icon"
                                                />
                                            </label>
                                        </div>
                                        <div class="p-2 w-full mt-1 flex justify-center">
                                            {{ form_widget(form[setting.name], {'attr': {'class': 'text-center rounded text-gray-700 text-base block w-full p-2 shadow-sm focus:outline-none focus:ring-2'}}) }}
                                            {{ form_errors(form[setting.name], {'attr': {'class': 'mt-2 text-center text-red-500 text-base'}}) }}
                                        </div>
                                        <div class="flex justify-center items-center">
                                            <div class="bg-indigo-400 rounded-lg p-2 m-2 w-3/4 text-center text-white -translate-y-6 absolute hidden"
                                                 name="description">
                                                {{ getSettings.getSettingDescription(setting.name) }}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>

                        <hr class="my-8 border-t-2 border-gray-300">
                        <div class="text-center space-y-2">
                            <h2 class="text-lg font-semibold">Sub Settings</h2>
                        </div>
                        <div class="grid gap-4 md:grid-cols-2 lg:grid-cols-3 mt-5">
                            {# Content Types Cards - Sub Cards #}
                            {% set contentSettings = settings|filter(item => form[item.name] is defined and form[item.name].vars.block_prefixes[1] != 'choice') %}
                            {% for setting in contentSettings %}
                                {# Exclude the settings you don't want to show #}
                                {% if setting.name not in ['CUSTOMER_LOGO', 'OPENROAMING_LOGO', 'WALLPAPER_IMAGE', 'PAGE_TITLE', 'WELCOME_TEXT', 'WELCOME_DESCRIPTION'] %}
                                    <div class="transition hover:-translate-y-1 hover:shadow-md hover:shadow-black/50 bg-gray-200 hover:bg-gray-200/50 rounded p-3 border border-gray-300">
                                        <div class="flex flex-row justify-between">
                                            <div class="text-sm font-medium text-gray-700 mb-2 text-center break-normal md:break-all">
                                                {{ setting.name }}
                                            </div>
                                            <label class="flex items-center rounded-lg bg-opacity-40 cursor-pointer relative"
                                                   name="descriptionIcon"
                                            >
                                                <img class="w-4 md:w-5"
                                                     src="{{ asset('resources/logos/info_icon.svg') }}"
                                                     alt="info_icon"/>
                                            </label>
                                        </div>

                                        <div class="p-2 w-full">
                                            {% set value = form[setting.name].vars.value %}
                                            {% if value is empty %}
                                                {{ form_widget(form[setting.name], {'attr': {'class': 'text-center text-base block w-full rounded-md p-2 shadow-sm focus:outline-none focus:ring-2', 'placeholder': 'Not Defined'}}) }}
                                            {% else %}
                                                {{ form_widget(form[setting.name], {'attr': {'class': 'text-center text-gray-500 text-base block w-full rounded-md p-2 shadow-sm focus:outline-none focus:ring-2'}}) }}
                                                <div class="mt-2 -mb-2 text-center text-red-500 text-base">
                                                    {{ form_errors(form[setting.name]) }}
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="flex justify-center items-center">
                                            <div class="bg-indigo-400 rounded-lg p-2 m-2 w-3/4 text-center text-white -translate-y-6 absolute hidden"
                                                 name="description">
                                                {{ getSettings.getSettingDescription(setting.name) }}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="flex flex-col md:flex-row justify-evenly items-center">
                            <div class="mt-6 mb-6">
                                <a href="{{ path('admin_page') }}"
                                   class="bg-blue-500 text-white font-bold py-2 px-4 rounded transition duration-150 ease-in-out hover:shadow-md motion-reduce:transition-none hover:transform hover:scale-105">
                                    Return Dashboard
                                </a>
                            </div>

                            <div class=" mt-6 mb-6">
                                <button class="bg-green-500 text-white font-bold py-2 px-4 rounded transition duration-150 ease-in-out hover:shadow-md motion-reduce:transition-none hover:transform hover:scale-105"
                                        onclick="return confirm('Are you sure you want to apply these new settings?')"
                                        type="submit">Save Changes
                                </button>
                            </div>

                            <div class="mt-6 mb-4">
                                <a href="{{ path('app_dashboard_regenerate_code_admin', {'type': 'settingMain'}) }}"
                                   onclick="return confirm('Are you sure you want to reset to the default settings?')"
                                   class="bg-yellow-500 text-white font-bold py-2 px-4 rounded transition duration-150 ease-in-out hover:shadow-md motion-reduce:transition-none hover:transform hover:scale-105">
                                    Reset All Settings
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </section>
{% endblock %}
