{% extends 'base.html.twig' %}

{% block title %}Admin Page WBA{% endblock %}

{% block body %}
    <section class="flex text-veryDarkPurple" data-controller="sidebar">
        {% include 'admin/partials/_sidebar.html.twig' %}
        <div class="p-7 w-full bg-lightGray">
            {# Header section #}
            <div class="flex items-center justify-between pb-10" id="header_page">
                {# Header - Title and Buttons #}
                {% include 'admin/partials/_header_admin.html.twig' %}
            </div>

            <div>
                {# Flash error message #}
                {% for message in app.session.flashbag.get('error_admin') %}
                    <div class="duration-300 transition text-white text-base bg-red-600 border-red-600 mt-5 mb-5 rounded-md p-2 mx-auto max-w-md text-center">
                        {{ message }}
                    </div>
                {% endfor %}
                {# MainContent of the page #}
                <div id="content" class="p-3 text-center space-y-3 rounded-lg">
                    <form action="{{ path('admin_dashboard_settings') }}" method="post" novalidate>
                        {{ form_row(form._token) }}
                        <h2 class="text-center text-xl font-semibold mb-5">Main Settings</h2>
                        <div class="grid gap-4 md:grid-cols-2 lg:grid-cols-3">
                            {# Choice Cards - Main Cards #}
                            {% set inputSettings = settings|filter(item => form[item.name] is defined and form[item.name].vars.block_prefixes[1] == 'choice') %}
                            {% for setting in inputSettings %}
                                {# Exclude the settings you don't want to show #}
                                {% if setting.name not in ['CUSTOMER_LOGO', 'OPENROAMING_LOGO', 'WALLPAPER_IMAGE', 'PAGE_TITLE', 'WELCOME_TEXT', 'WELCOME_DESCRIPTION'] %}
                                    <div class="transition hover:-translate-y-1 hover:shadow-md hover:shadow-black/50 bg-gray-200 hover:bg-gray-200/50 rounded p-3 w-full border border-gray-300">
                                        <div class="flex flex-row justify-between">
                                            <div class="text-base font-medium m-2 p-2 text-center break-normal md:break-all">
                                                {{ setting.name }}
                                            </div>
                                            <label class="flex items-center rounded-lg bg-opacity-40 cursor-pointer relative"
                                                   data-controller="descriptionCard"
                                                   name="descriptionIcon"
                                            >
                                                <img class="w-6"
                                                     src="{{ asset('resources/logos/info_icon.svg') }}"
                                                     alt="info_icon"
                                                />
                                            </label>
                                        </div>
                                        <div class="p-2 w-full mt-1 flex justify-center">
                                            {{ form_widget(form[setting.name], {'attr': {'class': 'text-center rounded text-gray-700 text-base block w-full p-2 shadow-sm focus:outline-none focus:ring-2'}}) }}
                                            {{ form_errors(form[setting.name], {'attr': {'class': 'mt-2 text-center text-red-500 text-base'}}) }}
                                        </div>
                                        <div class="flex justify-center items-center">
                                            <div class="bg-indigo-400 rounded-lg p-2 m-2 w-3/4 text-center text-white -translate-y-6 absolute hidden"
                                                 name="description">
                                                {{ getSettings.getSettingDescription(setting.name) }}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>

                        <hr class="my-8 border-t-2 border-gray-300">
                        <div class="text-center space-y-2">
                            <h2 class="text-lg font-semibold">Sub Settings</h2>
                        </div>
                        <div class="grid gap-4 md:grid-cols-2 lg:grid-cols-3 mt-5">
                            {# Content Types Cards - Sub Cards #}
                            {% set contentSettings = settings|filter(item => form[item.name] is defined and form[item.name].vars.block_prefixes[1] != 'choice') %}
                            {% for setting in contentSettings %}
                                {# Exclude the settings you don't want to show #}
                                {% if setting.name not in ['CUSTOMER_LOGO', 'OPENROAMING_LOGO', 'WALLPAPER_IMAGE', 'PAGE_TITLE', 'WELCOME_TEXT', 'WELCOME_DESCRIPTION'] %}
                                    <div class="transition hover:-translate-y-1 hover:shadow-md hover:shadow-black/50 bg-gray-200 hover:bg-gray-200/50 rounded p-3 border border-gray-300">
                                        <div class="flex flex-row justify-between">
                                            <div class="text-sm font-medium text-gray-700 mb-2 text-center break-normal md:break-all">
                                                {{ setting.name }}
                                            </div>
                                            <label class="flex items-center rounded-lg bg-opacity-40 cursor-pointer relative"
                                                   name="descriptionIcon"
                                            >
                                                <img class="w-4 md:w-5"
                                                     src="{{ asset('resources/logos/info_icon.svg') }}"
                                                     alt="info_icon"/>
                                            </label>
                                        </div>

                                        <div class="p-2 w-full">
                                            {% set value = form[setting.name].vars.value %}
                                            {% if value is empty %}
                                                {{ form_widget(form[setting.name], {'attr': {'class': 'text-center text-base block w-full rounded-md p-2 shadow-sm focus:outline-none focus:ring-2', 'placeholder': 'Not Defined'}}) }}
                                            {% else %}
                                                {{ form_widget(form[setting.name], {'attr': {'class': 'text-center text-gray-500 text-base block w-full rounded-md p-2 shadow-sm focus:outline-none focus:ring-2'}}) }}
                                                <div class="mt-2 -mb-2 text-center text-red-500 text-base">
                                                    {{ form_errors(form[setting.name]) }}
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="flex justify-center items-center">
                                            <div class="bg-indigo-400 rounded-lg p-2 m-2 w-3/4 text-center text-white -translate-y-6 absolute hidden"
                                                 name="description">
                                                {{ getSettings.getSettingDescription(setting.name) }}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="flex flex-col md:flex-row justify-evenly items-center">
                            <div class="mt-6 mb-6">
                                <a href="{{ path('admin_page') }}"
                                   class="bg-blue-500 text-white font-bold py-2 px-4 rounded transition duration-150 ease-in-out hover:shadow-md motion-reduce:transition-none hover:transform hover:scale-105">
                                    Return Dashboard
                                </a>
                            </div>

                            <div class=" mt-6 mb-6">
                                <button class="bg-green-500 text-white font-bold py-2 px-4 rounded transition duration-150 ease-in-out hover:shadow-md motion-reduce:transition-none hover:transform hover:scale-105"
                                        onclick="return confirm('Are you sure you want to apply these new settings?')"
                                        type="submit">Save Changes
                                </button>
                            </div>

                            <div class="mt-6 mb-4">
                                <a href="{{ path('app_dashboard_regenerate_code_admin', {'type': 'settingMain'}) }}"
                                   onclick="return confirm('Are you sure you want to reset to the default settings?')"
                                   class="bg-yellow-500 text-white font-bold py-2 px-4 rounded transition duration-150 ease-in-out hover:shadow-md motion-reduce:transition-none hover:transform hover:scale-105">
                                    Reset All Settings
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </section>
{% endblock %}
