<div class="instructions">
    {# Introduction #}
    <p class="introduction">
        {{ 'introduction'|trans({}, 'windows') }}
    </p>

    {# Get the correct image folder based on locale, fallback to en #}
    {% set locale = app.request.locale in [
        constant('App\\Enum\\LanguageType::EN').value,
        constant('App\\Enum\\LanguageType::PT').value]
        ? app.request.locale : LanguageType.EN.value %}
    {% set imgPath = 'resources/instructions/windows/' ~ locale %}

    <div class="card-container">
        <div class="card-grid-windows">

            <a href="{{ asset(imgPath ~ '/item1.jpeg') }}" target="_blank" class="card">
                <div class="card-number">1</div>
                <div class="flex justify-center">
                    <img src="{{ asset(imgPath ~ '/item1.jpeg') }}" alt="Item 1" class="card-image-windows">
                </div>
                <p class="card-description">
                    {{ 'item1.description'|trans({}, 'windows') }}
                </p>
            </a>

            <a href="{{ asset(imgPath ~ '/item2.jpeg') }}" target="_blank" class="card">
                <div class="card-number">2</div>
                <div class="flex justify-center">
                    <img src="{{ asset(imgPath ~ '/item2.jpeg') }}" alt="Item 2" class="card-image-windows">
                </div>
                <p class="card-description">
                    {{ 'item2.description'|trans({}, 'windows') }}
                </p>
            </a>

            <a href="{{ asset(imgPath ~ '/item3.jpeg') }}" target="_blank" class="card">
                <div class="card-number">3</div>
                <div class="flex justify-center">
                    <img src="{{ asset(imgPath ~ '/item3.jpeg') }}" alt="Item 3" class="card-image-windows">
                </div>
                <p class="card-description">
                    {{ 'item3.description'|trans({}, 'windows') }}
                </p>
            </a>

            <a href="{{ asset(imgPath ~ '/item4.jpeg') }}" target="_blank" class="card">
                <div class="card-number">4</div>
                <div class="flex justify-center">
                    <img src="{{ asset(imgPath ~ '/item4.jpeg') }}" alt="Item 4" class="card-image-windows">
                </div>
                <p class="card-description">
                    {{ 'item4.description'|trans({}, 'windows') }}
                </p>
            </a>
        </div>
    </div>
</div>
