{% extends 'dashboard/shared/settings_actions/certificatesManagement/certificates/freeradius/base.html.twig' %}

{% block freeradius_content %}
    <twig:CertificateFreeradiusDomainForm
            :certificateFreeradiusDomainDTO="certificateFreeradiusDomainDTO"
            :form="form">
        {{ form_start(form) }}

        {{ include('dashboard/shared/settings_actions/certificatesManagement/partials/_return_selection_freeradius.html.twig') }}

        <div class="border border-gray-200 rounded-xl shadow-sm overflow-hidden">
            <div class="bg-gray-50 px-6 py-4 border-b border-gray-200 flex items-center gap-2">
                <twig:ux:icon class="w-5 h-5 text-primary fill-none stroke-current" name="wba:globe"/>
                <h5 class="text-lg font-semibold text-gray-800">
                    {{ 'title_auto_renew'|trans({}, 'upload_freeradius') }}
                </h5>
            </div>

            <div class="space-y-2 px-6 py-4">
                <p class="text-sm font-medium text-gray-700">
                    {{ 'domain.description'|trans({}, 'upload_freeradius') }}
                </p>

                {{ form_label(
                    form.domain,
                    'domain.label'|trans({}, 'upload_freeradius'),
                    { label_attr: { class: 'font-semibold' } }
                ) }}

                {{ form_widget(form.domain, {
                    attr: {
                        class: 'form-widget',
                        placeholder: 'Example.com'
                    }
                }) }}

                <div class="text-red-500 text-sm ml-1">
                    {{ form_errors(form.domain) }}
                </div>
            </div>
        </div>

        <div class="flex justify-end pt-4">
            <button class="px-6 py-2.5 rounded-lg bg-primary text-white shadow-sm hover:bg-primary-dark transition">
                {{ 'submit_generate'|trans({}, 'upload_freeradius') }}
            </button>
        </div>

        {{ form_end(form) }}
    </twig:CertificateFreeradiusDomainForm>
{% endblock %}
