{% extends 'dashboard/shared/settings_actions/certificatesManagement/certificates/freeradius/base.html.twig' %}

{% set certDisplayNames = {
    caFREERADIUS: 'CARoot'|trans({}, 'config_freeradius'),
    certFREERADIUS: 'serverCertificate'|trans({}, 'config_freeradius'),
    chainFREERADIUS: 'certificateChain'|trans({}, 'config_freeradius'),
    full_chainFREERADIUS: 'fullChain'|trans({}, 'config_freeradius'),
    private_keyFREERADIUS: 'privateKey'|trans({}, 'config_freeradius'),
} %}

{% block freeradius_content %}
    <div data-controller="certificates-content" class="space-y-6">

        {# Certificates Content #}
        {{ include('dashboard/shared/settings_actions/certificatesManagement/partials/_certificates_content.html.twig') }}

        {# Warning message box #}
        <div class="toast-success-dashboard mb-4">
            <twig:ux:icon name="wba:info" class="w-10 md:w-5 h-10 md:h-5 inline mr-3 fill-currentColor"/>
            <span>{{ 'warning.rootCommand'|trans({}, 'config_freeradius') }}</span>
        </div>

        {# Update Server Commands #}
        {{ include(
            'dashboard/shared/settings_actions/certificatesManagement/partials/_update_commands.html.twig',
            {commands: commands, title: 'title'|trans({}, 'config_freeradius')},
        ) }}

        <div class="mt-8 flex justify-end">
            {{ form_start(form) }}
            {{ form_row(form._token) }}

            {% set configApplied = processState.process.freeradiusConfigAppliedAt is not null %}

            <button
                    type="submit"
                    class="px-6 py-2.5 rounded-lg shadow font-medium transition
                {% if configApplied %}
                    bg-gray-300 text-gray-700 cursor-not-allowed
                {% else %}
                    bg-primary text-white hover:bg-primary-dark focus:ring-2 focus:ring-offset-2 focus:ring-primary
                {% endif %}"
                    {% if configApplied %} disabled title="{{ 'configAlreadyApplied'|trans({}, 'config_freeradius') }}" {% else %}
                        onclick="return confirm('{{ 'confirmFollowSteps'|trans({}, 'config_freeradius') }}');"
                    {% endif %}
            >
                {{ 'submit'|trans({}, 'config_radsec') }}
            </button>
            {{ form_end(form, {render_rest: false}) }}
        </div>
    </div>
{% endblock %}
