{% extends 'dashboard/shared/settings_actions/certificatesManagement/certificates/freeradius/base.html.twig' %}

{% block freeradius_content %}
    {{ form_start(form, {attr: {enctype: 'multipart/form-data'}}) }}

    <div class="toast-success-dashboard">
        <div class="flex flex-col space-y-2">
            <p class="font-semibold text-base">
                {{ 'radsecproxy_process.completed'|trans({}, 'upload_freeradius') }}
            </p>
            <div class="text-sm">
                <p>
                    {{ 'radsecproxy_process.finished_steps'|trans({}, 'upload_freeradius') }}
                </p>
                <p>
                    {{ 'radsecproxy_process.next_phase'|trans({}, 'upload_freeradius') }}
                    <span class="font-semibold">
                        {{ 'radsecproxy_process.details'|trans({}, 'upload_freeradius') }}
                    </span>
                </p>
            </div>
        </div>
    </div>

    <div class="border border-gray-200 rounded-xl shadow-sm overflow-hidden">
        <div class="bg-gray-50 px-6 py-4 border-b border-gray-200 flex items-center gap-2">
            <twig:ux:icon class="w-5 h-5 text-primary" name="wba:upload-rounded"/>
            <h5 class="text-lg font-semibold text-gray-800">
                {{ 'title'|trans({}, 'upload_freeradius') }}
            </h5>
        </div>

        <div class="px-6 py-6 bg-white space-y-6">

            <div class="space-y-2">
                <p class="text-sm font-medium text-gray-700">
                    {{ 'ca.description'|trans({}, 'upload_freeradius') }}
                </p>

                {{ form_label(form.ca, 'ca.label'|trans({}, 'upload_freeradius'), {label_attr: {class: 'font-semibold'}}) }}
                {{ form_widget(form.ca, {attr: {class: 'border rounded-lg p-2 w-full'}}) }}

                <div class="text-red-500 text-sm ml-1">
                    {{ form_errors(form.ca) }}
                </div>
            </div>

            <div class="space-y-2">
                <p class="text-sm font-medium text-gray-700">
                    {{ 'cert.description'|trans({}, 'upload_freeradius') }}
                </p>

                {{ form_label(form.cert, 'cert.label'|trans({}, 'upload_freeradius'), {label_attr: {class: 'font-semibold'}}) }}
                {{ form_widget(form.cert, {attr: {class: 'border rounded-lg p-2 w-full'}}) }}

                <div class="text-red-500 text-sm ml-1">
                    {{ form_errors(form.cert) }}
                </div>
            </div>

            <div class="space-y-2">
                <p class="text-sm font-medium text-gray-700">
                    {{ 'chain.description'|trans({}, 'upload_freeradius') }}
                </p>

                {{ form_label(form.chain, 'chain.label'|trans({}, 'upload_freeradius'), {label_attr: {class: 'font-semibold'}}) }}
                {{ form_widget(form.chain, {attr: {class: 'border rounded-lg p-2 w-full'}}) }}

                <div class="text-red-500 text-sm ml-1">
                    {{ form_errors(form.chain) }}
                </div>
            </div>

            <div class="space-y-2">
                <p class="text-sm font-medium text-gray-700">
                    {{ 'fullChain.description'|trans({}, 'upload_freeradius') }}
                </p>

                {{ form_label(form.fullChain, 'fullChain.label'|trans({}, 'upload_freeradius'), {label_attr: {class: 'font-semibold'}}) }}
                {{ form_widget(form.fullChain, {attr: {class: 'border rounded-lg p-2 w-full'}}) }}

                <div class="text-red-500 text-sm ml-1">
                    {{ form_errors(form.fullChain) }}
                </div>
            </div>

            <div class="space-y-2">
                <p class="text-sm font-medium text-gray-700">
                    {{ 'privKey.description'|trans({}, 'upload_freeradius') }}
                </p>

                {{ form_label(form.privKey, 'privKey.label'|trans({}, 'upload_freeradius'), {label_attr: {class: 'font-semibold'}}) }}
                {{ form_widget(form.privKey, {attr: {class: 'border rounded-lg p-2 w-full'}}) }}

                <div class="text-red-500 text-sm ml-1">
                    {{ form_errors(form.privKey) }}
                </div>
            </div>
        </div>
    </div>

    <div class="flex justify-end pt-4">
        <button class="px-6 py-2.5 rounded-lg bg-primary text-white shadow-sm hover:bg-primary-dark transition">
            {{ 'submit'|trans({}, 'upload_freeradius') }}
        </button>
    </div>

    {{ form_end(form) }}
{% endblock %}
