{% extends 'dashboard/shared/settings_actions/certificatesManagement/installation/base.html.twig' %}

{% block title %}
    {{ 'adminPageWBA'|trans({}, '_header_admin') }}
{% endblock %}

{% block installation_content %}

    <div class="mt-6 leading-7">
        <p class="font-bold text-base sm:text-lg md:text-xl lg:text-2xl">
            {{ 'title'|trans({}, 'manualInstallation') }}
        </p>
        <p class="mt-3 text-sm sm:text-base md:text-lg lg:text-xl text-gray-600">
            {{ 'description'|trans({}, 'manualInstallation') }}
        </p>
    </div>

    <div class="my-[25px] divider"></div>


    {# Update Server Commands #}
    {{ include(
        'dashboard/shared/settings_actions/certificatesManagement/partials/_update_commands.html.twig',
        { commands: commands, title: 'commandsTitle'|trans({}, 'manualInstallation') }
    ) }}

        <div class="mt-8 divider-solid"></div>

        <div class="mt-6 flex flex-row w-full justify-end items-center gap-2">

            {{ form_start(form) }}
            {{ form_row(form._token) }}
                <button type="submit" class="w-[160px] btn-primary" >
                    {{ 'done'|trans({}, 'manualInstallation') }}
                </button>
            {{ form_end(form, {render_rest: false}) }}
        </div>

{% endblock %}
