<div class="my-[25px] divider"></div>
<div class="space-y-2">
    {% if (user.twoFAtype == constant('App\\Enum\\UserTwoFactorAuthenticationStatus::DISABLED').value) %}
        {% if (data.TWO_FACTOR_AUTH_STATUS.value == constant('App\\Enum\\TwoFAType::NOT_ENFORCED').value) %}
            <a
                    {% if app.session.get('session_admin') %}
                        href="{{ path('admin_page') }}"
                    {% else %}
                        href="{{ path('app_landing') }}"
                    {% endif %}
                    class="w-[160px] btn-secondary">Go Back</a>
        {% endif %}
        {% if (data.TWO_FACTOR_AUTH_STATUS.value == constant('App\\Enum\\TwoFAType::ENFORCED_FOR_LOCAL').value) %}
            {% if (user.userExternalAuths[0].provider == constant('App\\Enum\\UserProvider::PORTAL_ACCOUNT').value) %}
                <a href="{{ path('saml_logout') }}" class="w-[160px] btn-logout">Logout</a>
            {% else %}
                <a
                        {% if app.session.get('session_admin') %}
                            href="{{  path('admin_page') }}"
                        {% else %}
                            href="{{  path('app_landing') }}"
                        {% endif %}
                        class="w-[160px] btn-secondary">Go Back</a>
            {% endif %}
        {% endif %}
    {% else %}
        <a
                {% if app.session.get('session_admin') %}
                    href="{{ path('admin_page') }}"
                {% else %}
                    href="{{ path('app_landing') }}"
                {% endif %}
                class="w-[160px] btn-secondary">Go Back</a>
    {% endif %}
</div>
