<div class="my-[25px] divider"></div>
<div class="space-y-2">
    <p class="text-[#212529] text-opacity-40 text-sm my-5">
        You are currently authenticated as
        {% for auth in user.userExternalAuths %}
            {% if auth.provider == constant('App\\Enum\\UserProvider::SAML').value %}
                {{ auth.providerId }}
            {% else %}
                {{ app.user.uuid }}
            {% endif %}
        {% endfor %}
    </p>
    {% if data.TWO_FACTOR_AUTH_STATUS.value == constant('App\\Enum\\TwoFAType::NOT_ENFORCED').value %}
        <a href="{{ context == constant('App\\Enum\\FirewallType::DASHBOARD').value ? path('admin_page') : path('app_landing') }}"
           class="w-[160px] btn-secondary">Go Back</a>
    {% elseif data.TWO_FACTOR_AUTH_STATUS.value == constant('App\\Enum\\TwoFAType::ENFORCED_FOR_LOCAL').value %}
        {% if user.userExternalAuths[0].provider == constant('App\\Enum\\UserProvider::PORTAL_ACCOUNT').value %}
            {% if user.twoFAtype == constant('App\\Enum\\UserTwoFactorAuthenticationStatus::DISABLED').value %}
                <a href="{{ path('app_logout') }}" class="w-[160px] btn-logout">Logout</a>
            {% else %}
                <a href="{{ context == constant('App\\Enum\\FirewallType::DASHBOARD').value ? path('admin_page') : path('app_landing') }}"
                   class="w-[160px] btn-secondary">Go Back</a>
            {% endif %}
        {% else %}
            <a href="{{ context == constant('App\\Enum\\FirewallType::DASHBOARD').value ? path('admin_page') : path('app_landing') }}"
               class="w-[160px] btn-secondary">Go Back</a>
        {% endif %}
    {% elseif data.TWO_FACTOR_AUTH_STATUS.value == constant('App\\Enum\\TwoFAType::ENFORCED_FOR_ALL').value %}
        {% if user.twoFAtype == constant('App\\Enum\\UserTwoFactorAuthenticationStatus::DISABLED').value %}
            <a href="{{ path('app_logout') }}" class="w-[160px] btn-logout">Logout</a>
        {% else %}
            <a href="{{ context == constant('App\\Enum\\FirewallType::DASHBOARD').value ? path('admin_page') : path('app_landing') }}"
               class="w-[160px] btn-secondary">Go Back</a>
        {% endif %}
    {% endif %}
</div>
