{# Auth Providers #}
<div class="grid grid-cols-1 sm:gap-4 lg:gap-6 sm:[grid-template-columns:repeat(auto-fit,minmax(150px,1fr))] md:space-y-0 space-y-6">
    {% if data.SAML_ENABLED.value %}
        <div class="w-full">
            <a href="/saml/login">
                <button {{ stimulus_target('terms-widget', 'button') }}
                        type="submit"
                        class="w-full btn-primary"
                        name="btn-primary"
                        disabled="disabled">
                    {{ data.SAML_LABEL.value }}
                </button>
            </a>
            <p class="text-xs mt-2 text-center">{{ data.SAML_DESCRIPTION.value }}</p>
        </div>
    {% endif %}

    {% if data.GOOGLE_LOGIN_ENABLED.value %}
        <div class="w-full">
            <a href="{{ path('connect_google') }}">
                <button {{ stimulus_target('terms-widget', 'button') }}
                        type="submit"
                        class="w-full btn-primary btn-disabled"
                        name="btn-primary"
                        disabled="disabled">
                    {{ data.GOOGLE_LOGIN_LABEL.value }}
                </button>
            </a>
            <p class="text-xs mt-2 text-center">{{ data.GOOGLE_LOGIN_DESCRIPTION.value }}</p>
        </div>
    {% endif %}

    {% if data.MICROSOFT_LOGIN_ENABLED.value %}
        <div class="w-full">
            <a href="{{ path('connect_microsoft') }}">
                <button {{ stimulus_target('terms-widget', 'button') }}
                        type="submit"
                        class="w-full btn-primary btn-disabled"
                        name="btn-primary"
                        disabled="disabled">
                    {{ data.MICROSOFT_LOGIN_LABEL.value }}
                </button>
            </a>
            <p class="text-xs mt-2 text-center">{{ data.MICROSOFT_LOGIN_DESCRIPTION.value }}</p>
        </div>
    {% endif %}
</div>

{# Portal Auth Methods #}
<div class="grid grid-cols-1 sm:gap-4 lg:gap-6 sm:[grid-template-columns:repeat(auto-fit,minmax(150px,1fr))] md:space-y-0 space-y-6">
    {% if data.EMAIL_REGISTER_ENABLED.value %}
        <div class="w-full">
            <a href="{{ path('app_register') }}">
                <button {{ stimulus_target('terms-widget', 'button') }}
                        type="submit"
                        class="w-full btn-primary btn-disabled"
                        name="btn-primary"
                        disabled="disabled">
                    {{ data.REGISTER_LABEL.value }}
                </button>
            </a>
            <p class="text-xs mt-2 text-center">{{ data.REGISTER_DESCRIPTION.value }}</p>
        </div>
    {% endif %}

    {% if data.AUTH_METHOD_SMS_REGISTER_ENABLED.value %}
        <div class="w-full">
            <a href="{{ path('app_register_sms') }}">
                <button {{ stimulus_target('terms-widget', 'button') }}
                        type="submit"
                        class="w-full btn-primary btn-disabled"
                        name="btn-primary"
                        disabled="disabled">
                    {{ data.AUTH_METHOD_SMS_REGISTER_LABEL.value }}
                </button>
            </a>
            <p class="text-xs mt-2 text-center">{{ data.AUTH_METHOD_SMS_REGISTER_DESCRIPTION.value }}</p>
        </div>
    {% endif %}
</div>

{# Portal Login #}
{% if data.LOGIN_TRADITIONAL_ENABLED.value %}
    <div class="w-full sm:space-y-4">
        <a href="{{ path('app_login') }}">
            <button {{ stimulus_target('terms-widget', 'button') }}
                    type="submit"
                    class="w-full h-12 btn-secondary btn-secondary-disabled"
                    name="btn-secondary"
                    disabled="disabled">
                {{ data.LOGIN_TRADITIONAL_LABEL.value }}
            </button>
        </a>
        <p class="text-xs mt-2 text-center">{{ data.LOGIN_TRADITIONAL_DESCRIPTION.value }}</p>
    </div>
{% endif %}