{% include 'shared/_select_language.html.twig' with {
    currentLocale: language,
    routeName: 'admin_dashboard_settings_auth',
    warningMessage: true,
} %}

<form action="{{ path('admin_dashboard_settings_auth', {language: language}) }}" method="post" enctype="multipart/form-data">
    {{ form_row(form._token) }}

    {# SAML #}
    <div>
        {{ include('dashboard/shared/settings_actions/auths_providers/_saml_Auth.html.twig') }}
    </div>

    {# Google #}
    <div>
        {{ include('dashboard/shared/settings_actions/auths_providers/_google_Auth.html.twig') }}
    </div>

    {# Microsoft #}
    <div>
        {{ include('dashboard/shared/settings_actions/auths_providers/_microsoft_Auth.html.twig') }}
    </div>

    {# EMAIL Register #}
    <div>
        {{ include('dashboard/shared/settings_actions/auths_providers/_email_register_Auth.html.twig') }}
    </div>

    {# SMS REGISTER #}
    <div>
        {{ include('dashboard/shared/settings_actions/auths_providers/_sms_register_Auth.html.twig') }}
    </div>

    {# Login #}
    <div>
        {{ include('dashboard/shared/settings_actions/auths_providers/_login_portal_Auth.html.twig') }}
    </div>

    <div class="mt-8 divider-solid"></div>

    <div class="mt-6 flex flex-row w-full justify-end items-center gap-2">
        <a href="{{ path('app_dashboard_regenerate_code_admin', {type: 'settingAUTH'}) }}"
           onclick="return confirm('{{ 'resetMessage'|trans({}, 'settings_actions_general') }}')"
           class="text-sm hover:text-red-600 font-bold p-2 rounded-lg transition ease-in duration-300">
            {{ 'reset'|trans({}, 'settings_actions_general') }}
        </a>

        <button class="btn-primary"
                onclick="return confirm('{{ 'saveChangesMessage'|trans({}, 'settings_actions_general') }}')"
                type="submit">{{ 'saveChanges'|trans({}, 'settings_actions_general') }}
        </button>
    </div>
</form>
