{% import 'dashboard/shared/_sort_arrow.html.twig' as sharedSort %}
    <div>
        <twig:DomainBlacklistForm :dto="formDTO" :form="form">
            <div>
                {{ form_start(form) }}
                {# Import Section #}
                <div class="mt-4 mb-6 p-6 border rounded-lg bg-gray-50 shadow-sm flex flex-col md:flex-row md:items-center gap-4 z-0">
                    <div class="flex-1">
                        <label for="importFile" class="font-medium text-gray-700 block mb-2">
                            {{ 'importDomains'|trans({}, '_blacklist') }}
                        </label>
                        {{ form_widget(form.importFile, {attr: {class: 'form-input w-full'}}) }}
                        {{ form_errors(form.importFile) }}
                    </div>
                    <div class="mt-4 md:mt-0">
                        <button type="submit"
                                class="px-4 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700 transition">
                            {{ 'import'|trans({}, '_blacklist') }}
                        </button>
                    </div>
                </div>

                {# Manual Domain List - Responsive Grid #}
                <div class="bg-white rounded-lg shadow p-6">
                    <div class="flex justify-between items-center mb-4">
                        <h2 class="text-lg font-semibold text-gray-800">
                            {{ 'blockedDomains'|trans({}, '_blacklist') }}
                        </h2>
                        <img class="w-5 h-5 cursor-pointer"
                                {{ stimulus_target('card', 'button') }}
                                {{ stimulus_action('card', 'show_info', 'mouseover')|stimulus_action('card', 'hide_info', 'mouseout') }}
                             src="{{ asset('resources/logos/info_icon.svg') }}"
                             alt="info_icon"/>
                    </div>

                    <div class="mb-4 text-gray-600 text-sm">
                        {{ include('/dashboard/shared/settings_actions/_description.html.twig', {
                            description: 'listOfBlockedDomains'|trans({}, '_blacklist'),
                        }) }}
                    </div>

                    <div class="grid gap-4 sm:grid-cols-1 lg:grid-cols-3">
                        {% for line in form.lines %}
                            <div class="flex flex-col p-2 rounded-md hover:shadow-sm transition">
                                {{ form_label(line.input) }}
                                <div class="flex flex-row items-center gap-2">
                                    {{ form_widget(line.input, {attr: {class: 'form-widget w-full', placeholder: 'example'|trans({}, '_blacklist')}}) }}
                                    {{ form_row(line.vars.button_delete, {attr: {class: 'px-3 py-2 bg-red-500 text-white rounded-md hover:bg-red-600 transition flex-shrink-0'}}) }}
                                </div>
                                {{ form_help(line.input) }}
                                <div class="text-red-500 text-sm">
                                    {{ form_errors(line.input) }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="mt-6 flex justify-end">
                        {{ form_widget(form.lines.vars.button_add, {
                            label: 'addDomain'|trans({}, '_blacklist'),
                            attr: {class: 'px-4 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700 transition'},
                        }) }}
                    </div>
                </div>

                <div class="mt-6 divider-solid"></div>

                {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
        </twig:DomainBlacklistForm>

        {# Domains table #}

        <div class="bg-white rounded-lg shadow p-6">
            <div class="w-full">
                <div class="sm:w-auto px-5 py-4">
                    <div class="flex flex-col sm:flex-row justify-between items-center space-y-6 sm:space-y-0 sm:space-x-4">

                        {# Left Search Filters #}
                        <div class="flex items-center space-x-6">
                            <a
                               class="flex flex-row group hover:border-b-2 hover:border-y-veryDarkButton transition-all duration-100 {% if app.request.query.get('filter') == null or app.request.query.get('filter') == 'all' %}border-b-2 border-y-veryDarkButton transition-all{% endif %}">
                                <h1 class="px-2">
                                    {{ 'all'|trans({}, '_blacklist') }}
                                </h1>
                                <div class="w-auto h-6 mb-1 px-2 bg-veryLightGreen group-hover:bg-veryDarkButton rounded-md group-hover:text-white text-center transition-all duration-100">
                                    {{ allDomainsCount }}
                                </div>
                            </a>
                        </div>

                        {# Midle Search Bar #}
                        <div class="w-full md:w-3/6">
                            <form action="{{ path('admin_page') }}" method="GET">

                                <div class="flex flex-row items-center border rounded-md">
                                    {# Search Icon #}
                                    <button type="submit">
                                        <svg class="w-5 mx-3 text-gray-400" fill="none" stroke="currentColor"
                                             stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                             aria-hidden="true">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                  d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"></path>
                                        </svg>
                                    </button>
                                    {# Search Input #}
                                    <label class="w-full">
                                        <input type="text"
                                               class="form-widget w-full p-2 bg-transparent border-none outline-none"
                                               placeholder= {{ 'searchDomains'|trans({}, '_blacklist') }} name="u"
                                               value="{{ app.request.query.get('u', '') }}">
                                    </label>
                                    {# Hidden Filter Input #}
                                    <input type="hidden" name="filter" value="{{ app.request.query.get('filter', 'all') }}">
                                </div>
                            </form>
                        </div>

                        {% if export_users == constant('App\\Enum\\OperationMode::ON').value %}
                            <div class="flex items-center space-x-6">
                                <a href="{{ path('admin_user_export') }}" class="btn-primary">
                                    {{ 'exportEverything'|trans({}, '_blacklist') }}
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="overflow-x-auto max-w-full mt-3">
                    <div class="w-full items-start md:mx-auto space-y-4 sm:space-y-0">
                        {# Table Content #}
                        <table class="w-full items-start">
                            <thead class="text-sm text-gray-700 bg-veryLightGreen">
                            <tr>
                                <th scope="col" class="p-4 pl-8">
                                    <div class="flex items-center gap-2">
            <span class="font-semibold whitespace-nowrap">
                {{ 'pattern'|trans({}, '_blacklist') }}
            </span>
                                        <a href="{{ path('admin_dashboard_settings_blacklist', {...app.request.query.all, sort: 'pattern', order: activeSort == 'pattern' and activeOrder == 'asc' ? 'desc' : 'asc'}) }}"
                                           class="p-1 hover:shadow-md rounded-lg cursor-pointer">
                                            {{ sharedSort.sortArrow('pattern', activeSort, activeOrder) }}
                                        </a>
                                    </div>
                                </th>

                                <th scope="col" class="p-4 pl-8">
                                    <div class="flex items-center gap-2">
            <span class="font-semibold whitespace-nowrap">
                {{ 'createdAt'|trans({}, '_blacklist') }}
            </span>
                                        <a href="{{ path('admin_dashboard_settings_blacklist', {...app.request.query.all, sort: 'createdAt', order: activeSort == 'createdAt' and activeOrder == 'asc' ? 'desc' : 'asc'}) }}"
                                           class="p-1 hover:shadow-md rounded-lg cursor-pointer">
                                            {{ sharedSort.sortArrow('createdAt', activeSort, activeOrder) }}
                                        </a>
                                    </div>
                                </th>

                                <th scope="col" class="p-4 pl-8">
                                    <div class="flex items-center gap-2">
            <span class="font-semibold whitespace-nowrap">
                {{ 'lastSeenAt'|trans({}, '_blacklist') }}
            </span>
                                        <a href="{{ path('admin_dashboard_settings_blacklist', {...app.request.query.all, sort: 'lastSeenAt', order: activeSort == 'lastSeenAt' and activeOrder == 'asc' ? 'desc' : 'asc'}) }}"
                                           class="p-1 hover:shadow-md rounded-lg cursor-pointer">
                                            {{ sharedSort.sortArrow('lastSeenAt', activeSort, activeOrder) }}
                                        </a>
                                    </div>
                                </th>

                                <th scope="col" class="px-6 py-3"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for domain in domains %}
                                {{ include('dashboard/shared/_domains.html.twig', {domain: domain}) }}
                            {% else %}
                                <tr>
                                    <td colspan="7">
                                        <div class="flex flex-row justify-center items-start mt-2">
                                            <div class="pill-error">
                                                {% if searchTerm %}
                                                    {{ 'noUsersFoundWith'|trans({}, '_blacklist') }} "{{ searchTerm }}"
                                                {% elseif app.request.query.get('filter') == constant('App\\Enum\\UserVerificationStatus::VERIFIED') %}
                                                    {{ 'noVerifiedUsers'|trans({}, '_blacklist') }}
                                                {% elseif app.request.query.get('filter') == constant('App\\Enum\\UserVerificationStatus::BANNED') %}
                                                    {{ 'noBannedUsers'|trans({}, '_blacklist') }}
                                                {% else %}
                                                    {{ 'noUsers'|trans({}, '_blacklist') }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                {# Users Table Pagination #}
                <div class="m-8">
                    <hr class="w-full h-0.5 bg-gray-300/50 border-0 border-gray-300/50 rounded">
                    {{ include('dashboard/shared/pagination/_pagination_users.html.twig', {label: 'usersPerPage'|trans({}, '_blacklist'), route: 'admin_page', occurrencies: allDomainsCount}) }}
                </div>
            </div>
        </div>

        <div class="mt-6 divider-solid"></div>

        <div class="mt-6 flex flex-row w-full justify-end items-center gap-2">
            <button type="submit" class="btn-primary">
                {{ 'saveChanges'|trans({}, 'settings_actions_general') }}
            </button>
        </div>

        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
