{% import 'dashboard/shared/_sort_arrow.html.twig' as sharedSort %}

{# Domains Source table #}
<div class="pt-5 pb-1 text-left space-y-3 rounded-xl bg-white">
    <div class="w-full">
        <div class="sm:w-auto px-5 py-4">
            <div class="flex flex-col lg:flex-row justify-between items-center space-y-6 lg:space-y-0 sm:space-x-4">

                {# Left Search Filters #}
                <div class="flex flex-col md:flex-row sm:items-center gap-4 sm:gap-6">
                    <a href="{{ path('admin_dashboard_settings_domains', {filter: 'all', u: app.request.query.get('u')}) }}"
                       class="flex flex-row group hover:border-b-2 hover:border-y-veryDarkButton transition-all duration-100 {% if app.request.query.get('filter') == null or app.request.query.get('filter') == 'all' %}border-b-2 border-y-veryDarkButton transition-all{% endif %}">
                        <h1 class="px-2">
                            {{ 'all'|trans({}, '_blacklist') }}
                        </h1>
                        <div class="w-auto h-6 mb-1 px-2 bg-veryLightGreen group-hover:bg-veryDarkButton rounded-md group-hover:text-white text-center transition-all duration-100">
                            {{ countDomainSources }}
                        </div>
                    </a>
                    <a href="{{ path('admin_dashboard_settings_domains', {filter: constant('App\\Enum\\DomainSourceStatus::ACTIVE').value, u: app.request.query.get('u')}) }}"
                       class="flex flex-row group hover:text-lightGreen hover:border-b-2 hover:border-y-lightGreen/50 transition-all duration-100 {% if app.request.query.get('filter') == constant('App\\Enum\\DomainSourceStatus::ACTIVE').value %}text-lightGreen border-b-2 border-y-lightGreen transition-all{% endif %}">
                        <h1 class="px-2">
                            {{ 'active'|trans({}, '_blacklist') }}
                        </h1>
                        <div class="w-auto h-6 mb-1 px-2 bg-veryLightGreen group-hover:bg-lightGreen rounded-md group-hover:text-white text-center transition-all duration-100">
                            {{ countActiveDomainSources }}
                        </div>
                    </a>
                    <a href="{{ path('admin_dashboard_settings_domains', {filter: constant('App\\Enum\\DomainSourceStatus::INACTIVE').value, u: app.request.query.get('u')}) }}"
                       class="flex flex-row group hover:text-red-400 hover:border-b-2 hover:border-y-red-400 transition-all duration-100 {% if app.request.query.get('filter') == constant('App\\Enum\\DomainSourceStatus::INACTIVE').value %}text-red-400 border-b-2 border-y-red-400 transition-all{% endif %}">
                        <h1 class="px-2">
                            {{ 'inactive'|trans({}, '_blacklist') }}
                        </h1>
                        <div class="w-auto h-6 mb-1 px-2 bg-veryLightGreen group-hover:bg-red-400 rounded-md group-hover:text-white text-center transition-all duration-100">
                            {{ countInactiveDomainSources }}
                        </div>
                    </a>
                </div>

                {# Midle Search Bar #}
                <div class="w-full md:w-3/6">
                    <form action="{{ path('admin_dashboard_settings_domains') }}" method="GET">

                        <div class="flex flex-row items-center border rounded-md">
                            {# Search Icon #}
                            <button type="submit">
                                <svg class="w-5 mx-3 text-gray-400" fill="none" stroke="currentColor"
                                     stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                     aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                          d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"></path>
                                </svg>
                            </button>
                            {# Search Input #}
                            <label class="w-full">
                                <input type="text"
                                       class="form-widget w-full p-2 bg-transparent border-none outline-none"
                                       placeholder= {{ 'searchUsers'|trans({}, 'dashboard') }} name="u"
                                       value="{{ app.request.query.get('u', '') }}">
                            </label>
                            {# Hidden Filter Input #}
                            <input type="hidden" name="filter" value="{{ app.request.query.get('filter', 'all') }}">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="overflow-x-auto max-w-full mt-3">
            <div class="w-full items-start md:mx-auto space-y-4 sm:space-y-0">
                {# Table Content #}
                <table class="w-full items-start">
                    <thead class="text-sm text-gray-700 bg-veryLightGreen">
                    <tr>
                        <th scope="col" class="flex items-center p-4 pl-8">
                            <h1 class="mr-2">Url</h1>
                            <a href="{{ path('admin_dashboard_settings_domains', {...app.request.query.all, sortDomainsSources: 'url', orderDomainsSources: activeSortDomainsSources == 'url' and activeOrderDomainsSources == 'asc' ? 'desc' : 'asc'}) }}"
                               class="p-1 hover:shadow-md rounded-lg cursor-pointer">
                                {{ sharedSort.sortArrow('url', activeSortDomainsSources, activeOrderDomainsSources) }}
                            </a>
                        </th>

                        <th scope="col" class="px-6 py-3 -ml-2">
                            {{ 'active'|trans({}, '_blacklist') }}
                        </th>

                        <th scope="col" class="flex items-center px-6 py-3">
                            <h1 class="mr-2">{{ 'createdAt'|trans({}, 'dashboard') }}</h1>
                            <a href="{{ path('admin_dashboard_settings_domains', {...app.request.query.all, sortDomainsSources: 'createdAt', orderDomainsSources: activeSortDomainsSources == 'createdAt' and activeOrderDomainsSources == 'asc' ? 'desc' : 'asc'}) }}"
                               class="p-1 hover:shadow-md rounded-lg cursor-pointer">
                                {{ sharedSort.sortArrow('createdAt', activeSortDomainsSources, activeOrderDomainsSources) }}
                            </a>
                        </th>

                        <th scope="col" class="px-6 py-3">
                            <span class="none"></span>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for domainsSource in domainsSources %}
                        {{ include('dashboard/shared/_domains_source.html.twig', {domainsSource: domainsSource}) }}
                    {% else %}
                        <tr>
                            <td colspan="7">
                                <div class="flex flex-row justify-center items-start mt-2">
                                    <div class="pill-error">
                                        {% if searchTerm %}
                                            {{ 'noDomainsSourcesFoundWith'|trans({}, '_blacklist') }} "{{ searchTerm }}"
                                        {% endif %}
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        {# Domains Source Table Pagination #}
        <div class="m-8">
            <hr class="w-full h-0.5 bg-gray-300/50 border-0 border-gray-300/50 rounded">
            {{ include('dashboard/shared/pagination/_pagination_tables.html.twig', {
                label: 'domainsSourcePerPage'|trans({}, '_blacklist'),
                route: 'admin_dashboard_settings_domains',
                occurrencies: countDomainSources,
                totalPages: totalSourcePages},
            ) }}
        </div>
    </div>
</div>
