<twig:TwoFASettingsForm
        :twoFASettingsDTO="twoFASettingsDTO"
        :data="data"
        :form="form">

    {{ form_start(form) }}
    {{ form_widget(form._token) }}

    <div class="p-2 z-0" {{ stimulus_controller('radio-card') }}>
        {# TWO_FACTOR_AUTH_STATUS #}
        <div class="transition hover:-translate-y-1 hover:shadow bg-white rounded-md p-6 w-full"
             name="statusCards"
                {{ stimulus_controller('radio card three-options_radio') }}>

            <div class="flex flex-row justify-between">
                <div class="text-base font-medium text-center break-normal md:break-all">
                    <h1 class="text-lg md:text-xl whitespace-nowrap">
                        {{ 'status'|trans({}, '_twoFA') }}
                    </h1>
                </div>
                <label class="flex items-center bg-opacity-40">
                    <img class="w-6 cursor-pointer"
                            {{ stimulus_target('card', 'button') }}
                            {{ stimulus_action('card', 'show_info', 'mouseover')|stimulus_action('card', 'hide_info', 'mouseout') }}
                         src="{{ asset('resources/logos/info_icon.svg') }}"
                         alt="info_icon"/>
                </label>
            </div>

            {{ include('/dashboard/shared/settings_actions/_description.html.twig', {description: data.TWO_FACTOR_AUTH_STATUS.description}) }}

            <div class="flex items-center space-x-2 mt-5">
                {{ form_widget(form.twoFaStatus, {
                    attr: {class: 'hidden p-2 bg-transparent border text-center outline-none text-left text-base block w-full rounded-md focus:shadow-sm'},
                }) }}
            </div>

            <div class="flex flex-col md:flex-row md:space-x-4 space-y-2 md:space-y-0 items-stretch mt-5">
                {% set options = {
                    NOT_ENFORCED: 'notEnforced',
                    ENFORCED_FOR_LOCAL: 'enforcedForLocalAccounts',
                    ENFORCED_FOR_ALL: 'enforcedForAllAccounts',
                } %}

                {% for value, label in options %}
                    <label class="flex flex-1 flex-row justify-between border hover:border-gray-900 duration-200 rounded-lg w-full p-2 pl-4">
                        {{ label|trans({}, '_twoFA') }}
                        <input type="radio"
                               name="{{ form.twoFaStatus.vars.full_name }}"
                               value="{{ value }}"
                               class="radio-input hidden"
                                {% if form.twoFaStatus.vars.disabled %} disabled="disabled" {% endif %}
                                {% if form.twoFaStatus.vars.data == constant('App\\Enum\\TwoFAType::' ~ value).value %}checked{% endif %}
                               data-action="input->three-options-radio#toggle">
                        <div class="custom-radio pr-3 pt-1.5 {{ form.twoFaStatus.vars.data == constant('App\\Enum\\TwoFAType::' ~ value).value ? '' : 'hidden' }}"
                             data-option-target="{{ value }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="10" viewBox="0 0 14 10"
                                 fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M13.0303 0.96967C13.3232 1.26256 13.3232 1.73744 13.0303 2.03033L6.03033 9.03033C5.73744 9.32322 5.26256 9.32322 4.96967 9.03033L0.96967 5.03033C0.676777 4.73744 0.676777 4.26256 0.96967 3.96967C1.26256 3.67678 1.73744 3.67678 2.03033 3.96967L5.5 7.43934L11.9697 0.96967C12.2626 0.676777 12.7374 0.676777 13.0303 0.96967Z"
                                      fill="#210124"></path>
                            </svg>
                        </div>
                    </label>
                {% endfor %}
            </div>

            <div class="mt-2 -mb-2 text-center text-red-500 text-base">
                {{ form_errors(form.twoFaStatus) }}
            </div>

            {# Mark the field as rendered so Symfony won't duplicate it #}
            {% do form.twoFaStatus.setRendered() %}
        </div>
    </div>

    <div class="grid gap-4 lg:grid-cols-2 p-2 z-0" {{ stimulus_controller('radio-card') }}>
        {# TWO_FACTOR_AUTH_APP_LABEL #}
        <div class="transition hover:-translate-y-1 hover:shadow bg-white rounded-md p-6 w-full" {{ stimulus_controller('card') }}>
            <div class="flex flex-row justify-between">
                <div class="text-base font-medium text-center break-normal md:break-all">
                    <h1 class="text-base md:text-lg whitespace-nowrap">{{ 'TOTPAppLabel'|trans({}, '_twoFA') }}</h1>
                </div>
                <label class="flex items-center bg-opacity-40">
                    <img class="w-6 cursor-pointer" {{ stimulus_target('card', 'button') }} {{ stimulus_action('card', 'show_info', 'mouseover')|stimulus_action('card', 'hide_info', 'mouseout') }}
                         src="{{ asset('resources/logos/info_icon.svg') }}" alt="info_icon"/>
                </label>
            </div>

            {{ include('/dashboard/shared/settings_actions/_description.html.twig', {description: data.TWO_FACTOR_AUTH_APP_LABEL.description}) }}

            <div class="flex items-center space-x-2 mt-5">
                {{ form_widget(form.twoFaAppLabel, {attr: {class: 'form-widget', autocomplete: 'off'}}) }}
            </div>
            <div class="mt-2 -mb-2 text-center text-red-500 text-base">
                {{ form_errors(form.twoFaAppLabel) }}
            </div>
        </div>

        {# TWO_FACTOR_AUTH_APP_ISSUER #}
        <div class="transition hover:-translate-y-1 hover:shadow bg-white rounded-md p-6 w-full" {{ stimulus_controller('card') }}>
            <div class="flex flex-row justify-between">
                <div class="text-base font-medium text-center break-normal md:break-all">
                    <h1 class="text-base md:text-lg whitespace-nowrap">{{ 'TOTPAppIssuer'|trans({}, '_twoFA') }}</h1>
                </div>
                <label class="flex items-center bg-opacity-40">
                    <img class="w-6 cursor-pointer" {{ stimulus_target('card', 'button') }} {{ stimulus_action('card', 'show_info', 'mouseover')|stimulus_action('card', 'hide_info', 'mouseout') }}
                         src="{{ asset('resources/logos/info_icon.svg') }}" alt="info_icon"/>
                </label>
            </div>

            {{ include('/dashboard/shared/settings_actions/_description.html.twig', {description: data.TWO_FACTOR_AUTH_APP_ISSUER.description}) }}

            <div class="flex items-center space-x-2 mt-5">
                {{ form_widget(form.twoFaAppIssuer, {attr: {class: 'form-widget', autocomplete: 'off'}}) }}
            </div>
            <div class="mt-2 -mb-2 text-center text-red-500 text-base">
                {{ form_errors(form.twoFaAppIssuer) }}
            </div>
        </div>

        {# TWO_FACTOR_AUTH_CODE_EXPIRATION_TIME #}
        <div class="transition hover:-translate-y-1 hover:shadow bg-white rounded-md p-6 w-full" {{ stimulus_controller('card') }}>
            <div class="flex flex-row justify-between">
                <div class="text-base font-medium text-center break-normal md:break-all">
                    <h1 class="text-base md:text-lg whitespace-nowrap">{{ 'expirationTime'|trans({}, '_twoFA') }}</h1>
                </div>
                <label class="flex items-center bg-opacity-40">
                    <img class="w-6 cursor-pointer" {{ stimulus_target('card', 'button') }} {{ stimulus_action('card', 'show_info', 'mouseover')|stimulus_action('card', 'hide_info', 'mouseout') }}
                         src="{{ asset('resources/logos/info_icon.svg') }}" alt="info_icon"/>
                </label>
            </div>

            {{ include('/dashboard/shared/settings_actions/_description.html.twig', {description: data.TWO_FACTOR_AUTH_CODE_EXPIRATION_TIME.description}) }}

            <div class="flex items-center space-x-2 mt-5">
                {{ form_widget(form.twoFaCodeExpirationTime, {attr: {class: 'form-widget', autocomplete: 'off'}}) }}
            </div>
            <div class="mt-2 -mb-2 text-center text-red-500 text-base">
                {{ form_errors(form.twoFaCodeExpirationTime) }}
            </div>
        </div>

        {# TWO_FACTOR_AUTH_ATTEMPTS_NUMBER_RESEND_CODE #}
        <div class="transition hover:-translate-y-1 hover:shadow bg-white rounded-md p-6 w-full" {{ stimulus_controller('card') }}>
            <div class="flex flex-row justify-between">
                <div class="text-base font-medium text-center break-normal md:break-all">
                    <h1 class="text-base md:text-lg whitespace-nowrap">{{ 'resendAttemptsCount'|trans({}, '_twoFA') }}</h1>
                </div>
                <label class="flex items-center bg-opacity-40">
                    <img class="w-6 cursor-pointer" {{ stimulus_target('card', 'button') }} {{ stimulus_action('card', 'show_info', 'mouseover')|stimulus_action('card', 'hide_info', 'mouseout') }}
                         src="{{ asset('resources/logos/info_icon.svg') }}" alt="info_icon"/>
                </label>
            </div>

            {{ include('/dashboard/shared/settings_actions/_description.html.twig', {description: data.TWO_FACTOR_AUTH_ATTEMPTS_NUMBER_RESEND_CODE.description}) }}

            <div class="flex items-center space-x-2 mt-5">
                {{ form_widget(form.twoFaAttemptsNumberResendCode, {attr: {class: 'form-widget', autocomplete: 'off'}}) }}
            </div>
            <div class="mt-2 -mb-2 text-center text-red-500 text-base">
                {{ form_errors(form.twoFaAttemptsNumberResendCode) }}
            </div>
        </div>

        {# TWO_FACTOR_AUTH_TIME_RESET_ATTEMPTS #}
        <div class="transition hover:-translate-y-1 hover:shadow bg-white rounded-md p-6 w-full" {{ stimulus_controller('card') }}>
            <div class="flex flex-row justify-between">
                <div class="text-base font-medium text-center break-normal md:break-all">
                    <h1 class="text-base md:text-lg whitespace-nowrap">{{ 'timeToResetAttempts'|trans({}, '_twoFA') }}</h1>
                </div>
                <label class="flex items-center bg-opacity-40">
                    <img class="w-6 cursor-pointer" {{ stimulus_target('card', 'button') }} {{ stimulus_action('card', 'show_info', 'mouseover')|stimulus_action('card', 'hide_info', 'mouseout') }}
                         src="{{ asset('resources/logos/info_icon.svg') }}" alt="info_icon"/>
                </label>
            </div>

            {{ include('/dashboard/shared/settings_actions/_description.html.twig', {description: data.TWO_FACTOR_AUTH_TIME_RESET_ATTEMPTS.description}) }}

            <div class="flex items-center space-x-2 mt-5">
                {{ form_widget(form.twoFaTimeResetAttempts, {attr: {class: 'form-widget', autocomplete: 'off'}}) }}
            </div>
            <div class="mt-2 -mb-2 text-center text-red-500 text-base">
                {{ form_errors(form.twoFaTimeResetAttempts) }}
            </div>
        </div>

        {# TWO_FACTOR_AUTH_RESEND_INTERVAL #}
        <div class="transition hover:-translate-y-1 hover:shadow bg-white rounded-md p-6 w-full" {{ stimulus_controller('card') }}>
            <div class="flex flex-row justify-between">
                <div class="text-base font-medium text-center break-normal md:break-all">
                    <h1 class="text-base md:text-lg whitespace-nowrap">{{ 'timeIntervalToResend'|trans({}, '_twoFA') }}</h1>
                </div>
                <label class="flex items-center bg-opacity-40">
                    <img class="w-6 cursor-pointer" {{ stimulus_target('card', 'button') }} {{ stimulus_action('card', 'show_info', 'mouseover')|stimulus_action('card', 'hide_info', 'mouseout') }}
                         src="{{ asset('resources/logos/info_icon.svg') }}" alt="info_icon"/>
                </label>
            </div>

            {{ include('/dashboard/shared/settings_actions/_description.html.twig', {description: data.TWO_FACTOR_AUTH_RESEND_INTERVAL.description}) }}

            <div class="flex items-center space-x-2 mt-5">
                {{ form_widget(form.twoFaResendInterval, {attr: {class: 'form-widget', autocomplete: 'off'}}) }}
            </div>
            <div class="mt-2 -mb-2 text-center text-red-500 text-base">
                {{ form_errors(form.twoFaResendInterval) }}
            </div>
        </div>

    </div>

    <div class="mt-6 divider-solid"></div>

    {% if is_granted(constant('App\\Security\\Voter\\UserAuthenticationVoter::TWO_FACTOR_AUTH_WRITE')) %}
        <div class="mt-6 flex flex-row w-full justify-end items-center gap-2">
            <a href="{{ path('app_dashboard_regenerate_code_admin', {type: 'settingTwoFA'}) }}"
               onclick="return confirm('{{ 'resetMessage'|trans({}, 'settings_actions_general') }}')"
               class="text-sm hover:text-red-600 font-bold p-2 rounded-lg transition ease-in duration-300">
                {{ 'reset'|trans({}, 'settings_actions_general') }}
            </a>

            <button type="submit" class="btn-primary"
                    onclick="return confirm('{{ 'saveChangesMessage'|trans({}, 'settings_actions_general') }}')">
                {{ 'saveChanges'|trans({}, 'settings_actions_general') }}
            </button>
        </div>
    {% endif %}

    {{ form_rest(form) }}
    {{ form_end(form, {render_rest: false}) }}
</twig:TwoFASettingsForm>
