<form action="{{ path('admin_dashboard_settings_auth') }}" method="post" enctype="multipart/form-data">
    {{ form_row(form._token) }}
    {# SAML #}
    <div>
        <div class="p-2">
            <h1 class="text-xl md:text-2xl font-semibold">SAML</h1>
        </div>
        <div class="grid gap-4 lg:grid-cols-2 xl:grid-cols-3 p-2 z-0">
            {% for setting in form %}
                {# Display only the authentication settings #}
                {% if setting.vars.name in ['AUTH_METHOD_SAML_ENABLED', 'AUTH_METHOD_SAML_LABEL', 'AUTH_METHOD_SAML_DESCRIPTION'] %}
                    <div class="transition hover:-translate-y-1 hover:shadow bg-white rounded-md p-6 w-full"
                         name="Cards"
                         id="{{ setting.vars.name }}">
                        {# Title and Icon #}
                        <div class="flex flex-row justify-between">
                            <div class="text-base font-medium text-center break-normal md:break-all">
                                {% set displayName = {
                                    'AUTH_METHOD_SAML_ENABLED': 'Mode',
                                    'AUTH_METHOD_SAML_LABEL': 'Label',
                                    'AUTH_METHOD_SAML_DESCRIPTION': 'Description',
                                }[setting.vars.name] ?? setting.vars.name %}
                                <h1 class="text-base md:text-lg whitespace-nowrap">{{ displayName }}</h1>
                            </div>
                            <label class="flex items-center bg-opacity-40"
                            >
                                <img class="w-6 cursor-pointer"
                                     name="descriptionIcon"
                                     src="{{ asset('resources/logos/info_icon.svg') }}"
                                     alt="info_icon"/>
                            </label>
                        </div>
                        {% if setting.vars.name in ['AUTH_METHOD_SAML_LABEL', 'AUTH_METHOD_SAML_DESCRIPTION'] %}
                            <div class="flex items-center space-x-2 mt-5">
                                {{ form_widget(setting, {'attr': {'class': 'p-2 bg-transparent border outline-none text-left text-base block w-full rounded-md  focus:shadow-sm'}}) }}
                            </div>
                        {% endif %}
                        {% if setting.vars.name in ['AUTH_METHOD_SAML_ENABLED'] %}
                            <div class="flex flex-col items-center space-y-2 mt-5">
                                {# Render "ON" Radio Input #}
                                <label class="flex flex-row justify-between border hover:border-gray-900 duration-200 rounded-lg w-full p-2 pl-4"
                                       name="onLabel">
                                    On
                                    <input type="radio" name="{{ form.AUTH_METHOD_SAML_ENABLED.vars.full_name }}"
                                           value="true"
                                           class="radio-input hidden"{{ form.AUTH_METHOD_SAML_ENABLED.vars.value == "true" ? 'checked' : '' }}>
                                    <div class="custom-radio pr-3 pt-1.5" name="onCustomRadio">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="10"
                                             viewBox="0 0 14 10"
                                             fill="none">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                  d="M13.0303 0.96967C13.3232 1.26256 13.3232 1.73744 13.0303 2.03033L6.03033 9.03033C5.73744 9.32322 5.26256 9.32322 4.96967 9.03033L0.96967 5.03033C0.676777 4.73744 0.676777 4.26256 0.96967 3.96967C1.26256 3.67678 1.73744 3.67678 2.03033 3.96967L5.5 7.43934L11.9697 0.96967C12.2626 0.676777 12.7374 0.676777 13.0303 0.96967Z"
                                                  fill="#210124"/>
                                        </svg>
                                    </div>
                                </label>
                                {# Render "OFF" Radio Input #}
                                <label class="flex flex-row justify-between border hover:border-gray-900 duration-200 rounded-lg w-full p-2 pl-4"
                                       name="offLabel">
                                    Off
                                    <input type="radio" name="{{ form.AUTH_METHOD_SAML_ENABLED.vars.full_name }}"
                                           value="false"
                                           class="radio-input hidden" {{ form.AUTH_METHOD_SAML_ENABLED.vars.value == "false" ? 'checked' : '' }}>
                                    <div class="custom-radio pr-3 pt-1.5" name="offCustomRadio">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="10"
                                             viewBox="0 0 14 10"
                                             fill="none">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                  d="M13.0303 0.96967C13.3232 1.26256 13.3232 1.73744 13.0303 2.03033L6.03033 9.03033C5.73744 9.32322 5.26256 9.32322 4.96967 9.03033L0.96967 5.03033C0.676777 4.73744 0.676777 4.26256 0.96967 3.96967C1.26256 3.67678 1.73744 3.67678 2.03033 3.96967L5.5 7.43934L11.9697 0.96967C12.2626 0.676777 12.7374 0.676777 13.0303 0.96967Z"
                                                  fill="#210124"/>
                                        </svg>
                                    </div>
                                </label>
                            </div>
                        {% endif %}

                        {# Description Setting #}
                        <div class="flex justify-center items-center">
                            <div class="bg-indigo-400 rounded-lg p-2 m-2 w-3/4 text-center text-white transition transform -translate-y-6 ease-in-out duration-300 absolute hidden"
                                 name="description">
                                {{ setting.vars.attr.description }}
                            </div>
                        </div>

                        <div class="mt-2 -mb-2 text-center text-red-500 text-base">
                            {{ form_errors(setting) }}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {# Google #}
    <div>
        <div class="p-2 mt-10">
            <h1 class="text-xl md:text-2xl font-semibold">GOOGLE</h1>
        </div>
        <div class="grid gap-4 lg:grid-cols-2 xl:grid-cols-3 p-2 z-0">
            {% for setting in form %}
                {# Display only the authentication settings #}
                {% if setting.vars.name in ['AUTH_METHOD_GOOGLE_LOGIN_ENABLED', 'AUTH_METHOD_GOOGLE_LOGIN_LABEL', 'AUTH_METHOD_GOOGLE_LOGIN_DESCRIPTION'] %}
                    <div class="transition hover:-translate-y-1 hover:shadow bg-white rounded-md p-6 w-full"
                         name="GoogleCards"
                         id="{{ setting.vars.name }}">
                        {# Title and Icon #}
                        <div class="flex flex-row justify-between">
                            <div class="text-base font-medium text-center break-normal md:break-all">
                                {% set displayName = {
                                    'AUTH_METHOD_GOOGLE_LOGIN_ENABLED': 'Mode',
                                    'AUTH_METHOD_GOOGLE_LOGIN_LABEL': 'Label',
                                    'AUTH_METHOD_GOOGLE_LOGIN_DESCRIPTION': 'Description',
                                }[setting.vars.name] ?? setting.vars.name %}
                                <h1 class="text-base md:text-lg whitespace-nowrap">{{ displayName }}</h1>
                            </div>
                            <label class="flex items-center bg-opacity-40"
                            >
                                <img class="w-6 cursor-pointer"
                                     name="descriptionIcon"
                                     src="{{ asset('resources/logos/info_icon.svg') }}"
                                     alt="info_icon"/>
                            </label>
                        </div>
                        {% if setting.vars.name in ['AUTH_METHOD_GOOGLE_LOGIN_LABEL', 'AUTH_METHOD_GOOGLE_LOGIN_DESCRIPTION'] %}
                            <div class="flex items-center space-x-2 mt-5">
                                {{ form_widget(setting, {'attr': {'class': 'p-2 bg-transparent border outline-none text-left text-base block w-full rounded-md  focus:shadow-sm'}}) }}
                            </div>
                        {% endif %}
                        {% if setting.vars.name in ['AUTH_METHOD_GOOGLE_LOGIN_ENABLED'] %}
                            <div class="flex flex-col items-center space-y-2 mt-5">
                                {# Render "ON" Radio Input #}
                                <label class="flex flex-row justify-between border hover:border-gray-900 duration-200 rounded-lg w-full p-2 pl-4"
                                       name="onLabelGoogle">
                                    On
                                    <input type="radio"
                                           name="{{ form.AUTH_METHOD_GOOGLE_LOGIN_ENABLED.vars.full_name }}"
                                           value="true"
                                           class="radio-input hidden"{{ form.AUTH_METHOD_GOOGLE_LOGIN_ENABLED.vars.value == "true" ? 'checked' : '' }}>
                                    <div class="custom-radio pr-3 pt-1.5" name="onCustomRadioGoogle">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="10"
                                             viewBox="0 0 14 10"
                                             fill="none">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                  d="M13.0303 0.96967C13.3232 1.26256 13.3232 1.73744 13.0303 2.03033L6.03033 9.03033C5.73744 9.32322 5.26256 9.32322 4.96967 9.03033L0.96967 5.03033C0.676777 4.73744 0.676777 4.26256 0.96967 3.96967C1.26256 3.67678 1.73744 3.67678 2.03033 3.96967L5.5 7.43934L11.9697 0.96967C12.2626 0.676777 12.7374 0.676777 13.0303 0.96967Z"
                                                  fill="#210124"/>
                                        </svg>
                                    </div>
                                </label>
                                {# Render "OFF" Radio Input #}
                                <label class="flex flex-row justify-between border hover:border-gray-900 duration-200 rounded-lg w-full p-2 pl-4"
                                       name="offLabelGoogle">
                                    Off
                                    <input type="radio"
                                           name="{{ form.AUTH_METHOD_GOOGLE_LOGIN_ENABLED.vars.full_name }}"
                                           value="false"
                                           class="radio-input hidden"{{ form.AUTH_METHOD_GOOGLE_LOGIN_ENABLED.vars.value == "false" ? 'checked' : '' }}>
                                    <div class="custom-radio pr-3 pt-1.5" name="offCustomRadioGoogle">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="10"
                                             viewBox="0 0 14 10"
                                             fill="none">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                  d="M13.0303 0.96967C13.3232 1.26256 13.3232 1.73744 13.0303 2.03033L6.03033 9.03033C5.73744 9.32322 5.26256 9.32322 4.96967 9.03033L0.96967 5.03033C0.676777 4.73744 0.676777 4.26256 0.96967 3.96967C1.26256 3.67678 1.73744 3.67678 2.03033 3.96967L5.5 7.43934L11.9697 0.96967C12.2626 0.676777 12.7374 0.676777 13.0303 0.96967Z"
                                                  fill="#210124"/>
                                        </svg>
                                    </div>
                                </label>
                            </div>
                        {% endif %}

                        {# Description Setting #}
                        <div class="flex justify-center items-center">
                            <div class="bg-indigo-400 rounded-lg p-2 m-2 w-3/4 text-center text-white transition transform -translate-y-6 ease-in-out duration-300 absolute hidden"
                                 name="description">
                                {{ setting.vars.attr.description }}
                            </div>
                        </div>

                        <div class="mt-2 -mb-2 text-center text-red-500 text-base">
                            {{ form_errors(setting) }}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    {# Google Sub-settings#}
    <div>
        <div class="p-2 mt-10">
            <h1 class="text-xl md:text-2xl font-semibold">Google Sub-Settings</h1>
        </div>
        <div class="grid gap-4 lg:grid-cols-2 xl:grid-cols-3 p-2 z-0">
            {% for setting in form %}
                {# Display only the authentication settings #}
                {% if setting.vars.name in ['VALID_DOMAINS_GOOGLE_LOGIN'] %}
                    <div class="transition hover:-translate-y-1 hover:shadow bg-white rounded-md p-6 w-full"
                         name="GoogleSubCards"
                         id="{{ setting.vars.name }}">
                        {# Title and Icon #}
                        <div class="flex flex-row justify-between">
                            <div class="text-base font-medium text-center break-normal md:break-all">
                                {% set displayName = {
                                    'VALID_DOMAINS_GOOGLE_LOGIN': 'Domains to authenticate with Google',
                                }[setting.vars.name] ?? setting.vars.name %}
                                <h1 class="text-base md:text-lg whitespace-nowrap">{{ displayName }}</h1>
                            </div>
                            <label class="flex items-center bg-opacity-40"
                            >
                                <img class="w-6 cursor-pointer"
                                     name="descriptionIcon"
                                     src="{{ asset('resources/logos/info_icon.svg') }}"
                                     alt="info_icon"/>
                            </label>
                        </div>
                        {% if setting.vars.name in ['VALID_DOMAINS_GOOGLE_LOGIN'] %}
                            <div class="flex items-center space-x-2 mt-5">
                                {{ form_widget(setting, {'attr': {'class': 'p-2 bg-transparent border outline-none text-left text-base block w-full rounded-md  focus:shadow-sm'}}) }}
                            </div>
                        {% endif %}

                        {# Description Setting #}
                        <div class="flex justify-center items-center">
                            <div class="bg-indigo-400 rounded-lg p-2 m-2 w-3/4 text-center text-white transition transform -translate-y-6 ease-in-out duration-300 absolute hidden"
                                 name="description">
                                {{ setting.vars.attr.description }}
                            </div>
                        </div>

                        <div class="mt-2 -mb-2 text-center text-red-500 text-base">
                            {{ form_errors(setting) }}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    {# EMAIL Register #}
    <div>
        <div class="p-2 mt-10">
            <h1 class="text-xl md:text-2xl font-semibold">EMAIL REGISTER</h1>
        </div>
        <div class="grid gap-4 lg:grid-cols-2 xl:grid-cols-3 p-2 z-0">
            {% for setting in form %}
                {# Display only the authentication settings #}
                {% if setting.vars.name in ['AUTH_METHOD_REGISTER_ENABLED', 'AUTH_METHOD_REGISTER_LABEL', 'AUTH_METHOD_REGISTER_DESCRIPTION'] %}
                    <div class="transition hover:-translate-y-1 hover:shadow bg-white rounded-md p-6 w-full"
                         name="RegisterCards"
                         id="{{ setting.vars.name }}">
                        {# Title and Icon #}
                        <div class="flex flex-row justify-between">
                            <div class="text-base font-medium text-center break-normal md:break-all">
                                {% set displayName = {
                                    'AUTH_METHOD_REGISTER_ENABLED': 'Mode',
                                    'AUTH_METHOD_REGISTER_LABEL': 'Label',
                                    'AUTH_METHOD_REGISTER_DESCRIPTION': 'Description',
                                }[setting.vars.name] ?? setting.vars.name %}
                                <h1 class="text-base md:text-lg whitespace-nowrap">{{ displayName }}</h1>
                            </div>
                            <label class="flex items-center bg-opacity-40"
                            >
                                <img class="w-6 cursor-pointer"
                                     name="descriptionIcon"
                                     src="{{ asset('resources/logos/info_icon.svg') }}"
                                     alt="info_icon"/>
                            </label>
                        </div>
                        {% if setting.vars.name in ['AUTH_METHOD_REGISTER_LABEL', 'AUTH_METHOD_REGISTER_DESCRIPTION'] %}
                            <div class="flex items-center space-x-2 mt-5">
                                {{ form_widget(setting, {'attr': {'class': 'p-2 bg-transparent border outline-none text-left text-base block w-full rounded-md  focus:shadow-sm'}}) }}
                            </div>
                        {% endif %}
                        {% if setting.vars.name in ['AUTH_METHOD_REGISTER_ENABLED'] %}
                            <div class="flex flex-col items-center space-y-2 mt-5">
                                {# Render "ON" Radio Input #}
                                <label class="flex flex-row justify-between border hover:border-gray-900 duration-200 rounded-lg w-full p-2 pl-4"
                                       name="onLabelRegister">
                                    On
                                    <input type="radio"
                                           name="{{ form.AUTH_METHOD_REGISTER_ENABLED.vars.full_name }}"
                                           value="true"
                                           class="radio-input hidden" {{ form.AUTH_METHOD_REGISTER_ENABLED.vars.value == "true" ? 'checked' : '' }}>
                                    <div class="custom-radio pr-3 pt-1.5" name="onCustomRadioRegister">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="10"
                                             viewBox="0 0 14 10"
                                             fill="none">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                  d="M13.0303 0.96967C13.3232 1.26256 13.3232 1.73744 13.0303 2.03033L6.03033 9.03033C5.73744 9.32322 5.26256 9.32322 4.96967 9.03033L0.96967 5.03033C0.676777 4.73744 0.676777 4.26256 0.96967 3.96967C1.26256 3.67678 1.73744 3.67678 2.03033 3.96967L5.5 7.43934L11.9697 0.96967C12.2626 0.676777 12.7374 0.676777 13.0303 0.96967Z"
                                                  fill="#210124"/>
                                        </svg>
                                    </div>
                                </label>
                                {# Render "OFF" Radio Input #}
                                <label class="flex flex-row justify-between border hover:border-gray-900 duration-200 rounded-lg w-full p-2 pl-4"
                                       name="offLabelRegister">
                                    Off
                                    <input type="radio"
                                           name="{{ form.AUTH_METHOD_REGISTER_ENABLED.vars.full_name }}"
                                           value="false"
                                           class="radio-input hidden" {{ form.AUTH_METHOD_REGISTER_ENABLED.vars.value == "false" ? 'checked' : '' }}>
                                    <div class="custom-radio pr-3 pt-1.5" name="offCustomRadioRegister">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="10"
                                             viewBox="0 0 14 10"
                                             fill="none">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                  d="M13.0303 0.96967C13.3232 1.26256 13.3232 1.73744 13.0303 2.03033L6.03033 9.03033C5.73744 9.32322 5.26256 9.32322 4.96967 9.03033L0.96967 5.03033C0.676777 4.73744 0.676777 4.26256 0.96967 3.96967C1.26256 3.67678 1.73744 3.67678 2.03033 3.96967L5.5 7.43934L11.9697 0.96967C12.2626 0.676777 12.7374 0.676777 13.0303 0.96967Z"
                                                  fill="#210124"/>
                                        </svg>
                                    </div>
                                </label>
                            </div>
                        {% endif %}

                        {# Description Setting #}
                        <div class="flex justify-center items-center">
                            <div class="bg-indigo-400 rounded-lg p-2 m-2 w-3/4 text-center text-white transition transform -translate-y-6 ease-in-out duration-300 absolute hidden"
                                 name="description">
                                {{ setting.vars.attr.description }}
                            </div>
                        </div>

                        <div class="mt-2 -mb-2 text-center text-red-500 text-base">
                            {{ form_errors(setting) }}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {# SMS REGISTER #}
    <div>
        <div class="p-2 mt-10">
            <h1 class="text-xl md:text-2xl font-semibold">SMS REGISTER</h1>
        </div>
        <div class="grid gap-4 lg:grid-cols-2 xl:grid-cols-3 p-2 z-0">
            {% for setting in form %}
                {# Display only the authentication settings #}
                {% if setting.vars.name in ['AUTH_METHOD_SMS_REGISTER_ENABLED', 'AUTH_METHOD_SMS_REGISTER_LABEL', 'AUTH_METHOD_SMS_REGISTER_DESCRIPTION'] %}
                    <div class="transition hover:-translate-y-1 hover:shadow bg-white rounded-md p-6 w-full"
                         name="SMSRegisterCards"
                         id="{{ setting.vars.name }}">
                        {# Title and Icon #}
                        <div class="flex flex-row justify-between">
                            <div class="text-base font-medium text-center break-normal md:break-all">
                                {% set displayName = {
                                    'AUTH_METHOD_SMS_REGISTER_ENABLED': 'Mode',
                                    'AUTH_METHOD_SMS_REGISTER_LABEL': 'Label',
                                    'AUTH_METHOD_SMS_REGISTER_DESCRIPTION': 'Description',
                                }[setting.vars.name] ?? setting.vars.name %}
                                <h1 class="text-base md:text-lg whitespace-nowrap">{{ displayName }}</h1>
                            </div>
                            <label class="flex items-center bg-opacity-40"
                            >
                                <img class="w-6 cursor-pointer"
                                     name="descriptionIcon"
                                     src="{{ asset('resources/logos/info_icon.svg') }}"
                                     alt="info_icon"/>
                            </label>
                        </div>
                        {% if setting.vars.name in ['AUTH_METHOD_SMS_REGISTER_LABEL', 'AUTH_METHOD_SMS_REGISTER_DESCRIPTION'] %}
                            <div class="flex items-center space-x-2 mt-5">
                                {{ form_widget(setting, {'attr': {'class': 'p-2 bg-transparent border outline-none text-left text-base block w-full rounded-md  focus:shadow-sm'}}) }}
                            </div>
                        {% endif %}
                        {% if setting.vars.name in ['AUTH_METHOD_SMS_REGISTER_ENABLED'] %}
                            <div class="flex flex-col items-center space-y-2 mt-5">
                                {# Render "ON" Radio Input #}
                                <label class="flex flex-row justify-between border hover:border-gray-900 duration-200 rounded-lg w-full p-2 pl-4"
                                       name="SMSonLabelRegister">
                                    On
                                    <input type="radio"
                                           name="{{ form.AUTH_METHOD_SMS_REGISTER_ENABLED.vars.full_name }}"
                                           value="true"
                                           class="radio-input hidden"{{ form.AUTH_METHOD_SMS_REGISTER_ENABLED.vars.value == "true" ? 'checked' : '' }}>
                                    <div class="custom-radio pr-3 pt-1.5" name="SMSonCustomRadioRegister">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="10"
                                             viewBox="0 0 14 10"
                                             fill="none">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                  d="M13.0303 0.96967C13.3232 1.26256 13.3232 1.73744 13.0303 2.03033L6.03033 9.03033C5.73744 9.32322 5.26256 9.32322 4.96967 9.03033L0.96967 5.03033C0.676777 4.73744 0.676777 4.26256 0.96967 3.96967C1.26256 3.67678 1.73744 3.67678 2.03033 3.96967L5.5 7.43934L11.9697 0.96967C12.2626 0.676777 12.7374 0.676777 13.0303 0.96967Z"
                                                  fill="#210124"/>
                                        </svg>
                                    </div>
                                </label>
                                {# Render "OFF" Radio Input #}
                                <label class="flex flex-row justify-between border hover:border-gray-900 duration-200 rounded-lg w-full p-2 pl-4"
                                       name="SMSoffLabelRegister">
                                    Off
                                    <input type="radio"
                                           name="{{ form.AUTH_METHOD_SMS_REGISTER_ENABLED.vars.full_name }}"
                                           value="false"
                                           class="radio-input hidden" {{ form.AUTH_METHOD_SMS_REGISTER_ENABLED.vars.value == "false" ? 'checked' : '' }}>
                                    <div class="custom-radio pr-3 pt-1.5" name="SMSoffCustomRadioRegister">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="10"
                                             viewBox="0 0 14 10"
                                             fill="none">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                  d="M13.0303 0.96967C13.3232 1.26256 13.3232 1.73744 13.0303 2.03033L6.03033 9.03033C5.73744 9.32322 5.26256 9.32322 4.96967 9.03033L0.96967 5.03033C0.676777 4.73744 0.676777 4.26256 0.96967 3.96967C1.26256 3.67678 1.73744 3.67678 2.03033 3.96967L5.5 7.43934L11.9697 0.96967C12.2626 0.676777 12.7374 0.676777 13.0303 0.96967Z"
                                                  fill="#210124"/>
                                        </svg>
                                    </div>
                                </label>
                            </div>
                        {% endif %}

                        {# Description Setting #}
                        <div class="flex justify-center items-center">
                            <div class="bg-indigo-400 rounded-lg p-2 m-2 w-3/4 text-center text-white transition transform -translate-y-6 ease-in-out duration-300 absolute hidden"
                                 name="description">
                                {{ setting.vars.attr.description }}
                            </div>
                        </div>

                        <div class="mt-2 -mb-2 text-center text-red-500 text-base">
                            {{ form_errors(setting) }}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {# Login #}
    <div>
        <div class="p-2 mt-10">
            <h1 class="text-xl md:text-2xl font-semibold">LOGIN METHOD</h1>
        </div>
        <div class="grid gap-4 lg:grid-cols-2 xl:grid-cols-3 p-2 z-0">
            {% for setting in form %}
                {# Display only the authentication settings #}
                {% if setting.vars.name in ['AUTH_METHOD_LOGIN_TRADITIONAL_ENABLED', 'AUTH_METHOD_LOGIN_TRADITIONAL_LABEL', 'AUTH_METHOD_LOGIN_TRADITIONAL_DESCRIPTION'] %}
                    <div class="transition hover:-translate-y-1 hover:shadow bg-white rounded-md p-6 w-full"
                         name="LoginCards"
                         id="{{ setting.vars.name }}">
                        {# Title and Icon #}
                        <div class="flex flex-row justify-between">
                            <div class="text-base font-medium text-center break-normal md:break-all">
                                {% set displayName = {
                                    'AUTH_METHOD_LOGIN_TRADITIONAL_ENABLED': 'Mode',
                                    'AUTH_METHOD_LOGIN_TRADITIONAL_LABEL': 'Label',
                                    'AUTH_METHOD_LOGIN_TRADITIONAL_DESCRIPTION': 'Description',
                                }[setting.vars.name] ?? setting.vars.name %}
                                <h1 class="text-base md:text-lg whitespace-nowrap">{{ displayName }}</h1>
                            </div>
                            <label class="flex items-center bg-opacity-40"
                            >
                                <img class="w-6 cursor-pointer"
                                     name="descriptionIcon"
                                     src="{{ asset('resources/logos/info_icon.svg') }}"
                                     alt="info_icon"/>
                            </label>
                        </div>
                        {% if setting.vars.name in ['AUTH_METHOD_LOGIN_TRADITIONAL_LABEL', 'AUTH_METHOD_LOGIN_TRADITIONAL_DESCRIPTION'] %}
                            <div class="flex items-center space-x-2 mt-5">
                                {{ form_widget(setting, {'attr': {'class': 'p-2 bg-transparent border outline-none text-left text-base block w-full rounded-md  focus:shadow-sm'}}) }}
                            </div>
                        {% endif %}
                        {% if setting.vars.name in ['AUTH_METHOD_LOGIN_TRADITIONAL_ENABLED'] %}
                            <div class="flex flex-col items-center space-y-2 mt-5">
                                {# Render "ON" Radio Input #}
                                <label class="flex flex-row justify-between border hover:border-gray-900 duration-200 rounded-lg w-full p-2 pl-4"
                                       name="onLabelLogin">
                                    On
                                    <input type="radio"
                                           name="{{ form.AUTH_METHOD_LOGIN_TRADITIONAL_ENABLED.vars.full_name }}"
                                           value="true"
                                           class="radio-input hidden"{{ form.AUTH_METHOD_LOGIN_TRADITIONAL_ENABLED.vars.value == "true" ? 'checked' : '' }}>
                                    <div class="custom-radio pr-3 pt-1.5" name="onCustomRadioLogin">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="10"
                                             viewBox="0 0 14 10"
                                             fill="none">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                  d="M13.0303 0.96967C13.3232 1.26256 13.3232 1.73744 13.0303 2.03033L6.03033 9.03033C5.73744 9.32322 5.26256 9.32322 4.96967 9.03033L0.96967 5.03033C0.676777 4.73744 0.676777 4.26256 0.96967 3.96967C1.26256 3.67678 1.73744 3.67678 2.03033 3.96967L5.5 7.43934L11.9697 0.96967C12.2626 0.676777 12.7374 0.676777 13.0303 0.96967Z"
                                                  fill="#210124"/>
                                        </svg>
                                    </div>
                                </label>
                                {# Render "OFF" Radio Input #}
                                <label class="flex flex-row justify-between border hover:border-gray-900 duration-200 rounded-lg w-full p-2 pl-4"
                                       name="offLabelLogin">
                                    Off
                                    <input type="radio"
                                           name="{{ form.AUTH_METHOD_LOGIN_TRADITIONAL_ENABLED.vars.full_name }}"
                                           value="false"
                                           class="radio-input hidden" {{ form.AUTH_METHOD_LOGIN_TRADITIONAL_ENABLED.vars.value == "false" ? 'checked' : '' }}>
                                    <div class="custom-radio pr-3 pt-1.5" name="offCustomRadioLogin">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="10"
                                             viewBox="0 0 14 10"
                                             fill="none">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                  d="M13.0303 0.96967C13.3232 1.26256 13.3232 1.73744 13.0303 2.03033L6.03033 9.03033C5.73744 9.32322 5.26256 9.32322 4.96967 9.03033L0.96967 5.03033C0.676777 4.73744 0.676777 4.26256 0.96967 3.96967C1.26256 3.67678 1.73744 3.67678 2.03033 3.96967L5.5 7.43934L11.9697 0.96967C12.2626 0.676777 12.7374 0.676777 13.0303 0.96967Z"
                                                  fill="#210124"/>
                                        </svg>
                                    </div>
                                </label>
                            </div>
                        {% endif %}

                        {# Description Setting #}
                        <div class="flex justify-center items-center">
                            <div class="bg-indigo-400 rounded-lg p-2 m-2 w-3/4 text-center text-white transition transform -translate-y-6 ease-in-out duration-300 absolute hidden"
                                 name="description">
                                {{ setting.vars.attr.description }}
                            </div>
                        </div>

                        <div class="mt-2 -mb-2 text-center text-red-500 text-base">
                            {{ form_errors(setting) }}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <hr class="mt-8 w-full h-0.5 bg-gray-300/50 border-0 border-gray-300/50 rounded">
    <div class="mt-6 flex flex-col md:w-full md:flex-row justify-evenly md:justify-end items-center space-x-0 md:space-x-2 space-y-2 md:space-y-0">
        <a href="{{ path('app_dashboard_regenerate_code_admin', {'type': 'settingAUTH'}) }}"
           onclick="return confirm('Are you sure you want to reset to the default settings?')"
           class="text-sm hover:text-red-600 font-bold p-2 rounded-lg transition ease-in duration-300">
            Reset
        </a>

        <button class="text-sm bg-veryDarkButton hover:bg-veryDarkButton/80 text-white font-bold p-3 hover:shadow-lg rounded-lg duration-200"
                onclick="return confirm('Are you sure you want to apply this new changes?')"
                type="submit">Save Changes
        </button>
    </div>
</form>
