<form action="{{ path('admin_dashboard_settings_auth') }}" method="post" enctype="multipart/form-data">
    {{ form_row(form._token) }}
    {# SAML #}
    <div>
        <div class="p-2">
            <h1 class="text-xl md:text-2xl font-semibold">SAML</h1>
        </div>
        <div class="grid gap-4 lg:grid-cols-2 xl:grid-cols-3 p-2 z-0">
            {% for setting in form %}
                {# Display only the authentication settings #}
                {% if setting.vars.name in ['AUTH_METHOD_SAML_ENABLED', 'AUTH_METHOD_SAML_LABEL', 'AUTH_METHOD_SAML_DESCRIPTION'] %}
                    <div class="transition hover:-translate-y-1 hover:shadow bg-white rounded-md p-6 w-full"
                         name="capportCards"
                         id="{{ setting.vars.name }}">
                        {# Title and Icon #}
                        <div class="flex flex-row justify-between">
                            <div class="text-base font-medium text-center break-normal md:break-all">
                                {% set displayName = {
                                    'AUTH_METHOD_SAML_ENABLED': 'Mode',
                                    'AUTH_METHOD_SAML_LABEL': 'Label',
                                    'AUTH_METHOD_SAML_DESCRIPTION': 'Description',
                                }[setting.vars.name] ?? setting.vars.name %}
                                <h1 class="text-base md:text-lg whitespace-nowrap">{{ displayName }}</h1>
                            </div>
                            <label class="flex items-center bg-opacity-40"
                            >
                                <img class="w-6 cursor-pointer"
                                     name="descriptionIcon"
                                     src="{{ asset('resources/logos/info_icon.svg') }}"
                                     alt="info_icon"/>
                            </label>
                        </div>
                        {% if setting.vars.name in ['AUTH_METHOD_SAML_LABEL', 'AUTH_METHOD_SAML_DESCRIPTION'] %}
                            <div class="flex items-center space-x-2 mt-5">
                                {{ form_widget(setting, {'attr': {'class': 'p-2 bg-transparent border outline-none text-left text-base block w-full rounded-md  focus:shadow-sm'}}) }}
                            </div>
                        {% endif %}
                        {% if setting.vars.name in ['AUTH_METHOD_SAML_ENABLED'] %}
                            <div class="flex items-center space-x-2 mt-5">
                                {# Render "ON" Radio Input #}
                                <label>
                                    <input type="radio" name="{{ form.AUTH_METHOD_SAML_ENABLED.vars.full_name }}"
                                           value="true" {{ form.AUTH_METHOD_SAML_ENABLED.vars.data == 'true' ? 'checked' : '' }}>
                                    ON
                                </label>

                                {# Render "OFF" Radio Input #}
                                <label>
                                    <input type="radio" name="{{ form.AUTH_METHOD_SAML_ENABLED.vars.full_name }}"
                                           value="false" {{ form.AUTH_METHOD_SAML_ENABLED.vars.data == 'false' ? 'checked' : '' }}>
                                    OFF
                                </label>
                            </div>
                        {% endif %}

                        {# Description Setting #}
                        <div class="flex justify-center items-center">
                            <div class="bg-indigo-400 rounded-lg p-2 m-2 w-3/4 text-center text-white transition transform -translate-y-6 ease-in-out duration-300 absolute hidden"
                                 name="description">
                                {{ setting.vars.attr.description }}
                            </div>
                        </div>

                        <div class="mt-2 -mb-2 text-center text-red-500 text-base">
                            {{ form_errors(setting) }}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {# Google #}
    <div>
        <div class="p-2 mt-10">
            <h1 class="text-xl md:text-2xl font-semibold">GOOGLE</h1>
        </div>
        <div class="grid gap-4 lg:grid-cols-2 xl:grid-cols-3 p-2 z-0">
            {% for setting in form %}
                {# Display only the authentication settings #}
                {% if setting.vars.name in ['AUTH_METHOD_GOOGLE_LOGIN_ENABLED', 'AUTH_METHOD_GOOGLE_LOGIN_LABEL', 'AUTH_METHOD_GOOGLE_LOGIN_DESCRIPTION'] %}
                    <div class="transition hover:-translate-y-1 hover:shadow bg-white rounded-md p-6 w-full"
                         name="capportCards"
                         id="{{ setting.vars.name }}">
                        {# Title and Icon #}
                        <div class="flex flex-row justify-between">
                            <div class="text-base font-medium text-center break-normal md:break-all">
                                {% set displayName = {
                                    'AUTH_METHOD_GOOGLE_LOGIN_ENABLED': 'Mode',
                                    'AUTH_METHOD_GOOGLE_LOGIN_LABEL': 'Label',
                                    'AUTH_METHOD_GOOGLE_LOGIN_DESCRIPTION': 'Description',
                                }[setting.vars.name] ?? setting.vars.name %}
                                <h1 class="text-base md:text-lg whitespace-nowrap">{{ displayName }}</h1>
                            </div>
                            <label class="flex items-center bg-opacity-40"
                            >
                                <img class="w-6 cursor-pointer"
                                     name="descriptionIcon"
                                     src="{{ asset('resources/logos/info_icon.svg') }}"
                                     alt="info_icon"/>
                            </label>
                        </div>
                        {% if setting.vars.name in ['AUTH_METHOD_GOOGLE_LOGIN_LABEL', 'AUTH_METHOD_GOOGLE_LOGIN_DESCRIPTION'] %}
                            <div class="flex items-center space-x-2 mt-5">
                                {{ form_widget(setting, {'attr': {'class': 'p-2 bg-transparent border outline-none text-left text-base block w-full rounded-md  focus:shadow-sm'}}) }}
                            </div>
                        {% endif %}
                        {% if setting.vars.name in ['AUTH_METHOD_GOOGLE_LOGIN_ENABLED'] %}
                            <div class="flex items-center space-x-2 mt-5">
                                {{ form_widget(setting, {'attr': {'class': 'text-center  p-2 bg-transparent border outline-none text-left text-base block w-full rounded-md  focus:shadow-sm'}}) }}
                            </div>
                        {% endif %}

                        {# Description Setting #}
                        <div class="flex justify-center items-center">
                            <div class="bg-indigo-400 rounded-lg p-2 m-2 w-3/4 text-center text-white transition transform -translate-y-6 ease-in-out duration-300 absolute hidden"
                                 name="description">
                                {{ setting.vars.attr.description }}
                            </div>
                        </div>

                        <div class="mt-2 -mb-2 text-center text-red-500 text-base">
                            {{ form_errors(setting) }}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {# Register #}
    <div>
        <div class="p-2 mt-10">
            <h1 class="text-xl md:text-2xl font-semibold">EMAIL REGISTER</h1>
        </div>
        <div class="grid gap-4 lg:grid-cols-2 xl:grid-cols-3 p-2 z-0">
            {% for setting in form %}
                {# Display only the authentication settings #}
                {% if setting.vars.name in ['AUTH_METHOD_REGISTER_ENABLED', 'AUTH_METHOD_REGISTER_LABEL', 'AUTH_METHOD_REGISTER_DESCRIPTION'] %}
                    <div class="transition hover:-translate-y-1 hover:shadow bg-white rounded-md p-6 w-full"
                         name="capportCards"
                         id="{{ setting.vars.name }}">
                        {# Title and Icon #}
                        <div class="flex flex-row justify-between">
                            <div class="text-base font-medium text-center break-normal md:break-all">
                                {% set displayName = {
                                    'AUTH_METHOD_REGISTER_ENABLED': 'Mode',
                                    'AUTH_METHOD_REGISTER_LABEL': 'Label',
                                    'AUTH_METHOD_REGISTER_DESCRIPTION': 'Description',
                                }[setting.vars.name] ?? setting.vars.name %}
                                <h1 class="text-base md:text-lg whitespace-nowrap">{{ displayName }}</h1>
                            </div>
                            <label class="flex items-center bg-opacity-40"
                            >
                                <img class="w-6 cursor-pointer"
                                     name="descriptionIcon"
                                     src="{{ asset('resources/logos/info_icon.svg') }}"
                                     alt="info_icon"/>
                            </label>
                        </div>
                        {% if setting.vars.name in ['AUTH_METHOD_REGISTER_LABEL', 'AUTH_METHOD_REGISTER_DESCRIPTION'] %}
                            <div class="flex items-center space-x-2 mt-5">
                                {{ form_widget(setting, {'attr': {'class': 'p-2 bg-transparent border outline-none text-left text-base block w-full rounded-md  focus:shadow-sm'}}) }}
                            </div>
                        {% endif %}
                        {% if setting.vars.name in ['AUTH_METHOD_REGISTER_ENABLED'] %}
                            <div class="flex items-center space-x-2 mt-5">
                                {{ form_widget(setting, {'attr': {'class': 'text-center  p-2 bg-transparent border outline-none text-left text-base block w-full rounded-md  focus:shadow-sm'}}) }}
                            </div>
                        {% endif %}

                        {# Description Setting #}
                        <div class="flex justify-center items-center">
                            <div class="bg-indigo-400 rounded-lg p-2 m-2 w-3/4 text-center text-white transition transform -translate-y-6 ease-in-out duration-300 absolute hidden"
                                 name="description">
                                {{ setting.vars.attr.description }}
                            </div>
                        </div>

                        <div class="mt-2 -mb-2 text-center text-red-500 text-base">
                            {{ form_errors(setting) }}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {# Tradicional Login #}
    <div>
        <div class="p-2 mt-10">
            <h1 class="text-xl md:text-2xl font-semibold">NORMAL LOGIN</h1>
        </div>
        <div class="grid gap-4 lg:grid-cols-2 xl:grid-cols-3 p-2 z-0">
            {% for setting in form %}
                {# Display only the authentication settings #}
                {% if setting.vars.name in ['AUTH_METHOD_LOGIN_TRADITIONAL_ENABLED', 'AUTH_METHOD_LOGIN_TRADITIONAL_LABEL', 'AUTH_METHOD_LOGIN_TRADITIONAL_DESCRIPTION'] %}
                    <div class="transition hover:-translate-y-1 hover:shadow bg-white rounded-md p-6 w-full"
                         name="capportCards"
                         id="{{ setting.vars.name }}">
                        {# Title and Icon #}
                        <div class="flex flex-row justify-between">
                            <div class="text-base font-medium text-center break-normal md:break-all">
                                {% set displayName = {
                                    'AUTH_METHOD_LOGIN_TRADITIONAL_ENABLED': 'Mode',
                                    'AUTH_METHOD_LOGIN_TRADITIONAL_LABEL': 'Label',
                                    'AUTH_METHOD_LOGIN_TRADITIONAL_DESCRIPTION': 'Description',
                                }[setting.vars.name] ?? setting.vars.name %}
                                <h1 class="text-base md:text-lg whitespace-nowrap">{{ displayName }}</h1>
                            </div>
                            <label class="flex items-center bg-opacity-40"
                            >
                                <img class="w-6 cursor-pointer"
                                     name="descriptionIcon"
                                     src="{{ asset('resources/logos/info_icon.svg') }}"
                                     alt="info_icon"/>
                            </label>
                        </div>
                        {% if setting.vars.name in ['AUTH_METHOD_LOGIN_TRADITIONAL_LABEL', 'AUTH_METHOD_LOGIN_TRADITIONAL_DESCRIPTION'] %}
                            <div class="flex items-center space-x-2 mt-5">
                                {{ form_widget(setting, {'attr': {'class': 'p-2 bg-transparent border outline-none text-left text-base block w-full rounded-md  focus:shadow-sm'}}) }}
                            </div>
                        {% endif %}
                        {% if setting.vars.name in ['AUTH_METHOD_LOGIN_TRADITIONAL_ENABLED'] %}
                            <div class="flex items-center space-x-2 mt-5">
                                {{ form_widget(setting, {'attr': {'class': 'text-center  p-2 bg-transparent border outline-none text-left text-base block w-full rounded-md  focus:shadow-sm'}}) }}
                            </div>
                        {% endif %}

                        {# Description Setting #}
                        <div class="flex justify-center items-center">
                            <div class="bg-indigo-400 rounded-lg p-2 m-2 w-3/4 text-center text-white transition transform -translate-y-6 ease-in-out duration-300 absolute hidden"
                                 name="description">
                                {{ setting.vars.attr.description }}
                            </div>
                        </div>

                        <div class="mt-2 -mb-2 text-center text-red-500 text-base">
                            {{ form_errors(setting) }}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <hr class="mt-8 w-full h-0.5 bg-gray-300/50 border-0 border-gray-300/50 rounded">
    <div class="mt-6 flex flex-col md:w-full md:flex-row justify-evenly md:justify-end items-center space-x-0 md:space-x-2 space-y-2 md:space-y-0">
        <a href="{{ path('app_dashboard_regenerate_code_admin', {'type': 'settingAUTH'}) }}"
           onclick="return confirm('Are you sure you want to reset to the default settings?')"
           class="text-sm hover:text-red-600 font-bold p-2 rounded-lg transition ease-in duration-300">
            Reset
        </a>

        <button class="text-sm hover:bg-veryDarkButton hover:text-white font-bold p-3 rounded-lg transition ease-in duration-300"
                onclick="return confirm('Are you sure you want to apply this new changes?')"
                type="submit">Save Changes
        </button>
    </div>
</form>
