 <div {{ stimulus_controller('capport') }}>
 {#CAPPORT #}
<h1 class="text-2xl px-6 font-semibold mb-6">CAPPORT</h1>
<div class="grid gap-5 lg:grid-cols-2 xl:grid-cols-3 p-2 z-0">
    {#MODE#}
    <div class="bg-white rounded-lg p-2 w-full">
        {# Title and Info Card#}
        <div class="flex flex-row rounded-md justify-between p-2">
            <div class="text-base font-medium text-center break-normal md:break-all">
                <h1 class="text-base md:text-lg whitespace-nowrap">Mode</h1>
            </div>
            <img class="w-6 cursor-pointer"
                id="descriptionIcon"
                src="{{ asset('resources/logos/info_icon.svg') }}"
                alt="info_icon" />
            {# Description Setting #}
            <div role="tooltip" class="w-sm h-fit bg-indigo-400 p-2 rounded-lg text-center text-white z-10 transition transform translate-y-6 ease-in-out duration-300 absolute hidden"
                    name="description">
                Estse cenas faz cenas e depois podes clicar e fazer outras cenas pra nao ficares sem cenas pra fazer
            </div>
        </div>
        {# On/Off #}
        <div id="onCAPPORT" class="m-3 cursor-pointer rounded-md flex flex-row justify-between p-2"> 
            On
            <div class="w-6 h-6 rounded-full flex items-center justify-center">
                <img id="onIconCAPPORT" class="w-6 h-6 fill-current" src="{{asset('resources/logos/check.svg')}}"></img>
            </div>
        </div>
        <div id="offCAPPORT" class="m-3 cursor-pointer flex flex-row justify-between p-2">
            Off
            <div class="w-6 h-6 rounded-full flex items-center justify-center">
                <img id="offIconCAPPORT" class="w-6 h-6 fill-current" src="{{asset('resources/logos/check.svg')}}"></img>
            </div>
        </div>
    </div>
    {#LABEL#}
    <div class="bg-white rounded-lg p-2 w-full h-fit">
        {# Title and Info Card #}
        <div id="labelCAPPORT" class="flex flex-row rounded-md justify-between p-2">
            <label for="labelCAPPORTinput" class="text-base font-medium text-center break-normal md:break-all">
                <h1 class="text-base md:text-lg whitespace-nowrap">CAPPORT Portal URL</h1>
            </label>
            <img class="w-6 h-6 cursor-pointer"
                name="descriptionIcon"
                src="{{ asset('resources/logos/info_icon.svg') }}"
                alt="info_icon" />    
        </div>
        {#INPUT#}
        <div class="flex flex-col justify-items-end w-full border-1 border-black pb-2">
            <input id="labelInputCAPPORT" type="text" placeholder="Edit Me" 
                class="py-2 px-3 border border-gray-300 text-gray-800 rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full">
        </div>
    </div>
    {#DESCRIPTION#}
    <div id="descriptionCAPPORT"  class="bg-white rounded-lg p-2 w-full h-fit">
        {# Title and Info Card #}
        <div class="flex flex-row rounded-md justify-between p-2">
            <label for="descriptionCAPPORTinput" class="text-base font-medium text-center break-normal md:break-all">
                <h1 class="text-base md:text-lg whitespace-nowrap">CAPPORT Venue Info URL</h1>
            </label>
            <img class="w-6 cursor-pointer"
                name="descriptionIcon"
                src="{{ asset('resources/logos/info_icon.svg') }}"
                alt="info_icon" />    
        </div>
        {#INPUT#}
        <div class="flex flex-col justify-items-end w-full border-1 border-black pb-2">
            <input id="descriptionInputCAPPORT" type="text" placeholder="Edit Me" 
                class="py-2 px-3 border border-gray-300 text-gray-800 rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full">
        </div>
    </div>
</div> 
{#WARNING#}
<div id="warning" class="h-fit max-w-4xl flex flex-row justify-center bg-lightBlue p-2 m-2 rounded-lg text-sm bold text-textBlue">
    <img class="w-6"
        id="descriptionIcon"
        src="{{ asset('resources/logos/info_icon_blue.svg') }}"
        alt="info_icon" />
    <div class=""> 
        Para ativar o CAPPORT devera ativar a Option 114 no seu servidor de DHCP com o valor de 
        <a class="underline" href="https://portal.com/api/v1/capport/json">https://portal.com/api/v1/capport/json</a>
    </div>
</div>
<hr class="mb-2 mt-5 mx-2 h-0.5 border-t-0 bg-slate-200 opacity-100" />
{#SAVE BUTTON#}
<div class="flex justify-end">
    <button type="button" class="self-end h-fit text-white bg-veryDarkButton font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Save Changes</button>
</div>
