{% set setting = form[name] %}

<div name="customCards"
     class="bg-white w-full flex flex-col px-5 py-3 rounded-lg shadow transition hover:-translate-y-1 ">
    {# Title and info icon #}
    <div class="flex justify-between">
        <h1 class="text-lg font-medium">{{ displayName }}</h1>
        <img class="w-6 cursor-pointer" name="descriptionIcon" alt="info_icon"
             src="{{ asset('resources/logos/info_icon.svg') }}"/>
    </div>

    {% if settingType == 'image' %}
        <div class="image-container flex flex-grow items-center justify-between gap-4 mt-5 lg:mt-3 mb-2">
            {# Image Preview #}
            <img data-image-preview src="{{ imagePath ?? '' }}" alt="CustomizationImages"
                 class="w-1/2 max-h-48 shadow rounded-md object-contain">
            {# Upload Button #}
            <button class="p-1 bg-gray-100 rounded-lg w-24 flex flex-col justify-center items-center relative z-0 cursor-pointer mx-auto"
                    data-image-input>
                {{ form_widget(setting, {'attr': {'class': 'w-full h-full opacity-0 absolute top-0 left-0'}}) }}
                <div class="upload-button">
                    <svg class="w-6 h-6 p-1 justify-center items-center" fill="none"
                         stroke="currentColor" stroke-width="3" viewBox="0 0 24 24"
                         xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5m-13.5-9L12 3m0 0l4.5 4.5M12 3v13.5">
                        </path>
                    </svg>
                    <label class="text-center text-gray-800 text-opacity-60 text-xs font-medium">
                        Upload Image
                    </label>
                </div>

            </button>
        </div>

    {% elseif settingType == 'text' %}
        <div class="mt-5 mb-1">
            {{ form_widget(setting, {'attr': {'class': 'p-2 bg-transparent border outline-none text-left text-base block w-full rounded-md  focus:shadow-sm'}}) }}
        </div>
    {% endif %}

    {# Setting Description #}
    <div class="flex justify-center items-center">
        <div name="description"
             class="bg-indigo-400 rounded-lg p-2 m-2 w-3/4 text-center text-white transition transform -translate-y-6 ease-in-out duration-300 absolute hidden">
            {{ setting.vars.attr.description }}
        </div>
    </div>

    <div class="mt-2 -mb-2 text-center text-red-500 text-base">
        {{ form_errors(setting) }}
    </div>
</div>
