{% extends '/dashboard/base.html.twig' %}

{% block title %}
    {{ 'adminPageWBA'|trans({}, '_header_admin') }}
{% endblock %}

{% block container %}


    <div class="mt-6 leading-7">
        <p class="font-bold text-base sm:text-lg md:text-xl lg:text-2xl">
            {{ 'adminConfigTitle'|trans({}, 'adminConfig') }}
        </p>
        <p class="mt-3 text-sm sm:text-base md:text-lg lg:text-xl text-gray-600">
            {{ 'adminConfigDescription'|trans({}, 'adminConfig') }}
        </p>
    </div>

    <div class="my-[25px] divider"></div>

    {# Live Component do formulário #}
    <twig:AdminConfigForm :adminConfigDTO="formDTO">
        <div {{ attributes }}>
            {{ form_start(form, {'attr': {'autocomplete': 'off'}}) }}

            {{ dump(adminConfigDTO) }}

            <div class="grid gap-4 lg:grid-cols-2 xl:grid-cols-3 p-2 z-0">

                {# --- Email Card --- #}
                <div class="transition hover:-translate-y-1 hover:shadow bg-white rounded-md p-6 w-full">
                    <div class="flex flex-row justify-between">
                        <div class="text-base font-medium text-center break-normal md:break-all">
                            <h1 class="text-base md:text-lg whitespace-nowrap">
                                {{ 'emailLabel'|trans({}, 'adminConfig') }}
                            </h1>
                        </div>
                        <label class="flex items-center bg-opacity-40">
                            <img class="w-6 cursor-pointer"
                                 src="{{ asset('resources/logos/info_icon.svg') }}"
                                 alt="info_icon"/>
                        </label>
                    </div>

                    {{  include('/dashboard/shared/settings_actions/_description.html.twig', {
                        description: ''|trans({}, 'adminConfig')
                    }) }}

                    <div class="flex items-center space-x-2 mt-5">
                        {{ form_widget(form.email, {
                            attr: {
                                class: 'form-widget w-full border border-gray-300 rounded-lg p-2 focus:border-indigo-500 focus:ring-indigo-500',
                                'wire:model.debounce.500ms': 'adminConfigDTO.email'
                            }
                        }) }}
                    </div>

                    <div class="mt-2 text-center text-red-500 text-base">
                        {{ form_errors(form.email) }}
                    </div>
                </div>

                {# --- Password Card --- #}
                <div class="transition hover:-translate-y-1 hover:shadow bg-white rounded-md p-6 w-full">
                    <div class="flex flex-row justify-between">
                        <div class="text-base font-medium text-center break-normal md:break-all">
                            <h1 class="text-base md:text-lg whitespace-nowrap">
                                {{ 'passwordLabel'|trans({}, 'adminConfig') }}
                            </h1>
                        </div>
                        <label class="flex items-center bg-opacity-40">
                            <img class="w-6 cursor-pointer"
                                 src="{{ asset('resources/logos/info_icon.svg') }}"
                                 alt="info_icon"/>
                        </label>
                    </div>

                    {{  include('/dashboard/shared/settings_actions/_description.html.twig', {
                        description: ''|trans({}, 'adminConfig')
                    }) }}

                    <div class="flex items-center space-x-2 mt-5">
                        {{ form_widget(form.password, {
                            attr: {
                                class: 'form-widget w-full border border-gray-300 rounded-lg p-2 focus:border-indigo-500 focus:ring-indigo-500',
                                'wire:model.debounce.500ms': 'adminConfigDTO.password'
                            }
                        }) }}
                    </div>

                    <div class="mt-2 text-center text-red-500 text-base">
                        {{ form_errors(form.password) }}
                    </div>
                </div>

                {# --- Password confirmation Card --- #}
                <div class="transition hover:-translate-y-1 hover:shadow bg-white rounded-md p-6 w-full">
                    <div class="flex flex-row justify-between">
                        <div class="text-base font-medium text-center break-normal md:break-all">
                            <h1 class="text-base md:text-lg whitespace-nowrap">
                                {{ 'passwordConfirmLabel'|trans({}, 'adminConfig') }}
                            </h1>
                        </div>
                        <label class="flex items-center bg-opacity-40">
                            <img class="w-6 cursor-pointer"
                                 src="{{ asset('resources/logos/info_icon.svg') }}"
                                 alt="info_icon"/>
                        </label>
                    </div>

                    {{  include('/dashboard/shared/settings_actions/_description.html.twig', {
                        description: ''|trans({}, 'adminConfig')
                    }) }}

                    <div class="flex items-center space-x-2 mt-5">
                        {{ form_widget(form.confirmPassword, {
                            attr: {
                                class: 'form-widget w-full border border-gray-300 rounded-lg p-2 focus:border-indigo-500 focus:ring-indigo-500',
                                'wire:model.debounce.500ms': 'adminConfigDTO.confirmPassword'
                            }
                        }) }}
                    </div>

                    <div class="mt-2 text-center text-red-500 text-base">
                        {{ form_errors(form.confirmPassword) }}
                    </div>
                </div>


            </div>

            <div class="mt-8 divider-solid"></div>

            <div class="mt-6 flex flex-row w-full justify-end items-center gap-2">
                <button type="submit" class="btn-primary" onclick="return confirm('{{ 'saveChangesMessage'|trans({}, 'adminConfig') }}')">
                    {{ 'databaseApplyBtn'|trans({}, 'adminConfig') }}
                </button>
            </div>

            {{ form_row(form._token) }}

            {{ form_end(form) }}
        </div>
    </twig:AdminConfigForm>
{% endblock %}