{% extends 'dashboard/shared/settings_actions/certificatesManagement/installation/base.html.twig' %}

{% block title %}
    {{ 'adminPageWBA'|trans({}, '_header_admin') }}
{% endblock %}

{% block installation_content %}

    <div class="mt-6 leading-7">
        <p class="font-bold text-base sm:text-lg md:text-xl lg:text-2xl">
            {{ 'summaryTitle'|trans({}, 'summary') }}
        </p>
        <p class="mt-3 text-sm sm:text-base md:text-lg lg:text-xl text-gray-600">
            {{ 'summaryDescription'|trans({}, 'summary') }}
        </p>
    </div>

    <div class="my-[25px] divider"></div>

    <div class="space-y-2">
        <p class="mt-3 text-sm sm:text-base md:text-lg lg:text-xl text-gray-600">
            <strong>{{ 'installationState'|trans({}, 'summary') }}</strong> {{ Installation.installationState }}</p>
        <p class="mt-3 text-sm sm:text-base md:text-lg lg:text-xl text-gray-600">
            <strong>{{ 'dbOpenRoamingUserName'|trans({}, 'summary') }}</strong> {{ Installation.dbOpenRoamingUserName }}</p>
        <p class="mt-3 text-sm sm:text-base md:text-lg lg:text-xl text-gray-600">
            <strong>{{ 'dbOpenRoamingPassword'|trans({}, 'summary') }}</strong> {{ Installation.dbOpenRoamingPassword }}</p>
        <p class="mt-3 text-sm sm:text-base md:text-lg lg:text-xl text-gray-600">
            <strong>{{ 'dbOpenRoamingHost'|trans({}, 'summary') }}</strong> {{ Installation.dbOpenRoamingIp}}</p>
        <p class="mt-3 text-sm sm:text-base md:text-lg lg:text-xl text-gray-600">
            <strong>{{ 'dbOpenRoamingPort'|trans({}, 'summary') }}</strong> {{ Installation.dbOpenRoamingPort}}</p>
        <p class="mt-3 text-sm sm:text-base md:text-lg lg:text-xl text-gray-600">
            <strong>{{ 'dbFreeradiusUserName'|trans({}, 'summary') }}</strong> {{ Installation.dbFreeradiusUserName  }}</p>
        <p class="mt-3 text-sm sm:text-base md:text-lg lg:text-xl text-gray-600">
            <strong>{{ 'dbFreeradiusPassword'|trans({}, 'summary') }}</strong> {{ Installation.dbFreeradiusPassword }}</p>
        <p class="mt-3 text-sm sm:text-base md:text-lg lg:text-xl text-gray-600">
            <strong>{{ 'dbFreeradiusHost'|trans({}, 'summary') }}</strong> {{ Installation.dbFreeradiusIp }}</p>
        <p class="mt-3 text-sm sm:text-base md:text-lg lg:text-xl text-gray-600">
            <strong>{{ 'dbFreeradiusPort'|trans({}, 'summary') }}</strong> {{ Installation.dbFreeradiusPort }}</p>
        <p class="mt-3 text-sm sm:text-base md:text-lg lg:text-xl text-gray-600">
            <strong>{{ 'trustedProxies'|trans({}, 'summary') }}</strong> {{ Installation.trustedProxies }}</p>
        <p class="mt-3 text-sm sm:text-base md:text-lg lg:text-xl text-gray-600">
            <strong>{{ 'turnstileKey'|trans({}, 'summary') }}</strong> {{ Installation.turnstileKey }}</p>
        <p class="mt-3 text-sm sm:text-base md:text-lg lg:text-xl text-gray-600">
            <strong>{{ 'turnstileSecret'|trans({}, 'summary') }}</strong> {{ Installation.turnstileSecret }}</p>
        <p class="mt-3 text-sm sm:text-base md:text-lg lg:text-xl text-gray-600">
            <strong>{{ 'emailAdmin'|trans({}, 'summary') }}</strong> {{ Installation.emailAdmin }}</p>
        <p class="mt-3 text-sm sm:text-base md:text-lg lg:text-xl text-gray-600">
            <strong>{{ 'createdAt'|trans({}, 'summary') }}</strong> {{ Installation.createdAt|date('d/m/Y H:i') }}</p>
        <p class="mt-3 text-sm sm:text-base md:text-lg lg:text-xl text-gray-600">
            <strong>{{ 'updatedAt'|trans({}, 'summary') }}</strong> {{ Installation.updatedAt ? Installation.updatedAt|date('d/m/Y H:i') : '-' }}</p>
    </div>

    <div class="mt-6 flex flex-row w-full justify-end items-center gap-2">

        <a href="{{ path('admin_dashboard_settings_certs_management') }}"
           class="w-[160px] btn-primary">
            {{ 'finish'|trans({}, 'summary') }}
        </a>
    </div>

{% endblock %}
