{% extends '/dashboard/base.html.twig' %}

{% block title %}
    {{ 'adminPageWBA'|trans({}, '_header_admin') }}
{% endblock %}

{% block container %}

    <div class="my-[25px] divider"></div>

    <h1 class="text-2xl font-bold mb-6">Installation Details</h1>

    <div class="space-y-2">
        <p><strong>Installation State:</strong> {{ Installation.installationState }}</p>
        <p><strong>DB OpenRoaming:</strong> {{ Installation.dbOpenRoaming }}</p>
        <p><strong>DB Freeradius:</strong> {{ Installation.dbFreeradius }}</p>
        <p><strong>Trusted Proxies:</strong> {{ Installation.trustedProxies }}</p>
        <p><strong>Turnstile Key:</strong> {{ Installation.turnstileKey }}</p>
        <p><strong>Turnstile Secret:</strong> {{ Installation.turnstileSecret }}</p>
        <p><strong>JWT Passphrase:</strong> {{ Installation.jwtPassphrase }}</p>
        <p><strong>Email Admin:</strong> {{ Installation.emailAdmin }}</p>
        <p><strong>Admin Confirmation:</strong> {{ Installation.adminConfirmation ? 'Sim' : 'Não' }}</p>
        <p><strong>Created At:</strong> {{ Installation.createdAt|date('d/m/Y H:i') }}</p>
        <p><strong>Updated At:</strong> {{ Installation.updatedAt ? Installation.updatedAt|date('d/m/Y H:i') : '-' }}</p>
    </div>

{% endblock %}
