{% extends 'dashboard/shared/settings_actions/certificatesManagement/certificates/radsecproxy/base.html.twig' %}

{% block radsecproxy_content %}
    <div class="cert-upload-card">
        <h3 class="cert-upload-header">Upload your PEM files</h3>

        {{ form_start(form, { 'attr': {'enctype': 'multipart/form-data'} }) }}

        <div class="cert-upload-group space-y-2 mb-4">
            <p class="text-lg font-medium text-gray-700">Upload a valid "client.pem"</p>
            {{ form_label(form.client, 'Client Certificate (.pem)') }}
            {{ form_widget(form.client, {'attr': {'class': 'border rounded-lg p-2 w-full'}}) }}
            <div class="text-red-500 text-sm ml-1">
                {{ form_errors(form.client) }}
            </div>
        </div>

        <div class="cert-upload-group space-y-2 mb-4">
            <p class="text-lg font-medium text-gray-700">Upload a valid "key.pem"</p>
            {{ form_label(form.key, 'Private Key (.pem)') }}
            {{ form_widget(form.key, {'attr': {'class': 'border rounded-lg p-2 w-full'}}) }}
            <div class="text-red-500 text-sm ml-1">
                {{ form_errors(form.key) }}
            </div>
        </div>

        <button class="cert-upload-btn text-white px-6 py-2 rounded-lg shadow-sm transition">
            Upload Certificates
        </button>

        {{ form_end(form) }}
    </div>
{% endblock %}
