{% extends '/landing/base.html.twig' %}

{% block title %}
    {{ data.PAGE_TITLE.value }}
{% endblock %}

{% block second_col %}
    {# Toasts #}
    {{ block('toast_messages') }}

    {% if data.CUSTOMER_LOGO_ENABLED.value == constant('App\\Enum\\OperationMode::ON').value %}
        <img class="w-[120px] h-[58px] object-scale-down mt-[75px]"
             src="{{ data.CUSTOMER_LOGO.value }}"
             alt="{{ 'logoAlt'|trans({}, 'login_landing') }}"/>
    {% endif %}

    <div class="{{ data.CUSTOMER_LOGO_ENABLED.value == constant('App\\Enum\\OperationMode::ON').value ? 'pt-[28px]' : 'pt-[161px]' }} leading-7">
        <p class="font-bold text-xl">
            {{ 'welcome_back'|trans({}, 'login_landing') }}
        </p>
        <p class="text-lg">
            {% if data.LOGIN_WITH_UUID_ONLY.value == constant('App\\Enum\\OperationMode::OFF').value %}
                {{ 'description'|trans({}, 'login_landing') }}
            {% else %}
                {{ 'magic_link_description'|trans({}, 'login_landing') }}
            {% endif %}
        </p>
    </div>

    {# Form Column #}
    {{ form_start(form) }}

    {% if data.AUTH_METHOD_REGISTER_ENABLED.value and data.AUTH_METHOD_SMS_REGISTER_ENABLED.value == 'true' %}
        {% set label = 'form.email_or_phone'|trans({}, 'login_landing') %}
    {% elseif data.AUTH_METHOD_REGISTER_ENABLED.value == 'true' %}
        {% set label = 'form.email'|trans({}, 'login_landing') %}
    {% elseif data.AUTH_METHOD_SMS_REGISTER_ENABLED.value == 'true' %}
        {% set label = 'form.phone_number'|trans({}, 'login_landing') %}
    {% else %}
        {% set label = 'form.email'|trans({}, 'login_landing') %}
    {% endif %}

    {# UUID Field #}
    <div class="relative mt-[32px]">
        {{ form_label(form.uuid, label, {label_attr: {class: 'form-label'}}) }}
        {{ form_widget(form.uuid, {
            attr: {
                class: 'form-widget',
                placeholder: 'form.enter_placeholder'|trans({'%label%': label|lower}, 'login_landing'),
            },
            full_name: 'uuid',
        }) }}
    </div>

    {% if data.LOGIN_WITH_UUID_ONLY.value == constant('App\\Enum\\OperationMode::OFF').value %}
        {# Password Field #}
        <div class="relative mt-[32px]">
            {{ form_label(form.password, 'form.password'|trans({}, 'login_landing'), {label_attr: {class: 'form-label'}}) }}
            {{ form_widget(form.password, {
                attr: {
                    class: 'form-widget',
                    placeholder: 'form.password_placeholder'|trans({}, 'login_landing'),
                },
                full_name: 'password',
            }) }}
        </div>
    {% endif %}

    {# Turnstile Checker #}
    {% if data.TURNSTILE_CHECKER.value == constant('App\\Enum\\OperationMode::ON').value %}
        <div class="ml-3 mt-5">
            {{ form_row(form.security, {full_name: 'security'}) }}
        </div>
    {% endif %}

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    <div class="my-[32px] flex justify-start gap-4">
        <button type="submit" class="w-[220px] btn-primary">
            {{ 'btn.login'|trans({}, 'login_landing') }}
        </button>
        {% if data.PLATFORM_MODE.value != constant('App\\Enum\\PlatformMode::DEMO').value %}
            <a href="{{ path('app_landing') }}" class="w-[220px] btn-secondary">
                {{ 'btn.choose_another'|trans({}, 'login_landing') }}
            </a>
        {% endif %}
    </div>

    {# Divider #}
    <div class="my-[25px] divider"></div>
    {% if data.PLATFORM_MODE.value != constant('App\\Enum\\PlatformMode::DEMO').value %}

        {% if data.AUTH_METHOD_REGISTER_ENABLED.value or data.AUTH_METHOD_SMS_REGISTER_ENABLED.value == 'true' %}
            {% if data.LOGIN_WITH_UUID_ONLY.value == constant('App\\Enum\\OperationMode::OFF').value %}
                <p class="mt-2 text-sm">
                    {{ 'forgot_password'|trans({}, 'login_landing') }}

                    {% if data.AUTH_METHOD_REGISTER_ENABLED.value == 'true' %}
                        <a href="{{ path('app_site_forgot_password_email') }}"
                           class="font-semibold text-primary underline">
                            {{ 'forgot_password_email'|trans({}, 'login_landing') }}
                        </a>
                    {% endif %}

                    {% if data.AUTH_METHOD_REGISTER_ENABLED.value == 'true' and data.AUTH_METHOD_SMS_REGISTER_ENABLED.value == 'true' %}
                        {{ 'or'|trans({}, 'login_landing') }}
                    {% endif %}

                    {% if data.AUTH_METHOD_SMS_REGISTER_ENABLED.value == 'true' %}
                        <a href="{{ path('app_site_forgot_password_sms') }}"
                           class="font-semibold text-primary underline">
                            {{ 'forgot_password_phone'|trans({}, 'login_landing') }}
                        </a>.
                    {% endif %}
                </p>
            {% endif %}

            <p class="mt-2 text-sm">
                {{ 'no_account_register'|trans({}, 'login_landing') }}

                {% if data.AUTH_METHOD_REGISTER_ENABLED.value == 'true' %}
                    <a href="{{ path('app_register') }}" class="font-semibold text-primary underline">
                        {{ 'register_email'|trans({}, 'login_landing') }}
                    </a>
                {% endif %}

                {% if data.AUTH_METHOD_REGISTER_ENABLED.value == 'true' and data.AUTH_METHOD_SMS_REGISTER_ENABLED.value == 'true' %}
                    {{ 'or'|trans({}, 'login_landing') }}
                {% endif %}

                {% if data.AUTH_METHOD_SMS_REGISTER_ENABLED.value == 'true' %}
                    <a href="{{ path('app_register_sms') }}" class="font-semibold text-primary underline">
                        {{ 'register_phone'|trans({}, 'login_landing') }}
                    </a>.
                {% endif %}
            </p>
        {% endif %}
    {% endif %}

    {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}
