{% extends 'site/base.html.twig' %}

{% block title %}
    {{ data.title.value }}
{% endblock %}

{% block second_col %}
    {# Form Column #}

    {# Toasts #}
    <div class="grid grid-cols-1 gap-[5px]">
        {% for message in app.session.flashbag.get('success') %}
            {{ include('site/shared/_toast.html.twig', {toast_type: 'toast-success'}) }}
        {% endfor %}

        {# Flash error message #}
        {% for message in app.session.flashbag.get('error') %}
            {{ include('site/shared/_toast.html.twig', {toast_type: 'toast-warning'}) }}
        {% endfor %}
    </div>

    {% if data.CUSTOMER_LOGO_ENABLED.value == constant('App\\Enum\\OperationMode::ON').value %}
        <img class="w-[120px] h-[58px] object-scale-down mt-[75px]" src="{{ data.customerLogoName.value }}" alt="Logo"/>
    {% endif %}

    <div class="{{ data.CUSTOMER_LOGO_ENABLED.value == constant('App\\Enum\\OperationMode::ON').value ? 'pt-[28px]' : 'pt-[161px]' }} leading-7">
        <p class="font-bold text-xl">Two-Factor Authentication Setup</p>
        <p class="text-lg">
            Before proceeding, please install one of the following Two-Factor Authentication apps on your device:
        </p>

        {# Card Layout for Applications #}
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-6">
            {# Google Authenticator #}
            <div class="flex items-center p-4 bg-gray-100 rounded-lg shadow-md hover:shadow-lg transition">
                <twig:ux:icon name="wba:google-authenticator" class="w-10 h-10 md:w-12 md:h-12 inline-block mr-4 text-red-500" />
                <div>
                    <p class="font-medium text-lg">Google Authenticator</p>
                    <p>
                        Available on
                        <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2"
                           target="_blank" class="text-blue-500 underline"
                           rel="noopener noreferrer nofollow">Google Play</a> and
                        <a href="https://apps.apple.com/app/google-authenticator/id388497605"
                           target="_blank" class="text-blue-500 underline"
                           rel="noopener noreferrer nofollow">App Store</a>.
                    </p>
                </div>
            </div>

            {# Microsoft Authenticator #}
            <div class="flex items-center p-4 bg-gray-100 rounded-lg shadow-md hover:shadow-lg transition">
                <twig:ux:icon name="wba:microsoft-authenticator-icon" class="w-10 h-10 md:w-12 md:h-12 inline-block mr-4 text-blue-500" />
                <div>
                    <p class="font-medium text-lg">Microsoft Authenticator</p>
                    <p>
                        Available on
                        <a href="https://play.google.com/store/apps/details?id=com.azure.authenticator"
                           target="_blank" class="text-blue-500 underline"
                           rel="noopener noreferrer nofollow">Google Play</a> and
                        <a href="https://apps.apple.com/app/microsoft-authenticator/id983156458"
                           target="_blank" class="text-blue-500 underline"
                           rel="noopener noreferrer nofollow">App Store</a>.
                    </p>
                </div>
            </div>

        {# Steps to Enable 2FA #}
        <p class="text-lg mt-5">To enable Two-Factor Authentication, follow these steps:</p>
        <ol class="pl-5 list-decimal text-lg mt-2">
            <li>Install one of the applications listed above on your mobile device.</li>
            <li>Open the application and choose the option to add a new account.</li>
            <li>Scan the QR code below using the app or manually enter the key provided in the app if needed.</li>
            <li>Once the app is configured, use the app-generated code whenever prompted while logging in.</li>
        </ol>
    </div>

    {# QR Code Section #}
    <div class="flex justify-center my-5">
        <img src="data:image/png;base64,{{ qrCodeImage }}" alt="QR Code for 2FA configuration"/>
    </div>

    <div class="{{ data.CUSTOMER_LOGO_ENABLED.value == constant('App\\Enum\\OperationMode::ON').value ? 'pt-[28px]' : 'pt-[161px]' }} leading-7">
        <p class="text-lg"> Or manually enter the code into the application</p>
        <div data-controller="clipboard">
            <div class="mt-5 rounded-md">
                <div id="codesBox"
                     data-clipboard-target="code"
                     class="p-4 bg-gray-100 text-base font-mono rounded-md overflow-x-auto text-left mt-4">
                    <div class="flex justify-end">
                        <button
                                data-action="clipboard#copyToClipboard">
                            <twig:ux:icon class="w-4" name="wba:copy"/>
                        </button>
                    </div>
                    <p class="text-sm"> {{ secret }} </p>
                </div>

            </div>
        </div>

    </div>

    {{ form_start(form) }}
    <div class="relative mt-10 mb-6">
        {{ form_widget(form.code, {
            attr: {
                class: 'form-widget',
                placeholder: 'Enter your Code',
            }}) }}
    </div>

    {# Action Buttons #}
    <div class="grid mt-4 grid-cols-1 sm:gap-4 lg:gap-6 sm:[grid-template-columns:repeat(auto-fit,minmax(150px,1fr))] md:my-2 my-3 space-y-4 sm:space-y-0">
        <button class="btn-primary"
                type="submit">Submit
        </button>
    </div>
    {{ form_end(form) }}

    {{ include('site/shared/returnActions/_return_action.html.twig') }}
{% endblock %}
