{% extends 'dashboard/shared/settings_actions/certificatesManagement/certificates/base.html.twig' %}

{% block certificates_content %}
    {{ include('dashboard/shared/settings_actions/certificatesManagement/partials/_abort_certs.html.twig') }}

    {# Toast Success Warning about Radsecproxy config #}
    <div class="toast-success-dashboard mt-4">
        <div class="flex flex-col space-y-2">

            {# Title #}
            <p class="font-semibold text-base sm:text-lg">
                {{ 'radsecproxy_process.completed'|trans({}, 'upload_freeradius') }}
            </p>

            {# Description #}
            <div class="text-sm sm:text-base">
                <p>
                    {{ 'radsecproxy_process.finished_steps'|trans({}, 'upload_freeradius') }}
                </p>
                <p>
                    {{ 'radsecproxy_process.next_phase'|trans({}, 'upload_freeradius') }}
                    <span class="font-semibold">
                    {{ 'radsecproxy_process.details'|trans({}, 'upload_freeradius') }}
                </span>
                </p>
            </div>
        </div>
    </div>

    {# Certs Selection - Manual or Auto #}
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">

        {{ include(
            'dashboard/shared/settings_actions/certificatesManagement/partials/_cert_option_card.html.twig',
            {
                route: 'admin_dashboard_settings_certs_freeradius_upload',
                title: 'manualTitle',
                subtitle: 'manualSubtitle',
                icon: 'wba:cloud-upload',
                translation_domain: 'certs_selection'
            }
        ) }}

        {{ include(
            'dashboard/shared/settings_actions/certificatesManagement/partials/_cert_option_card.html.twig',
            {
                route: 'admin_dashboard_settings_certs_freeradius_auto_renew_domain',
                title: 'letsEncryptTitle',
                subtitle: 'autoSubtitle',
                icon: 'wba:autorenew-rounded',
                translation_domain: 'certs_selection'
            }
        ) }}
    </div>
{% endblock %}
