<div class="cert-upload-card">
    <h3 class="cert-upload-header">Upload your PEM files</h3>

    {{ form_start(form, { 'attr': {'enctype': 'multipart/form-data'} }) }}

    <div class="cert-upload-group">
        <p class="text-lg">Upload a valid "client.pem"</p>
        {{ form_label(form.client, 'Client Certificate (.pem)') }}
        {{ form_widget(form.client) }}
        <div class="text-red-500 ml-2">
            {{ form_errors(form.client) }}
        </div>
    </div>

    <div class="cert-upload-group">
        <p class="text-lg">Upload a valid "key.pem"</p>
        {{ form_label(form.key, 'Private Key (.pem)') }}
        {{ form_widget(form.key) }}
        <div class="text-red-500 ml-2">
            {{ form_errors(form.key) }}
        </div>
    </div>

    <button class="cert-upload-btn" type="submit">
        Upload Certificates
    </button>

    {{ form_end(form) }}
</div>
