{% extends 'base.html.twig' %}

{% block title %}
    {{ data.PAGE_TITLE.value }}
{% endblock %}

{% set bgUrl = data.WALLPAPER_IMAGE.value != '/resources/images/wallpaper.png'
    ? data.WALLPAPER_IMAGE.value
    : '/resources/images/background.png' %}

{% block body %}
    <div class="min-h-screen bg-center bg-cover flex items-center justify-center px-4 sm:px-6 lg:px-8"
         style="background-image: url('{{ bgUrl }}');">

        <div class="w-full max-w-5xl bg-white rounded-xl shadow-2xl overflow-hidden py-12 px-10"
             data-controller="os-tabs"
             data-os-tabs-default-os="{{ data.os.selected }}">

            {# Language Selector in the top-right #}
            <div class="flex justify-end mb-6">
                {{ include('shared/_select_language.html.twig', {
                    currentLocale: app.request.locale,
                    routeName: 'change_language',
                    warningMessage: false
                }) }}
            </div>

            {# Tabs #}
            <div class="flex border-b border-gray-200 mb-8">
                <button data-os="{{ constant('App\\Enum\\OSType::ANDROID').value }}" data-os-tabs-target="tab"
                        data-action="click->os-tabs#activate"
                        class="px-6 py-3 font-semibold flex items-center space-x-2 transition-all duration-200">
                    <twig:ux:icon name="wba:android" class="w-5 h-5"/>
                    <span>Android</span>
                </button>

                <button data-os="{{ constant('App\\Enum\\OSType::IOS').value }}" data-os-tabs-target="tab"
                        data-action="click->os-tabs#activate"
                        class="px-6 py-3 font-semibold flex items-center space-x-2 transition-all duration-200">
                    <twig:ux:icon name="wba:ios" class="w-5 h-5"/>
                    <span>iOS</span>
                </button>

                <button data-os="{{ constant('App\\Enum\\OSType::WINDOWS').value }}" data-os-tabs-target="tab"
                        data-action="click->os-tabs#activate"
                        class="px-6 py-3 font-semibold flex items-center space-x-2 transition-all duration-200">
                    <twig:ux:icon name="wba:windows" class="w-5 h-5"/>
                    <span>Windows</span>
                </button>
            </div>

            {# Contents TODO make new files for each OS and steps #}
            <div data-os="{{ constant('App\\Enum\\OSType::ANDROID').value }}" data-os-tabs-target="content"
                 class="{% if data.os.selected == constant('App\\Enum\\OSType::ANDROID').value %}hidden{% endif %}">
                <div class="flex items-center space-x-8">
                    <twig:ux:icon name="wba:android" class="w-20 h-20"/>
                    <p class="text-xl">Android Mode</p>
                </div>
            </div>

            <div data-os="{{ constant('App\\Enum\\OSType::IOS').value }}" data-os-tabs-target="content"
                 class="{% if data.os.selected == constant('App\\Enum\\OSType::IOS').value %}hidden{% endif %}">
                <div class="flex items-center space-x-8">
                    <twig:ux:icon name="wba:ios" class="w-20 h-20"/>
                    <p class="text-xl">iOS Mode</p>
                </div>
            </div>

            <div data-os="{{ constant('App\\Enum\\OSType::WINDOWS').value }}" data-os-tabs-target="content"
                 class="{% if data.os.selected == constant('App\\Enum\\OSType::WINDOWS').value %}hidden{% endif %}">
                <div class="flex items-center space-x-8">
                    <twig:ux:icon name="wba:windows" class="w-20 h-20"/>
                    <p class="text-xl">Windows Mode</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
