{% extends 'base.html.twig' %}

{% block title %}
    {{ data.PAGE_TITLE.value }}
{% endblock %}

{% set bgUrl = data.WALLPAPER_IMAGE.value != '/resources/images/wallpaper.png'
    ? data.WALLPAPER_IMAGE.value
    : '/resources/images/background.png' %}

{% block body %}
    <div class="min-h-screen bg-center bg-cover flex items-center justify-center px-4 sm:px-6 lg:px-8"
         style="background-image: url('{{ bgUrl }}');">

        <div class="instructions-container"
             data-controller="os-tabs"
             data-os-tabs-default-os="{{ data.os.selected }}">

            {# Header #}
            <div class="instructions-header">
                <h1 class="instructions-title">
                    Device Setup Instructions
                </h1>

                <div class="instructions-language">
                    {{ include('shared/_select_language.html.twig', {
                        currentLocale: app.request.locale,
                        routeName: 'change_language',
                        warningMessage: false
                    }) }}
                </div>
            </div>

            {# Tabs #}
            <div class="instructions-tabs">
                <button data-os="{{ constant('App\\Enum\\OSType::ANDROID').value }}" data-os-tabs-target="tab"
                        data-action="click->os-tabs#activate"
                        class="instructions-tab">
                    <twig:ux:icon name="wba:android" class="w-5 h-5"/>
                    <span>Android</span>
                </button>

                <button data-os="{{ constant('App\\Enum\\OSType::IOS').value }}" data-os-tabs-target="tab"
                        data-action="click->os-tabs#activate"
                        class="instructions-tab">
                    <twig:ux:icon name="wba:ios" class="w-5 h-5"/>
                    <span>iOS</span>
                </button>

                <button data-os="{{ constant('App\\Enum\\OSType::WINDOWS').value }}" data-os-tabs-target="tab"
                        data-action="click->os-tabs#activate"
                        class="instructions-tab">
                    <twig:ux:icon name="wba:windows" class="w-5 h-5"/>
                    <span>Windows</span>
                </button>
            </div>

            {# Content Area #}
            <div class="instructions-content">
                <div data-os="{{ constant('App\\Enum\\OSType::ANDROID').value }}" data-os-tabs-target="content"
                     class="{% if data.os.selected == constant('App\\Enum\\OSType::ANDROID').value %}hidden{% endif %}">
                    {{ include('instructions/os/_android.html.twig') }}
                </div>

                <div data-os="{{ constant('App\\Enum\\OSType::IOS').value }}" data-os-tabs-target="content"
                     class="{% if data.os.selected == constant('App\\Enum\\OSType::IOS').value %}hidden{% endif %}">
                    {{ include('instructions/os/_ios.html.twig') }}
                </div>

                <div data-os="{{ constant('App\\Enum\\OSType::WINDOWS').value }}" data-os-tabs-target="content"
                     class="{% if data.os.selected == constant('App\\Enum\\OSType::WINDOWS').value %}hidden{% endif %}">
                    {{ include('instructions/os/_windows.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
