{% extends 'base.html.twig' %}

{% block title %}
    {{ data.PAGE_TITLE.value }}
{% endblock %}

{% block body %}
    <div class="flex flex-col xl:flex-row xl:h-screen">
        {# Fixed First Section #}
        <div class="w-full xl:w-1/2 h-screen bg-center bg-cover"
             style="background-image: url('/resources/images/background.png');">
            <div class="w-full h-full p-8 xl:pl-[130px] xl:pr-[150px] xl:pt-[210px] bg-center bg-cover"
                 style="background-image: url('{{ data.WALLPAPER_IMAGE.value }}');">
                <div class="h-full w-full flex flex-col">
                    <img class="w-96 max-w-full" src="{{ data.OPENROAMING_LOGO.value }}" alt="OpenRoaming Logo"/>
                    <h1 class="text-5xl font-segoe text-white mt-[55px] font-bold break-words">
                        {{ data.WELCOME_TEXT.value }}
                    </h1>
                    <p class="text-white text-2xl mt-[45px] leading-7 break-words">
                        {{ data.WELCOME_DESCRIPTION.value }}
                    </p>
                    <p class="text-white text-lg mt-[55px] mb-6 break-words">
                        {{ 'contactText'|trans({}, 'landing') }}
                        <a href="mailto:{{ data.CONTACT_EMAIL.value }}"
                           class="font-semibold underline text-primary break-words">{{ data.CONTACT_EMAIL.value }}</a>
                    </p>
                </div>
            </div>
        </div>

        {# Scrollable Second Section #}
        <div class="w-full xl:w-1/2 xl:overflow-y-auto xl:h-screen p-8 xl:pl-[90px] xl:pr-[130px] xl:pt-[74px] overflow-hidden"
                {{ stimulus_controller('visibility') }}>

            {# Language Selector #}
            {% block language %}
                {{ include('shared/_select_language.html.twig', {
                    currentLocale: app.request.locale,
                    routeName: 'change_language',
                    warningMessage: false,
                }) }}
            {% endblock %}

            {% block toast_messages %}
                {{ include('landing/shared/_render_toasts.html.twig') }}
            {% endblock %}

            {% block second_col %}
            {% endblock %}

            {# Cookie Banner #}
            {% block cookie %}
                <div class="grid grid-cols-1 gap-[5px] break-words">
                    {% if isEEAUser() != constant('App\\Enum\\GeoLocation\\IsEEAHandler::NOT_IN_EEA').value %}
                        {{ include('landing/shared/_cookie_banner.html.twig') }}
                    {% endif %}
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}
