{% set bgUrl = data.WALLPAPER_IMAGE.value != '/resources/images/wallpaper.png'
    ? data.WALLPAPER_IMAGE.value
    : '/resources/images/background.png' %}

{% extends 'landing/base.html.twig' %}

{% block title %}
    {{ data.PAGE_TITLE.value }}
{% endblock %}

{% block body %}
    <div class="relative min-h-screen w-screen bg-center bg-cover flex items-start justify-center p-10"
         style="background-image: url('{{ bgUrl }}');" {{ stimulus_controller('visibility') }}>

        <div class="bg-white rounded-2xl shadow-xl w-[90%] max-w-6xl max-h-[80vh] h-auto flex flex-col">

            <div class="mt-4 mr-4">
                {% block language %}
                    {{ include('shared/_select_language.html.twig', {
                        currentLocale: app.request.locale,
                        routeName: 'change_language',
                        warningMessage: false,
                    }) }}
                {% endblock %}
            </div>

            <div class="flex justify-between items-center w-full px-10 py-0">
                {% if data.CUSTOMER_LOGO_ENABLED.value == constant('App\\Enum\\OperationMode::ON').value %}
                    <img class="w-[120px] h-[58px] object-scale-down" src="{{ data.CUSTOMER_LOGO.value }}" alt="Customer Logo"/>
                {% endif %}
                <div>
                    {% if isEEAUser() != constant('App\\Enum\\GeoLocation\\IsEEAHandler::NOT_IN_EEA').value %}
                        {{ include('landing/shared/_cookie_banner.html.twig') }}
                    {% endif %}
                </div>
            </div>

            <div class="flex-1 overflow-y-auto px-10 pb-10">
                {{ block('toast_messages') }}

                <div class="mt-6 leading-7">
                    <p class="font-bold text-lg">{{ 'downloadInstallProfiles'|trans({}, 'landing') }}</p>
                    <p class="mt-3">{{ 'profilesExplanation'|trans({}, 'landing') }}</p>
                </div>

                <form method="post" novalidate>
                    {{ include('landing/shared/_os_selection.html.twig') }}
                </form>

                <div class="my-[25px] divider"></div>

                <div {{ stimulus_controller('widget') }}>
                    <div class="flex justify-between items-center w-full">
                        <div>
                            <p class="text-[#212529] text-opacity-40 text-sm">
                                {{ 'authenticatedAs'|trans({}, 'landing') }}
                                {% for auth in user.userExternalAuths %}
                                    {% if auth.provider == constant('App\\Enum\\UserProvider::SAML').value %}
                                        {{ auth.providerId }}
                                    {% else %}
                                        {{ app.user.uuid }}
                                    {% endif %}
                                {% endfor %}
                            </p>

                            {% if app.user.isVerified %}
                                <div class="flex flex-row items-center gap-2 mt-2">
                                    <p class="text-sm text-[#707070]">{{ 'title'|trans({}, '_account_widget') }}</p>
                                    <button id="widgetUserButton" type="button" {{ stimulus_action('widget', 'open') }}
                                            class="duration-300 cursor-pointer rounded-full text-[#707070] focus:animate-spin-slow focus:bg-[#7DB928] focus:text-white hover:shadow-lg p-2.5 relative z-0">
                                        <twig:ux:icon name="wba:cog" class="w-6" fill="none"/>
                                    </button>
                                </div>

                                <div {{ stimulus_target('widget', 'modal') }}
                                        class="hidden fixed top-0 left-0 w-full h-full bg-[#090B2F] bg-opacity-70 z-20 ">
                                    <div class="flex flex-row justify-center items-center h-full w-full">
                                        {{ include('landing/shared/_account_widget.html.twig') }}
                                    </div>
                                </div>
                            {% endif %}
                        </div>

                        <a href="{{ path('app_logout') }}" class="w-[160px] btn-logout">
                            {{ 'logout'|trans({}, 'landing') }}
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
