<div class="relative flex flex-row justify-end mb-3" data-controller="dropdown">

    <label for="language-selector"
           class="p-2 block text-sm font-medium text-gray-900 mb-2 self-start">
        {% if warningMessage == true %}
            {{ 'translationLanguageWarning'|trans({}, '_custom_portal') }}
        {% else %}
            {{ 'language'|trans({}, 'landing') }}
        {% endif %}
    </label>

    {# Dropdown Selector for Language Switching #}
    <div class="relative w-44">
        {# Dropdown Button #}
        <button
                class="flex items-center justify-between w-full px-4 py-2 text-sm bg-white border border-gray-300 rounded-lg shadow-sm focus:outline-none"
                type="button"
                data-action="click->dropdown#toggle"
                data-dropdown-target="button">
            <div class="flex items-center space-x-2">
                {% if currentLocale == constant('App\\Enum\\LanguageType::EN').value %}
                    <twig:ux:icon class="w-4 h-4 rounded-full" name="wba:gb-flag" />
                    <span>English</span>
                {% else %}
                    <twig:ux:icon class="w-4 h-4 rounded-full" name="wba:portugal-flag" />
                    <span>Portuguese</span>
                {% endif %}
            </div>
            <twig:ux:icon class="w-4 h-4 text-gray-500" name="wba:arrow-down" />
        </button>

        {# Dropdown Menu #}
        <ul
                class="absolute hidden mt-2 divide-y divide-gray-100 rounded-lg bg-white shadow-lg text-sm w-full z-10"
                data-dropdown-target="menu">
            {% if language is defined %}
                <li
                        class="flex items-center space-x-2 px-4 py-2 cursor-pointer hover:text-lightGreen {{ currentLocale == constant('App\\Enum\\LanguageType::EN').value ? 'bg-gray-100 font-semibold' : '' }}">
                    <twig:ux:icon class="w-4 h-4 rounded-full" name="wba:gb-flag"/>
                    <a href="{{ path(routeName, {language: constant('App\\Enum\\LanguageType::EN').value}) }}" class="block w-full">English</a>
                </li>
                <li
                        class="flex items-center space-x-2 px-4 py-2 cursor-pointer hover:text-lightGreen {{ currentLocale == constant('App\\Enum\\LanguageType::PT').value ? 'bg-gray-100 font-semibold' : '' }}">
                    <twig:ux:icon class="w-4 h-4 rounded-full" name="wba:portugal-flag"/>
                    <a href="{{ path(routeName, {language: constant('App\\Enum\\LanguageType::PT').value}) }}" class="block w-full">Portuguese</a>
                </li>
            {% else %}
                <li
                        class="flex items-center space-x-2 px-4 py-2 cursor-pointer hover:text-lightGreen {{ currentLocale == constant('App\\Enum\\LanguageType::EN').value ? 'bg-gray-100 font-semibold' : '' }}">
                    <twig:ux:icon class="w-4 h-4 rounded-full" name="wba:gb-flag"/>
                    <a href="{{ path(routeName, {locale: constant('App\\Enum\\LanguageType::EN').value}) }}" class="block w-full">English</a>
                </li>
                <li
                        class="flex items-center space-x-2 px-4 py-2 cursor-pointer hover:text-lightGreen {{ currentLocale == constant('App\\Enum\\LanguageType::PT').value ? 'bg-gray-100 font-semibold' : '' }}">
                    <twig:ux:icon class="w-4 h-4 rounded-full" name="wba:portugal-flag"/>
                    <a href="{{ path(routeName, {locale: constant('App\\Enum\\LanguageType::PT').value}) }}" class="block w-full">Portuguese</a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>
