{% extends 'base.html.twig' %}

{% block title %}{{ 'adminPageWBA'|trans({}, '_header_admin') }}{% endblock %}

{% block body %}
    <div class="flex text-veryDarkPurple" {{ stimulus_controller('nav') }}>
        {# Sidebar #}
        {{ include('dashboard/shared/_sidebar.html.twig') }}

        {# Loading spinner overlay (row-level) #}
        {{ include('dashboard/shared/_loading_spinner.html.twig') }}

        <div class="ml-auto w-full xl:w-[calc(100%_-_300px)] px-7 py-12 min-h-screen bg-lightGray">
            {# Header #}
            <div class="flex flew-row items-center justify-between">
                {{ include('dashboard/shared/_header_admin.html.twig') }}
            </div>

            {% block toast_dashboard %}
                {{ include('shared/_render_toasts.html.twig') }}
            {% endblock toast_dashboard %}

            {% block container %}
            {% endblock container %}
        </div>
    </div>
{% endblock %}
