{% extends '/templates/site/base.html.twig' %}

{% block title %}
    {{ data.title.value }}
{% endblock %}

{% block second_col %}
    {# Form Column #}

    {# Toasts #}
    <div class="grid grid-cols-1 gap-[5px]">
        {% for message in app.session.flashbag.get('success') %}
            {{ include('site/shared/_toast.html.twig', {toast_type: 'toast-success'}) }}
        {% endfor %}

        {# Flash error message #}
        {% for message in app.session.flashbag.get('error') %}
            {{ include('site/shared/_toast.html.twig', {toast_type: 'toast-warning'}) }}
        {% endfor %}
    </div>

    {% if data.CUSTOMER_LOGO_ENABLED.value == constant('App\\Enum\\OperationMode::ON').value %}
        <img class="w-[120px] h-[58px] object-scale-down mt-[75px]" src="{{ data.customerLogoName.value }}" alt="Logo"/>
    {% endif %}

    <div class="{{ data.CUSTOMER_LOGO_ENABLED.value == constant('App\\Enum\\OperationMode::ON').value ? 'pt-[28px]' : 'pt-[161px]' }} leading-7">
        <p class="font-bold text-xl">Two Factor Authentication Code</p>
        <p class="text-lg"> Please enter your authentication application code</p>
    </div>
    {{ form_start(form) }}
    <div class="relative mt-10">

        {{ form_widget(form.code, {
            attr: {
                class: 'form-widget',
                placeholder: 'Enter your Code',
            }}) }}

    </div>

    <div class="grid mt-4 grid-cols-1 sm:gap-4 lg:gap-6 sm:[grid-template-columns:repeat(auto-fit,minmax(150px,1fr))] md:my-2 my-3">
        <button class="btn-primary"
                type="submit">Submit
        </button>
        <a href="{{ path('saml_logout') }}" class="w-[160px] btn-logout">Logout</a>
    </div>
    {{ form_end(form) }}
    <p class="text-[#212529] text-opacity-40 text-sm mt-5">
        You are currently authenticated as
        {{ app.user.uuid }}
    </p>

{% endblock %}
