{# Table Content #}
<tr>
    {# UUID #}
    <td class="p-4 pl-8 font-medium">
        {{ user.uuid is defined ? user.uuid : 'noInformation'|trans({}, '_user') }}
    </td>

    {# Email #}
    <td class="p-4 -ml-4">
        {% if user.email is not null %}
            {{ user.email }}
        {% else %}
            <span class="font-semibold p-1 pill-error">{{ 'noInformation'|trans({}, '_user') }}
</span>
        {% endif %}
    </td>

    {# User Provider #}
    <td class="p-4">
        <p class="text-left ml-1 p-1">
            {% if user.userExternalAuths is not empty %}
                {% for auth in user.userExternalAuths %}
                    {{ auth.provider }}
                    {% if not loop.last %}, {% endif %}
                {% endfor %}
            {% else %}
                <span>{{ 'noProvidersFound'|trans({}, '_user') }}</span>
            {% endif %}
        </p>
    </td>

    {# User Verification #}
    <td class="p-4 ">
        <p class="font-semibold p-1">
            {% if constant('App\\Enum\\AdminRoleType::ROLE_SUPER_ADMIN').value in user.roles %}
                <span class="pill-warning">
                    {{ 'superAdmin'|trans({}, '_user') }}
                </span>
            {% elseif constant('App\\Enum\\AdminRoleType::ROLE_ADMIN').value in user.roles %}
                <span class="pill-success">
                    {{ 'admin'|trans({}, '_user') }}
                </span>
            {% else %}
                <span class="pill-error">
                    {{ 'user'|trans({}, '_user') }}
                </span>
            {% endif %}
        </p>
    </td>


    {# Created At #}
    <td class="px-6 py-4 font-medium">
        {{ user.createdat|date('d/m/Y H:i') }}
    </td>

    {# Actions Buttons #}
    {% if constant('App\\Enum\\AdminRoleType::ROLE_SUPER_ADMIN').value not in user.roles %}
    <td class="px-10 py-4 text-right" {{ stimulus_controller('nav-submenu') }}>
        {# Items Button Dropdown #}
        <button type="button" class="cursor-pointer p-2 rounded-lg hover:shadow duration-300"
                {{ stimulus_action('nav-submenu', 'toggle')|stimulus_action('nav-submenu', 'lost_focus', 'focusout') }}
                {{ stimulus_target('nav-submenu', 'button') }}>
            <twig:ux:icon name="wba:menu-dots" class="w-5 h-5 fill-current"/>
        </button>

        {# Items List Dropdown #}
        <div class="hidden bg-white divide-y divide-gray-100 rounded-lg shadow min-w-max absolute right-16 mt-2 z-16"
                {{ stimulus_target('nav-submenu', 'container') }}>
            <ul class="p-2 text-gray-700 gap-y-2">
                {% if constant('App\\Enum\\AdminRoleType::ROLE_ADMIN').value not in user.roles %}
                    <li>
                    <a href="{{ path('admin_give_permissions', {id: user.id}) }}"
                       class="flex flex-row items-center px-2 py-2 duration-100 p-2 cursor-pointer hover:text-lightGreen">
                        <twig:ux:icon name="wba:user-admin" class="w-5 mr-3 fill-current "/>
                        {{ 'giveAdminPerm'|trans({}, '_user') }}
                    </a>
                </li>
                {% endif %}
                {% if constant('App\\Enum\\AdminRoleType::ROLE_ADMIN').value in user.roles %}
                    <li>
                        <a href="{{ path('admin_remove_permissions', {id: user.id}) }}"
                           class="flex flex-row items-center px-2 py-2 duration-100 p-2 cursor-pointer hover:text-lightGreen">
                            <twig:ux:icon name="wba:admin-edit" class="w-5 mr-3 fill-curremt "/>
                            {{ 'editPermissions'|trans({}, '_user') }}
                        </a>
                    </li>
                    <li>
                    <a href="{{ path('admin_remove_permissions', {id: user.id}) }}"
                       class="flex flex-row items-center px-2 py-2 duration-100 p-2 cursor-pointer hover:text-lightGreen">
                        <twig:ux:icon name="wba:cross" class="w-5 mr-3 fill-current"/>
                        {{ 'removeAdminPerm'|trans({}, '_user') }}
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </td>
    {% endif %}
</tr>
