{# Dashboard Side bar #}

<div class="min-h-screen z-50 bg-lightGray hidden absolute xl:fixed xl:block top-0 left-0 min-w-[320px] max-w-[320px] p-4 pt-4 border-r border-gray-300/50 overflow-y-auto"
     style="max-height: 100vh"
        {{ stimulus_target('nav', 'container') }}>

    {# Nav Header #}
    <div class="flex flex-col justify-center items-center">
        <h1 class="pt-4 font-semibold text-center text-2xl">{{ 'openRoamingAdmin'|trans({}, '_header_admin') }}</h1>

        {% if data.CUSTOMER_LOGO_ENABLED.value == constant('App\\Enum\\OperationMode::ON').value %}
            <a href="{{ path('admin_page') }}">
                <img class="w-[120px] h-[58px] object-scale-down" src="{{ data.CUSTOMER_LOGO.value }}" alt="Logo"/>
            </a>
        {% endif %}

        <hr class="m-5 mx-4 divider-solid">
    </div>

    {# SideBar Buttons #}
    <div class="py-4 flex flex-col space-y-2 font-medium">
        {% set userManagementRoutes = [
            'admin_page',
            'admins_management',
            'admin_user_edit',
            'dashboard_add_admin',
        ] %}
        {% set portalSettingsRoutes = [
            'admin_dashboard_settings_status',
            'admin_dashboard_customize',
            'admin_dashboard_settings_terms',
            'admin_dashboard_settings_capport',
            'admin_dashboard_settings_certs_management',
            'admin_dashboard_return_apps',
            'admin_dashboard_settings_schedule',
        ] %}
        {% set userAuthenticationRoutes = [
            'admin_dashboard_settings_auth',
            'admin_dashboard_settings_radius',
            'admin_dashboard_settings_LDAP',
            'admin_dashboard_settings_sms',
            'admin_dashboard_settings_two_fa',
            'admin_dashboard_settings_domains',
        ] %}
        {% set portalStatisticsRoutes = [
            'admin_dashboard_statistics',
            'admin_dashboard_statistics_freeradius',
        ] %}

        {# User Management - Submenu #}
        {% if is_granted(constant('App\\Security\\Voter\\UserAuthenticationVoter::USER_MANAGEMENT')) %}
            <div class="relative" {{ stimulus_controller('nav-submenu') }}>
                <button type="button" class="w-full duration-300 rounded p-2 flex flex-row justify-between items-center cursor-pointer hover:shadow hover:text-lightGreen
                {% if app.request.attributes.get('_route') in userManagementRoutes %}selected{% endif %}" {{ stimulus_action('nav-submenu', 'toggle') }}>
                    <div class="flex items-center space-x-2">
                        <twig:ux:icon name="wba:user" class="w-5 mr-2 fill-none stroke-current"/>
                        {{ 'usersManagement'|trans({}, '_header_admin') }}
                    </div>

                    <twig:ux:icon name="wba:right"
                                  class="w-4 fill-none stroke-current transition ease-in {{ (app.request.attributes.get('_route') in userManagementRoutes) ? 'rotate-90' : '' }}"
                                  data-nav-submenu-target="icon"/>
                </button>
                <div {{ stimulus_target('nav-submenu', 'container') }}
                        class="py-2 mt-1 bg-lightGray rounded-md duration-300 shadow {{ (app.request.attributes.get('_route') in userManagementRoutes) ? '' : 'hidden' }}">
                    <ul class="mx-2">
                        {# SideBar Button - User Management - Button #}
                        {% if is_granted(constant('App\\Security\\Voter\\UserAuthenticationVoter::USERS_MANAGEMENT_READ')) %}
                            {{ include('dashboard/shared/_sidebar_item.html.twig', {label: 'users'|trans({}, '_header_admin'), routes: ['admin_page'], icon: 'wba:user'}) }}
                        {% endif %}

                        {% if is_granted(constant('App\\Security\\Voter\\UserAuthenticationVoter::ADMIN_MANAGEMENT_READ')) %}
                            {{ include('dashboard/shared/_sidebar_item.html.twig', {label: 'admin'|trans({}, '_header_admin'), routes: ['admins_management', 'dashboard_add_admin'], icon: 'wba:admin-management'}) }}
                        {% endif %}
                    </ul>
                </div>
            </div>
        {% endif %}

        {# Portal Settings - Submenu #}
        {% if is_granted(constant('App\\Security\\Voter\\UserAuthenticationVoter::PORTAL_SETTINGS')) %}
            <div class="relative" {{ stimulus_controller('nav-submenu') }}>
                <button type="button" class="w-full duration-300 rounded p-2 flex flex-row justify-between items-center cursor-pointer hover:shadow hover:text-lightGreen
                {% if app.request.attributes.get('_route') in portalSettingsRoutes %}selected{% endif %}" {{ stimulus_action('nav-submenu', 'toggle') }}>
                    <div class="flex items-center space-x-2">
                        <twig:ux:icon name="wba:cog" class="w-5 mr-2 fill-none stroke-current"/>

                        {{ 'portalSettings'|trans({}, '_header_admin') }}
                    </div>
                    <twig:ux:icon name="wba:right"
                                  class="w-4 fill-none stroke-current transition ease-in {{ (app.request.attributes.get('_route') in portalSettingsRoutes) ? 'rotate-90' : '' }}"
                                  data-nav-submenu-target="icon"/>
                </button>

                <div class="py-2 mt-1 bg-lightGray rounded-md duration-300 shadow {{ (app.request.attributes.get('_route') in portalSettingsRoutes) ? '' : 'hidden' }}" {{ stimulus_target('nav-submenu', 'container') }}>
                    <ul class="mx-2">
                        {% if is_granted(constant('App\\Security\\Voter\\UserAuthenticationVoter::PLATFORM_STATUS_READ')) %}
                            {{ include('dashboard/shared/_sidebar_item.html.twig', {label: 'platformStatus'|trans({}, '_header_admin'), routes: ['admin_dashboard_settings_status'], icon: 'wba:barchart'}) }}
                        {% endif %}

                        {% if is_granted(constant('App\\Security\\Voter\\UserAuthenticationVoter::LANDING_PAGE_CONFIG_READ')) %}
                            {{ include('dashboard/shared/_sidebar_item.html.twig', {label: 'landingPageConfiguration'|trans({}, '_header_admin'), routes: ['admin_dashboard_customize'], icon: 'wba:pencil-edit'}) }}
                        {% endif %}

                        {% if is_granted(constant('App\\Security\\Voter\\UserAuthenticationVoter::USER_ENGAGEMENT_READ')) %}
                            {{ include('dashboard/shared/_sidebar_item.html.twig', {label: 'userEngagement'|trans({}, '_header_admin'), routes: ['admin_dashboard_settings_capport'], icon: 'wba:wifi'}) }}
                        {% endif %}

                        {% if is_granted(constant('App\\Security\\Voter\\UserAuthenticationVoter::TERMS_POLICIES_READ')) %}
                            {{ include('dashboard/shared/_sidebar_item.html.twig', {label: 'termsAndPolicies'|trans({}, '_header_admin'), routes: ['admin_dashboard_settings_terms'], icon: 'wba:file-check'}) }}
                        {% endif %}

                        {% if is_granted(constant('App\\Security\\Voter\\UserAuthenticationVoter::CRON_SCHEDULE_READ')) %}
                            {{ include('dashboard/shared/_sidebar_item.html.twig', {label: 'scheduleAutomation'|trans({}, '_header_admin'), routes: ['admin_dashboard_settings_schedule'], icon: 'wba:schedule'}) }}
                        {% endif %}

                        {% if is_granted(constant('App\\Security\\Voter\\UserAuthenticationVoter::CERTIFICATES_MANAGEMENT_READ')) %}
                            {{ include('dashboard/shared/_sidebar_item.html.twig', {label: 'certsManagement'|trans({}, '_header_admin'), routes: ['admin_dashboard_settings_certs_management'], icon: 'wba:certificate'}) }}
                        {% endif %}

                        {% if is_granted(constant('App\\Security\\Voter\\UserAuthenticationVoter::RETURN_APPS_MANAGEMENT_READ')) %}
                            {{ include('dashboard/shared/_sidebar_item.html.twig', {label: 'returnAppsManagement'|trans({}, '_header_admin'), routes: ['admin_dashboard_return_apps'], icon: 'wba:mobile-arrows'}) }}
                        {% endif %}
                    </ul>
                </div>
            </div>
        {% endif %}

        {# User Authentication Settings - Submenu #}
        {% if is_granted(constant('App\\Security\\Voter\\UserAuthenticationVoter::USER_AUTHENTICATION')) %}
            <div class="relative" {{ stimulus_controller('nav-submenu') }}>
                <button type="button" class="w-full duration-300 rounded p-2 flex flex-row justify-between items-center cursor-pointer hover:shadow hover:text-lightGreen
                {% if app.request.attributes.get('_route') in userAuthenticationRoutes %}selected{% endif %}" {{ stimulus_action('nav-submenu', 'toggle') }}>
                    <div class="flex items-center space-x-2">
                        <twig:ux:icon name="wba:cog" class="w-5 mr-2 fill-none stroke-current"/>
                        {{ 'userAuthentication'|trans({}, '_header_admin') }}
                    </div>

                    <twig:ux:icon name="wba:right"
                                  class="w-4 fill-none stroke-current transition ease-in {{ (app.request.attributes.get('_route') in userAuthenticationRoutes) ? 'rotate-90' : '' }}"
                                  data-nav-submenu-target="icon"/>
                </button>

                <div class="py-2 mt-1 bg-lightGray rounded-md duration-300 shadow {{ (app.request.attributes.get('_route') in userAuthenticationRoutes) ? '' : 'hidden' }}" {{ stimulus_target('nav-submenu', 'container') }}>
                    <ul class="mx-2">
                        {% if is_granted(constant('App\\Security\\Voter\\UserAuthenticationVoter::AUTHENTICATION_METHODS_READ')) %}
                            {{ include('dashboard/shared/_sidebar_item.html.twig', {label: 'authenticationMethods'|trans({}, '_header_admin'), routes: ['admin_dashboard_settings_auth'], icon: 'wba:at'}) }}
                        {% endif %}

                        {% if is_granted(constant('App\\Security\\Voter\\UserAuthenticationVoter::TWO_FACTOR_AUTH_READ')) %}
                            {{ include('dashboard/shared/_sidebar_item.html.twig', {label: 'twoFactorAuthenticator'|trans({}, '_header_admin'), routes: ['admin_dashboard_settings_two_fa'], icon: 'wba:2fa'}) }}
                        {% endif %}

                        {% if is_granted(constant('App\\Security\\Voter\\UserAuthenticationVoter::LDAP_SYNCHRONIZATION_READ')) %}
                            {{ include('dashboard/shared/_sidebar_item.html.twig', {label: 'LDAPSynchronization'|trans({}, '_header_admin'), routes: ['admin_dashboard_settings_LDAP'], icon: 'wba:sync'}) }}
                        {% endif %}

                        {% if is_granted(constant('App\\Security\\Voter\\UserAuthenticationVoter::RADIUS_PROFILE_CONFIG_READ')) %}
                            {{ include('dashboard/shared/_sidebar_item.html.twig', {label: 'radiusProfileConfiguration'|trans({}, '_header_admin'), routes: ['admin_dashboard_settings_radius'], icon: 'wba:file-space'}) }}
                        {% endif %}

                        {% if is_granted(constant('App\\Security\\Voter\\UserAuthenticationVoter::SMS_CONFIG_READ')) %}
                            {{ include('dashboard/shared/_sidebar_item.html.twig', {label: 'SMSConfiguration'|trans({}, '_header_admin'), routes: ['admin_dashboard_settings_sms'], icon: 'wba:sms'}) }}
                        {% endif %}

                        {% if constant('App\\Enum\\AdminRoleType::ROLE_SUPER_ADMIN').value in app.user.roles %}
                            {{ include('dashboard/shared/_sidebar_item.html.twig', {label: 'domainBlacklist'|trans({}, '_header_admin'), routes: ['admin_dashboard_settings_domains'], icon: 'wba:file-cross'}) }}
                        {% endif %}
                    </ul>
                </div>
            </div>
        {% endif %}

        {# Portal Statistics - Submenu #}
        {% if is_granted(constant('App\\Security\\Voter\\UserAuthenticationVoter::PORTAL_STATISTICS')) %}
            <div class="relative" {{ stimulus_controller('nav-submenu') }}>
                <button type="button" class="w-full duration-300 rounded p-2 flex flex-row justify-between items-center cursor-pointer hover:shadow hover:text-lightGreen
                {% if app.request.attributes.get('_route') in portalStatisticsRoutes %}selected{% endif %}" {{ stimulus_action('nav-submenu', 'toggle') }}>
                    <div class="flex items-center space-x-2">
                        <twig:ux:icon name="wba:database" class="w-5 mr-2 fill-none stroke-current"/>
                        {{ 'statistics'|trans({}, '_header_admin') }}
                    </div>

                    <twig:ux:icon name="wba:right"
                                  class="w-4 fill-none stroke-current transition ease-in {{ (app.request.attributes.get('_route') in portalStatisticsRoutes) ? 'rotate-90' : '' }}"
                                  data-nav-submenu-target="icon"/>
                </button>
                <div {{ stimulus_target('nav-submenu', 'container') }}
                        class="py-2 mt-1 bg-lightGray rounded-md duration-300 shadow {{ (app.request.attributes.get('_route') in portalStatisticsRoutes) ? '' : 'hidden' }}">
                    <ul class="mx-2">
                        {# SideBar Button - Portal Statistics - Button #}
                        {% if is_granted(constant('App\\Security\\Voter\\UserAuthenticationVoter::PORTAL_STATISTICS_READ')) %}
                            {{ include('dashboard/shared/_sidebar_item.html.twig', {label: 'portalStatistics'|trans({}, '_header_admin'), routes: ['admin_dashboard_statistics'], icon: 'wba:piechart'}) }}
                        {% endif %}

                        {# SideBar Button - Freeradius Statistics - Button #}
                        {% if is_granted(constant('App\\Security\\Voter\\UserAuthenticationVoter::CONNECTIVITY_STATISTICS_READ')) %}
                            {{ include('dashboard/shared/_sidebar_item.html.twig', {label: 'connectivityStatistics'|trans({}, '_header_admin'), routes: ['admin_dashboard_statistics_freeradius'], icon: 'wba:hdd'}) }}
                        {% endif %}
                    </ul>
                </div>
            </div>
        {% endif %}

        {# Options - Submenu (only shows on lower resolutions) #}
        <div class="absolute inset-x-0 bottom-0 block xl:hidden px-4" {{ stimulus_controller('nav-submenu') }}>
            <button type="button"
                    class="w-full duration-300 rounded p-2 mb-4 flex flex-row justify-between items-center cursor-pointer hover:shadow hover:text-lightGreen"
                    {{ stimulus_action('nav-submenu', 'toggle') }}>
                <div class="flex items-center space-x-2">
                    <twig:ux:icon name="wba:cog" class="w-5 mr-2 fill-none stroke-current"/>
                    {{ 'settings'|trans({}, '_header_admin') }}
                </div>
                <twig:ux:icon name="wba:right" class="w-4 transition ease-in fill-none stroke-current"
                              data-nav-submenu-target="icon"/>
            </button>
            {# Submenu Dropdown #}
            <div class="hidden py-2 mt-1 mb-4 bg-lightGray rounded-md duration-300 shadow"
                    {{ stimulus_target('nav-submenu', 'container') }}>
                <ul class="mx-2">

                    {# Account Option #}
                    <li>
                        <a class="flex flex-row px-4 py-2 mt-2 text-sm font-semibold rounded-lg hover:text-lightGreen duration-300"
                           href="{{ path('admin_user_edit', {id: app.user.id}) }}">
                            <twig:ux:icon name="wba:user-circle" class="w-5 mr-4 fill-none stroke-current"/>
                            {{ 'account'|trans({}, '_header_admin') }}
                        </a>
                    </li>

                    {# Language Selector as a Dropdown #}
                    <li class="px-4 py-2 mt-2 text-sm font-semibold rounded-lg duration-300" {{ stimulus_controller('nav-dropdown') }}>
                        <button
                                type="button"
                                {{ stimulus_target('nav-dropdown', 'button') }}
                                {{ stimulus_action('nav-dropdown', 'toggle')|stimulus_action('nav-dropdown', 'lost_focus', 'focusout') }}
                                class="w-full flex justify-between items-center">

                            <div class="flex items-center space-x-2">
                                <twig:ux:icon name="wba:globe" class="w-6 pr-1 mr-2 fill-none stroke-current"/>
                                <span class="truncate">{{ 'language'|trans({}, 'landing') }}</span>
                            </div>
                        </button>

                        {# Country Dropdown Options #}
                        <ul {{ stimulus_target('nav-dropdown', 'container') }}
                                class="hidden mt-3 divide-y divide-gray-100 py-2 text-sm rounded-lg bg-white shadow">
                            <li class="flex items-center space-x-2 px-4 py-2 rounded cursor-pointer hover:text-lightGreen {{ app.request.locale == constant('App\\Enum\\LanguageType::EN').value ? 'selected' : '' }}">
                                <twig:ux:icon class="w-4 h-4 rounded-full" name="wba:gb-flag"/>
                                <a href="{{ path('app_change_language', {locale: constant('App\\Enum\\LanguageType::EN').value}) }}">
                                    English
                                </a>
                            </li>
                            <li class="flex items-center space-x-2 px-4 py-2 rounded cursor-pointer hover:text-lightGreen {{ app.request.locale == constant('App\\Enum\\LanguageType::PT').value ? 'selected' : '' }}">
                                <twig:ux:icon class="w-4 h-4 rounded-full" name="wba:portugal-flag"/>
                                <a href="{{ path('app_change_language', {locale: constant('App\\Enum\\LanguageType::PT').value}) }}">
                                    Portuguese
                                </a>
                            </li>
                        </ul>
                    </li>

                    {# Logout Option #}
                    <li>
                        <a class="flex flex-row px-4 py-2 mt-2 text-sm font-semibold rounded-lg hover:text-lightGreen duration-300"
                           href="{{ path('app_dashboard_logout') }}"
                           onclick="return confirm('Are you sure you want to leave?')">
                            <twig:ux:icon name="wba:logout" class="w-5 mr-4 fill-none stroke-current"/>
                            {{ 'logout'|trans({}, '_header_admin') }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
