{% extends 'site/base.html.twig' %}

{% block title %}
    {{ data.title.value }}
{% endblock %}

{% block second_col %}
    {# Form Column #}
    {# Toasts #}
    <div class="grid grid-cols-1 gap-[5px]">
        {% for message in app.session.flashbag.get('success') %}
            {{ include('site/shared/_toast.html.twig', {toast_type: 'toast-success'}) }}
        {% endfor %}

        {# Flash error message #}
        {% for message in app.session.flashbag.get('error') %}
            {{ include('site/shared/_toast.html.twig', {toast_type: 'toast-warning'}) }}
        {% endfor %}
        <p class="toast-warning">You are on the page to permanently delete your account.
            This action cannot be undone, and all your data will be irreversibly erased.</p>
    </div>

    {% if data.CUSTOMER_LOGO_ENABLED.value == constant('App\\Enum\\OperationMode::ON').value %}
        <img class="w-[120px] h-[58px] object-scale-down mt-[75px]" src="{{ data.customerLogoName.value }}" alt="Logo"/>
    {% endif %}

    <div class="{{ data.CUSTOMER_LOGO_ENABLED.value == constant('App\\Enum\\OperationMode::ON').value ? 'pt-[28px]' : 'pt-[161px]' }} leading-7">
        <p class="font-bold text-xl text-red-600">Danger Account deletion</p>
        {% if (user.userExternalAuths[0].provider == constant('App\\Enum\\UserProvider::PORTAL_ACCOUNT').value) %}
            <div class="relative mt-[32px]">
                {{ form_label(form.password, 'Password', {label_attr: {class: 'form-label'}}) }}
                {{ form_widget(form.password, {
                    attr: {
                        class: 'form-widget',
                        placeholder: 'Enter your password',
                    },
                }) }}
            </div>
            <div class="mt-[28px] flex items-center justify-start gap-2">
                {{ form_widget(form.confirm, {attr: {class: 'w-5 h-5 aspect-square peer relative appearance-none rounded-[5px] border border-[#CECECE] cursor-pointer checked:bg-primary'}}) }}
                <label for="{{ form.confirm.vars.id }}" class="text-sm text-gray-700 leading-6">
                    I confirm that I want to permanently delete my account, and I understand this action cannot be
                    undone.
                </label>
            </div>
        {% else %}
            <div class="relative mt-[32px]">
                {{ form_label(form.code, 'Code', {label_attr: {class: 'form-label'}}) }}
                {{ form_widget(form.code, {
                    attr: {
                        class: 'form-widget',
                        placeholder: 'Enter your code',
                    },
                }) }}
            </div>
            <div class="mt-[28px] flex items-center justify-start gap-2">
                {{ form_widget(form.confirm, {attr: {class: 'w-5 h-5 aspect-square peer relative appearance-none rounded-[5px] border border-[#CECECE] cursor-pointer checked:bg-primary'}}) }}
                <label for="{{ form.confirm.vars.id }}">I confirm that I want to permanently delete my account, and I
                    understand this action cannot be undone.</label>
            </div>
        {% endif %}


        {{ form_start(form) }}
        <div class="relative mt-10 mb-6">
            {% if (user.userExternalAuths[0].provider == constant('App\\Enum\\UserProvider::PORTAL_ACCOUNT').value) %}
                <div class="relative mt-[32px]">
                    {{ form_label(form.password, 'Password', {label_attr: {class: 'form-label'}}) }}
                    {{ form_widget(form.password, {
                        attr: {
                            class: 'form-widget',
                            placeholder: 'Enter your password',
                        },
                    }) }}
                </div>
                <div class="mt-[28px] flex items-center justify-start gap-2">
                    {{ form_widget(form.confirm, {attr: {class: 'w-5 h-5 peer relative appearance-none
                          rounded-[5px] border border-[#CECECE] cursor-pointer checked:bg-primary'}}) }}
                    <label for="{{ form.confirm.vars.id }}" class="text-sm text-gray-700 leading-6">
                        I confirm that I want to permanently delete my account, and I understand this action cannot be
                        undone.
                    </label>
                </div>
            {% else %}
                <div class="relative mt-[32px]">
                    {{ form_label(form.code, 'Code', {label_attr: {class: 'form-label'}}) }}
                    {{ form_widget(form.code, {
                        attr: {
                            class: 'form-widget',
                            placeholder: 'Enter your code',
                        },
                    }) }}
                </div>
                <div class="mt-[28px] flex items-center justify-start gap-2">
                    {{ form_widget(form.confirm, {attr: {class: 'w-5 h-5 peer relative appearance-none
                          rounded-[5px] border border-[#CECECE] cursor-pointer checked:bg-primary'}}) }}
                    <label for="{{ form.confirm.vars.id }}">I confirm that I want to permanently delete my account, and
                        I
                        understand this action cannot be undone.</label>
                </div>
            {% endif %}

        </div>

        {# Action Buttons #}
        <div class="grid mt-4 grid-cols-1 sm:gap-4 lg:gap-6 sm:[grid-template-columns:repeat(auto-fit,minmax(150px,1fr))] md:my-2 my-3 space-y-4 sm:space-y-0">
            <button class="btn-primary"
                    type="submit">Submit
            </button>
            {% if not (user.userExternalAuths[0].provider == constant('App\\Enum\\UserProvider::PORTAL_ACCOUNT').value) %}
                <a href="{{ path('app_local_resend_code', {
                    context: context,
                    type: constant('App\\Enum\\CodeVerificationType::IS_USER_ACCOUNT_DELETION').value}
                ) }}"
                   class="btn-secondary">Resend
                    code</a>
            {% endif %}
        </div>
        {{ form_end(form) }}


        {# Divider #}
        {{ include('/site/shared/returnActions/_2FA_config_return_action.html.twig') }}
    </div>
{% endblock %}

