{# Header - Title - left conner #}
<div class="flex flex-row items-center -pl-2">
    {% if app.request.attributes.get('_route') == 'admin_page' %}
        <twig:ux:icon name="wba:user" class="w-10 mt-0.5" fill="none"/>
        <h1 class="text-2xl font-semibold p-5">Users Management</h1>
    {% elseif app.request.attributes.get('_route') == 'admin_dashboard_customize' %}
        <twig:ux:icon name="wba:pencil-edit" class="w-10 mt-0.5" fill="none"/>
        <h1 class="text-2xl font-semibold p-5">Landing Page Configuration</h1>
    {% elseif app.request.attributes.get('_route') == 'admin_dashboard_saml_provider_new' %}
        <twig:ux:icon name="wba:layout-grid-add" class="w-10 mt-0.5" fill="none"/>
        <h1 class="text-2xl font-semibold p-5">Add New Saml Provider</h1>
    {% elseif app.request.attributes.get('_route') == 'admin_dashboard_saml_provider_edit' %}
        <twig:ux:icon name="wba:pencil-edit" class="w-10 mt-0.5" fill="none"/>
        <h1 class="text-2xl font-semibold p-5">Edit Saml Provider</h1>
    {% elseif app.request.attributes.get('_route') == 'admin_dashboard_saml_provider' %}
        <twig:ux:icon name="wba:list" class="w-10 mt-0.5" fill="none"/>
        <h1 class="text-2xl font-semibold p-5">Identity Provider - Saml</h1>
    {% elseif app.request.attributes.get('_route') == 'admin_reset_password' %}
        <twig:ux:icon name="wba:cog" class="w-10 mt-0.5" fill="none"/>
        <h1 class="text-2xl font-semibold p-5">Reset Password</h1>
    {% elseif app.request.attributes.get('_route') == 'admin_user_update' %}
        <twig:ux:icon name="wba:user-circle" class="w-10 mt-0.5" fill="none"/>
        <h1 class="text-2xl font-semibold p-5">Account Settings</h1>
    {% elseif app.request.attributes.get('_route') == 'admin_dashboard_settings_terms' %}
        <twig:ux:icon name="wba:file-check" class="w-10 mt-0.5" fill="none"/>
        <h1 class="text-2xl font-semibold p-5">Terms and Policies</h1>
    {% elseif app.request.attributes.get('_route') == 'admin_dashboard_settings_radius' %}
        <twig:ux:icon name="wba:file-space" class="w-10 mt-0.5" fill="none"/>
        <h1 class="text-2xl font-semibold p-5">Radius Profile Configuration</h1>
    {% elseif app.request.attributes.get('_route') == 'admin_dashboard_settings_status' %}
        <twig:ux:icon name="wba:barchart" class="w-10 mt-0.5" fill="none"/>
        <h1 class="text-2xl font-semibold p-5">Platform Status</h1>
    {% elseif app.request.attributes.get('_route') == 'admin_dashboard_settings_two_fa' %}
        <twig:ux:icon name="wba:2fa" class="w-10 mt-0.5" fill="none"/>
        <h1 class="text-2xl font-semibold p-5">Two Factor Authenticator</h1>
    {% elseif app.request.attributes.get('_route') == 'admin_dashboard_settings_LDAP' %}
        <twig:ux:icon name="wba:sync" class="w-10 mt-0.5" fill="none"/>
        <h1 class="text-2xl font-semibold p-5">LDAP Synchronization</h1>
    {% elseif app.request.attributes.get('_route') == 'admin_dashboard_settings_auth' %}
        <twig:ux:icon name="wba:at" class="w-10 mt-0.5" fill="none"/>
        <h1 class="text-2xl font-semibold p-5">Authentication Methods</h1>
    {% elseif app.request.attributes.get('_route') == 'admin_dashboard_settings_capport' %}
        <twig:ux:icon name="wba:wifi" class="w-10 mt-0.5" fill="none"/>
        <h1 class="text-2xl font-semibold p-5">User Engagement</h1>
    {% elseif app.request.attributes.get('_route') == 'admin_dashboard_statistics' %}
        <twig:ux:icon name="wba:piechart" class="w-10 mt-0.5" fill="none"/>
        <h1 class="text-2xl font-semibold p-5">Portal Statistics</h1>
    {% elseif app.request.attributes.get('_route') == 'admin_dashboard_statistics_freeradius' %}
        <twig:ux:icon name="wba:hdd" class="w-10 mt-0.5" fill="none"/>
        <h1 class="text-2xl font-semibold p-5">Connectivity Statistics</h1>
    {% elseif app.request.attributes.get('_route') == 'admin_dashboard_settings_sms' %}
        <twig:ux:icon name="wba:sms" class="w-10 mt-0.5" fill="none"/>
        <h1 class="text-2xl font-semibold p-5">SMS Configuration</h1>
    {% endif %}
</div>

{# Error Message Container #}
{% for message in app.session.flashbag.get('error_admin') %}
    <div class="transition duration-500 animate-pulse mt-2 mr-2 text-red-500 text-base font-semibold" {{ stimulus_controller('remove') }} {{ stimulus_target('remove', 'target') }}>
        <div class="flex bg-red-100/50 rounded-lg p-4 mb-4 text-sm text-red-700" role="alert">
            <twig:ux:icon name="wba:info" class="w-5 h-5 inline mr-3"/>

            <span class="font-medium">{{ message }}</span>
        </div>
    </div>
{% endfor %}

{# Sucess Message Container #}
{% for message in app.session.flashbag.get('success_admin') %}
    <div class="transition duration-500 animate-pulse mt-2 mr-2 text-infoTextColor text-base font-semibold" {{ stimulus_controller('remove') }} {{ stimulus_target('remove', 'target') }}>
        <div class="flex bg-infoBgColor rounded-lg p-4 mb-4 text-sm" role="alert">
            <twig:ux:icon name="wba:info" class="w-5 h-5 inline mr-3"/>

            <span class="font-medium">{{ message }}</span>
        </div>
    </div>
{% endfor %}

{# Main Button #}
<div class="relative" {{ stimulus_controller('nav-dropdown') }} >
    <button type="button" {{ stimulus_target('nav-dropdown', 'button') }} {{ stimulus_action('nav-dropdown', 'toggle')|stimulus_action('nav-dropdown', 'lost_focus', 'focusout') }}
            class="cursor-pointer shadow-md w-12 h-12 p-2 rounded-full duration-300 hidden xl:relative xl:block hover:bg-white hover:text-lightGreen">
        <twig:ux:icon name="wba:menu"/>
    </button>

    <div class="hidden xl:block">
        <div {{ stimulus_target('nav-dropdown', 'container') }}
                class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-md min-w-max absolute right-0 mt-2">
            <ul class="py-2 text-sm space-y-1" aria-labelledby="adminActionsDropdownButton">
                <li>
                    {# Account #}
                    <a href="{{ path('admin_user_edit', {id: app.user.id}) }}"
                       class="flex items-center space-x-2 px-4 py-2 mx-2 cursor-pointer hover:shadow hover:text-lightGreen duration-100 rounded">
                        <twig:ux:icon name="wba:user-circle" class="w-7 pr-2 mr-2" fill="none"/>
                        Account
                    </a>
                </li>
                <li>
                    {# 2FA #}
                    <a href="{{ path('app_configure2FA_admin') }}"
                       class="flex items-center space-x-2 px-4 py-2 mx-2 cursor-pointer hover:shadow hover:text-lightGreen duration-100 rounded">
                        <twig:ux:icon name="wba:2fa" class="w-7 pr-2 mr-2" fill="none"/>
                        Configure 2FA
                    </a>
                </li>
                <li>
                    {# Logout #}
                    <a href="{{ path('saml_logout') }}"
                       class="flex items-center space-x-2 px-4 py-2 mx-2 cursor-pointer hover:shadow hover:text-lightGreen duration-100 rounded"
                       onclick="return confirm('Are you sure you to leave?')">
                        <twig:ux:icon name="wba:logout" class="w-7 pr-2 mr-2" fill="none"/>
                        Logout
                    </a>
                </li>
            </ul>
        </div>
    </div>
    {# User Info #}
    <div class="top-0 right-16 mt-2 ml-2 text-gray-700 text-base font-bold whitespace-nowrap hidden xl:block xl:absolute ">
        {% if app.user.firstName == null and app.user.lastName == null %}
            Admin OR Portal
        {% else %}
            {{ app.user.firstName }} {{ app.user.lastName }}
        {% endif %}
    </div>
    <div class="top-6 right-16 mt-2 ml-2 text-gray-500 text-sm font-normal whitespace-nowrap hidden xl:block xl:absolute">
        Admin
    </div>
</div>

{# Header - Button - Hamburger (only used in lower resolutions - Opens sidebar) #}
<button {{ stimulus_target('nav', 'button') }} {{ stimulus_action('nav', 'toggle') }}
        class="block hamburger xl:hidden focus:outline-none mt-3">
    <span class="hamburger-top"></span>
    <span class="hamburger-middle"></span>
    <span class="hamburger-bottom"></span>
</button>
