<div class="flex flex-col sm:flex-row items-center justify-start mt-5 gap-y-6">
    <form method="get" action="{{ path('admin_page') }}">
        {% if count is defined %}
            <div data-controller="update-url"
                 data-update-url-target="select"
                 class="flex flex-row justify-start items-center gap-4"
            >
                <label for="count">{{ label }}</label>

                <select class="form-select" name="count" id="count" data-update-url-target="select">
                    <option value="7" {% if count == 7 %} selected {% endif %}>7</option>
                    <option value="20" {% if count == 20 %} selected {% endif %}>20</option>
                    <option value="50" {% if count == 50 %} selected {% endif %}>50</option>
                    <option value="100" {% if count == 100 %} selected {% endif %}>100</option>
                </select>
            </div>
        {% endif %}
    </form>
    {% if totalPages > 1 %}
        <div class="sm:ml-auto flex flex-row text-base cursor-default">
            {# Display the range of user numbers on the current page #}
            <div class="flex space-x-2 mr-4">
                {{ (currentPage - 1) * perPage + 1 }} - {{ min(currentPage * perPage, occurrencies) }}
                of {{ occurrencies }}
            </div>

            <div class="flex space-x-2.5">
                {# First Page navigation #}
                <a {% if currentPage > 1 %} href="{{ path(route, {'u': searchTerm ?? '', 'page': 1, 'filter': activeFilter ?? ''}) }}" {% endif %}
                        class="hover:shadow-md p-1 rounded-lg {{ currentPage > 1 ? 'cursor-pointer' : 'text-gray-400 cursor-not-allowed' }}"
                        title="Go to First Page">
                    <twig:ux:icon name="wba:right" class="w-4 rotate-180" fill="none"/>
                    <span class="sr-only">First Page</span>
                </a>

                {# Previous Page navigation #}
                <a {% if currentPage > 1 %} href="{{ path(route, {'u': searchTerm ?? '', 'page': currentPage - 1, 'filter': activeFilter ?? ''}) }}" {% endif %}
                        class="hover:shadow-md p-1 rounded-lg {{ currentPage > 1 ? 'cursor-pointer' : 'text-gray-400 cursor-not-allowed' }}"
                        title="Go to Previous Page">
                    <twig:ux:icon name="wba:right" class="w-4 rotate-180" fill="none"/>
                    <span class="sr-only">Previous Page</span>
                </a>

                {# Next Page navigation #}
                <a {% if currentPage < totalPages %} href="{{ path(route, {'u': searchTerm ?? '', 'page': currentPage + 1, 'filter': activeFilter ?? ''}) }}" {% endif %}
                        class="hover:shadow-md p-1 rounded-lg {{ currentPage < totalPages ? 'cursor-pointer' : 'text-gray-400 cursor-not-allowed' }}"
                        title="Go to Next Page">
                    <twig:ux:icon name="wba:right" class="w-4" fill="none"/>
                    <span class="sr-only">Next Page</span>
                </a>

                {# Last Page navigation #}
                <a {% if currentPage < totalPages %} href="{{ path(route, {'u': searchTerm ?? '', 'page': totalPages, 'filter': activeFilter ?? ''}) }}" {% endif %}
                        class="hover:shadow-md p-1 rounded-lg {{ currentPage < totalPages ? 'cursor-pointer' : 'text-gray-400 cursor-not-allowed' }}"
                        title="Go to Last Page">
                    <twig:ux:icon name="wba:doubleRight" class="w-4" fill="none"/>
                    <span class="sr-only">Last Page</span>
                </a>
            </div>
        </div>
    {% endif %}
</div>