<tr>
    {# Name #}
    <td class="px-10 py-4 font-medium">
        {{ samlProvider.name }}
    </td>

    {# IDP Entity ID #}
    <td class="px-4 py-4 font-medium">
        <div class="overflow-x-auto max-w-[200px]">
            <span class="whitespace-nowrap truncate block" title="{{ samlProvider.idpEntityId }}">
                {{ samlProvider.idpEntityId }}
            </span>
        </div>
    </td>

    {# IDP SSO URL #}
    <td class="px-4 py-4 font-medium">
        <div class="overflow-hidden max-w-[200px]">
            <a href="{{ samlProvider.idpSsoUrl }}" target="_blank"
               class="whitespace-nowrap truncate block text-blue-500 hover:underline"
               title="{{ samlProvider.idpSsoUrl }}">
                {{ samlProvider.idpSsoUrl }}
            </a>
        </div>
    </td>

    {# Active Status #}
    <td class="py-4 font-medium text-start">
        <div class="flex justify-center">
            {% if samlProvider.isActive %}
                <span class="pill-success">Active</span>
            {% else %}
                <span class="pill-error">Inactive</span>
            {% endif %}
        </div>
    </td>

    {# Created At #}
    <td class="px-4 py-4 font-medium text-center align-middle">
        {{ samlProvider.createdAt|date('d/m/Y H:i') }}
    </td>

    {# Updated At #}
    <td class="py-4 font-medium text-start">
        {% if samlProvider.updatedAt == samlProvider.createdAt %}
            <span class="pill-error">Never Updated</span>
        {% else %}
            {{ samlProvider.updatedAt|date('d/m/Y H:i') }}
        {% endif %}
    </td>

    {# Actions Dropdown #}
    <td class="px-10 py-4 text-right align-middle">
        <button type="button"
                class="cursor-pointer p-2 rounded-lg hover:shadow duration-300 focus:outline-none focus:ring-2 focus:ring-lightGreen"
                {{ stimulus_controller('nav-submenu') }}
                {{ stimulus_action('nav-submenu', 'toggle')|stimulus_action('nav-submenu', 'lost_focus', 'focusout') }}
                {{ stimulus_target('nav-submenu', 'button') }}>
            <twig:ux:icon name="wba:menu-dots" class="w-5 h-5"/>
        </button>
    </td>
</tr>
