<tr class="{% if samlProvider.id == activeProvider.id %} bg-green-100 border border-green-300 rounded-lg shadow-md{% endif %}">
    {# Name #}
    <td class="px-10 py-4 font-medium">
        {% if samlProvider.id == activeProvider.id %}
        <span class="font-bold text-green-800">[Active]</span>
        {% endif %}
        {{ samlProvider.name }}
    </td>

    {# IDP Entity ID #}
    <td class="px-4 py-4 font-medium">
        <div class="overflow-hidden max-w-[200px]">
            <a href="{{ samlProvider.idpEntityId }}" target="_blank"
               class="urls-table"
               title="{{ samlProvider.idpEntityId }}">
                {{ samlProvider.idpEntityId }}
            </a>
        </div>
    </td>

    {# IDP SSO URL #}
    <td class="px-4 py-4 font-medium">
        <div class="overflow-hidden max-w-[200px]">
            <a href="{{ samlProvider.idpSsoUrl }}" target="_blank"
               class="urls-table"
               title="{{ samlProvider.idpSsoUrl }}">
                {{ samlProvider.idpSsoUrl }}
            </a>
        </div>
    </td>

    {# SP Entity ID #}
    <td class="px-4 py-4 font-medium">
        <div class="overflow-hidden max-w-[200px]">
            <a href="{{ samlProvider.spEntityId }}" target="_blank"
               class="urls-table"
               title="{{ samlProvider.spEntityId }}">
                {{ samlProvider.spEntityId }}
            </a>
        </div>
    </td>

    {# SP ACS URL #}
    <td class="px-4 py-4 font-medium">
        <div class="overflow-hidden max-w-[200px]">
            <a href="{{ samlProvider.spAcsUrl }}" target="_blank"
               class="urls-table"
               title="{{ samlProvider.spAcsUrl }}">
                {{ samlProvider.spAcsUrl }}
            </a>
        </div>
    </td>

    {# Created At #}
    <td class="py-4 font-medium text-start">
        {{ samlProvider.createdAt|date('d/m/Y H:i') }}
    </td>

    {# Updated At #}
    <td class="py-4 font-medium text-start">
        {% if samlProvider.updatedAt == samlProvider.createdAt %}
            <span class="pill-error">Never Updated</span>
        {% else %}
            {{ samlProvider.updatedAt|date('d/m/Y H:i') }}
        {% endif %}
    </td>

    {# Actions Dropdown #}
    <td class="px-10 py-4 text-right align-middle">
        <button type="button"
                class="cursor-pointer p-2 rounded-lg
                            {% if samlProvider is not null and activeProvider is not null and samlProvider.id == activeProvider.id %}
                                bg-green-200
                            {% endif %}
                            hover:shadow duration-300 focus:outline-none focus:ring-2 focus:ring-lightGreen"
                {{ stimulus_controller('nav-submenu') }}
                {{ stimulus_action('nav-submenu', 'toggle')|stimulus_action('nav-submenu', 'lost_focus', 'focusout') }}
                {{ stimulus_target('nav-submenu', 'button') }}>
            <twig:ux:icon name="wba:menu-dots" class="w-5 h-5"/>
        </button>
    </td>
</tr>
