<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ emailTitle }} - Code Verification</title>
</head>
<body style="background-color: #080D4A; font-family: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'; color: #4A5568; margin: 0; padding: 0;">
<div style="width: 100%; max-width: 600px; margin: 0 auto; padding: 3rem 1rem;">
    <div style="max-width: 600px; margin: 0 auto; background-color: #fff; border-radius: 16px; box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1); overflow: hidden;">
        <!-- Title Section -->
        <div style="background-color: #7BBA29; color: #fff; padding: 1.5rem; display: flex; justify-content: space-between; align-items: center;">
            <h1 style="margin: 0; font-size: 1.5rem; font-weight: 700; color: #fff;">
                {% if is2FATemplate %}
                    {{ 'subject_2fa'|trans({}, 'user_verification') }}
                {% else %}
                    {{ 'subject_verify'|trans({}, 'user_verification') }}
                {% endif %}
            </h1>
        </div>

        <!-- Verification Messages -->
        <div style='padding: 1.5rem;'>
            {% if is2FATemplate %}
                <p style='font-size: 1.125rem; margin-bottom: 1rem;'>
                    {{ 'two_factor_message'|trans({}, 'user_verification') }}
                </p>
                <p style='text-align: center; font-size: 1.5rem; font-weight: 700; color: #0045AD; margin: 1.5rem 0;'>
                    {{ verificationCode }}
                </p>
                <p style='font-size: 1.125rem; margin-bottom: 1rem;'>
                    {{ 'valid_for_message'|trans({'%seconds%': secondsLeft}, 'user_verification') }}
                </p>
                <p style='font-size: 1.125rem; margin-bottom: 1rem;'>
                    {{ 'confidential_message'|trans({}, 'user_verification') }}
                </p>
            {% else %}
                <p style='font-size: 1.125rem; margin-bottom: 1rem;'>
                    {{ 'one_time_code_message'|trans({}, 'user_verification') }}
                </p>
                <p style='text-align: center; font-size: 1.5rem; font-weight: 700; color: #0045AD; margin: 1.5rem 0;'>
                    {{ verificationCode }}
                </p>
                <p style='font-size: 1.125rem; margin-bottom: 1rem;'>
                    {{ 'confidential_message'|trans({}, 'user_verification') }}
                </p>
            {% endif %}
        </div>

        <!-- Footer Section -->
        <div style="background-color: #f4f4f4; text-align: center; padding: 1.5rem;">
            <p style="font-size: 0.875rem; color: #718096;">
                {{ 'footer.thank_you'|trans({}, 'user_verification') }}<br>
                <strong>{{ 'footer.team'|trans({'%emailTitle%': emailTitle}, 'user_verification') }}</strong>
            </p>
        </div>

    </div>
</div>
</body>
</html>
