<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Open the door to OpenRoaming!</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-[#080D4A] font-sans text-gray-800">
<div class="container mx-auto px-4 py-12">
    <div class="max-w-md mx-auto bg-white rounded-2xl shadow-lg overflow-hidden">
        {% if isNewUser %}
            <div class="bg-[#7BBA29] text-white text-center p-6">
                <h1 class="text-2xl font-bold">Welcome to the OpenRoaming Provisioning Portal!</h1>
            </div>
        {% else %}
            <div class="bg-[#7BBA29] text-white text-center p-6">
                <h1 class="text-2xl font-bold">Your Password Has Been Reset</h1>
            </div>
        {% endif %}

        <div class="p-6">
            {% if isNewUser %}
                <p class="text-lg mb-4">
                    To get started with your OpenRoaming Portal account, please follow these simple steps:
                </p>
                <ol class="mt-4 text-lg list-decimal list-inside space-y-3">
                    <li>Click <a class="font-bold text-[#7BBA29] underline"
                                 href="{{ absolute_url('/login/link') ~ '?' ~ 'uuid=' ~ uuid|url_encode ~ '&verificationCode=' ~ verificationCode }}">here</a>
                        to confirm your account.
                    </li>
                    <li>
                        After confirmation, don't forget to click <strong>“Download and Install Profile”</strong> on the
                        portal to complete setting up your device.
                    </li>
                    <li>
                        Password: Your account password is:
                        <span class="font-bold text-[#0045ad]">{{ password }}</span>
                    </li>
                    <li>
                        If you encounter any issues with the confirmation link, log in using your credentials (email and
                        password) and enter this code:
                        <span class="font-bold text-[#0045ad]">{{ verificationCode }}</span>
                    </li>
                </ol>
            {% else %}
                <p class="text-lg mb-4">
                    Your new authentication password is:
                </p>
                <p class="text-center text-2xl font-bold text-[#0045ad] my-6">
                    {{ password }}
                </p>
                <p class="text-lg">
                    Please keep this password safe and do not share it with anyone else.
                </p>
            {% endif %}
        </div>

        <div class="bg-gray-100 text-center p-6">
            <p class="text-sm text-gray-600">
                Thank you,<br>
                <strong>{{ supportTeam }} </strong> Team.
            </p>
        </div>
    </div>
</div>
</body>
</html>
