<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Open the door to OpenRoaming!</title>
</head>
<body style="background-color: #080D4A; font-family: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'; color: #4A5568; margin: 0; padding: 0;">
<div style="width: 100%; max-width: 600px; margin: 0 auto; padding: 3rem 1rem;">
    <div style="max-width: 448px; margin: 0 auto; background-color: #fff; border-radius: 16px; box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1); overflow: hidden;">
        {% if isNewUser %}
            <div style="background-color: #7BBA29; color: #fff; text-align: center; padding: 1.5rem;">
                <h1 style="font-size: 1.5rem; font-weight: 700;">Welcome to the OpenRoaming Provisioning Portal!</h1>
            </div>
        {% else %}
            <div style="background-color: #7BBA29; color: #fff; text-align: center; padding: 1.5rem;">
                <h1 style="font-size: 1.5rem; font-weight: 700;">Your Password Has Been Reset</h1>
            </div>
        {% endif %}
        <div style="padding: 1.5rem;">
            {% if isNewUser %}
                <p style="font-size: 1.125rem; margin-bottom: 1rem;">
                    To get started with your OpenRoaming Portal account, please follow these simple steps:
                </p>
                <ol style="margin-top: 1rem; font-size: 1.125rem; list-style-type: decimal; list-style-position: inside; padding-left: 0; margin-bottom: 0;">
                    <li style="margin-bottom: 0.75rem;">
                        Click <a href="{{ absolute_url('/login/link') ~ '?' ~ 'uuid=' ~ uuid|url_encode ~ '&verificationCode=' ~ verificationCode }}"style="font-weight: 700; color: #7BBA29; text-decoration: underline;">here</a>
                        to confirm your account.
                    </li>
                    <li style="margin-bottom: 0.75rem;">
                        After confirmation, don't forget to click
                        <strong>“Download and Install Profile”</strong> on the portal to complete setting up your
                        device.
                    </li>
                    <li style="margin-bottom: 0.75rem;">
                        Password: Your account password is:
                        <span style="font-weight: 700; color: #0045AD;">{{ password }}</span>
                    </li>
                    <li style="margin-bottom: 0.75rem;">
                        If you encounter any issues with the confirmation link, log in using your credentials (email and
                        password) and enter this code:
                        <span style="font-weight: 700; color: #0045AD;">{{ verificationCode }}</span>
                    </li>
                </ol>
            {% else %}
                <p style="font-size: 1.125rem; margin-bottom: 1rem;">
                    Your new random temporally authentication password is:
                </p>
                <p style="text-align: center; font-size: 1.5rem; font-weight: 700; color: #0045AD; margin: 1.5rem 0;">
                    {{ password }}
                </p>
                <p style="font-size: 1.125rem;">Please keep this password safe and do not share it with anyone else.</p>
            {% endif %}
        </div>
        <div style="background-color: #f4f4f4; text-align: center; padding: 1.5rem;">
            <p style="font-size: 0.875rem; color: #718096;">
                Support team:
                <a href="mailto:{{ contactEmail }}"
                   style="color: #0045AD; text-decoration: underline;">{{ contactEmail }}</a>
            </p>
            <p style="font-size: 0.875rem; color: #718096;">
                Thank you,<br>
                <strong>{{ supportTeam }} Team</strong>
            </p>
        </div>
    </div>
</div>
</body>
</html>
